Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

license_headers:
  name: license_headers
  entry: python ./misc/license_headers.py add
  language: python
  language_version: python3

eslint:
  name: eslint
  description: ''
  entry: eslint
  language: node
  args:
  - --config=oxidation/client/.eslintrc.js
  additional_dependencies:
  - eslint@8.10.0
  - eslint-plugin-cypress@2.12.1
  - eslint-plugin-vue@8.5.0
  - '@typescript-eslint/eslint-plugin@5.14.0'
  - '@typescript-eslint/parser@5.14.0'
  ...

Reduce amount of feature used by `diesel` for `core_fs`
  Cargo.lock
  oxidation/libparsec/crates/core_fs/Cargo.toml
  oxidation/libparsec/crates/core_fs/src/extensions.rs
  oxidation/libparsec/crates/core_fs/src/storage/sql_types.rs
Due: license_headers

Add Doc-comment for `TmpPath`
  oxidation/libparsec/crates/tests_fixtures/src/lib.rs
Due: license_headers

Allow to init `UserStorage` from DB dir
  oxidation/libparsec/crates/core_fs/src/storage/user_storage.rs
  oxidation/libparsec/crates/core_fs/src/storage/version.rs
Due: license_headers

Move `workspace_storage` into `storage` sub-module
  parsec/_parsec.pyi
  parsec/_parsec_pyi/storage/workspace_storage.pyi
  src/lib.rs
  src/storage/mod.rs
  src/storage/workspace_storage.rs
Due: license_headers

Correct hypothesis test that failed because of local connection still opened
  oxidation/libparsec/crates/core_fs/src/storage/workspace_storage.rs
  parsec/_parsec_pyi/storage.pyi
  parsec/core/fs/storage/workspace_storage.py
  src/workspace_storage.rs
  tests/conftest.py
  tests/core/fs/conftest.py
  tests/core/fs/test_fs_online_rwfile_and_sync.py
Due: license_headers

Add test for validating rust impl
  parsec/core/fs/storage/workspace_storage.py
  tests/common/fixtures_customisation.py
  tests/conftest.py
  tests/core/fs/conftest.py
  tests/core/fs/old_workspace_storage.py
  tests/core/fs/storage/test_workspace_storage.py
  tests/core/fs/test_fs_offline_restart_and_rwfile.py
  tests/core/fs/test_fs_offline_restart_and_tree.py
  tests/core/fs/test_fs_online_rwfile_and_sync.py
  tests/core/fs/test_fs_online_tree_and_sync.py
  tests/core/fs/test_fs_online_user.py
  tests/core/fs/test_timestamp_causality.py
  tests/core/fs/workspacefs/test_entry_transactions.py
  tests/core/fs/workspacefs/test_file_transactions.py
Due: license_headers

Patch `user_fs_offline_state_machine` to switch between `rust` / `python` impl
  tests/core/fs/conftest.py
Due: license_headers

Oxidize `UserStorage`
  oxidation/libparsec/crates/core_fs/src/storage/mod.rs
  oxidation/libparsec/crates/core_fs/src/storage/user_storage.rs
  parsec/_parsec.pyi
  parsec/_parsec_pyi/storage/user_storage.pyi
  parsec/core/fs/storage/user_storage.py
  src/storage/mod.rs
  src/storage/user_storage.rs
Due: license_headers

Move `LocalDatabase`, `ManifestStorage` & `UserStorage` to `old_storage`
  parsec/core/fs/storage/__init__.py
  tests/conftest.py
  tests/core/fs/conftest.py
  tests/core/fs/old_storage/local_database.py
  tests/core/fs/old_storage/manifest_storage.py
  tests/core/fs/old_storage/user_storage.py
  tests/core/fs/old_storage/version.py
  tests/core/fs/old_storage/workspace_storage.py
  tests/core/fs/test_bootstrap.py
  tests/core/fs/workspacefs/test_confinement.py
Due: license_headers

Async local database (#3916)
  Cargo.lock
  oxidation/libparsec/crates/core_fs/Cargo.toml
  oxidation/libparsec/crates/core_fs/src/conftest.rs
  oxidation/libparsec/crates/core_fs/src/error.rs
  oxidation/libparsec/crates/core_fs/src/storage/chunk_storage.rs
  oxidation/libparsec/crates/core_fs/src/storage/local_database.rs
  oxidation/libparsec/crates/core_fs/src/storage/manifest_storage.rs
  oxidation/libparsec/crates/core_fs/src/storage/mod.rs
  oxidation/libparsec/crates/core_fs/src/storage/user_storage.rs
  oxidation/libparsec/crates/core_fs/src/storage/workspace_storage.rs
  oxidation/libparsec/crates/platform_async/src/lib.rs
  oxidation/libparsec/crates/platform_local_db/Cargo.toml
  oxidation/libparsec/crates/platform_local_db/src/executor.rs
  oxidation/libparsec/crates/platform_local_db/src/lib.rs
  oxidation/libparsec/crates/platform_local_db/tests/book/book_table.sql
  oxidation/libparsec/crates/platform_local_db/tests/book/mod.rs
  oxidation/libparsec/crates/platform_local_db/tests/simple.rs
  parsec/_parsec_pyi/storage/user_storage.pyi
  parsec/_parsec_pyi/storage/workspace_storage.pyi
  parsec/core/cli/bootstrap_organization.py
  parsec/core/cli/invitation.py
  parsec/core/fs/storage/__init__.py
  parsec/core/fs/storage/user_storage.py
  parsec/core/fs/storage/workspace_storage.py
  parsec/core/fs/userfs/userfs.py
  parsec/core/gui/claim_user_widget.py
  parsec/core/gui/create_org_widget.py
  parsec/test_utils/organization.py
  src/storage/user_storage.rs
  src/storage/workspace_storage.rs
  tests/core/fs/conftest.py
  tests/core/fs/old_storage/workspace_storage.py
  tests/core/fs/test_bootstrap.py
  tests/core/gui/conftest.py
  tests/core/gui/test_workspaces_reencrypt.py
  tests/core/test_bootstrap_organization.py
  tests/core/test_invite.py
Due: license_headers

Improve test typing in `test_bootstrap`
  tests/core/fs/test_bootstrap.py
Due: license_headers

Correct test
  tests/common/freeze_time.py
  tests/core/fs/storage/test_user_storage.py
  tests/core/fs/test_bootstrap.py
Due: license_headers

Oxidize `UserStorage`
  oxidation/libparsec/crates/core_fs/src/storage/user_storage.rs
  parsec/_parsec_pyi/storage/user_storage.pyi
  parsec/core/fs/storage/user_storage.py
  src/storage/user_storage.rs
Due: license_headers

Rework `freeze_time`
  mypy.ini
  tests/common/binder.py
  tests/common/freeze_time.py
  tests/core/fs/test_bootstrap.py
Due: license_headers

Move error releatted stuff to `error` mod
  oxidation/libparsec/crates/platform_local_db/src/error.rs
  oxidation/libparsec/crates/platform_local_db/src/lib.rs
Due: license_headers

Add Request Trait
  Cargo.lock
  oxidation/libparsec/crates/client_connection/src/authenticated_cmds.rs
  oxidation/libparsec/crates/protocol/src/lib.rs
  oxidation/libparsec/crates/protocol/tests/test_block.rs
  oxidation/libparsec/crates/protocol/tests/test_events.rs
  oxidation/libparsec/crates/protocol/tests/test_ping.rs
  oxidation/libparsec/crates/serialization_format/Cargo.toml
  oxidation/libparsec/crates/serialization_format/src/protocol.rs
  oxidation/libparsec/crates/serialization_format/tests/protocol.rs
  src/protocol/block.rs
  src/protocol/events.rs
  src/protocol/invite.rs
  src/protocol/message.rs
  src/protocol/organization.rs
  src/protocol/ping.rs
  src/protocol/pki.rs
  src/protocol/realm.rs
  src/protocol/user.rs
  src/protocol/vlob.rs
Due: license_headers

Add feature `test-utils`
  Cargo.lock
  oxidation/libparsec/crates/platform_local_db/Cargo.toml
  oxidation/libparsec/crates/platform_local_db/src/lib.rs
  oxidation/libparsec/crates/platform_local_db/src/test_utils.rs
Due: license_headers

Re-establish `persistant_mockup` fixture
  tests/conftest.py
  tests/core/fs/conftest.py
  tests/core/fs/test_bootstrap.py
  tests/core/fs/workspacefs/test_confinement.py
  tests/core/fs/workspacefs/test_workspace_fs.py
Due: license_headers

Rename feature `mock-time` into `test-utils`
  .github/workflows/ci.yml
  Cargo.toml
  oxidation/libparsec/Cargo.toml
  oxidation/libparsec/crates/types/Cargo.toml
  oxidation/libparsec/crates/types/src/time.rs
Due: license_headers

Move sqlite connection creation into function
  oxidation/libparsec/crates/platform_local_db/src/lib.rs
Due: license_headers

Add pyo3 binding for utils local_db func during test
  Cargo.lock
  oxidation/libparsec/Cargo.toml
  oxidation/libparsec/src/lib.rs
  src/lib.rs
  src/local_db.rs
Due: license_headers

Rename serialization_format test file
  oxidation/libparsec/crates/serialization_format/tests/test_protocol.rs
Due: license_headers

fix: passwordInput unit tests
  oxidation/client/src/components/PasswordInput.vue
  oxidation/client/tests/unit/PasswordInput.spec.ts
  oxidation/client/tests/unit/utils.ts
Due: license_headers, eslint

Improve DeviceFile & LegacyDeviceFile
  Cargo.lock
  oxidation/libparsec/crates/client_types/src/local_device_file.rs
  oxidation/libparsec/crates/client_types/src/test/test_local_device.rs
  oxidation/libparsec/crates/client_types/tests/test_local_device_file.rs
  oxidation/libparsec/crates/platform_device_loader/Cargo.toml
  oxidation/libparsec/crates/platform_device_loader/src/native/local_device_file.rs
  oxidation/libparsec/crates/platform_device_loader/tests/test_local_device_file.rs
Due: license_headers

Fix CI packaging
  oxidation/libparsec/crates/core/Cargo.toml
Due: none

fix: improve HomePage unit tests
  oxidation/client/src/views/HomePage.vue
  oxidation/client/tests/e2e/specs/test_home_page.ts
  oxidation/client/tests/unit/HomePage.spec.ts
  oxidation/client/tests/unit/PasswordInput.spec.ts
  oxidation/client/tests/unit/utils.ts
Due: license_headers, eslint

Improve in-memory test mock for local storage
  Cargo.lock
  oxidation/libparsec/Cargo.toml
  oxidation/libparsec/crates/core_fs/Cargo.toml
  oxidation/libparsec/crates/core_fs/src/storage/workspace_storage.rs
  oxidation/libparsec/crates/platform_local_db/Cargo.toml
  oxidation/libparsec/crates/platform_local_db/src/executor.rs
  oxidation/libparsec/crates/platform_local_db/src/lib.rs
  oxidation/libparsec/crates/platform_local_db/src/test_utils.rs
  oxidation/libparsec/crates/platform_local_db/tests/book/mod.rs
  oxidation/libparsec/crates/platform_local_db/tests/simple.rs
  oxidation/libparsec/src/lib.rs
  parsec/core/fs/storage/workspace_storage.py
  src/local_db.rs
  tests/conftest.py
  tests/core/fs/conftest.py
Due: license_headers

Add support of panic in FutureIntoCoroutine to raises PanicException in Python
  src/runtime.rs
Due: license_headers

Add CARGO_FEATURES env & set for cibuildwheel
  build.py
  pyproject.toml
Due: license_headers

Fix web
  oxidation/libparsec/crates/platform_device_loader/src/web/local_device.rs
  oxidation/libparsec/crates/platform_device_loader/src/web/local_device_file.rs
Due: license_headers

Add additional check in QA
  .github/workflows/ci.yml
Due: none

Move cargo check
  .github/workflows/ci.yml
Due: none

Rename CARGO_FEATURES to CARGO_EXTRA_ARGS
  build.py
  pyproject.toml
Due: license_headers

Run web test if change instead of check
  .github/actions/paths-filter/filters.yml
  .github/workflows/ci.yml
Due: none

Fix changes
  .github/workflows/ci.yml
  build.py
Due: license_headers

fix: improve login and organization unit tests
  oxidation/client/src/views/HomePage.vue
  oxidation/client/tests/unit/HomePage.spec.ts
Due: license_headers, eslint

Do not use Vec<u8> as argument type in the binding
  newsfragments/3925.misc.rst
  src/addrs.rs
  src/binding_utils.rs
  src/data/organization.rs
  src/data/pki.rs
  src/protocol/block.rs
  src/protocol/invite.rs
  src/protocol/message.rs
  src/protocol/mod.rs
  src/protocol/organization.rs
  src/protocol/pki.rs
  src/protocol/realm.rs
  src/protocol/user.rs
  src/protocol/vlob.rs
  src/trustchain.rs
Due: license_headers

Update HomePage.spec.ts
  oxidation/client/tests/unit/HomePage.spec.ts
Due: license_headers, eslint

Path conditions:
  license_headers: any of: \.py$, \.sql$, \.rs$, \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, but not: ^misc/bench.py$
  eslint: any of: ^oxidation/client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
