Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

Fix SQL style in `server/parsec/components/postgresql/account_*.py`
  server/parsec/components/postgresql/account_create.py
  server/parsec/components/postgresql/account_delete.py
  server/parsec/components/postgresql/account_invite_self_list.py
  server/parsec/components/postgresql/account_password_algorithm.py
  server/parsec/components/postgresql/account_recover.py
  server/parsec/components/postgresql/account_vault_item_list.py
  server/parsec/components/postgresql/account_vault_item_recovery_list.py
  server/parsec/components/postgresql/account_vault_item_upload.py
  server/parsec/components/postgresql/account_vault_key_rotation.py
Due: none

Improve `test_anonymous_account_account_recover_proceed_ok`
  server/tests/api_v5/anonymous_account/test_account_recover_proceed.py
Due: none

PostgreSQL implementation of `PGAccountComponent.account_delete_(send_validation_email|proceed)`
  server/parsec/components/postgresql/account.py
  server/parsec/components/postgresql/account_create.py
  server/parsec/components/postgresql/account_delete.py
  server/tests/api_v5/authenticated_account/test_account_delete_proceed.py
  server/tests/api_v5/authenticated_account/test_account_delete_send_validation_email.py
Due: none

PostgreSQL implementation of `PGAccountComponent.create_(send_validation_email|check_validation_code)`
  server/parsec/components/postgresql/account.py
  server/parsec/components/postgresql/account_create.py
  server/tests/api_v5/anonymous_account/test_account_create_send_validation_email.py
  server/tests/api_v5/anonymous_account/test_ping.py
Due: none

PostgreSQL implementation of `PGAccountComponent.account_recover_(send_validation_email|proceed)`
  server/parsec/components/postgresql/account.py
  server/parsec/components/postgresql/account_recover.py
  server/tests/api_v5/anonymous_account/test_account_recover_proceed.py
  server/tests/api_v5/anonymous_account/test_account_recover_send_validation_email.py
Due: none

Improve documentation for `AuthenticatedToken` & `AccountAuthenticationToken`
  libparsec/crates/client_connection/src/authenticated_account_cmds.rs
  server/parsec/components/auth.py
Due: fmt, clippy

Add PostgreSQL datamodel for account
  server/parsec/components/postgresql/migrations/0013_account.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/parsec/components/postgresql/utils.py
  server/tests/common/account.py
  server/tests/common/postgresql.py
Due: sqlfluff

Improve `test_authenticated_account_vault_item_upload_ok`
  server/tests/api_v5/authenticated_account/test_vault_item_upload.py
Due: none

Remove `AccountRecoverProceedBadOutcome.ACCOUNT_NOT_FOUND` (use `INVALID_VALIDATION_CODE` instead)
  server/parsec/components/account.py
Due: none

PostgreSQL implementation of `PGAccountComponent.get_password_algorithm_or_fake_it`
  server/parsec/components/postgresql/account.py
  server/parsec/components/postgresql/account_password_algorithm.py
  server/tests/api_v5/anonymous_account/test_auth_method_password_get_algorithm.py
Due: none

Improve `test_authenticated_account_vault_item_list_ok`
  server/tests/api_v5/authenticated_account/test_vault_item_list.py
Due: none

Improve `test_anonymous_account_account_create_proceed_ok`
  server/tests/api_v5/anonymous_account/test_account_create_proceed.py
Due: none

Remove useless type hints in `server/parsec/asgi/rpc.py`
  server/parsec/asgi/rpc.py
Due: none

Add `test_authenticated_account_bad_auth` in server
  server/tests/common/client.py
  server/tests/test_rpc.py
Due: none

PostgreSQL implementation of `PGAccountComponent.vault_item_upload`
  server/parsec/components/postgresql/account.py
  server/parsec/components/postgresql/account_vault_item_upload.py
  server/tests/api_v5/authenticated_account/test_vault_item_upload.py
Due: none

fixup! Modify `Account.list_invitations()` to return `ParsecInvitationAddr`
  bindings/generator/api/account.py
  client/src/parsec/account.ts
  libparsec/src/account.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

Modify `Account.list_invitations()` to return `ParsecInvitationAddr`
  bindings/generator/api/account.py
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/src/list_invitations.rs
  libparsec/crates/account/tests/unit/list_invitations.rs
  libparsec/src/account.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

feat(server): Add `template-dir` option
  docs/hosting/custom_branding.rst
  docs/locale/fr/LC_MESSAGES/hosting/custom_branding.po
  misc/version_updater.py
  server/parsec/asgi/__init__.py
  server/parsec/cli/export_email.py
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/components/account.py
  server/parsec/components/invite.py
  server/parsec/config.py
  server/parsec/templates/__init__.py
  server/tests/common/backend.py
Due: none

Enable pre-commit sqlfulff linter in python code
  .github/workflows/ci-python.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

Remove dead code in `libparsec_account` tests
  libparsec/crates/account/tests/unit/fetch_access_and_load_device_file_account_vault.rs
  libparsec/crates/account/tests/unit/save_device_file_account_vault_and_upload_access.rs
Due: fmt, clippy

Rework `Account.(login|create_3_proceed|recover_2_proceed)` to be able to use both password and master_key based authentication
  bindings/generator/api/account.py
  libparsec/crates/account/src/account_create.rs
  libparsec/crates/account/src/account_recover.rs
  libparsec/crates/account/src/auth_method_derived_keys.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/src/login.rs
  libparsec/crates/account/tests/unit/account_create/check_code.rs
  libparsec/crates/account/tests/unit/account_create/create.rs
  libparsec/crates/account/tests/unit/account_create/send_validation_email.rs
  libparsec/crates/account/tests/unit/account_delete/delete.rs
  libparsec/crates/account/tests/unit/account_delete/send_validation_email.rs
  libparsec/crates/account/tests/unit/account_recover/recover.rs
  libparsec/crates/account/tests/unit/account_recover/send_validation_email.rs
  libparsec/crates/account/tests/unit/create_registration_device.rs
  libparsec/crates/account/tests/unit/fetch_opaque_key_from_vault.rs
  libparsec/crates/account/tests/unit/list_invitations.rs
  libparsec/crates/account/tests/unit/list_registration_devices.rs
  libparsec/crates/account/tests/unit/login.rs
  libparsec/crates/account/tests/unit/register_new_device.rs
  libparsec/crates/account/tests/unit/upload_opaque_key_in_vault.rs
  libparsec/src/account.rs
Due: fmt, clippy

Fix GUI use of account creation/login following changes in the bindings
  client/src/parsec/account.ts
  client/src/parsec/types.ts
  client/src/views/account/AccountLoginPage.vue
  client/src/views/account/CreateAccountPage.vue
Due: eslint, vue-tsc, prettier

Server memory implementation of `auth_method_create`
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/tests/api_v5/authenticated_account/__init__.py
  server/tests/api_v5/authenticated_account/test_auth_method_create.py
Due: none

Export `account_auth_method_create` in bindings
  bindings/generator/api/account.py
  libparsec/src/account.rs
Due: fmt, clippy

Update RFC 1013 to replace `auth_method_password_update` by `auth_method_create`
  docs/rfcs/1013-parsec-account.md
Due: none

Bump testbed server to 3.4.1-a.0.dev.20295.51eee43
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Add `auth_method_create` protocol schema
  libparsec/crates/protocol/schema/authenticated_account_cmds/auth_method_create.json5
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/auth_method_create.rs
Due: fmt, clippy

Add `libparsec_account::Account::auth_method_create()` and related libparsec bindings
  libparsec/crates/account/src/auth_method_create.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/tests/unit/auth_method_create.rs
Due: fmt, clippy

Update `server/tests/common/account.py` to provide an account fixture with an auth method without password
  server/tests/common/account.py
Due: none

Add Python bindings for `auth_method_create` API
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/auth_method_create.pyi
  server/tests/common/rpc.py
Due: none

PostgreSQL implementation of `auth_method_create`
  server/parsec/components/postgresql/account.py
  server/parsec/components/postgresql/account_auth_method_create.py
  server/tests/api_v5/authenticated_account/test_auth_method_create.py
Due: none

refactor(libparsec): Simplify default value for log level
  libparsec/src/lib.rs
Due: fmt, clippy
