Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

license_headers:
  name: license_headers
  entry: python ./misc/license_headers.py add
  language: python
  language_version: python3

eslint:
  name: eslint
  description: ''
  entry: eslint
  language: node
  args:
  - --config=oxidation/client/.eslintrc.js
  additional_dependencies:
  - eslint@8.10.0
  - eslint-plugin-cypress@2.12.1
  - eslint-plugin-vue@8.5.0
  - '@typescript-eslint/eslint-plugin@5.14.0'
  - '@typescript-eslint/parser@5.14.0'
  ...

[GUI] Added dialog to select user name/profile when accepting pki requests
  parsec/core/gui/enrollment_widget.py
Due: license_headers

Add pki enrollment english translation
  parsec/core/gui/tr/parsec_en.po
Due: none

Add PKI invitation link handling
  parsec/core/gui/main_window.py
Due: license_headers

Add missing english translation
  parsec/core/gui/tr/parsec_en.po
Due: none

Upper case translation
  parsec/core/gui/tr/parsec_en.po
Due: none

Update HomePage.vue
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

Delete electron-plugins.js
  oxidation/client/electron/src/rt/electron-plugins.js
Due: license_headers, eslint

fix: linter
  oxidation/client/android/app/src/main/res/xml/config.xml
  oxidation/client/ios/App/App/config.xml
  oxidation/client/ios/capacitor-cordova-ios-plugins/CordovaPlugins.podspec
Due: none

Rename newsfragments/1939.empty.md -> newsfragments/1939.empty.rst
  newsfragments/1939.empty.md
  newsfragments/1939.empty.rst
Due: none

Bump version v2.7.0-rc4+dev -> v2.7.0-rc5
  HISTORY.rst
  licenses/BSL-Scille.txt
  newsfragments/1939.empty.rst
  newsfragments/2058.empty.rst
  newsfragments/2109.empty.rst
  newsfragments/2112.empty.rst
  newsfragments/2115.empty.rst
  newsfragments/2117.empty.rst
  newsfragments/2121.empty.rst
  newsfragments/2123.empty.rst
  parsec/_version.py
Due: license_headers

Bump version v2.7.0-rc5 -> v2.7.0-rc5+dev
  licenses/BSL-Scille.txt
  parsec/_version.py
Due: license_headers

feat: add i18n support with vue-i18n
  oxidation/client/package-lock.json
  oxidation/client/package.json
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/main.ts
  oxidation/client/src/views/HomePage.vue
  oxidation/client/tsconfig.json
Due: license_headers, eslint

Allow multiple run_testenv env on windows
  .pre-commit-config.yaml
  parsec/core/config.py
  tests/scripts/run_testenv.py
Due: license_headers

Temporary hack to list enrollment_requests in main_window
  parsec/core/gui/main_window.py
Due: license_headers

add test_pki send_accepted_reply and send_rejected_reply
  tests/backend/test_pki.py
Due: license_headers

Test pki send reply exceptions
  tests/backend/test_pki.py
Due: license_headers

Introduce BackendPkiEnrollmentAddr
  parsec/core/types/backend_address.py
Due: license_headers

Add api.protocol.ANONYMOUS_CMDS
  parsec/api/protocol/__init__.py
  parsec/api/protocol/cmds.py
Due: license_headers

Correct slots/frozen/auto_attribs for PkiCertificate and PkiEnrollementReplyBundle
  parsec/backend/memory/pki.py
  parsec/backend/pki.py
Due: license_headers

Correct typo enrolement -> enrollment
  parsec/api/protocol/cmds.py
  parsec/api/protocol/pki.py
  parsec/core/cli/pki.py
Due: license_headers

Improve pki enrollment cmds schemas
  parsec/api/protocol/__init__.py
  parsec/api/protocol/pki.py
Due: license_headers

Update tests/backend/common.py with pki commands
  tests/backend/common.py
Due: license_headers

Correct submitter/accepter prefix for x509 certif/signature/payload
  parsec/api/protocol/pki.py
Due: license_headers

Remove useless fields in PkiEnrollmentInfoRepRejectedSchema/PkiEnrollmentInfoRepAcceptedSchema
  parsec/api/protocol/pki.py
Due: license_headers

Document force flag in PkiEnrollmentSubmitReqSchema
  parsec/api/protocol/pki.py
Due: license_headers

Introduce backend_anonymous_sock fixture
  tests/backend/common.py
  tests/backend/conftest.py
  tests/backend/http/conftest.py
Due: license_headers

Update renamed pki cmds in parsec/core/backend_connection/cmds.py
  parsec/core/backend_connection/cmds.py
Due: license_headers

correct force option for pki_enrollment_submit cmd in tests/backend/common.py
  tests/backend/common.py
Due: license_headers

Update renamed pki cmds in parsec/core/backend_connection/authenticated.py
  parsec/core/backend_connection/authenticated.py
Due: license_headers

Update PKI cmds in api/protocol/cmds.py
  parsec/api/protocol/cmds.py
Due: license_headers

Replace use of HandshakeType/APIV1_HandshakeType by a better ClientType (simplify implementation of new anonymous type)
  parsec/backend/app.py
  parsec/backend/client_context.py
  parsec/backend/handshake.py
  parsec/backend/invite.py
  parsec/backend/organization.py
  parsec/backend/ping.py
  parsec/backend/pki.py
  parsec/backend/user.py
  parsec/backend/utils.py
Due: license_headers

Correct naming for pki_enrollment_list_serializer (PkiEnrollmentGetRequestsReqSchema -> PkiEnrollmentListReqSchema)
  parsec/api/protocol/pki.py
Due: license_headers

wip remove client_types=[ClientType.AUTHENTICATED]
  parsec/backend/invite.py
Due: license_headers

Rename pki_enrollment_list cmds items attribute
  parsec/api/protocol/pki.py
Due: license_headers

feat: add lang selector
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

Sorry Billy boy, but it's late and I'm tired :'(
  parsec/api/data/__init__.py
  parsec/api/data/pki.py
  parsec/api/protocol/__init__.py
  parsec/api/protocol/base.py
  parsec/api/protocol/pki.py
  parsec/backend/app.py
  parsec/backend/client_context.py
  parsec/backend/http.py
  parsec/backend/memory/__init__.py
  parsec/backend/memory/factory.py
  parsec/backend/memory/pki.py
  parsec/backend/memory/user.py
  parsec/backend/pki.py
  parsec/backend/postgresql/__init__.py
  parsec/backend/postgresql/factory.py
  parsec/backend/postgresql/pki.py
  parsec/backend/postgresql/user.py
  parsec/backend/user.py
  parsec/backend/user_type.py
  parsec/core/backend_connection/cmds.py
  tests/backend/common.py
  tests/backend/conftest.py
  tests/backend/test_pki.py
Due: license_headers

Bump botocore from 1.24.23 to 1.24.28 in /requirement
  requirement/backend_requirement.txt
Due: none

Pinned click to 8.0.4 for precommit
  .pre-commit-config.yaml
Due: none

2132 newsfragment
  newsfragments/2132.empty.rst
Due: none

Path conditions:
  license_headers: any of: \.py$, \.sql$, \.rs$, \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, but not: ^misc/bench.py$
  eslint: any of: ^oxidation/client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
