Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

[MS] Fixed pagination display
  client/src/components/files/handler/viewer/controls/FileControlsPagination.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: eslint, vue-tsc, prettier

[MS] Resync megashark
  client/package-lock.json
  client/package.json
  client/src/components/workspaces/utils.ts
Due: eslint, vue-tsc, prettier

[MS] Use keyring error
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/home/HomePage.vue
  client/src/views/users/UpdateAuthenticationModal.vue
Due: eslint, vue-tsc, prettier

[MS] Rework download archive
  client/src/components/files/operations/FileOperationBase.vue
  client/src/components/files/operations/FileOperationDownloadArchive.vue
  client/src/components/files/operations/FileOperationImport.vue
  client/src/components/small-display/SmallDisplayFileContextMenu.vue
  client/src/services/fileOperation/manager.ts
  client/src/services/fileOperation/operationData.ts
  client/src/views/files/FileContextMenu.vue
  client/src/views/files/utils.ts
  client/tests/e2e/specs/document_context_menu.spec.ts
  client/tests/e2e/specs/download_file.spec.ts
  client/tests/e2e/specs/file_details.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Clean dest folders before copying files
  client/scripts/copy_to_electron.cjs
Due: eslint, prettier

[MS] Fixes for vite 8
  client/package-lock.json
  client/package.json
  client/src/services/fileOperation/manager.ts
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

[MS] Updated package-lock
  client/package-lock.json
Due: none

Remove no outdated comment in `libparsec/crates/crypto/Cargo.toml`
  libparsec/crates/crypto/Cargo.toml
Due: toml-fmt

Fix typos in `libparsec/crates/crypto/tests/unit/private.rs`
  libparsec/crates/crypto/tests/unit/private.rs
Due: fmt, clippy

[MS] Better handling of SSO errors
  client/electron/src/index.ts
  client/src/services/openBao.ts
  client/src/views/oidc/RedirectCallback.vue
Due: eslint, vue-tsc, prettier

[MS] Remove workspace filters sidebar
  client/src/views/menu/MainMenu.vue
  client/tests/e2e/specs/sidebar.spec.ts
  client/tests/e2e/specs/workspaces_actions.spec.ts
Due: eslint, vue-tsc, prettier

backport: [MS] Better handling of SSO errors
  client/electron/src/index.ts
  client/src/services/openBao.ts
  client/src/views/oidc/RedirectCallback.vue
Due: eslint, vue-tsc, prettier

feat(openbao): Add error log for upload/fetch op
  Cargo.lock
  libparsec/crates/openbao/Cargo.toml
  libparsec/crates/openbao/src/opaque_key.rs
  libparsec/src/device.rs
Due: toml-fmt, fmt, clippy

feat(openbao): Add error log for upload/fetch op (#13016)
  Cargo.lock
  libparsec/crates/openbao/Cargo.toml
  libparsec/crates/openbao/src/opaque_key.rs
  libparsec/src/device.rs
Due: toml-fmt, fmt, clippy

Bump version 3.9.2-rc.3+dev -> 3.9.2-rc.3
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Add `libparsec_platform_storage::WorkspaceStorage::get_outbound_sync_backlog()`
  libparsec/crates/platform_storage/src/native/workspace.rs
  libparsec/crates/platform_storage/src/web/workspace.rs
  libparsec/crates/platform_storage/src/workspace.rs
  libparsec/crates/platform_storage/tests/unit/workspace.rs
Due: fmt, clippy

Add `libparsec_client::Client::get_outbound_sync_backlog()`
  libparsec/crates/client/src/client/mod.rs
Due: fmt, clippy

Add `client_get_outbound_sync_backlog` to `libparsec`
  bindings/generator/api/client.py
  libparsec/src/client.rs
Due: fmt, clippy

Bump version 3.9.2-rc.3 -> 3.9.2-rc.4+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Implement client part for outbound_sync_backlog
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/client/workspace_outbound_sync_backlog.rs
  libparsec/crates/client/src/workspace/mod.rs
  libparsec/crates/client/src/workspace/store/mod.rs
  libparsec/crates/client/tests/unit/client/mod.rs
  libparsec/crates/client/tests/unit/client/outbound_sync_backlog.rs
  libparsec/crates/client/tests/unit/workspace/store.rs
  libparsec/src/client.rs
Due: fmt, clippy

Bump version 3.9.2-rc.4+dev -> 3.9.2
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.9.2 -> 3.9.3-a.0+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

WIP: Rework cryptpad integration
  client/src/services/cryptpad.ts
  client/src/views/files/handler/editor/FileEditor.vue
Due: eslint, vue-tsc, prettier

[MS] Adds profile filtering in workspace sharing modal
  client/src/components/users/UserAvatarName.vue
  client/src/components/workspaces/WorkspaceUserRole.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_modals.scss
  client/src/views/workspaces/WorkspaceSharingModal.vue
  client/tests/e2e/specs/workspace_sharing.spec.ts
  client/tests/e2e/specs/workspaces_actions.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Reword 'change authentication' button
  client/src/components/profile/AuthenticationCard.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/tests/e2e/specs/authentication.spec.ts
  client/tests/e2e/specs/my_profile_page.spec.ts
  client/tests/e2e/specs/totp.spec.ts
Due: eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
