Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

fix(webapp): Check `content-type` start with `text/html`
  client/src/services/resourcesManager.ts
Due: eslint, vue-tsc, prettier

fix(poetry): Relax version of `poetry-plugin-export`
  server/pyproject.toml
Due: toml-fmt

[MS] Enable stripe and customer account for alpha releases (#11058)
  client/.env.alpha
Due: none

fix(server): Add `custom` folder from exclusion to redirect to `index.html`
  server/parsec/asgi/__init__.py
Due: none

fix(python): Defined a README that is valid to PyPI (#11144)
  server/pypi-readme.md
  server/pyproject.toml
Due: toml-fmt

ci(pr-target-release): Fix missing `repo` option
  .github/workflows/when-pr-targeting-releases-branch-is-closed.yml
Due: none

[MS] Remove unload event handler on logout (#11053)
  client/src/services/refreshWarning.ts
  client/src/views/layouts/ConnectedLayout.vue
Due: eslint, vue-tsc, prettier

Bump version 3.5.0-a.6+dev -> 3.5.1-a.0+dev
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  newsfragments/10921.feature.rst
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

fix(ci-publish): Only publish on edited release (#11143)
  .github/workflows/publish.yml
Due: none

[MS] Marked two account test as skipped for now
  client/tests/e2e/specs/account_login.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Fix account server editing (#11034)
  client/src/components/account/AccountUserInformation.vue
  client/src/parsec/account.ts
  client/src/services/environment.ts
  client/src/views/account/AccountLoginPage.vue
  client/src/views/account/RecoverAccountPage.vue
Due: eslint, vue-tsc, prettier

[MS] Explicitly turn off editics and account in dotenv for prod and rc (#11138)
  client/.env.production
  client/.env.release-candidate
Due: none

[Backport 3.5] Fix RustCrypto's incorrect implementation of `blake2b_hash`
  libparsec/crates/crypto/tests/unit/password.rs
Due: fmt, clippy

ci(pr-tgt-release-brnch): Fix typo for close reason
  .github/workflows/when-pr-targeting-releases-branch-is-closed.yml
Due: none

[MS] Handle save error & read only in editors
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/router/types.ts
  client/src/views/files/handler/FileHandler.vue
  client/src/views/files/handler/editor/FileEditor.vue
  client/src/views/files/handler/editor/types.ts
Due: eslint, vue-tsc, prettier

!fixup
  client/electron/src/setup.ts
Due: eslint, vue-tsc, prettier

ci(publish): Missing handling `schedule` event for nightly build
  .github/workflows/publish.yml
Due: none

backport: [MS] Fix import cancel & import replace issues
  client/src/parsec/file.ts
  client/src/services/fileOperationManager.ts
  client/src/views/files/FileOperationMenu.vue
  client/src/views/files/FoldersPage.vue
Due: eslint, vue-tsc, prettier

backport: [MS] Fix Sortby not working in Firefox
  client/src/components/files/types.ts
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/download_file.spec.ts
  client/tests/e2e/specs/options_tab_menu.spec.ts
Due: eslint, vue-tsc, prettier

test(e2e): Disable editor test
  client/tests/e2e/specs/file_editor.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Update configuration to use dev & prod CryptPad servers
  client/.env.development
  client/.env.playwright
  client/.env.production
  client/.env.release-candidate
  client/electron/src/setup.ts
  client/src/services/environment.ts
  client/tests/e2e/helpers/cryptpad.ts
Due: eslint, vue-tsc, prettier

feat(pki): Allow to verify signature using a certificate
  Cargo.lock
  Cargo.toml
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/examples/decrypt_message.rs
  libparsec/crates/platform_pki/examples/encrypt_message.rs
  libparsec/crates/platform_pki/examples/sign_message.rs
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki/examples/verify_message.rs
  libparsec/crates/platform_pki/examples/windows_signature_roundtrip.ps1
  libparsec/crates/platform_pki/src/errors.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
Due: toml-fmt, fmt, clippy

feat(pki): Add script to test encryption roundtrip
  libparsec/crates/platform_pki/examples/windows_encrypt_roundtrip.ps1
Due: none

feat(server): Allow all origins when running dev server
  server/parsec/asgi/__init__.py
  server/parsec/cli/run.py
Due: none

docs(pki): Add RFC to document how an external PKI work with Parsec
  .cspell/names.txt
  docs/rfcs/1020-pki-support.md
Due: none

Bump poetry from 2.1.4 to 2.2.1
  .github/workflows/ci-docs.yml
  .github/workflows/ci-python.yml
  .github/workflows/codeql.yml
  .github/workflows/package-server.yml
  docs/development/README.md
  misc/versions.toml
  server/packaging/server/in-docker-build.sh
  server/packaging/testbed-server/in-docker-build.sh
Due: toml-fmt

Update license syntax in pyproject.toml
  docs/poetry.lock
  docs/pyproject.toml
  misc/version_updater.py
  server/poetry.lock
  server/pyproject.toml
Due: toml-fmt

Split server dev dependencies into dependency groups
  server/poetry.lock
  server/pyproject.toml
Due: toml-fmt

Re-organize dependency groups in dependabot
  .github/dependabot.yml
Due: none

test(e2e): Integrate cryptpad server availability check to conditionally skip tests
  client/tests/e2e/helpers/assertions.ts
  client/tests/e2e/helpers/cryptpad.ts
  client/tests/e2e/specs/file_editor.spec.ts
Due: eslint, vue-tsc, prettier
