Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Add support for forward reference and `Box` type in GUI bindings (needed for recursive structures)
  bindings/generator/generate.py
  bindings/generator/templates/binding_electron_index.d.ts.j2
  bindings/generator/templates/binding_electron_meths.rs.j2
  bindings/generator/templates/binding_web_meths.rs.j2
  bindings/generator/templates/client_plugin_definitions.ts.j2
Due: none

Fix web bindings for tuple type
  bindings/generator/templates/binding_web_meths.rs.j2
  bindings/web/src/meths.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Add `ParsecAnonymousAddr::new` to build from only server addr + organization ID
  libparsec/crates/types/src/addr.rs
  libparsec/crates/types/tests/unit/addr.rs
Due: fmt, clippy

Add `user totp-reset` administration command to the CLI
  cli/src/commands/user/mod.rs
  cli/src/commands/user/totp_reset.rs
  cli/tests/integration/user/mod.rs
  cli/tests/integration/user/totp_reset.rs
Due: fmt, clippy

Fix `client/src/plugins/libparsec/trampoline-web.ts` now that TOTP `DeviceAccessStrategy` doesn't have `keyFile` attribute
  client/src/plugins/libparsec/trampoline-web.ts
Due: eslint, vue-tsc, prettier

Fix Python bindings for `Set` type
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
Due: fmt, clippy

Implement TOTP support to `libparsec_platform_device_loader`
  bindings/generator/api/account.py
  bindings/generator/api/client.py
  bindings/generator/api/common.py
  bindings/generator/api/device.py
  cli/src/commands/device/change_authentication.rs
  cli/src/commands/device/overwrite_server_url.rs
  cli/src/utils.rs
  libparsec/crates/platform_device_loader/src/device/load.rs
  libparsec/crates/platform_device_loader/src/device/load_ciphertext_key.rs
  libparsec/crates/platform_device_loader/src/device/mod.rs
  libparsec/crates/platform_device_loader/src/device/save.rs
  libparsec/crates/platform_device_loader/src/device/update.rs
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/strategy.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_device_loader/tests/units/load.rs
  libparsec/crates/platform_device_loader/tests/units/save_list.rs
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
  libparsec/crates/platform_device_loader/tests/units/strategy.rs
  libparsec/crates/platform_device_loader/tests/units/update_device_change_authentication.rs
  libparsec/src/account.rs
  libparsec/src/client.rs
  libparsec/src/device.rs
Due: fmt, clippy

[MS] Update authentication to use the new API
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/profile/AuthenticationCard.vue
  client/src/parsec/account.ts
  client/src/parsec/async_enrollment.ts
  client/src/parsec/login.ts
  client/src/parsec/types.ts
  client/src/plugins/libparsec/trampoline-web.ts
  client/src/views/devices/ImportRecoveryDevicePage.vue
  client/src/views/home/DeviceJoinOrganizationModal.vue
  client/src/views/home/HomePage.vue
  client/src/views/home/LoginPage.vue
  client/src/views/home/SummaryStep.vue
  client/src/views/home/UserJoinOrganizationModal.vue
  client/src/views/layouts/DevLayout.vue
  client/src/views/organizations/creation/CreateOrganizationCustomServer.vue
  client/src/views/organizations/creation/CreateOrganizationModal.vue
  client/src/views/organizations/creation/CreateOrganizationSaas.vue
  client/src/views/organizations/creation/CreateOrganizationTrial.vue
  client/src/views/organizations/creation/OrganizationSummaryPage.vue
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/testing/TestPage.vue
  client/src/views/users/UpdateAuthenticationModal.vue
  client/tests/component/specs/testOrganizationCard.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Adds TOTP setup and reset
  .cspell/custom-words.txt
  client/src/common/validators.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/index.ts
  client/src/parsec/totp.ts
  client/src/parsec/types.ts
  client/src/router/types.ts
  client/src/services/linkHandler.ts
  client/src/theme/components/_modals.scss
  client/src/views/home/HomePage.vue
  client/src/views/home/WebRedirectPage.vue
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/totp/ActivateTotpModal.vue
  client/src/views/totp/DeleteTotpModal.vue
  client/src/views/users/PromptCurrentAuthentication.vue
  client/src/views/users/UpdateAuthenticationModal.vue
  client/tests/e2e/specs/my_profile_page.spec.ts
  client/tests/e2e/specs/totp.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Added style - Certificate Selection Component
  client/src/components/misc/AdditionalEmailsPopover.vue
  client/src/components/misc/CertificateCard.vue
  client/src/components/misc/CertificateSelection.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: eslint, vue-tsc, prettier

UpdateText
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/home/HomePage.vue
Due: eslint, vue-tsc, prettier

Remove pki_enrollment_*_payload.
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
  libparsec/crates/types/schema/pki/pki_enrollment_answer_payload.json5
  libparsec/crates/types/schema/pki/pki_enrollment_submit_payload.json5
  libparsec/crates/types/src/pki/mod.rs
  libparsec/crates/types/tests/unit/pki.rs
  server/src/data/mod.rs
  server/src/data/pki.rs
  server/tests/common/pki.py
Due: fmt, clippy

Correct CLI to return organization bootstrap & invitation URL as HTTP redirection
  cli/src/commands/invite/user.rs
  cli/src/commands/organization/create.rs
  cli/tests/integration/invitations/user.rs
  cli/tests/integration/organization/create.rs
Due: fmt, clippy

Improve repr (used during debug) in `bindings/generator/generate.py`
  bindings/generator/generate.py
Due: none

Returns HTTP redirection addr in create orga administration API `POST /administration/organizations`
  server/parsec/asgi/administration.py
  server/tests/administration/test_create_organization.py
Due: none

Add support for tuple alias type in GUI bindings
  bindings/generator/generate.py
  bindings/generator/templates/client_plugin_definitions.ts.j2
Due: none

Add newsfragment for #12235
  newsfragments/12235.feature.rts
Due: none

Disable max-len lint check in auto-generated `client/src/plugins/libparsec/definitions.ts`
  bindings/generator/templates/client_plugin_definitions.ts.j2
Due: none

When returning an action addr (e.g. `ParsecInvitationAddr`) in libparsec, also returns the redirection URL
  bindings/generator/api/account.py
  bindings/generator/api/addr.py
  bindings/generator/api/async_enrollment.py
  bindings/generator/api/invite.py
  bindings/generator/api/workspace.py
  bindings/generator/generate.py
  libparsec/src/account.rs
  libparsec/src/addr.rs
  libparsec/src/async_enrollment.rs
  libparsec/src/invite.rs
  libparsec/src/workspace.rs
Due: fmt, clippy

Fix GUI to always display to end-user HTTP redirection URL for Parsec action addrs
  client/src/components/files/utils.ts
  client/src/components/users/InvitationPopoverItem.vue
  client/src/components/workspaces/utils.ts
  client/src/parsec/async_enrollment.ts
  client/src/parsec/claim_device.ts
  client/src/parsec/claim_user.ts
  client/src/parsec/greet_device.ts
  client/src/parsec/types.ts
  client/src/parsec/workspace.ts
  client/src/views/devices/DevicesPage.vue
  client/src/views/devices/GreetDeviceModal.vue
  client/src/views/home/DeviceJoinOrganizationModal.vue
  client/src/views/home/HomePage.vue
  client/src/views/home/UserJoinOrganizationModal.vue
  client/src/views/invitations/InvitationsPage.vue
  client/src/views/layouts/DevLayout.vue
  client/src/views/menu/MainMenu.vue
  client/src/views/users/UsersPage.vue
  client/tests/e2e/specs/document_context_menu.spec.ts
  client/tests/e2e/specs/file_editor.spec.ts
  client/tests/e2e/specs/home_page.spec.ts
  client/tests/e2e/specs/invitations_page.spec.ts
  client/tests/e2e/specs/invitations_popover.spec.ts
  client/tests/e2e/specs/options_tab_menu.spec.ts
  client/tests/e2e/specs/workspaces_actions.spec.ts
Due: eslint, vue-tsc, prettier

UpdateText
  client/src/components/organizations/OrganizationUserInformation.vue
  client/src/components/users/types.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/router/types.ts
Due: eslint, vue-tsc, prettier

UpdateText
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/profile/AuthenticationPage.vue
Due: eslint, vue-tsc, prettier

Hide `libparsec_types::ParsecAnonymousAddr` internals
  libparsec/crates/types/src/addr.rs
Due: fmt, clippy

Add `user totp-reset` administration command to the CLI
  cli/src/commands/user/mod.rs
  cli/src/commands/user/totp_reset.rs
  cli/src/macros.rs
  cli/tests/integration/user/mod.rs
  cli/tests/integration/user/totp_reset.rs
  libparsec/crates/totp/src/lib.rs
Due: fmt, clippy

Add new crate `libparsec_totp`
  Cargo.lock
  Cargo.toml
  libparsec/crates/totp/Cargo.toml
  libparsec/crates/totp/src/lib.rs
  libparsec/crates/totp/tests/unit/mod.rs
  libparsec/crates/totp/tests/unit/totp_create_opaque_key.rs
  libparsec/crates/totp/tests/unit/totp_fetch_opaque_key.rs
  libparsec/crates/totp/tests/unit/totp_setup_confirm_anonymous.rs
  libparsec/crates/totp/tests/unit/totp_setup_confirm_authenticated.rs
  libparsec/crates/totp/tests/unit/totp_setup_status_anonymous.rs
  libparsec/crates/totp/tests/unit/totp_setup_status_authenticated.rs
  libparsec/crates/totp/tests/unit/utils.rs
Due: toml-fmt, fmt, clippy

Expose `totp_*` commands to GUI bindings
  Cargo.lock
  bindings/generator/api/__init__.py
  bindings/generator/api/common.py
  bindings/generator/api/totp.py
  libparsec/Cargo.toml
  libparsec/crates/client/src/client/mod.rs
  libparsec/src/lib.rs
  libparsec/src/totp.rs
Due: toml-fmt, fmt, clippy

Fixed 12235 newsfragments extension
  newsfragments/12235.feature.rst
Due: none

Add newsfragment for #12189
  newsfragments/12189.feature.rst
Due: none

Bump version 3.7.2-a.0+dev -> 3.8.0-rc.0
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  newsfragments/10227.bugfix.rst
  newsfragments/11522.bugfix.rst
  newsfragments/11735.feature.rst
  newsfragments/11803.feature.rst
  newsfragments/11987.bugfix.rst
  newsfragments/11993.feature.rst
  newsfragments/11998.feature.rst
  newsfragments/12017.misc.rst
  newsfragments/12021.feature.rst
  newsfragments/12048.bugfix.rst
  newsfragments/12235.feature.rst
  newsfragments/6969.feature.rst
  newsfragments/9161.feature.rst
  newsfragments/9633.feature.rst
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.8.0-rc.0 -> 3.8.0-rc.1+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
