Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

license_headers:
  name: license_headers
  entry: python ./misc/license_headers.py add
  language: python
  language_version: python3

eslint:
  name: eslint
  description: ''
  entry: eslint
  language: node
  args:
  - --config=oxidation/client/.eslintrc.js
  additional_dependencies:
  - eslint@8.10.0
  - eslint-plugin-cypress@2.12.1
  - eslint-plugin-vue@8.5.0
  - '@typescript-eslint/eslint-plugin@5.14.0'
  - '@typescript-eslint/parser@5.14.0'
  ...

Improve webhook vlob test
  tests/backend/sequester/test_vlob.py
Due: license_headers

Add license headers
  oxidation/client/src/components/AlertConfirmation.ts
  oxidation/client/src/components/CreateOrganisationModal.vue
  oxidation/client/src/components/CreateOrganizationModal.vue
  oxidation/client/src/components/JoinByLinkModal.vue
  oxidation/client/src/components/SettingsOption.vue
  oxidation/client/src/views/HeaderPage.vue
  oxidation/client/src/views/MenuPage.vue
  oxidation/client/src/views/SettingsPage.vue
Due: license_headers, eslint

Add license headers (#2861)
  oxidation/client/src/components/AlertConfirmation.ts
  oxidation/client/src/components/CreateOrganisationModal.vue
  oxidation/client/src/components/CreateOrganizationModal.vue
  oxidation/client/src/components/JoinByLinkModal.vue
  oxidation/client/src/components/SettingsOption.vue
  oxidation/client/src/views/HeaderPage.vue
  oxidation/client/src/views/MenuPage.vue
  oxidation/client/src/views/SettingsPage.vue
Due: license_headers, eslint

Trigger `test-python-matrix` & `test-rust-matrix` on main branch
  .github/workflows/ci.yml
Due: none

handle http errors
  parsec/backend/http_utils.py
  parsec/backend/memory/vlob.py
  parsec/backend/postgresql/vlob.py
  parsec/backend/vlob.py
  tests/backend/sequester/test_vlob.py
Due: license_headers

split unittest in smaller test
  tests/backend/sequester/test_vlob.py
Due: license_headers

Add typing for `local_manifest` module
  parsec/_parsec.pyi
  parsec/_parsec_pyi/local_manifest.pyi
  src/file_operations.rs
Due: license_headers

Add news fragment
  newsfragments/2825.empty.rst
Due: none

Add module `local-manifest` to `_parsec`
  oxidation/libparsec_python/src/lib.rs
  src/file_operations.rs
  src/lib.rs
  src/local_manifest.rs
  src/manifest.rs
Due: license_headers

Correct typo
  parsec/core/fs/remote_loader.py
  parsec/core/fs/storage/manifest_storage.py
  parsec/core/fs/storage/user_storage.py
  parsec/core/fs/storage/workspace_storage.py
  parsec/core/fs/userfs/merging.py
  parsec/core/fs/userfs/userfs.py
  parsec/core/fs/workspacefs/entry_transactions.py
  parsec/core/fs/workspacefs/file_operations.py
  parsec/core/fs/workspacefs/file_transactions.py
  parsec/core/fs/workspacefs/sync_transactions.py
  parsec/core/fs/workspacefs/workspacefs.py
  tests/core/fs/storage/test_workspace_storage.py
Due: license_headers

mark flaky `test_current_folder_status_menu`
  tests/core/gui/test_files.py
Due: license_headers

merge import path
  parsec/core/types/__init__.py
Due: license_headers

sort import
  parsec/core/fs/remote_loader.py
Due: license_headers

use `AnyManifest`
  parsec/core/fs/workspacefs/workspacefs.py
Due: license_headers

Use rust impl instead of the python one
  parsec/api/data/__init__.py
  parsec/api/data/manifest.py
  parsec/core/fs/remote_loader.py
  parsec/core/fs/storage/manifest_storage.py
  parsec/core/fs/storage/workspace_storage.py
  parsec/core/fs/workspacefs/entry_transactions.py
  parsec/core/fs/workspacefs/file_operations.py
  parsec/core/fs/workspacefs/sync_transactions.py
  parsec/core/fs/workspacefs/workspacefs.py
  parsec/core/types/manifest.py
  tests/schemas/core_data.json
Due: license_headers

remove rust test for local_manifest
  tests/rust/test_local_manifest.py
Due: license_headers

rename `AnyManifest`
  parsec/api/data/__init__.py
  parsec/api/data/manifest.py
  parsec/core/fs/remote_loader.py
  parsec/core/fs/workspacefs/sync_transactions.py
  parsec/core/types/manifest.py
Due: license_headers

Rename `AnyLocalManifest`
  parsec/core/fs/storage/manifest_storage.py
  parsec/core/fs/storage/workspace_storage.py
  parsec/core/fs/workspacefs/entry_transactions.py
  parsec/core/fs/workspacefs/sync_transactions.py
  parsec/core/types/manifest.py
Due: license_headers

Remove `BaseLocalManifest`
  parsec/core/fs/storage/manifest_storage.py
  parsec/core/fs/workspacefs/entry_transactions.py
  parsec/core/fs/workspacefs/sync_transactions.py
  parsec/core/types/__init__.py
  parsec/core/types/manifest.py
  tests/api/test_types.py
  tests/schemas/builder.py
Due: license_headers

Remove SHEMA_CLS
  parsec/core/types/manifest.py
Due: license_headers

Add tests/api/test_types.py::test_remote_manifests_load_invalid_data & test_local_manifests_load_invalid_data
  tests/api/test_types.py
Due: license_headers

type `local_manifest_decrypt_and_load`
  parsec/_parsec.pyi
  parsec/_parsec_pyi/local_manifest.pyi
  parsec/core/types/manifest.py
Due: license_headers

add prefix `manifest_` to `from_remote_*`
  parsec/core/types/__init__.py
  parsec/core/types/manifest.py
Due: license_headers

Add webhook service to create/update storage test
  tests/backend/sequester/test_vlob.py
Due: license_headers

common helper to post sequester data between psql and memory implementation
  parsec/backend/memory/vlob.py
  parsec/backend/postgresql/vlob.py
  parsec/backend/vlob.py
Due: license_headers

Trigger `test-python-matrix` & `test-rust-matrix` on main branch (#2862)
  .github/workflows/ci.yml
Due: none

add dark mode toggle into oxidation/client
  newsfragments/2860.empty.rst
  oxidation/bindings/README.md
  oxidation/client/android/app/src/main/res/xml/config.xml
  oxidation/client/package.json
  oxidation/client/src/App.vue
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/theme/variables.css
  oxidation/client/src/views/SettingsPage.vue
Due: license_headers, eslint

Add error schema
  parsec/api/protocol/vlob.py
  parsec/backend/vlob.py
  tests/backend/sequester/test_vlob.py
Due: license_headers

Add news fragment
  newsfragments/2882.empty.rst
Due: none

Add step to configure postgreSQL apt repo
  .github/workflows/ci.yml
Due: none

Check postgre apt repo key
  .github/workflows/ci.yml
Due: none

add mutualized state for dark mode
  oxidation/client/android/app/src/main/res/xml/config.xml
  oxidation/client/src/App.vue
  oxidation/client/src/states/darkMode.ts
  oxidation/client/src/views/SettingsPage.vue
Due: license_headers, eslint

add onlyoffice front
  .editorconfig
  oxidation/client/.env
  oxidation/client/src/assets/images/block-content.svg
  oxidation/client/src/assets/images/cell.ico
  oxidation/client/src/assets/images/close.svg
  oxidation/client/src/assets/images/comment.svg
  oxidation/client/src/assets/images/delete.svg
  oxidation/client/src/assets/images/desktop.svg
  oxidation/client/src/assets/images/done.svg
  oxidation/client/src/assets/images/download.svg
  oxidation/client/src/assets/images/embeded.svg
  oxidation/client/src/assets/images/error.svg
  oxidation/client/src/assets/images/favicon.ico
  oxidation/client/src/assets/images/file_docx.svg
  oxidation/client/src/assets/images/file_docxf.svg
  oxidation/client/src/assets/images/file_pptx.svg
  oxidation/client/src/assets/images/file_upload.svg
  oxidation/client/src/assets/images/file_xlsx.svg
  oxidation/client/src/assets/images/fill-forms.svg
  oxidation/client/src/assets/images/filter.svg
  oxidation/client/src/assets/images/icon_docx.svg
  oxidation/client/src/assets/images/icon_pptx.svg
  oxidation/client/src/assets/images/icon_xlsx.svg
  oxidation/client/src/assets/images/info.svg
  oxidation/client/src/assets/images/loader16.gif
  oxidation/client/src/assets/images/logo.png
  oxidation/client/src/assets/images/logo.svg
  oxidation/client/src/assets/images/mobile-fill-forms.svg
  oxidation/client/src/assets/images/mobile.svg
  oxidation/client/src/assets/images/notdone.svg
  oxidation/client/src/assets/images/review.svg
  oxidation/client/src/assets/images/slide.ico
  oxidation/client/src/assets/images/word.ico
  oxidation/client/src/router/index.ts
  oxidation/client/src/states/onlyoffice/configServer.ts
  oxidation/client/src/states/onlyoffice/docManager.ts
  oxidation/client/src/states/onlyoffice/users.ts
  oxidation/client/src/views/OnlyofficeEditorPage.vue
  oxidation/client/src/views/OnlyofficePage.vue
Due: license_headers, eslint

ionic fix switch user theme
  oxidation/client/src/views/SettingsPage.vue
Due: license_headers, eslint

ionic fix switch user theme
  oxidation/client/src/states/darkMode.ts
  oxidation/client/src/views/SettingsPage.vue
Due: license_headers, eslint

Use official `PostgreSQL` APT repository to install `postgresql-12` (#2883)
  .github/workflows/ci.yml
  newsfragments/2882.empty.rst
Due: none

Remove pendulum
  parsec/core/types/local_device.py
  poetry.lock
  pyproject.toml
Due: license_headers

Bump diesel
  oxidation/libparsec/crates/core_fs/Cargo.toml
  oxidation/libparsec/crates/core_fs/src/lib.rs
Due: license_headers

Add newsFragment
  newsfragments/2869.empty.rst
Due: none

Add newsFragment
  newsfragments/2364.empty.rst
Due: none

Path conditions:
  license_headers: any of: \.py$, \.sql$, \.rs$, \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, but not: ^misc/bench.py$
  eslint: any of: ^oxidation/client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
