Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

Correct server authenticated auth checking token validity before `bearer` literal
  server/parsec/asgi/rpc.py
Due: none

Rework server-side authenticated account authentication support
  server/parsec/asgi/rpc.py
  server/parsec/components/auth.py
Due: none

Rename `AuthAuthenticatedAuthBadOutcome/AuthAuthenticatedAccountAuthBadOutcome` `INVALID_SIGNATURE` -> `INVALID_TOKEN` (since there is no signature in case of MAC-based authentication)
  server/parsec/asgi/rpc.py
  server/parsec/components/auth.py
  server/tests/test_token.py
Due: none

Remove auth `backend.auth.anonymous_account_auth` (anonymous account has absolutely zero auth checks to do)
  server/parsec/asgi/rpc.py
  server/parsec/components/auth.py
  server/parsec/components/memory/auth.py
Due: none

Simplify `server/parsec/asgi/rpc.py::_parse_account_auth_headers_or_abort` since account families APIs routes only need to support msgpack-based RPC
  server/parsec/asgi/rpc.py
Due: none

[MS] Redirects unknown connected urls to /workspaces
  client/src/router/types.ts
Due: eslint, vue-tsc, prettier

[MS] Update tests
  client/src/views/files/FoldersPage.vue
  client/src/views/home/LoginPage.vue
  client/src/views/organizations/OrganizationInformationPage.vue
  client/src/views/users/MyProfilePage.vue
  client/src/views/users/UsersPage.vue
  client/tests/e2e/helpers/greet.ts
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/file_import.spec.ts
  client/tests/e2e/specs/my_profile_page.spec.ts
  client/tests/e2e/specs/organization_information.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
Due: eslint, vue-tsc, prettier

Remove `/testbed/account/new` route from testbed server
  server/parsec/backend.py
  server/parsec/cli/testbed.py
  server/parsec/components/account.py
Due: none

Fix libparsec_client_connection tests related to authenticated account authentication support
  libparsec/crates/client_connection/tests/unit/authenticated_account.rs
Due: fmt, clippy

Bump testbed server
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Rework account-related test fixtures on server-side
  server/tests/api_v5/anonymous_account/test_account_create_send_validation_email.py
  server/tests/api_v5/anonymous_account/test_ping.py
  server/tests/api_v5/authenticated_account/test_ping.py
  server/tests/common/__init__.py
  server/tests/common/account.py
  server/tests/common/client.py
  server/tests/test_token.py
Due: none

Rework client-side authenticated account authentication support
  libparsec/crates/client_connection/src/authenticated_account_cmds.rs
Due: fmt, clippy

[MS] Generic tab bar menu modal
  client/src/components/small-display/SmallDisplayCategoryUserContextMenu.vue
  client/src/components/small-display/SmallDisplayUserContextMenu.vue
  client/src/components/workspaces/utils.ts
  client/src/theme/components/_modals.scss
  client/src/theme/components/_popovers.scss
  client/src/views/devices/DevicesPage.vue
  client/src/views/files/FoldersPage.vue
  client/src/views/menu/AddMenuModal.vue
  client/src/views/menu/TabBarMenu.vue
  client/src/views/menu/TabBarMenuModal.vue
  client/src/views/menu/index.ts
  client/src/views/menu/types.ts
  client/src/views/organizations/OrganizationInformationPage.vue
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/profile/OrganizationRecoveryPage.vue
  client/src/views/users/MyProfilePage.vue
  client/src/views/users/UserContextMenu.vue
  client/src/views/users/UsersPage.vue
  client/src/views/users/types.ts
  client/src/views/users/utils.ts
  client/src/views/workspaces/SmallDisplayWorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspacesPage.vue
  client/src/views/workspaces/types.ts
  client/tests/e2e/specs/organization_information.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Added fab button small menu
  client/src/components/menu/TabBarMenu.vue
  client/src/theme/components/_modals.scss
  client/src/theme/components/_popovers.scss
  client/src/views/files/FoldersPage.vue
  client/src/views/menu/AddMenuModal.vue
  client/src/views/menu/LargeDisplayMenu.vue
  client/src/views/menu/MenuPage.vue
  client/src/views/menu/TabMenuModal.vue
  client/src/views/menu/index.ts
  client/src/views/menu/types.ts
  client/src/views/organizations/OrganizationInformationPage.vue
  client/src/views/users/MyProfilePage.vue
  client/src/views/users/UsersPage.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

[MS] Update create workspace + checks favorites tests
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Display error messages when there's trouble with the downloads
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/files/FileOperationMenu.vue
  client/src/views/files/FoldersPage.vue
Due: eslint, vue-tsc, prettier

Upgrade cryptography to v45.0.2
  server/poetry.lock
  server/pyproject.toml
Due: toml-fmt

[MS] Updated redirect tests
  client/src/router/types.ts
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/specs/redirect.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Updated playwright env to disable autologin
  client/.env.playwright
  client/.gitignore
Due: none

[MS] Fixed client area login when refreshing the page
  client/src/router/types.ts
  client/src/services/bms/access.ts
  client/src/services/storageManager.ts
  client/src/views/client-area/ClientAreaLoginPage.vue
  client/src/views/client-area/ClientAreaPage.vue
  client/src/views/home/HomePage.vue
  client/tests/e2e/helpers/assertions.ts
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/specs/client_area_login.spec.ts
  client/tests/e2e/specs/redirect.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Disable updating the email when not using Stripe
  client/package-lock.json
  client/package.json
  client/src/views/client-area/personal-data/PersonalDataPage.vue
Due: eslint, vue-tsc, prettier

Downgrade cryptography to v43.0.3
  server/poetry.lock
  server/pyproject.toml
Due: toml-fmt

Downgrade cryptography to v43.0.3 (#10362)
  server/poetry.lock
  server/pyproject.toml
Due: toml-fmt

Bump version 3.4.0-rc.3+dev -> 3.4.0-rc.3
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.4.0-rc.3 -> 3.4.0-rc.4+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Resync megashark
  client/package-lock.json
  client/package.json
Due: none
