Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

[MS] Folder name too long error message fix
  client/src/common/validators.ts
  client/src/components/organizations/CreateOrganizationModalHeader.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/files/FoldersPage.vue
  client/tests/e2e/specs/create_organization_saas.spec.ts
  client/tests/e2e/specs/documents_list.spec.ts
Due: eslint, vue-tsc, prettier

Improve `libparsec/crates/client/src/workspace_history/transactions/fd_read.rs` by using binary search to find blocks in use
  libparsec/crates/client/src/workspace_history/transactions/fd_read.rs
Due: fmt, clippy

Backport: refactor(pki): Direct acquire private key (#12320)
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/platform_pki/src/windows/schannel_utils.rs
Due: fmt, clippy

refactor(pki): Try to translate legacy handle to ncrypt for windows
  libparsec/crates/platform_pki/src/windows/schannel_utils.rs
Due: fmt, clippy

Backport: refactor(pki): Try to translate legacy handle to ncrypt for windows
  libparsec/crates/platform_pki/src/windows/schannel_utils.rs
Due: fmt, clippy

Backport: refactor(pki): Try to translate legacy handle to ncrypt for windows (#12330)
  libparsec/crates/platform_pki/src/windows/schannel_utils.rs
Due: fmt, clippy

[MS] Add tooltip for async enrollment requests delete icon
  client/src/components/invitations/AsyncEnrollmentRequestItem.vue
  client/src/components/organizations/OrganizationJoinRequest.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/invitations/AsyncEnrollmentRequestList.vue
Due: eslint, vue-tsc, prettier

[MS] Fix the `;` is alone on it's line on invitation modal
  client/src/components/invitations/InviteModal.vue
Due: eslint, vue-tsc, prettier

[MS] Added ellipsis to folder names in folder selection modal
  client/src/components/files/explorer/FolderSelectionModal.vue
Due: eslint, vue-tsc, prettier

[MS] Fix style issues in UserCard, UserDetailsModal and OrganizationSwitchPopover ellipsis, overflow, white-space
  client/src/components/organizations/OrganizationSwitchPopover.vue
  client/src/components/users/UserCard.vue
  client/src/views/users/UserDetailsModal.vue
Due: eslint, vue-tsc, prettier

[MS] Update settings locales for skipping viewers option
  client/src/components/settings/SettingsList.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: eslint, vue-tsc, prettier

[MS] Details modal: fix title and file name display
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/files/FileDetailsModal.vue
Due: eslint, vue-tsc, prettier

[MS] Fix avatar font size
  client/src/components/users/UserAvatarName.vue
Due: eslint, vue-tsc, prettier

[MS] Avoid shrinking of dropdown in workspace sharing modal
  client/src/components/workspaces/WorkspaceUserRole.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/workspaces/WorkspaceSharingModal.vue
  client/tests/e2e/specs/users_list.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Update file operation item to handle long file names
  client/src/theme/components/_file-operation.scss
  client/tests/e2e/specs/async_enrollment.spec.ts
  client/tests/e2e/specs/file_details.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Harmonize async enrollment locales
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/invitations/InvitationsPage.vue
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/specs/async_enrollment.spec.ts
  client/tests/e2e/specs/organization_information.spec.ts
  client/tests/e2e/specs/sidebar.spec.ts
  client/tests/e2e/specs/users_list.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Harmonize async enrollment locales (#12327)
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/invitations/InvitationsPage.vue
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/specs/async_enrollment.spec.ts
  client/tests/e2e/specs/organization_information.spec.ts
  client/tests/e2e/specs/sidebar.spec.ts
  client/tests/e2e/specs/users_list.spec.ts
Due: eslint, vue-tsc, prettier

Bump version 3.8.0-rc.2+dev -> 3.8.0-rc.2
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.8.0-rc.2 -> 3.8.0-rc.3+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Remove/add TOTP authentication
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_modals.scss
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/totp/ActivateTotpModal.vue
  client/src/views/totp/DeleteTotpModal.vue
  client/tests/e2e/specs/totp.spec.ts
Due: eslint, vue-tsc, prettier

Add `Cache-Control` header in server response for static files
  server/parsec/asgi/__init__.py
  server/tests/test_base.py
Due: none

Rework custom branding detection and loading on client side
  client/.env.alpha
  client/.env.production
  client/.env.release-candidate
  client/README.md
  client/electron/src/envVariables.ts
  client/index.html
  client/src/services/environment.ts
  client/src/services/resourcesManager.ts
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

Add `misc/update_server_static_assets_hash_prefix.py` and pre-commit hook
  .pre-commit-config.yaml
  misc/update_server_static_assets_hash_prefix.py
Due: none

Use cache busting naming for server static resources
  server/parsec/asgi/__init__.py
  server/parsec/static/base-jFjh9D00.css
  server/parsec/static/favicon-1077lkRZ.ico
  server/parsec/static/logo-facebook-ekyxsv8K.png
  server/parsec/static/logo-linkedin-MJD8nEQV.png
  server/parsec/static/logo-parsec-application-pH0K2JSf.png
  server/parsec/static/logo-parsec-row-ddszGk6y.png
  server/parsec/static/logo-twitter-x-YrCQEB0o.png
  server/parsec/static/parsec-4L_5F9QJ.png
  server/parsec/static/parsec-vert-FzeaWJ19.png
  server/parsec/templates/404.html
  server/parsec/templates/base.html
  server/parsec/templates/email/base.html.j2
  server/parsec/templates/email/footer.html.j2
  server/parsec/templates/index.html
  server/tests/test_base.py
Due: none

Add `server/parsec/static/README.md`
  server/parsec/static/README.md
Due: none

Remove unused static assets from server
  server/parsec/static/logo-facebook-ekyxsv8K.png
  server/parsec/static/logo-twitter-x-YrCQEB0o.png
  server/parsec/static/parsec-4L_5F9QJ.png
Due: none

Update `docs/hosting/custom_branding.rst`
  docs/hosting/custom_branding.rst
  docs/locale/fr/LC_MESSAGES/hosting/custom_branding.po
Due: none

[MS] Totp tests for invalid code
  client/src/views/home/HomePage.vue
  client/tests/e2e/specs/totp.spec.ts
Due: eslint, vue-tsc, prettier

refactor(binding): Remove unused android binding
  Cargo.lock
  Cargo.toml
  bindings/android/.gitignore
  bindings/android/README.md
  bindings/android/build.gradle
  bindings/android/gradle.lockfile
  bindings/android/gradle.properties
  bindings/android/gradle/verification-metadata.xml
  bindings/android/libparsec/.gitignore
  bindings/android/libparsec/build.gradle
  bindings/android/libparsec/consumer-rules.pro
  bindings/android/libparsec/proguard-rules.pro
  bindings/android/libparsec/rust/Cargo.toml
  bindings/android/libparsec/rust/src/lib.rs
  bindings/android/libparsec/src/androidTest/java/com/scille/libparsec/ExampleInstrumentedTest.kt
  bindings/android/libparsec/src/main/AndroidManifest.xml
  bindings/android/libparsec/src/main/java/com/scille/libparsec/Runtime.kt
  bindings/android/libparsec/src/test/java/com/scille/libparsec/ExampleUnitTest.kt
  bindings/android/settings.gradle
Due: toml-fmt, fmt, clippy

Bump version 3.8.0-rc.3+dev -> 3.8.0
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.8.0 -> 3.8.1-a.0+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Improve `libparsec/crates/protocol/README.md`
  libparsec/crates/protocol/README.md
Due: none

Remove unused `TIMESTAMP_MISMATCH` error variants from multiples commands in `server/parsec/components/realm.py`
  server/parsec/components/realm.py
Due: none

refactor(rust): Fix future warning
  cli/src/commands/shared_recovery/create.rs
  libparsec/crates/account/src/fetch_vault_items.rs
  libparsec/crates/client/src/certif/add.rs
  libparsec/crates/client/src/certif/realm_key_rotation.rs
  libparsec/crates/client/src/workspace_history/store/cache.rs
  libparsec/crates/types/src/certif.rs
  libparsec/crates/types/src/ext_types.rs
  libparsec/crates/types/src/invite.rs
  libparsec/crates/types/src/manifest.rs
  libparsec/crates/types/src/realm.rs
Due: fmt, clippy

[MS] Fix open in explorer for hidden workspace modal only on desktop
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/files/FoldersPage.vue
Due: eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
