Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

license_headers:
  name: license_headers
  entry: python ./misc/license_headers.py add
  language: python
  language_version: python3

eslint:
  name: eslint
  description: ''
  entry: eslint
  language: node
  args:
  - --config=oxidation/client/.eslintrc.js
  additional_dependencies:
  - eslint@8.10.0
  - eslint-plugin-cypress@2.12.1
  - eslint-plugin-vue@8.5.0
  - '@typescript-eslint/eslint-plugin@5.14.0'
  - '@typescript-eslint/parser@5.14.0'
  ...

format code
  build.py
Due: license_headers

add setupstool in build-requirement
  poetry.lock
  pyproject.toml
Due: none

correct test
  tests/backend/sequester/test_export.py
Due: license_headers

add license-headers
  build.py
Due: license_headers

Added a script for .dmg generation for macos packaging
  newsfragments/2774.empty.rst
  packaging/macOS/create_dmg.sh
Due: none

Added checks in dist folder in create_dmg.sh
  packaging/macOS/create_dmg.sh
Due: none

execute in poetry env
  tests/scripts/run_testenv.sh
Due: none

Added menu and header
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/router/index.ts
  oxidation/client/src/views/HeaderPage.vue
  oxidation/client/src/views/HomePage.vue
  oxidation/client/src/views/MenuPage.vue
Due: license_headers, eslint

Experiment with pretending we're in a venv while building wheel in a docker container
  .github/workflows/package-linux.yml
  build.py
Due: license_headers

enable debug for testenv
  .github/workflows/linux-ci.yml
  pyproject.toml
  tests/scripts/run_testenv.sh
Due: none

Changed create_dmg.sh to use tmp dir
  packaging/macOS/create_dmg.sh
Due: none

Remove matrix to test parsec with/without rust lib
  .github/workflows/linux-ci.yml
Due: none

Configure python path for poetry in *-ci.yml
  .github/workflows/linux-ci.yml
  .github/workflows/macos-ci.yml
  .github/workflows/windows-ci.yml
Due: none

setup-rust on {windows,macos}-ci
  .github/workflows/macos-ci.yml
  .github/workflows/windows-ci.yml
Due: none

add small rust python lib
  Cargo.lock
  Cargo.toml
  src/lib.rs
Due: license_headers

Add `build.py` script to setup the env
  build.py
  pyproject.toml
Due: license_headers

add newsfragment
  newsfragments/2489.empty.rst
Due: none

add maturin deps
  poetry.lock
  pyproject.toml
Due: none

Remove `IS_OXIDIZED`
  parsec/__init__.py
  tests/backend/realm/test_shuffle_roles.py
  tests/backend/sequester/test_export.py
  tests/conftest.py
  tests/core/fs/storage/test_workspace_storage.py
  tests/core/fs/test_bootstrap.py
  tests/core/fs/test_fs_idempotent_sync.py
  tests/core/fs/test_fs_offline_restart_and_rwfile.py
  tests/core/fs/test_fs_offline_restart_and_tree.py
  tests/core/fs/test_fs_online_concurrent_tree_and_sync.py
  tests/core/fs/test_fs_online_concurrent_user.py
  tests/core/fs/test_fs_online_rwfile_and_sync.py
  tests/core/fs/test_fs_online_tree_and_sync.py
  tests/core/fs/test_fs_online_user.py
  tests/core/fs/test_sequester.py
  tests/core/fs/test_timestamp_causality.py
  tests/core/fs/workspacefs/test_entry_transactions.py
  tests/core/fs/workspacefs/test_file_transactions.py
  tests/core/fs/workspacefs/test_invalid_data.py
  tests/core/fs/workspacefs/test_workspace_fs.py
  tests/core/fs/workspacefs/test_workspace_reencryption_need.py
  tests/core/fs/workspacefs_timestamped/test_entry_transactions_timestamped.py
  tests/core/fs/workspacefs_timestamped/test_file_transactions_timestamped.py
  tests/core/fs/workspacefs_timestamped/test_sync.py
  tests/core/fs/workspacefs_timestamped/test_workspacefs_timestamped.py
  tests/core/gui/test_files.py
  tests/core/gui/test_validators.py
  tests/core/gui/test_workspace_button.py
  tests/core/gui/test_workspaces.py
  tests/core/mountpoint/test_folder_operations.py
  tests/core/test_sync_monitor_stateful.py
  tests/fuzzing/test_fuzz_core.py
Due: license_headers

wheel-it don't need to run generate_pyqt
  packaging/wheel/wheel_it.py
Due: license_headers

Configure `package-*` to use `CIBuildWheel`
  .github/workflows/package-linux.yml
  .github/workflows/package-macos.yml
  .github/workflows/package-windows.yml
  ci/setup-rust.sh
  packaging/wheel/wheel_it.py
  poetry.lock
  pyproject.toml
Due: license_headers

Use any pip version
  pyproject.toml
Due: none

Config `VIRTUAL_ENV` on all platform
  build.py
Due: license_headers

Correct windows cibuildwheel
  build.py
  pyproject.toml
Due: license_headers

Add Settings page
  oxidation/client/src/components/SettingsOption.vue
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/router/index.ts
  oxidation/client/src/views/SettingsPage.vue
Due: license_headers, eslint

Investigate windows issue when building wheel
  build.py
Due: license_headers

Merge device file
  Cargo.lock
  oxidation/bindings/common/src/lib.rs
  oxidation/libparsec/crates/client_types/Cargo.toml
  oxidation/libparsec/crates/client_types/src/error.rs
  oxidation/libparsec/crates/client_types/src/lib.rs
  oxidation/libparsec/crates/client_types/src/local_device_file.rs
  oxidation/libparsec/crates/client_types/tests/test_local_device_file.rs
  oxidation/libparsec/crates/core/src/error.rs
  oxidation/libparsec/crates/core/src/lib.rs
  oxidation/libparsec/crates/core/tests/mod.rs
  oxidation/libparsec/crates/core/tests/test_local_device.rs
Due: license_headers

Add newsFragment
  newsfragments/2782.empty.rst
Due: none

Remove unused macro
  oxidation/libparsec/crates/types/src/data_macros.rs
Due: license_headers

set target arch for macos
  pyproject.toml
Due: none

use macos-10.15
  .github/workflows/package-macos.yml
Due: none

config setup-rust for macos
  ci/setup-rust.sh
  pyproject.toml
Due: none

Remove cibuildwheel config for macos
  pyproject.toml
Due: none

correct `build.py`
  build.py
Due: license_headers

More investigation with windows builds
  build.py
  pyproject.toml
Due: license_headers

Merge `pip install` command
  pyproject.toml
Due: none

Add comment why we use an old version of macos
  .github/workflows/package-macos.yml
Due: none

Trust `PATH` venv configuration by `setup-python` GA
  .github/workflows/package-macos.yml
Due: none

Do not overwrite `VIRTUAL_ENV` env var if we consider being in cibuildwheel
  build.py
Due: license_headers

Allow to force maturin release build
  build.py
Due: license_headers

Path conditions:
  license_headers: any of: \.py$, \.sql$, \.rs$, \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, but not: ^misc/bench.py$
  eslint: any of: ^oxidation/client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
