Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

[Account] Add account_create_with_password_proceed cmd.
  docs/rfcs/1013-parsec-account.md
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_create_with_password_proceed.json5
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_create_with_password_proceed.rs
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/account_create_with_password_proceed.pyi
  server/parsec/asgi/rpc.py
  server/parsec/client_context.py
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/postgresql/account.py
  server/tests/api_v5/anonymous_account/__init__.py
  server/tests/api_v5/anonymous_account/test_account_create_with_password_proceed.py
  server/tests/common/rpc.py
Due: fmt, clippy

[MS] Refactor order status handling to improve clarity and consistency
  client/src/components/client-area/OrderInProgress.vue
  client/src/components/client-area/OrderTrackingProgress.vue
  client/src/services/translation.ts
Due: eslint, vue-tsc, prettier

Refactor order tracking and listing components
  client/src/components/client-area/index.ts
  client/src/components/client-area/orders/OrderTrackingProgress.vue
  client/src/components/client-area/orders/OrdersList.vue
  client/src/components/client-area/orders/OrdersListItem.vue
  client/src/views/client-area/orders/OrdersPage.vue
Due: eslint, vue-tsc, prettier

Update order number reference to use label in OrdersListItem component and API
  client/src/components/client-area/orders/OrdersListItem.vue
  client/src/services/bms/api.ts
Due: eslint, vue-tsc, prettier

Add TODO in RFC1014 and `vault_item_recovery_list` schema about using `IPAddress` type once implemented
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
  libparsec/crates/protocol/schema/authenticated_account_cmds/vault_item_recovery_list.json5
Due: none

Re-generate python bindings for `vault_item_list/vault_item_recovery_list/vault_item_upload/vault_key_rotation`
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/vault_item_list.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/vault_item_recovery_list.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/vault_item_upload.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/vault_key_rotation.pyi
  server/tests/common/rpc.py
Due: none

Fix naming "auto-enrollement device" -> "registration device" in RFC1014
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
Due: none

Add hash support for `HashDigest` in python bindings (so it can be used as key in dict)
  server/src/crypto.rs
Due: fmt, clippy

Add missing `algorithm` field in `VaultItemRecoveryAuthMethod::Password` to `vault_item_recovery_list` API command in RFC1014
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
Due: none

Add stub server tests for (to-be-implemented) `vault_item_list/vault_item_recovery_list/vault_item_upload/vault_key_rotation` sever API commands
  server/tests/api_v5/authenticated_account/__init__.py
  server/tests/api_v5/authenticated_account/test_vault_item_list.py
  server/tests/api_v5/authenticated_account/test_vault_item_recovery_list.py
  server/tests/api_v5/authenticated_account/test_vault_item_upload.py
  server/tests/api_v5/authenticated_account/test_vault_key_rotation.py
Due: none

Correct format of API commands in RFC1014
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
Due: none

Correct RFC1014 to add `fingerprint_already_exists` error status to `vault_item_upload` command
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
Due: none

Correct RFC1014 to use `HashDigest` type for item fingerprints
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
Due: none

Add protocol schemas `vault_item_list/vault_item_recovery_list/vault_item_upload/vault_key_rotation`
  libparsec/crates/protocol/schema/authenticated_account_cmds/vault_item_list.json5
  libparsec/crates/protocol/schema/authenticated_account_cmds/vault_item_recovery_list.json5
  libparsec/crates/protocol/schema/authenticated_account_cmds/vault_item_upload.json5
  libparsec/crates/protocol/schema/authenticated_account_cmds/vault_key_rotation.json5
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/ping.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/vault_item_list.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/vault_item_recovery_list.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/vault_item_upload.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/vault_key_rotation.rs
Due: fmt, clippy

Apply suggestions from code review
  client/src/locales/en-US.json
Due: none

[MS] Display error messages when there's trouble with the downloads
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/files/FileOperationMenu.vue
  client/src/views/files/FoldersPage.vue
Due: eslint, vue-tsc, prettier

[MS] Fixed download edge case
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/files/FoldersPage.vue
Due: eslint, vue-tsc, prettier

Remove unused `RealmCheckBadOutcome` from server code
  server/parsec/components/realm.py
Due: none

Remove cache from `BaseAuthComponent.authenticated_account_auth` (since account are low volume APIs and it simplifies the codebase)
  server/parsec/components/auth.py
  server/tests/common/account.py
Due: none

Rename `CreateEmailValidationTokenBadOutcome:` -> `AccountCreateEmailValidationTokenBadOutcome:` (consistency with other error types)
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/parsec/components/postgresql/account.py
  server/tests/api_v5/anonymous_account/test_account_create_send_validation_email.py
Due: none

Correct RFC1013 to rename HMAC -> MAC
  docs/rfcs/1013-parsec-account.md
Due: none

Implement `MemoryAuthComponent.authenticated_account_auth`
  server/parsec/components/memory/auth.py
Due: none

Correct `alice_account` test server fixture to directly pick into the memory datamodel
  server/tests/common/account.py
Due: none

Remove unused `backend` fixture from `test_authenticated_account_ping_ok`
  server/tests/api_v5/authenticated_account/test_ping.py
Due: none

Add `account_email` field to `AuthenticatedAccountClientContext`
  server/parsec/asgi/rpc.py
  server/parsec/client_context.py
Due: none

Add missing `@override` decorators in `MemoryAuthComponent`
  server/parsec/components/memory/auth.py
Due: none

Add server support for account in memory datamodel
  server/parsec/components/account.py
  server/parsec/components/auth.py
  server/parsec/components/memory/datamodel.py
Due: none

[MS] Adds an error on safari
  client/src/locales/en-US.json
  client/src/main.ts
  client/src/parsec/environment.ts
  client/src/views/home/IncompatibleEnvironmentModal.vue
Due: eslint, vue-tsc, prettier

Apply suggestions from code review
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: none

[MS] Added custom logo and updated style
  client/src/assets/images/logo-incompatible.svg
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/main.ts
  client/src/theme/components/_modals.scss
  client/src/views/home/IncompatibleEnvironmentModal.vue
Due: eslint, vue-tsc, prettier

[MS] Add "goto org" button for custom order + e2e tests
  client/src/views/client-area/ClientAreaSidebar.vue
  client/tests/e2e/helpers/assertions.ts
  client/tests/e2e/specs/client_area_custom_order.spec.ts
  client/tests/e2e/specs/client_area_dashboard.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Added Invite user to file & workspace page and a bit of refactoring
  client/src/services/eventDistributor.ts
  client/src/views/menu/MainMenu.vue
  client/src/views/organizations/OrganizationInformationPage.vue
  client/src/views/users/MyProfilePage.vue
  client/tests/e2e/helpers/greet.ts
  client/tests/e2e/specs/file_import.spec.ts
  client/tests/e2e/specs/my_profile_page.spec.ts
  client/tests/e2e/specs/organization_information.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Updated tabbar to be generic
  client/src/services/eventDistributor.ts
  client/src/views/files/FileContextMenu.vue
  client/src/views/files/FoldersPage.vue
  client/src/views/files/types.ts
  client/src/views/header/HeaderPage.vue
  client/src/views/menu/MainMenu.vue
  client/src/views/menu/MenuPage.vue
  client/src/views/menu/MobileMenu.vue
  client/src/views/menu/TabBarMenu.vue
  client/src/views/organizations/OrganizationInformationPage.vue
  client/src/views/users/MyProfilePage.vue
  client/src/views/users/UsersPage.vue
  client/src/views/users/index.ts
  client/src/views/users/types.ts
  client/src/views/workspaces/WorkspacesPage.vue
  client/src/views/workspaces/index.ts
  client/src/views/workspaces/types.ts
  client/tests/e2e/specs/documents_list.spec.ts
Due: eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
