Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

chore(rust): Bump to 1.86
  .pre-commit-config.yaml
  client/electron/snap/snapcraft.yaml
  docs/development/README.md
  libparsec/README.md
  libparsec/crates/client/src/certif/realm_create.rs
  libparsec/crates/client/src/certif/realm_key_rotation.rs
  libparsec/crates/client/src/certif/realm_rename.rs
  libparsec/crates/client/src/certif/realm_share.rs
  libparsec/crates/client/src/certif/user_revoke.rs
  libparsec/crates/client/src/certif/user_update_profile.rs
  libparsec/crates/client/src/invite/greeter.rs
  libparsec/crates/client/src/invite/organization.rs
  libparsec/crates/client/src/monitors/connection.rs
  libparsec/crates/client/src/user/sync.rs
  libparsec/crates/client/src/workspace/transactions/inbound_sync.rs
  libparsec/crates/client/tests/unit/invite/claimer.rs
  misc/setup-rust.sh
  misc/versions.toml
  rust-toolchain.toml
  server/packaging/server/in-docker-build.sh
  server/packaging/testbed-server/in-docker-build.sh
Due: toml-fmt, fmt, clippy

chore(rust): Bump to rust-1.87
  .pre-commit-config.yaml
  cli/src/commands/invite/claim.rs
  client/electron/snap/snapcraft.yaml
  docs/development/README.md
  libparsec/crates/client/src/certif/shamir_recovery_setup.rs
  libparsec/crates/platform_ipc/src/testbed.rs
  libparsec/crates/testbed/src/template/events.rs
  libparsec/crates/types/src/certif.rs
  libparsec/src/account.rs
  libparsec/src/client.rs
  libparsec/src/handle.rs
  libparsec/src/invite.rs
  libparsec/src/workspace.rs
  libparsec/src/workspace_history.rs
  misc/setup-rust.sh
  misc/versions.toml
  rust-toolchain.toml
  server/packaging/server/in-docker-build.sh
  server/packaging/testbed-server/in-docker-build.sh
Due: toml-fmt, fmt, clippy

chore(rust): Bump to 1.89
  .pre-commit-config.yaml
  client/electron/snap/snapcraft.yaml
  docs/development/README.md
  libparsec/crates/client/src/user/mod.rs
  libparsec/crates/client/src/user/store.rs
  libparsec/crates/client/src/workspace/store/mod.rs
  libparsec/crates/client/src/workspace/transactions/file_operations.rs
  libparsec/crates/client/src/workspace/transactions/read_folder.rs
  libparsec/crates/client/src/workspace_history/transactions/read_folder.rs
  libparsec/crates/platform_storage/src/certificates.rs
  libparsec/crates/serialization_format/tests/common/libparsec_types_mock.rs
  misc/setup-rust.sh
  misc/versions.toml
  rust-toolchain.toml
  server/packaging/server/in-docker-build.sh
  server/packaging/testbed-server/in-docker-build.sh
  server/src/crypto.rs
Due: toml-fmt, fmt, clippy

chore(rust): Fix platform crates clippy error&warning
  libparsec/crates/platform_async/src/web/pretend_future.rs
  libparsec/crates/platform_ipc/src/lib.rs
  libparsec/crates/platform_mountpoint/Cargo.toml
  libparsec/crates/platform_mountpoint/examples/history.rs
  libparsec/crates/platform_mountpoint/examples/minimal.rs
  libparsec/crates/platform_mountpoint/examples/realm_export_for_sequester.rs
  libparsec/crates/platform_mountpoint/examples/realm_export_for_user.rs
  libparsec/crates/platform_mountpoint/src/lib.rs
  libparsec/crates/platform_storage/src/web/certificates.rs
  libparsec/crates/platform_storage/src/web/user.rs
  libparsec/crates/platform_storage/src/web/utils.rs
  libparsec/crates/platform_storage/src/web/workspace.rs
Due: toml-fmt, fmt, clippy

[MS] Add preview and edit actions to file context menus
  client/package-lock.json
  client/package.json
  client/src/components/files/FileDownloadArchive.vue
  client/src/components/files/explorer/FileCard.vue
  client/src/components/files/operations/FileDownloadItem.vue
  client/src/components/files/operations/FileUploadItem.vue
  client/src/components/small-display/SmallDisplayFileContextMenu.vue
  client/src/components/users/UserFilter.vue
  client/src/components/workspaces/WorkspaceFilter.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_filters-mobile.scss
  client/src/theme/components/_filters.scss
  client/src/theme/components/_popovers.scss
  client/src/theme/components/index.scss
  client/src/views/files/FileContextMenu.vue
  client/src/views/files/FoldersPage.vue
  client/src/views/files/types.ts
  client/src/views/menu/MainMenu.vue
  client/src/views/menu/TabBarOptions.vue
  client/src/views/menu/TabBarOptionsModal.vue
  client/src/views/menu/types.ts
  client/src/views/workspaces/SmallDisplayWorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceContextMenu.vue
  client/tests/e2e/specs/document_context_menu.spec.ts
  client/tests/e2e/specs/editics_enable.spec.ts
  client/tests/e2e/specs/file_details.spec.ts
  client/tests/e2e/specs/options_tab_menu.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Manage click behavior for file and folder items
  client/src/components/files/explorer/FileCard.vue
  client/src/components/files/explorer/FileGridDisplay.vue
  client/src/components/files/explorer/FileListDisplay.vue
  client/src/components/files/explorer/FileListItem.vue
  client/src/components/header/SmallDisplayHeaderTitle.vue
  client/src/views/files/FoldersPage.vue
  client/tests/component/specs/testFileCard.spec.ts
  client/tests/component/specs/testFileListItem.spec.ts
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/file_viewers_document.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Checklist recommandations responsive
  client/src/components/header/InvitationsButton.vue
  client/src/components/misc/RecommendationChecklistPopoverModal.vue
  client/src/views/devices/DevicesPage.vue
  client/src/views/header/HeaderPage.vue
  client/src/views/menu/MainMenu.vue
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/profile/OrganizationRecoveryPage.vue
  client/tests/e2e/specs/sidebar.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Fixed org creation with bootstrap addr
  client/src/parsec/account.ts
  client/src/views/organizations/creation/CreateOrganizationSaas.vue
Due: eslint, vue-tsc, prettier

Update social icons with server URL and change invitation mail content
  server/parsec/templates/email/footer.html.j2
  server/parsec/templates/email/invitation.html.j2
Due: none

Update
  server/parsec/templates/email/footer.html.j2
Due: none

[MS] Error management: File editor loading
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/cryptpad.ts
  client/src/views/files/handler/FileHandler.vue
  client/src/views/files/handler/editor/FileEditor.vue
  client/src/views/files/handler/viewer/FileViewer.vue
  client/tests/unit/specs/testCryptpad.spec.ts
Due: eslint, vue-tsc, prettier

Fix `server/tests/test_migrations.py` for Postgresql>=16.10
  server/tests/test_migrations.py
Due: none

[MS] Download Parsec app button in profile popover
  client/src/assets/images/logo-parsec-app.svg
  client/src/components/misc/DownloadParsec.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/environment.ts
  client/src/services/storageManager.ts
  client/src/views/header/ProfileHeaderHomepagePopover.vue
  client/src/views/header/ProfileHeaderOrganizationPopover.vue
  client/src/views/home/HomePageHeader.vue
  client/tests/e2e/specs/profile_popover.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Adds proper error to cryptpad service
  client/src/services/cryptpad.ts
  client/src/views/files/handler/editor/FileEditor.vue
Due: eslint, vue-tsc, prettier

[MS] Added tests for edition and read-only contextual menus
  client/tests/e2e/specs/document_context_menu.spec.ts
  client/tests/e2e/specs/file_editor.spec.ts
  client/tests/e2e/specs/file_viewers.spec.ts
  client/tests/e2e/specs/options_tab_menu.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Update recent workspace on rename and added tests
  client/src/components/workspaces/utils.ts
  client/src/services/recentDocuments.ts
  client/src/views/menu/MainMenu.vue
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/file_viewers.spec.ts
  client/tests/e2e/specs/sidebar.spec.ts
Due: eslint, vue-tsc, prettier

Enable PostgreSQL install in CI
  .github/workflows/ci-python.yml
Due: none

[MS] Improve UI for account creation and deletion emails
  server/parsec/templates/email/account_create.html.j2
  server/parsec/templates/email/account_delete.html.j2
  server/parsec/templates/email/account_recover.html.j2
  server/parsec/templates/email/base.css
Due: none

[MS] Improve UI and add validation code
  client/src/components/account/AccountUserInformation.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/account/CreateAccountPage.vue
  client/src/views/account/RecoverAccountPage.vue
  client/tests/e2e/specs/account_create.spec.ts
Due: eslint, vue-tsc, prettier

Add temporary hack to `Account.account_upload_opaque_key_in_vault` in order to be able to disable organization account vault strategy (Needed by GUI during organization bootstrap)
  libparsec/crates/account/src/upload_opaque_key_in_vault.rs
Due: fmt, clippy

Fix `AccountVaultItemRegistrationDevice` schema in RFC 1014
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
Due: none

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] Fix org creation with parsec account
  client/src/views/organizations/creation/CreateOrganizationCustomServer.vue
  client/src/views/organizations/creation/CreateOrganizationSaas.vue
Due: eslint, vue-tsc, prettier

WIP: Fix usage of `libparsec.accountUploadOpaqueKeyInVault` in the GUI
  client/src/parsec/account.ts
  client/src/parsec/login.ts
  client/src/views/organizations/creation/CreateOrganizationCustomServer.vue
  client/src/views/organizations/creation/CreateOrganizationSaas.vue
Due: eslint, vue-tsc, prettier

[MS] Fixed a small typing problem in electron
  client/electron/src/preload.ts
Due: eslint, vue-tsc, prettier

[MS] Fixed e2e account login tests
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/account_login.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Improve settings list and some design tweaks
  client/src/components/settings/SettingsList.vue
  client/src/components/settings/SettingsOption.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_modals.scss
  client/src/views/account/AccountSettingsPage.vue
  client/src/views/home/HomePage.vue
  client/src/views/home/HomePageHeader.vue
  client/src/views/users/MyProfilePage.vue
  client/tests/e2e/specs/account_login.spec.ts
  client/tests/e2e/specs/my_profile_page.spec.ts
  client/tests/e2e/specs/profile_popover.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Adds warning when refreshing the page when logged in
  client/src/main.ts
  client/src/views/layouts/ConnectedLayout.vue
Due: eslint, vue-tsc, prettier

[MS] Hides shamir & registration devices
  client/src/parsec/device.ts
  client/src/parsec/types.ts
  client/src/views/devices/DevicesPage.vue
Due: eslint, vue-tsc, prettier
