Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

feat(pki): Impl `PkiSystem::open_certificate` for web
  Cargo.lock
  Cargo.toml
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/common.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/platform_pki/src/pki_system.rs
  libparsec/crates/platform_pki/src/shared/info.rs
  libparsec/crates/platform_pki/src/web/pki_system.rs
  libparsec/crates/types/src/pki/cert_ref.rs
Due: toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

[MS] Workspace deletion features and fixes
  client/src/common/validators.ts
  client/src/components/organizations/OrganizationConfigurationInformation.vue
  client/src/components/workspaces/utils.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/menu/MainMenu.vue
  client/src/views/workspaces/SmallDisplayWorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceArchivePage.vue
  client/src/views/workspaces/WorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceTrashPage.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

ci(rust): Run `cargo-clippy` on wasm32 target
  .github/workflows/ci-rust.yml
Due: none

Resync megashark
  client/package-lock.json
  client/package.json
Due: none

Fix wrap of po files
  docs/locale/fr/LC_MESSAGES/index.po
  docs/locale/fr/LC_MESSAGES/userguide/manage_devices.po
  docs/locale/fr/LC_MESSAGES/userguide/parsec_workspaces.po
Due: none

Fix multiple issues in the deployment docs
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-s3.env
  docs/hosting/deployment/parsec-smtp.env
  docs/hosting/deployment/parsec.env
  docs/userguide/manage_devices.rst
Due: none

[MS] documentation: update hosting and user guide sections
  docs/hosting/deployment/index.rst
  docs/index.rst
  docs/userguide/installation.rst
  docs/userguide/join_organization.rst
  docs/userguide/parsec_workspaces.rst
  docs/userguide/screens/download-parsec.en.png
  docs/userguide/screens/download-parsec.en.svg
  docs/userguide/screens/download-parsec.fr.png
  docs/userguide/screens/download-parsec.fr.svg
Due: none

[MS] documentation: update name in conf.py and main logo
  docs/conf.py
  docs/parsec_doc_logo.png
Due: none

[MS] Update parsec documentation theme
  .cspell/custom-words.txt
  docs/_static/parsec_theme.css
Due: none

refactor(rust): Cargo Clippy auto fix for wasm target
  bindings/generator/templates/binding_web_meths.rs.j2
  bindings/web/src/meths.rs
  libparsec/crates/platform_async/src/web/task.rs
  libparsec/crates/platform_filesystem/src/web/common/internal.rs
  libparsec/crates/platform_filesystem/src/web/common/wrapper.rs
  libparsec/crates/platform_filesystem/src/web/save.rs
  libparsec/crates/platform_pki/src/web/pki_certificate.rs
  libparsec/crates/platform_realm_export/src/lib.rs
Due: fmt, clippy

Bump node to v22.22.2
  .github/workflows/ci-web.yml
  .github/workflows/package-desktop.yml
  .github/workflows/package-server.yml
  .github/workflows/package-webapp.yml
  .pre-commit-config.yaml
  client/electron/scripts/sign-windows-package.ps1
  docs/development/README.md
  misc/versions.toml
Due: toml-fmt

feat(pki): Impl `PkiSystem::open_certificate` for web
  Cargo.lock
  Cargo.toml
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/common.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/platform_pki/src/web/pki_system.rs
  libparsec/crates/types/src/pki/cert_ref.rs
Due: toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

UpdateStyle
  client/src/components/organizations/OrganizationConfigurationInformation.vue
  client/src/locales/fr-FR.json
Due: eslint, vue-tsc, prettier

Added tests
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/tests/e2e/specs/organization_information.spec.ts
  client/tests/e2e/specs/workspace_archive.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
  client/tests/e2e/specs/workspace_trash.spec.ts
  client/tests/e2e/specs/workspaces_actions.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Fix tests modal subtitle matching
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/client_area_personal_page.spec.ts
  client/tests/e2e/specs/device_greet.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
Due: eslint, vue-tsc, prettier

[SCWS] Implement to_reference for pki scws certificate.
  libparsec/crates/platform_pki/src/web/pki_certificate.rs
  libparsec/crates/platform_pki/src/web/pki_system.rs
Due: fmt, clippy

Add knip configuration & fix reported issues
  .cspell/custom-words.txt
  .github/dependabot.yml
  .github/workflows/ci-web.yml
  client/.npmrc
  client/.prettierrc.json5
  client/.prettierrc.yaml
  client/knip.config.ts
  client/package-lock.json
  client/package.json
  client/src/plugins/libparsec/trampoline-web.ts
  client/src/plugins/libparsec/web_shared_worker.ts
Due: eslint, vue-tsc, prettier

Rename npm "postinstall" script to "electron:install"
  client/package-lock.json
  client/package.json
Due: none

Diable ignore-scripts (hopefully temporarily) because electron requires build scripts
  client/.npmrc
Due: none

[MS] Fixed modal header selector
  client/tests/e2e/specs/bug_report.spec.ts
  client/tests/e2e/specs/client_area_personal_page.spec.ts
Due: eslint, vue-tsc, prettier

Rename npm "postinstall" script to "electron:install"
  client/.npmrc
  client/package-lock.json
  client/package.json
Due: none

refactor(server): Extract SCWS options + support loading pkey content from option
  .cspell/custom-words.txt
  server/parsec/cli/run.py
  server/parsec/cli/scws.py
  server/tests/cli/common.py
  server/tests/cli/test_run.py
Due: none

[MS] Resync megashark
  client/package-lock.json
  client/package.json
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/bug_report.spec.ts
  client/tests/e2e/specs/client_area_personal_page.spec.ts
  client/tests/e2e/specs/device_greet.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
Due: eslint, vue-tsc, prettier

Explicitly specify the build target in `client/vite.config.ts`
  client/electron/package.json
  client/package.json
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

docs: Fix indentation in Parsec CLI section
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
Due: none

fix(pki): Fix type issue with feature testbed for platform certificate
  libparsec/crates/platform_pki/src/web/pki_certificate.rs
Due: fmt, clippy

[SCWS] Implement to_reference for pki scws certificate.
  libparsec/crates/platform_pki/src/shared/mod.rs
  libparsec/crates/platform_pki/src/shared/uri.rs
  libparsec/crates/platform_pki/src/web/pki_certificate.rs
Due: fmt, clippy
