Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Minor fixes in `libparsec_platform_device_loader`
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
Due: fmt, clippy

Add `transit_mount_path` field to `libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5`
  libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/server_config.rs
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/server_config.pyi
Due: fmt, clippy

Async enrollement postgresql implementation
  server/parsec/components/async_enrollment.py
  server/parsec/components/memory/async_enrollment.py
  server/parsec/components/postgresql/async_enrollment.py
  server/parsec/components/postgresql/async_enrollment_accept.py
  server/parsec/components/postgresql/async_enrollment_info.py
  server/parsec/components/postgresql/async_enrollment_list.py
  server/parsec/components/postgresql/async_enrollment_reject.py
  server/parsec/components/postgresql/async_enrollment_submit.py
  server/parsec/components/postgresql/migrations/0020_async_enrollment.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/parsec/components/postgresql/utils.py
  server/tests/api_v5/anonymous/test_async_enrollment_info.py
  server/tests/api_v5/anonymous/test_async_enrollment_submit.py
  server/tests/api_v5/authenticated/test_async_enrollment_accept.py
  server/tests/api_v5/authenticated/test_async_enrollment_list.py
  server/tests/api_v5/authenticated/test_async_enrollment_reject.py
Due: sqlfluff, sqlfluff-in-python

Bump testbed server to 3.7.2-a.0.dev.20462.c20c78b
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Remove useless&cumbersome display of skipped unkwon suffix in `test_pki` server fixture
  server/tests/common/pki.py
Due: none

Remove useless (and causing cyclic dependency) components attributes in `PGEventsComponent`
  server/parsec/components/postgresql/events.py
Due: sqlfluff-in-python

Fix `MemoryAsyncEnrollmentComponent.reject` not sending `EventAsyncEnrollment` event
  server/parsec/components/memory/async_enrollment.py
Due: none

Fix server test fixture not waiting for `EventAsyncEnrollment` when submitting async enrollement
  server/tests/api_v5/anonymous/test_async_enrollment_info.py
  server/tests/api_v5/anonymous/test_async_enrollment_submit.py
  server/tests/api_v5/authenticated/test_async_enrollment_accept.py
  server/tests/api_v5/authenticated/test_async_enrollment_list.py
  server/tests/api_v5/authenticated/test_async_enrollment_reject.py
Due: none

Remove unused `LockCommonWriteRealmBadOutcome` error type for `lock_common_(write|read)` functions in server postgresql code
  server/parsec/components/postgresql/queries/q_lock_common.py
Due: sqlfluff-in-python

Disable Rust agnostic tests outside of Linux on the CI
  .github/workflows/ci-rust.yml
Due: none

Remove broken test `test_keep_alive_real_server` (test `test_keep_alive` is good enough anyway)
  server/tests/test_sse.py
Due: none

refactor(libparsec): Remove usage of `log::kv`
  cli/Cargo.toml
  libparsec/Cargo.toml
  libparsec/crates/client/src/client/pki_enrollment_finalize.rs
  libparsec/crates/client/src/client/pki_enrollment_list.rs
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/platform_pki/src/x509/extensions/mod.rs
  libparsec/crates/platform_pki/src/x509/mod.rs
Due: toml-fmt, fmt, clippy

feat(parsec-cli): Allow to prevent overwriting a file during workspace import
  Cargo.lock
  cli/Cargo.toml
  cli/src/commands/workspace/import.rs
  cli/tests/integration/workspace/import.rs
  newsfragments/12021.feature.rst
Due: toml-fmt, fmt, clippy

Bump version 3.7.2-a.0+dev -> 3.8.0-a.0
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  newsfragments/10227.bugfix.rst
  newsfragments/11735.feature.rst
  newsfragments/11803.feature.rst
  newsfragments/11987.bugfix.rst
  newsfragments/11993.feature.rst
  newsfragments/12021.feature.rst
  newsfragments/9161.feature.rst
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Fixed images in PDF files
  client/package-lock.json
  client/package.json
  client/src/views/files/handler/viewer/PdfViewer.vue
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

fix(client_connection): Enable HTTP/2 support
  Cargo.lock
  libparsec/crates/client_connection/Cargo.toml
Due: toml-fmt

Bump version 3.7.2-a.0+dev -> 3.8.0-a.1
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  newsfragments/10227.bugfix.rst
  newsfragments/11735.feature.rst
  newsfragments/11803.feature.rst
  newsfragments/11987.bugfix.rst
  newsfragments/11993.feature.rst
  newsfragments/12021.feature.rst
  newsfragments/9161.feature.rst
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.8.0-a.1 -> 3.8.0-a.2+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Client Area Responsive + Style Miscellaneous
  client/src/components/client-area/invoices/InvoicesList.vue
  client/src/components/client-area/invoices/InvoicesListItem.vue
  client/src/components/client-area/invoices/YearInvoicesList.vue
  client/src/components/client-area/invoices/YearInvoicesListItem.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/global-client.scss
  client/src/views/client-area/ClientAreaHeader.vue
  client/src/views/client-area/ClientAreaPage.vue
  client/src/views/client-area/ClientAreaSidebar.vue
  client/src/views/client-area/billing-details/BillingDetailsPage.vue
  client/src/views/client-area/contracts/ContractsPage.vue
  client/src/views/client-area/dashboard/DashboardPage.vue
  client/src/views/client-area/payment-methods/PaymentMethodsPage.vue
  client/src/views/client-area/personal-data/PersonalDataPage.vue
  client/src/views/client-area/statistics/CustomOrderStatisticsPage.vue
  client/src/views/client-area/statistics/StatisticsPage.vue
  client/src/views/menu/utils.ts
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/client_area_billing_details.spec.ts
  client/tests/e2e/specs/client_area_custom_order.spec.ts
  client/tests/e2e/specs/client_area_custom_order_contract.spec.ts
  client/tests/e2e/specs/client_area_custom_order_orders.spec.ts
  client/tests/e2e/specs/client_area_custom_order_statistics.spec.ts
  client/tests/e2e/specs/client_area_dashboard.spec.ts
  client/tests/e2e/specs/client_area_login.spec.ts
  client/tests/e2e/specs/client_area_personal_page.spec.ts
  newsfragments/11998.feature.rst
Due: eslint, vue-tsc, prettier

[MS] Fix start on Chrome Android
  client/src/plugins/libparsec/trampoline-web.ts
Due: eslint, vue-tsc, prettier

Migrate save_content from platform_device_loader to platform_filesystem.
  .github/workflows/ci-rust.yml
  Cargo.lock
  Cargo.toml
  libparsec/crates/account/src/register_new_device.rs
  libparsec/crates/client/src/client/recovery_device.rs
  libparsec/crates/client/src/invite/async_enrollment/submit.rs
  libparsec/crates/client/src/invite/async_enrollment/submitter_finalize.rs
  libparsec/crates/client/src/invite/organization.rs
  libparsec/crates/client/tests/unit/invite/bootstrap_organization.rs
  libparsec/crates/platform_device_loader/Cargo.toml
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/src/web/error.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
  libparsec/crates/platform_device_loader/src/web/wrapper.rs
  libparsec/crates/platform_device_loader/tests/units/async_enrollment.rs
  libparsec/crates/platform_device_loader/tests/units/save.rs
  libparsec/crates/platform_filesystem/Cargo.toml
  libparsec/crates/platform_filesystem/src/lib.rs
  libparsec/crates/platform_filesystem/src/native/mod.rs
  libparsec/crates/platform_filesystem/src/native/save.rs
  libparsec/crates/platform_filesystem/src/web/common/error.rs
  libparsec/crates/platform_filesystem/src/web/common/internal.rs
  libparsec/crates/platform_filesystem/src/web/common/mod.rs
  libparsec/crates/platform_filesystem/src/web/common/wrapper.rs
  libparsec/crates/platform_filesystem/src/web/mod.rs
  libparsec/crates/platform_filesystem/src/web/save.rs
  libparsec/crates/platform_filesystem/tests/units/mod.rs
  libparsec/crates/platform_filesystem/tests/units/save.rs
  libparsec/src/invite.rs
Due: toml-fmt, fmt, clippy

docs(platform_pki): Add minimal documentation
  .cspell/custom-words.txt
  libparsec/crates/platform_pki/README.md
Due: none

[MS] Some more e2e tests optimizations
  client/tests/e2e/specs/document_context_menu.spec.ts
  client/tests/e2e/specs/download_file.spec.ts
  client/tests/e2e/specs/editics_enable.spec.ts
  client/tests/e2e/specs/file_viewers_document.spec.ts
Due: eslint, vue-tsc, prettier

Use native-tls feature in `libparsec_testbed`
  Cargo.lock
  libparsec/crates/testbed/Cargo.toml
Due: toml-fmt

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
