Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

license_headers:
  name: license_headers
  entry: python ./misc/license_headers.py add
  language: python
  language_version: python3

eslint:
  name: eslint
  description: ''
  entry: eslint
  language: node
  args:
  - --config=oxidation/client/.eslintrc.js
  additional_dependencies:
  - eslint@8.10.0
  - eslint-plugin-cypress@2.12.1
  - eslint-plugin-vue@8.5.0
  - '@typescript-eslint/eslint-plugin@5.14.0'
  - '@typescript-eslint/parser@5.14.0'
  ...

Add parsec-sequestre-dump cli base
  Cargo.lock
  Cargo.toml
  oxidation/parsec_cli/parsec_sequestre_dump/Cargo.toml
  oxidation/parsec_cli/parsec_sequestre_dump/diesel.toml
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0000_block/down.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0000_block/up.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0001_vlob_atom/down.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0001_vlob_atom/up.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0002_realm_role/down.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0002_realm_role/up.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0003_user/down.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0003_user/up.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0004_device/down.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0004_device/up.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0005_info/down.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0005_info/up.sql
  oxidation/parsec_cli/parsec_sequestre_dump/src/main.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/model.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/schema.rs
Due: license_headers

Use tmp_path
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0000_init/down.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0000_init/up.sql
  oxidation/parsec_cli/parsec_sequestre_dump/src/main.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/model.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/schema.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/tests.rs
Due: license_headers

Change output (file to directory)
  Cargo.lock
  oxidation/libparsec/crates/types/src/manifest.rs
  oxidation/parsec_cli/parsec_sequestre_dump/Cargo.toml
  oxidation/parsec_cli/parsec_sequestre_dump/src/main.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/model.rs
Due: license_headers

Clean src
  Cargo.lock
  oxidation/parsec_cli/parsec_sequestre_dump/Cargo.toml
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0000_block/down.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0000_block/up.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0000_init/down.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0000_init/up.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0001_vlob_atom/down.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0001_vlob_atom/up.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0002_realm_role/down.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0002_realm_role/up.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0003_user/down.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0003_user/up.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0004_device/up.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0005_info/down.sql
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0005_info/up.sql
  oxidation/parsec_cli/parsec_sequestre_dump/src/main.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/model.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/schema.rs
Due: license_headers

Add file & folder feature
  Cargo.lock
  oxidation/libparsec/crates/types/src/manifest.rs
  oxidation/parsec_cli/parsec_sequestre_dump/Cargo.toml
  oxidation/parsec_cli/parsec_sequestre_dump/src/main.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/model.rs
Due: license_headers

Enhance CLI
  oxidation/parsec_cli/parsec_sequestre_dump/src/main.rs
Due: license_headers

Sync timestamp with created_at
  oxidation/parsec_cli/parsec_sequestre_dump/src/model.rs
Due: license_headers

Rollback comments
  oxidation/libparsec/crates/types/src/manifest.rs
Due: license_headers

Move test in another file
  Cargo.lock
  oxidation/parsec_cli/parsec_sequestre_dump/src/main.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/model.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/tests.rs
Due: license_headers

Rollback Timestamp to Real
  oxidation/parsec_cli/parsec_sequestre_dump/migrations/0000_init/up.sql
  oxidation/parsec_cli/parsec_sequestre_dump/src/main.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/model.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/schema.rs
Due: license_headers

Handle errors
  oxidation/parsec_cli/parsec_sequestre_dump/src/model.rs
Due: license_headers

Update help
  oxidation/parsec_cli/parsec_sequestre_dump/src/main.rs
Due: license_headers

Add Suggestion
  Cargo.lock
  Cargo.toml
  oxidation/libparsec/crates/types/src/manifest.rs
  oxidation/parsec_cli/parsec_sequestre_dump/Cargo.toml
  oxidation/parsec_cli/parsec_sequestre_dump/src/error.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/main.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/model.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/schema.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/tests.rs
Due: license_headers

Remove diesel.toml
  oxidation/parsec_cli/parsec_sequestre_dump/diesel.toml
Due: none

Link sqlite
  Cargo.lock
  oxidation/libparsec/crates/core_fs/Cargo.toml
  oxidation/libparsec/crates/core_fs/src/lib.rs
  oxidation/parsec_cli/parsec_sequestre_dump/Cargo.toml
  oxidation/parsec_cli/parsec_sequestre_dump/src/error.rs
  oxidation/parsec_cli/parsec_sequestre_dump/src/model.rs
Due: license_headers

Handle unknown status
  Cargo.lock
  oxidation/bindings/common/Cargo.toml
  oxidation/generate_test_data/protocol/block.py
  oxidation/libparsec/crates/protocol/Cargo.toml
  oxidation/libparsec/crates/protocol/tests/mod.rs
  oxidation/libparsec/crates/protocol/tests/test_common.rs
  oxidation/libparsec/crates/serialization_format/src/parser/protocol.rs
  oxidation/libparsec/crates/types/Cargo.toml
Due: license_headers

Add newsFragment
  newsfragments/2891.empty.rst
Due: none

Add User & Device info
  oxidation/libparsec/crates/client_types/src/local_device.rs
Due: license_headers

Add newsFragment
  newsfragments/2772.empty.rst
Due: none

Update styles.xml
  oxidation/client/android/app/src/main/res/values/styles.xml
Due: none

Update styles.xml (#2894)
  oxidation/client/android/app/src/main/res/values/styles.xml
Due: none

2825 oxidation replace local manifest (#2838)
  newsfragments/2825.empty.rst
  oxidation/libparsec_python/src/lib.rs
  parsec/_parsec.pyi
  parsec/_parsec_pyi/local_manifest.pyi
  parsec/api/data/__init__.py
  parsec/api/data/manifest.py
  parsec/core/fs/remote_loader.py
  parsec/core/fs/storage/manifest_storage.py
  parsec/core/fs/storage/user_storage.py
  parsec/core/fs/storage/workspace_storage.py
  parsec/core/fs/userfs/merging.py
  parsec/core/fs/userfs/userfs.py
  parsec/core/fs/workspacefs/entry_transactions.py
  parsec/core/fs/workspacefs/file_operations.py
  parsec/core/fs/workspacefs/file_transactions.py
  parsec/core/fs/workspacefs/sync_transactions.py
  parsec/core/fs/workspacefs/workspacefs.py
  parsec/core/types/__init__.py
  parsec/core/types/manifest.py
  src/lib.rs
  src/local_manifest.rs
  src/manifest.rs
  tests/api/test_types.py
  tests/core/fs/storage/test_workspace_storage.py
  tests/core/gui/test_files.py
  tests/rust/test_local_manifest.py
  tests/schemas/builder.py
  tests/schemas/core_data.json
Due: license_headers

Add UserInfo & DeviceInfo binding
  oxidation/libparsec/crates/client_types/src/local_device.rs
  oxidation/libparsec/crates/types/src/ext_types.rs
  oxidation/libparsec/crates/types/src/id.rs
  parsec/_parsec.pyi
  parsec/_parsec_pyi/local_device.pyi
  parsec/core/types/__init__.py
  parsec/core/types/local_device.py
  src/lib.rs
  src/local_device.rs
  tests/core/gui/test_offline.py
  tests/core/gui/test_workspace_button.py
Due: license_headers

Add comment
  oxidation/libparsec/crates/serialization_format/src/parser/protocol.rs
Due: license_headers

Add share workspace modal & newsfragment
  newsfragments/2809.empty.rst
  oxidation/client/src/components/ItemGrid.vue
  oxidation/client/src/components/MobileItemList.vue
  oxidation/client/src/components/WorkspaceContextMenu.vue
  oxidation/client/src/components/WorkspaceShareModal.vue
  oxidation/client/src/components/WorkspaceShareModalUserItem.vue
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/views/WorkspacesPage.vue
Due: license_headers, eslint

Add copyright headers
  oxidation/client/src/components/CreateWorkspaceModal.vue
  oxidation/client/src/components/ItemGrid.vue
  oxidation/client/src/components/MobileItemList.vue
  oxidation/client/src/components/WorkspaceContextMenu.vue
  oxidation/client/src/components/WorkspaceShareModal.vue
  oxidation/client/src/components/WorkspaceShareModalUserItem.vue
  oxidation/client/src/views/WorkspacesPage.vue
Due: license_headers, eslint

add hook for fixing end-of-line
  .pre-commit-config.yaml
Due: none

add alias for `mixed-end-of-line`
  .pre-commit-config.yaml
Due: none

Fix EOF for `po` files
  docs/locale/fr/LC_MESSAGES/architecture.po
  docs/locale/fr/LC_MESSAGES/cryptography.po
  docs/locale/fr/LC_MESSAGES/functional_architecture.po
  docs/locale/fr/LC_MESSAGES/history.po
  docs/locale/fr/LC_MESSAGES/index.po
  docs/locale/fr/LC_MESSAGES/introduction.po
  docs/locale/fr/LC_MESSAGES/userguide.po
  parsec/core/gui/tr/parsec_en.po
  parsec/core/gui/tr/parsec_fr.po
Due: none

Fix EOF for `json` files
  oxidation/client/electron/electron-builder.config.json
  oxidation/client/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  oxidation/client/ios/App/App/Assets.xcassets/Contents.json
  oxidation/client/ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
Due: none

Remove .idea files
  oxidation/bindings/android/.idea/.gitignore
  oxidation/bindings/android/.idea/.name
  oxidation/bindings/android/.idea/compiler.xml
  oxidation/bindings/android/.idea/gradle.xml
  oxidation/bindings/android/.idea/misc.xml
  oxidation/bindings/android/.idea/vcs.xml
  oxidation/client/android/.idea/compiler.xml
  oxidation/client/android/.idea/jarRepositories.xml
  oxidation/client/android/.idea/misc.xml
Due: none

Fix EOL for `xml` files
  oxidation/bindings/android/libparsec/src/main/AndroidManifest.xml
  oxidation/client/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  oxidation/client/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  oxidation/client/android/app/src/main/res/values/ic_launcher_background.xml
  oxidation/client/android/app/src/main/res/xml/file_paths.xml
  oxidation/client/android/capacitor-cordova-android-plugins/src/main/AndroidManifest.xml
Due: none

Fix EOF for `sql` file
  tests/backend/migrations/0009_data.sql
Due: license_headers

Fix EOF for `pod` files
  oxidation/client/ios/capacitor-cordova-ios-plugins/CordovaPluginsStatic.podspec
Due: none

Fix EOF for license
  licenses/BUSL-Scille.txt
Due: none

fix EOF for `kotlin` files
  oxidation/bindings/android/libparsec/src/androidTest/java/com/scille/libparsec/ExampleInstrumentedTest.kt
  oxidation/bindings/android/libparsec/src/test/java/com/scille/libparsec/ExampleUnitTest.kt
Due: none

Fix EOF for `html` file
  oxidation/client/public/index.html
Due: none

Fix EOF for news fragment files
  newsfragments/1598.feature.rst
Due: none

Fix EOF for `git` files
  oxidation/bindings/android/libparsec/.gitignore
  oxidation/client/android/capacitor-cordova-android-plugins/src/main/res/.gitkeep
  oxidation/client/ios/capacitor-cordova-ios-plugins/resources/.gitkeep
  oxidation/client/ios/capacitor-cordova-ios-plugins/sources/.gitkeep
Due: none

Path conditions:
  license_headers: any of: \.py$, \.sql$, \.rs$, \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, but not: ^misc/bench.py$
  eslint: any of: ^oxidation/client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
