Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

Automate Windows signing with Azure Trusted Signing in CI
  .cspell/custom-words.txt
  .github/workflows/package-desktop.yml
  .github/workflows/releaser.yml
  client/electron/README.md
  docs/development/guide-release-parsec.md
  misc/sign_windows_release.py
Due: none

Refactor script to check for missing & unused translations
  client/scripts/check_unused_translations.py
Due: none

Fix missing translation keys
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: none

ci: add check for missing translation keys
  .github/workflows/ci-web.yml
Due: none

Add option to fix (remove) unused translations keys
  client/scripts/check_unused_translations.py
Due: none

Remove use of prefixed translations keys
  client/scripts/check_unused_translations.py
  client/src/components/client-area/orders/utils.ts
  client/src/views/client-area/personal-data/AuthenticationModal.vue
  client/src/views/client-area/personal-data/PersonalInfoModal.vue
  client/src/views/client-area/personal-data/ProfessionalInfoModal.vue
  client/src/views/client-area/personal-data/SecurityModal.vue
Due: eslint, vue-tsc, prettier

Enable check for unused translation keys
  .github/workflows/ci-web.yml
Due: none

Remove unused translation keys
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: none

Add a list of keys to ignore during check
  client/scripts/check_unused_translations.py
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: none

Enable eslint option to avoid indent error on ternary expressions
  client/eslint.config.ts
  client/src/views/client-area/personal-data/PersonalDataPage.vue
  client/src/views/files/FoldersPage.vue
Due: eslint, vue-tsc, prettier

Fix unused translation keys
  client/scripts/check_unused_translations.py
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/contextMenu/workspaceActions.ts
  client/src/views/client-area/personal-data/AuthenticationModal.vue
  client/src/views/client-area/personal-data/PersonalDataPage.vue
  client/src/views/client-area/personal-data/PersonalInfoModal.vue
  client/src/views/client-area/personal-data/ProfessionalInfoModal.vue
  client/src/views/client-area/personal-data/SecurityModal.vue
  client/src/views/files/FoldersPage.vue
  client/src/views/header/HeaderPage.vue
Due: eslint, vue-tsc, prettier

Switch Windows code signing to Azure Trusted Signing
  client/electron/package.cjs
Due: eslint, prettier

Include CI-signed Windows installer in releases
  .github/workflows/package-desktop.yml
  .github/workflows/releaser.yml
Due: none

refactor(server): Use high level API for s3 implementation
  server/parsec/components/s3_blockstore.py
  server/pyproject.toml
Due: toml-fmt

[MS] Import image into a document
  client/src/components/files/explorer/ImageSelectionModal.vue
  client/src/services/editics.ts
  newsfragments/13525.feature.rst
Due: eslint, vue-tsc, prettier

[MS] Fix semver prerelease call in electron updater
  client/electron/src/updater.ts
Due: eslint, vue-tsc, prettier

ci(package-desktop): Add missing `SENTRY_AUTH_TOKEN` to upload source maps to sentry
  .github/workflows/package-desktop.yml
Due: none

wip
  libparsec/crates/client/Cargo.toml
  libparsec/crates/client/src/event_bus.rs
  libparsec/crates/client/src/monitors/base.rs
  libparsec/crates/client/src/workspace/store/mod.rs
  libparsec/crates/client/tests/unit/client/outbound_sync_backlog.rs
  libparsec/crates/client/tests/unit/client/utils.rs
  libparsec/crates/tests_macros/src/lib.rs
Due: toml-fmt, fmt, clippy

[MS] Resync megashark
  client/package-lock.json
  client/package.json
Due: none

Rename prefix `EditicsProtocol` -> `Editics`
  client/editics/collaborative_protocol.js
  server/parsec/asgi/editics.py
  server/parsec/components/editics.py
  server/parsec/editics_protocol.py
  server/tests/common/editics.py
Due: eslint, prettier

Add tests/editics/records/README.md
  server/tests/editics/records/README.md
Due: none

Corrections in docs/rfcs/1030-collaborative-editics.md
  docs/rfcs/1030-collaborative-editics.md
Due: none

wip
  client/editics/collaborative_protocol.js
  server/parsec/components/auth.py
  server/parsec/components/editics.py
  server/parsec/editics_protocol.py
  server/tests/common/editics.py
Due: eslint, prettier

Use OO types from onlyoffice-editics package in `client/editics/collaborative_protocol.js`
  client/editics/collaborative_protocol.js
Due: eslint, prettier

Fix Editics types in `client/editics/collaborative_protocol.js`
  client/editics/collaborative_protocol.js
Due: eslint, prettier

cleanup
  server/parsec/components/editics.py
Due: none

wip tests/editics/test_records.py
  server/tests/editics/test_records.py
Due: none
