Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Document `NEW_SAS_CODE_ALGORITHM_INTRODUCED_IN_VERSION` in `server/parsec/components/invite.py`
  server/parsec/components/invite.py
Due: none

test(client): Fix shared secret generation
  bindings/generator/api/invite.py
  libparsec/crates/client/src/invite/claimer.rs
  libparsec/crates/client/src/invite/greeter.rs
  libparsec/crates/crypto/src/sodium/private.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/invite.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Add `server/parsec/components/postgresql/migrations/0015_drop_email_unicode_support.sql` migration
  server/parsec/components/postgresql/migrations/0015_drop_email_unicode_support.sql
  server/tests/test_migrations.py
Due: sqlfluff

[PKI] Update pki_enrollment_list command following rfc 1020.
  docs/rfcs/1020-pki-support.md
  libparsec/crates/protocol/schema/authenticated_cmds/pki_enrollment_list.json5
  libparsec/crates/protocol/tests/authenticated_cmds/v5/pki_enrollment_list.rs
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/pki_enrollment_list.pyi
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/parsec/components/postgresql/pki.py
  server/tests/api_v5/authenticated/test_pki_enrollment_list.py
Due: fmt, clippy

refactor(bindings): Simplify `CertificateHash` to be string derivated
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/platform_pki/examples/decrypt_message.rs
  libparsec/crates/platform_pki/examples/encrypt_message.rs
  libparsec/crates/platform_pki/examples/get_certificate_der.rs
  libparsec/crates/platform_pki/examples/list_certificate.rs
  libparsec/crates/platform_pki/examples/sign_message.rs
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki/examples/verify_message.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/types/src/pki.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

Minor import correction in `cli/src/commands/device/change_authentication.rs`
  bindings/generator/api/client.py
Due: none

[MS] Remove refresh warning when logging out
  client/src/services/refreshWarning.ts
  client/src/views/layouts/ConnectedLayout.vue
Due: eslint, vue-tsc, prettier

[MS] Warn before leaving the file editor if there are unsaved changes
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/router/params.ts
  client/src/views/files/handler/FileHandler.vue
Due: eslint, vue-tsc, prettier

Apply suggestions from code review
  client/src/locales/en-US.json
Due: none

[MS] Run cryptpad docker image on CI
  .github/workflows/ci-web.yml
  client/playwright.config.ts
  client/src/services/cryptpad.ts
  client/tests/e2e/helpers/cryptpad.ts
  client/tests/e2e/specs/file_editor.spec.ts
  client/tests/unit/specs/testCryptpad.spec.ts
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

Fixed cryptpad addr
  .github/workflows/ci-web.yml
Due: none

[MS] Fixed cryptpad server on CI
  client/tests/e2e/helpers/cryptpad.ts
  client/tests/e2e/helpers/fixtures.ts
Due: eslint, vue-tsc, prettier

¯\_(ツ)_/¯
  .github/workflows/ci-web.yml
Due: none

[MS] Updated cryptpad docker image
  .github/workflows/ci-web.yml
Due: none

Prints cryptpad log if failure
  .github/workflows/ci-web.yml
Due: none

Updated cryptpad image
  .github/workflows/ci-web.yml
Due: none

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Introduce `libparsec/crates/types/schema/local_device/device_file_openbao.json5` schema
  .cspell/custom-words.txt
  bindings/generator/api/device.py
  cli/src/commands/device/change_authentication.rs
  cli/src/commands/device/overwrite_server_url.rs
  cli/src/utils.rs
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/types/schema/local_device/device_file_openbao.json5
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
Due: fmt, clippy

[MS] Adds test for SSO auth
  client/electron/src/index.ts
  client/src/services/openBao.ts
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/index.ts
  client/tests/e2e/helpers/sso.ts
  client/tests/e2e/helpers/types.ts
  client/tests/e2e/specs/auth_with_sso.spec.ts
Due: eslint, vue-tsc, prettier

Implement pki_enrollment_submit cmd.
  libparsec/crates/protocol/schema/authenticated_cmds/pki_enrollment_submit.json5
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/__init__.pyi
  server/tests/common/rpc.py
Due: none

Update docker image
  .github/workflows/ci-web.yml
Due: none

[Pki] Rename NotAllowed error variant to AuthorNotAllowed in pki_enrollment_list.
  libparsec/crates/protocol/schema/authenticated_cmds/pki_enrollment_list.json5
  libparsec/crates/protocol/tests/authenticated_cmds/v5/pki_enrollment_list.rs
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/pki_enrollment_list.pyi
  server/parsec/components/pki.py
  server/tests/api_v5/authenticated/test_pki_enrollment_list.py
Due: fmt, clippy

refactor: update pki_enrollment_accept following RFC 1020
  docs/rfcs/1020-pki-support.md
  libparsec/crates/protocol/schema/authenticated_cmds/pki_enrollment_accept.json5
  libparsec/crates/protocol/tests/authenticated_cmds/v5/pki_enrollment_accept.rs
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/pki_enrollment_accept.pyi
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
  server/tests/api_v5/authenticated/test_pki_enrollment_accept.py
  server/tests/common/rpc.py
Due: fmt, clippy

feat(types): Make `CertificateReference` standalone
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/types/schema/local_device/device_file_smartcard.json5
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/src/pki.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
Due: fmt, clippy

refactor: update pki_enrollment_reject following RFC 1020
  docs/rfcs/1020-pki-support.md
  libparsec/crates/protocol/schema/authenticated_cmds/pki_enrollment_reject.json5
Due: none

refactor(pki): Cert ref always have an hash
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_pki/examples/decode_cert_subject.rs
  libparsec/crates/platform_pki/examples/decrypt_message.rs
  libparsec/crates/platform_pki/examples/encrypt_message.rs
  libparsec/crates/platform_pki/examples/get_certificate_der.rs
  libparsec/crates/platform_pki/examples/sign_message.rs
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki/examples/verify_message.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/src/pki.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
Due: fmt, clippy

refactor: update pki_enrollment_info following RFC 1020
  docs/rfcs/1020-pki-support.md
  libparsec/crates/protocol/schema/anonymous_cmds/pki_enrollment_info.json5
Due: none

fixup! refactor(pki): Cert ref always have an hash
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_pki/examples/decrypt_message.rs
  libparsec/crates/platform_pki/examples/encrypt_message.rs
  libparsec/crates/platform_pki/examples/get_certificate_der.rs
  libparsec/crates/platform_pki/examples/sign_message.rs
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/types/src/pki.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
Due: fmt, clippy

Implement pki_enrollment_submit cmd following rfc 1020.
  libparsec/crates/protocol/schema/anonymous_cmds/pki_enrollment_submit.json5
  libparsec/crates/protocol/tests/anonymous_cmds/v5/pki_enrollment_submit.rs
  server/parsec/_parsec_pyi/protocol/anonymous_cmds/v5/pki_enrollment_submit.pyi
  server/parsec/components/pki.py
  server/tests/common/rpc.py
Due: fmt, clippy

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
