Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

Remove unneeded serialize support for `AvailableDevice` & `DeviceFileType`
  libparsec/crates/types/src/local_device_file.rs
Due: fmt, clippy

Bump h11 dependency to resolve security issue
  server/poetry.lock
Due: none

Bump version 3.3.3-rc.1+dev -> 3.3.3
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.3.3 -> 3.3.4-a.0+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Use test fixture xfail_if_postgresql
  server/tests/api_v5/authenticated/test_realm_rotate_key.py
  server/tests/api_v5/authenticated/test_vlob_create.py
  server/tests/api_v5/authenticated/test_vlob_update.py
Due: none

Fix instructions for server development
  docs/development/README.md
  server/README.md
Due: none

[MS] Fix electron opening with testbed server offline
  client/electron/src/communicationChannels.ts
  client/electron/src/index.ts
  client/electron/src/preload.ts
  client/electron/src/setup.ts
  client/src/main.ts
Due: eslint, vue-tsc, prettier

Fix typo in `client/src/plugins/libparsec/index.ts`
  client/src/plugins/libparsec/index.ts
Due: eslint, vue-tsc, prettier

[MS] Changes needed to use libparsec as a SharedWorker
  client/src/main.ts
  client/src/parsec/claim_device.ts
  client/src/parsec/claim_user.ts
  client/src/parsec/login.ts
  client/src/parsec/organization.ts
  client/src/plugins/libparsec/web_shared_worker.ts
  client/src/views/home/HomePage.vue
  client/src/views/layouts/ConnectedLayout.vue
  client/src/views/layouts/DevLayout.vue
  client/src/views/testing/TestPage.vue
Due: eslint, vue-tsc, prettier

Add support for SharedWorker on web
  .cspell/custom-words.txt
  bindings/generator/api/__init__.py
  bindings/generator/api/client.py
  bindings/generator/api/invite.py
  cli/src/commands/organization/bootstrap.rs
  client/src/plugins/libparsec/trampoline-web.ts
  client/src/plugins/libparsec/web_shared_worker.ts
  libparsec/src/client.rs
  libparsec/src/events.rs
  libparsec/src/invite.rs
  libparsec/src/lib.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

Add `list_started_clients` and add `is_server_online/is_organization_expired/must_accept_tos` to `client_info`
  bindings/generator/api/client.py
  libparsec/src/client.rs
Due: fmt, clippy

Add to `libparsec_client::Client::is_server_online()|is_organization_expired()|must_accept_tos()`
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/event_bus.rs
  libparsec/crates/client/tests/unit/event_bus.rs
Due: fmt, clippy

Add `ClientEvent::ClientStarted|ClientStopped` events to `libparsec`
  bindings/generator/api/events.py
  libparsec/src/client.rs
  libparsec/src/events.rs
Due: fmt, clippy

[MS] Retrieve started clients list from libparsec
  client/src/components/organizations/OrganizationCard.vue
  client/src/components/organizations/OrganizationSwitchPopover.vue
  client/src/main.ts
  client/src/parsec/login.ts
  client/src/router/navigation.ts
  client/src/views/header/ProfileHeader.vue
  client/src/views/home/HomePage.vue
  client/src/views/home/OrganizationListPage.vue
  client/src/views/layouts/ConnectedLayout.vue
  client/src/views/menu/DesktopMenu.vue
Due: eslint, vue-tsc, prettier

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] Handle ClientStarted & ClientStopped events
  client/src/components/organizations/OrganizationCard.vue
  client/src/main.ts
  client/src/services/eventDistributor.ts
  client/src/views/home/HomePage.vue
  client/src/views/home/OrganizationListPage.vue
Due: eslint, vue-tsc, prettier

Removed second definition of injectionProvider in main.ts
  client/src/main.ts
Due: eslint, vue-tsc, prettier

Fix server SPA direction returning unexpected content instead of proper 404 for not found assets
  server/parsec/asgi/__init__.py
Due: none

Fix wasm packaging in release when used from a web worker
  client/scripts/vite_plugin_wasm_pack.ts
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

Commented multiple profile update test
  client/tests/e2e/specs/users_list.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Added responsive on Join organization modal process
  client/package-lock.json
  client/package.json
  client/src/components/header/InvitationsButton.vue
  client/src/components/header/SmallDisplayStepModalHeader.vue
  client/src/components/sas-code/SasCodeChoice.vue
  client/src/components/users/InvitationsListModal.vue
  client/src/components/workspaces/utils.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_modals.scss
  client/src/views/files/FoldersPage.vue
  client/src/views/home/HomePage.vue
  client/src/views/home/UserJoinOrganizationModal.vue
  client/src/views/users/GreetUserModal.vue
  client/src/views/users/UsersPage.vue
  client/src/views/workspaces/WorkspaceSharingModal.vue
  client/src/views/workspaces/WorkspacesPage.vue
  client/tests/e2e/specs/device_greet.spec.ts
  client/tests/e2e/specs/invitations_popover.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Added invitation modal
  client/src/components/header/InvitationsButton.vue
  client/src/components/users/InvitationPopoverItem.vue
  client/src/components/users/InvitationsListPopover.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_modals.scss
  client/tests/e2e/specs/invitations_popover.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Fixed playwright page init/release
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/greet.ts
  client/tests/e2e/helpers/types.ts
  client/tests/e2e/specs/users_list.spec.ts
Due: eslint, vue-tsc, prettier

Add account_send_email_validation_token route.
  docs/rfcs/1013-parsec-account.md
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_send_email_vaidation_token.json5
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_send_email_validation_token.rs
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/ping.rs
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/types/src/token.rs
  libparsec/crates/types/tests/unit/token.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/ids.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/account_send_email_validation_token.pyi
  server/parsec/api.py
  server/parsec/backend.py
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/postgresql/account.py
  server/src/lib.rs
  server/src/token.rs
  server/tests/api_v5/anonymous_account/__init__.py
  server/tests/api_v5/anonymous_account/test_account_send_email_validation.py
  server/tests/api_v5/anonymous_account/test_ping.py
  server/tests/api_v5/authenticated_account/test_ping.py
  server/tests/common/rpc.py
  server/tests/conftest.py
Due: fmt, clippy
