Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

.pre-commit-config.yaml:

exclude: ^misc/bench.py$
repos:
  ##############
  # Common stuff

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3 # Use the ref you want to point at
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: local
    hooks:
      # - id: releaser
      #   name: releaser
      #   entry: python ./misc/releaser.py check
      #   language: python
      #   language_version: python3
      #   pass_filenames: false
      #   require_serial: true
      - id: license_headers
        name: license_headers
        entry: python ./misc/license_headers.py add
        language: python
        language_version: python3
        # see: https://github.com/pre-commit/identify/blob/master/identify/extensions.py
        types_or: [ python, sql, rust, vue, ts, tsx, javascript, jsx ]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint

  ########
  # Python

  - repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
      - id: black
        additional_dependencies: [ click==8.0.4 ]
        args:
          [
            --line-length=100,
            --exclude=parsec/core/gui/_resources_rc.py,
            --exclude=parsec/core/gui/ui/,
          ]
        language_version: python3

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910  # Latest version compatible with `trio_typing==0.5.0`
    hooks:
      - id: mypy
        language_version: python3.9
        additional_dependencies:
          - trio_typing[mypy]~=0.5  # `qtrio` requires `trio_typing~=0.5` for the moment
          - pendulum~=2.1
          - mypy-extensions~=0.4
          - typing-extensions~=3.10
          - Quart~=0.17
          - quart-trio~=0.9
          - PyQt5_stubs~=5.15
        # Mypy will complain if it find two files with the same name which
        # are not part of a package (typically occurs for packaging script helpers)
        files: ^(parsec|tests)/

  ######
  # Rust

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: clippy
        args:
          [
            --workspace,
            --tests,
            --bins,
            --lib,
            --,
            --deny=warnings,
            --deny=clippy::self_named_module_files,
          ]

  ####
  # Js

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: ""
        entry: eslint
        language: node
        files: ^oxidation/client/
        # see: https://github.com/pre-commit/identify/blob/master/identify/extensions.py
        types_or: [ vue, ts, tsx, javascript, jsx ]
        args: [ --config=oxidation/client/.eslintrc.js ]
        # Deps should be kept updated with `oxidation/client/package-lock.json` !
        additional_dependencies:
          - eslint@8.10.0
          - eslint-plugin-cypress@2.12.1
          - eslint-plugin-vue@8.5.0
          - "@typescript-eslint/eslint-plugin@5.14.0"
          - "@typescript-eslint/parser@5.14.0"
          - "@vue/cli-plugin-eslint@5.0.1"
          - "@vue/eslint-config-typescript@9.1.0"
          - "@intlify/eslint-plugin-vue-i18n@1.4.0"

Updated min macfuse version to 4.4.0
  newsfragments/2741.empty.rst
  parsec/core/gui/instance_widget.py
Due: license_headers

Add RealmRoleCertificate binding
  oxidation/libparsec/crates/types/schema/certif/realm_role_certificate.json
  oxidation/libparsec/crates/types/src/certif.rs
  oxidation/libparsec_python/libparsec/types.py
  oxidation/libparsec_python/src/certif.rs
  oxidation/libparsec_python/src/lib.rs
  parsec/api/data/certif.py
  tests/rust/test_certif.py
Due: license_headers

Improve win32 packaging with make_installer.py to sign parsec.exe within the installer
  packaging/win32/README.md
  packaging/win32/freeze_program.py
  packaging/win32/installer.nsi
  packaging/win32/make_installer.py
Due: license_headers

Modify Windows CI (azure & gh actions) windows packaging to ship installer content
  .azure-pipelines.yml
  .github/workflows/package-windows.yml
Due: none

Temporary force enable s2_windows_installer_content_build job in azure CI
  .azure-pipelines.yml
Due: none

Move packaging/win32 -> packaging/windows
  .azure-pipelines.yml
  .github/workflows/package-windows.yml
  packaging/windows/README.md
  packaging/windows/freeze_program.py
  packaging/windows/icon.ico
  packaging/windows/installer-side.bmp
  packaging/windows/installer-top.bmp
  packaging/windows/installer.nsi
  packaging/windows/launch_script.py
  packaging/windows/make_installer.py
  packaging/windows/pyinstaller.spec
Due: license_headers

Add newsFragment
  newsfragments/2754.empty.rst
Due: none

Test the snap package before uploading it
  .github/workflows/package-linux.yml
Due: none

Correct artifact generate in CI for windows packaging
  .azure-pipelines.yml
  .github/workflows/package-windows.yml
Due: none

Add newsfragment for #2757
  newsfragments/2757.empty.rst
Due: none

Revert "Temporary force enable s2_windows_installer_content_build job in azure CI"
  .azure-pipelines.yml
Due: none

Bump version v2.11.0 -> v2.11.0+dev
  licenses/BSL-Scille.txt
  parsec/_version.py
  pyproject.toml
Due: license_headers

Bump version v2.11.0-rc4+dev -> v2.11.0
  HISTORY.rst
  licenses/BSL-Scille.txt
  newsfragments/2757.empty.rst
  parsec/_version.py
  pyproject.toml
Due: license_headers

Fix glob in packaging/windows/make_installer.py
  packaging/windows/make_installer.py
Due: license_headers

Correct licenses naming to use SPDX format
  LICENSE
  licenses/BUSL-Scille.txt
  misc/license_headers.py
  misc/releaser.py
Due: license_headers

Remove year check in misc/license_headers.py, now using `2016-present` format instead
  misc/license_headers.py
Due: license_headers

Rework misc/license_headers.py
  misc/license_headers.py
Due: license_headers

Add newsfragment for #2596
  newsfragments/2596.empty.rst
Due: none

update black version to `22.6.0`
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

correct mypy warning
  parsec/api/data/base.py
  parsec/api/protocol/base.py
  parsec/backend/asgi/administration.py
Due: license_headers

ignore arg-type
  parsec/backend/asgi/administration.py
Due: license_headers

Added modals to create / join an organization
  oxidation/client/src/components/AlertConfirmation.ts
  oxidation/client/src/components/CreateOrganisationModal.vue
  oxidation/client/src/components/JoinByLinkModal.vue
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/theme/variables.css
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

Add LocalDevice schema
  oxidation/libparsec/crates/client_types/schema/local_device.json
  oxidation/libparsec/crates/client_types/src/local_device.rs
  oxidation/libparsec/crates/serialization_format/src/parser/data.rs
  oxidation/libparsec/crates/serialization_format/src/parser/utils.rs
Due: license_headers

Add newsFragment
  newsfragments/2769.empty.rst
Due: none

update quickstart
  docs/development/quickstart.rst
Due: none

Rework matrix test python with/without rust
  .github/workflows/linux-ci.yml
Due: none

create dummy rust package for maturin
  Cargo.lock
  Cargo.toml
  src/lib.rs
Due: license_headers

correct import for `utils`
  parsec/__init__.py
Due: license_headers

ignore wheel file
  .gitignore
Due: none

split gui tests into sub test
  .github/workflows/linux-ci.yml
Due: none

add news fragment
  newsfragments/2489.empty.rst
Due: none

add maturin as build backend
  poetry.lock
  pyproject.toml
Due: none

configure packaging-ci to each platform
  .github/workflows/package-linux.yml
  .github/workflows/package-macos.yml
  .github/workflows/package-windows.yml
Due: none

wheel it now run `maturin`
  packaging/wheel/wheel_it.py
Due: license_headers

config bash option
  .github/workflows/linux-ci.yml
Due: none

remove spacing
  .github/workflows/windows-ci.yml
Due: none

configure mac CI to run python with rust
  .github/workflows/macos-ci.yml
Due: none

configure windows-ci to use `maturin`
  .github/workflows/windows-ci.yml
Due: none
