Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

.pre-commit-config.yaml:

exclude: ^misc/bench.py$
repos:
  ##############
  # Common stuff

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3 # Use the ref you want to point at
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: local
    hooks:
      # - id: releaser
      #   name: releaser
      #   entry: python ./misc/releaser.py check
      #   language: python
      #   language_version: python3
      #   pass_filenames: false
      #   require_serial: true
      - id: license_headers
        name: license_headers
        entry: python ./misc/license_headers.py add
        language: python
        language_version: python3
        # see: https://github.com/pre-commit/identify/blob/master/identify/extensions.py
        types_or: [ python, sql, rust, vue, ts, tsx, javascript, jsx ]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint

  ########
  # Python

  - repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
      - id: black
        additional_dependencies: [ click==8.0.4 ]
        args:
          [
            --line-length=100,
            --exclude=parsec/core/gui/_resources_rc.py,
            --exclude=parsec/core/gui/ui/,
          ]
        language_version: python3

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910  # Latest version compatible with `trio_typing==0.5.0`
    hooks:
      - id: mypy
        language_version: python3.9
        additional_dependencies:
          - trio_typing[mypy]~=0.5  # `qtrio` requires `trio_typing~=0.5` for the moment
          - pendulum~=2.1
          - mypy-extensions~=0.4
          - typing-extensions~=3.10
          - Quart~=0.17
          - quart-trio~=0.9
          - PyQt5_stubs~=5.15
        # Mypy will complain if it find two files with the same name which
        # are not part of a package (typically occurs for packaging script helpers)
        files: ^(parsec|tests)/

  ######
  # Rust

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: clippy
        args:
          [
            --workspace,
            --tests,
            --bins,
            --lib,
            --,
            --deny=warnings,
            --deny=clippy::self_named_module_files,
          ]

  ####
  # Js

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: ""
        entry: eslint
        language: node
        files: ^oxidation/client/
        # see: https://github.com/pre-commit/identify/blob/master/identify/extensions.py
        types_or: [ vue, ts, tsx, javascript, jsx ]
        args: [ --config=oxidation/client/.eslintrc.js ]
        # Deps should be kept updated with `oxidation/client/package-lock.json` !
        additional_dependencies:
          - eslint@8.10.0
          - eslint-plugin-cypress@2.12.1
          - eslint-plugin-vue@8.5.0
          - "@typescript-eslint/eslint-plugin@5.14.0"
          - "@typescript-eslint/parser@5.14.0"
          - "@vue/cli-plugin-eslint@5.0.1"
          - "@vue/eslint-config-typescript@9.1.0"
          - "@intlify/eslint-plugin-vue-i18n@1.4.0"

rename param `src_dir`
  packaging/win32/freeze_program.py
Due: license_headers

rework display of debug message
  packaging/win32/freeze_program.py
Due: license_headers

use same executable
  packaging/win32/freeze_program.py
Due: license_headers

add news fragment
  newsfragments/2704.empty.rst
Due: none

Feat/2704 normalize freeze program and pyinstallerspec between macos and windows (#2713)
  newsfragments/2704.empty.rst
  packaging/win32/freeze_program.py
  packaging/win32/pyinstaller.spec
Due: license_headers

Fix alice workspace storage fixture teardown
  Cargo.lock
  oxidation/libparsec/crates/core_fs/src/conftest.rs
  oxidation/libparsec/crates/core_fs/src/storage/workspace_storage.rs
  oxidation/libparsec/crates/tests_fixtures/Cargo.toml
  oxidation/libparsec/crates/tests_fixtures/src/lib.rs
Due: license_headers

Add newsFragment
  newsfragments/2711.empty.rst
Due: none

add ci for macos
  .github/workflows/macos-ci.yml
Due: none

add news fragment
  newsfragments/2644.empty.rst
Due: none

config `rustflags` for macos ci
  .github/workflows/macos-ci.yml
Due: none

add news fragment
  newsfragments/2507.empty.rst
Due: none

Silence unexpected asyncio error log in tests (most likely due to a bug in hypercorn)
  tests/conftest.py
Due: license_headers

add `AuthenticatedCmdsFactory`
  oxidation/libparsec/crates/client_connection/src/authenticated_cmds.rs
Due: license_headers

Update comment
  oxidation/libparsec/crates/core_fs/src/conftest.rs
Due: license_headers

Link sqlite
  Cargo.lock
  oxidation/libparsec/crates/core_fs/Cargo.toml
Due: none

add ci for macos (#2647)
  .github/workflows/macos-ci.yml
  newsfragments/2644.empty.rst
Due: none

add news fragment
  newsfragments/2650.empty.rst
Due: none

add workflow to build & test rust code on windows
  .github/workflows/windows-ci.yml
Due: none

Add optional now param to BaseSequesterComponent.create_service
  parsec/backend/memory/sequester.py
  parsec/backend/postgresql/sequester.py
  parsec/backend/sequester.py
Due: license_headers

Add fixtures_customization adam_is_revoked
  tests/common/backend.py
  tests/common/fixtures_customisation.py
Due: license_headers

Fix timestamp format and remove size field in sequester export database format
  parsec/backend/postgresql/sequester_export.py
Due: license_headers

Improve tests/backend/sequester/test_export.py
  tests/backend/sequester/test_export.py
Due: license_headers

Fix blob types in sequester export db format and add checks on input db
  parsec/backend/postgresql/sequester_export.py
Due: license_headers

[GUI] Hide reencryption button when role is changed
  newsfragments/2699.bugfix.rst
  parsec/core/gui/workspace_button.py
  parsec/core/gui/workspaces_widget.py
  tests/core/gui/test_workspaces_reencrypt.py
Due: license_headers

Add backend CLI extract_realm_export
  parsec/backend/cli/__init__.py
  parsec/backend/cli/sequester.py
  parsec/sequester_export_reader.py
Due: license_headers

Add tests/backend/sequester/test_export.py::test_export_reader_full_run
  tests/backend/sequester/test_export.py
Due: license_headers

Feat/2650 migrate windows ci test build rust code (#2651)
  .github/workflows/windows-ci.yml
  newsfragments/2650.empty.rst
Due: none

Increase CI timeout for linux mountpoint tests to 10mn
  .github/workflows/linux-ci.yml
Due: none

Added create/join organization options
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

Bump version v2.11.0-rc2+dev -> v2.11.0-rc3
  HISTORY.rst
  licenses/BSL-Scille.txt
  newsfragments/2710.empty.rst
  parsec/_version.py
  pyproject.toml
Due: license_headers

Bump version v2.11.0-rc3 -> v2.11.0-rc3+dev
  licenses/BSL-Scille.txt
  parsec/_version.py
  pyproject.toml
Due: license_headers

Bump version v2.11.0-rc3+dev -> v2.11.0-rc4
  HISTORY.rst
  licenses/BSL-Scille.txt
  newsfragments/2644.empty.rst
  newsfragments/2650.empty.rst
  newsfragments/2662.empty.rst
  newsfragments/2663.empty.rst
  newsfragments/2694.bugfix.rst
  newsfragments/2702.empty.rst
  newsfragments/2704.empty.rst
  newsfragments/2706.empty.rst
  newsfragments/2708.feature.rst
  newsfragments/2711.empty.rst
  parsec/_version.py
  pyproject.toml
Due: license_headers

Bump version v2.11.0-rc4 -> v2.11.0-rc4+dev
  licenses/BSL-Scille.txt
  parsec/_version.py
  pyproject.toml
Due: license_headers

Disable azure pipeline for push and PR
  .azure-pipelines.yml
Due: none

Update pin comment
  .github/workflows/quality-assurance.yml
Due: none

Apply suggestions from code review
  .github/workflows/linux-ci.yml
  .github/workflows/macos-ci.yml
  .github/workflows/package-linux.yml
  .github/workflows/package-macos.yml
  .github/workflows/package-windows.yml
  .github/workflows/quality-assurance.yml
  .github/workflows/windows-ci.yml
Due: none

Add package-linux-release-pypi step in package-linux workflow
  .github/workflows/package-linux.yml
Due: none

Add package-linux-release-snap step in package-linux workflow
  .github/workflows/package-linux.yml
Due: none
