Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

[MS] Force GUI refresh when searching for files
  client/src/views/files/FoldersPage.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

[MS] Reworked how downloads works
  client/eslint.config.ts
  client/public/streaming-worker.js
  client/public/vendor/zip-native.min.js
  client/src/assets/images/zip-folder.svg
  client/src/components/small-display/SmallDisplayFileContextMenu.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/contextMenu/fileActions.ts
  client/src/services/contextMenu/fileContextMenu.ts
  client/src/services/contextMenu/types.ts
  client/src/services/download.ts
  client/src/services/viewers.ts
  client/src/views/files/FileContextMenu.vue
  client/src/views/files/FoldersPage.vue
  client/src/views/files/handler/FileHandler.vue
  client/src/views/files/utils.ts
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/download_file.spec.ts
  client/tests/e2e/specs/editics_enable.spec.ts
  client/tests/e2e/specs/file_details.spec.ts
  client/tests/e2e/specs/file_viewers.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Ping the local service running on localhost for SCWS
  client/src/services/permissions.ts
Due: eslint, vue-tsc, prettier

[MS] Pin vue-router to 4.6.4
  client/knip.config.ts
  client/package-lock.json
  client/package.json
Due: eslint, vue-tsc, prettier

[MS] Rework streaming worker
  .cspell/custom-words.txt
  client/public/streaming-worker.js
  client/src/services/viewers.ts
Due: eslint, vue-tsc, prettier

[MS] Completely remove the download feature
  client/package-lock.json
  client/package.json
  client/src/assets/images/download-archive.svg
  client/src/assets/images/download-file.svg
  client/src/components/files/index.ts
  client/src/components/files/operations/FileOperationBase.vue
  client/src/components/files/operations/FileOperationDownloadArchive.vue
  client/src/components/files/operations/FileOperationDownloadFiles.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/fileOperation/manager.ts
  client/src/services/fileOperation/operationData.ts
  client/src/services/fileOperation/operations.ts
  client/src/views/files/FileOperationMenu.vue
  client/src/views/files/utils.ts
  client/tests/e2e/helpers/fixtures.ts
Due: eslint, vue-tsc, prettier

[MS] Added zip.js as a vendor lib
  .cspell/cspell.config.yml
  client/.prettierignore
  client/eslint.config.ts
  client/knip.config.ts
  client/public/vendor/zip-native.min.js
  misc/license_headers.py
Due: eslint, vue-tsc, prettier

Update package-lock to include monaco + prettier
  client/package-lock.json
  client/src/services/viewers.ts
Due: eslint, vue-tsc, prettier

[MS] Fixes workspace name & icon in sharing modal and icon in breadcrumb
  client/src/components/header/HeaderBreadcrumbPopover.vue
  client/src/views/workspaces/WorkspaceSharingModal.vue
Due: eslint, vue-tsc, prettier

Added missing 3.10.0 newsfragments v2
  newsfragments/12409.feature.rst
  newsfragments/12782.bugfix.rst
  newsfragments/12831.bugfix.rst
  newsfragments/12834.misc.rst
  newsfragments/12851.doc.rst
  newsfragments/12852.doc.rst
  newsfragments/12861.doc.rst
  newsfragments/12864.doc.rst
  newsfragments/12869.doc.rst
  newsfragments/12874.doc.rst
  newsfragments/12888.misc.rst
  newsfragments/12891.doc.rst
  newsfragments/12892.feature.rst
  newsfragments/12893.bugfix.rst
  newsfragments/12898.doc.rst
  newsfragments/12913.feature.rst
  newsfragments/12917.doc.rst
  newsfragments/12923.misc.rst
  newsfragments/12944.misc.rst
  newsfragments/12951.bugfix.rst
  newsfragments/13001.doc.rst
  newsfragments/13004.feature.rst
  newsfragments/13010.feature.rst
  newsfragments/13011.misc.rst
  newsfragments/13018.feature.rst
  newsfragments/13040.bugfix.rst
  newsfragments/13049.doc.rst
  newsfragments/13079.doc.rst
  newsfragments/13157.misc.rst
  newsfragments/13205.bugfix.rst
  newsfragments/9675.misc.rst
Due: none

[MS] Hide Hidden workspace category button when no workspace is hidden
  client/src/components/workspaces/WorkspaceCategoriesMenu.vue
  client/src/views/workspaces/WorkspacesPage.vue
  client/tests/e2e/specs/workspaces_list.spec.ts
Due: eslint, vue-tsc, prettier

Update newsfragments/13432.feature.rst
  newsfragments/13432.feature.rst
Due: none

[MS] Fix certificate selection when an error is displayed
  client/src/theme/components/_modals.scss
Due: none

[MS] Make queries to localhost for SCWS permissions parallel
  client/src/services/permissions.ts
Due: eslint, vue-tsc, prettier

[MS] Reworded Starred -> Favorite for workspaces
  client/src/locales/en-US.json
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/workspaces_actions.spec.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
  newsfragments/13429.misc.rst
Due: eslint, vue-tsc, prettier

[MS] Request access to loopback address if SCWS is configured
  client/src/parsec/async_enrollment.ts
  client/src/services/permissions.ts
  newsfragments/13432.feature.rst
Due: eslint, vue-tsc, prettier

[MS] Use the correct protocol to try and fetch on localhost
  client/src/services/permissions.ts
Due: eslint, vue-tsc, prettier

[MS] Fix create org modals in small display on webapp
  client/src/theme/components/_modals.scss
  client/src/views/organizations/creation/OrganizationSummaryPage.vue
Due: eslint, vue-tsc, prettier

Added breaks in switch/case in electron updater
  client/electron/src/updater.ts
Due: eslint, vue-tsc, prettier

ci(linux): Bump ubuntu version to 24.04
  .github/actions/system-info/action.yml
  .github/workflows/_parse_version.yml
  .github/workflows/_releaser_nightly_build.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci.yml
  .github/workflows/cspell.yml
  .github/workflows/docker-server.yml
  .github/workflows/docker-testbed.yml
  .github/workflows/package-desktop.yml
  .github/workflows/package-server.yml
  .github/workflows/package-webapp.yml
  .github/workflows/releaser.yml
Due: none

ci(pkg-desktop): Increase timeout to upload sourcemaps to sentry
  .github/workflows/package-desktop.yml
Due: none

Document PARSEC_APP_TESTBED_SERVER & TESTBED_SERVER environ variables in client/README.md
  client/README.md
Due: none

Add domain routing in editics for web release
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

refactor(server): Use click progress bar when applying migrations
  server/parsec/cli/migration.py
  server/parsec/cli/utils.py
Due: none

refactor(server): Rm DeviceID pydantic annotations
  server/parsec/events.py
  server/parsec/types.py
  server/tests/test_types.py
Due: none

refactor(server): Rm `SequesterServiceID` pydantic annotations
  server/parsec/asgi/administration.py
  server/parsec/types.py
  server/tests/test_types.py
Due: none

refactor(server): Rm `InvitationTokenField` pydantic annotations
  server/parsec/events.py
  server/parsec/types.py
  server/src/ids.rs
  server/tests/test_types.py
Due: fmt, clippy

refactor(server): Rm `GreetingAttemptID` pydantic annotations
  server/parsec/events.py
  server/parsec/types.py
  server/tests/test_types.py
Due: none

refactor(server): Rm `VlobID` pydantic annotations
  server/parsec/events.py
  server/parsec/types.py
  server/tests/test_types.py
Due: none

refactor(postgresql): Add delete constraints to device
  server/parsec/components/postgresql/migrations/0037_device_delete_constraints.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/tests/postgres_wipe/test_device_wipe.py
Due: sqlfluff

Refactor script to check for missing & unused translations
  client/scripts/check_unused_translations.py
Due: none

Fix missing translation keys
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: none
