Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

[MS] Add newsfragment for show/hide workspace feature
  newsfragments/6969.feature.rst
Due: none

[MS] Update workspace context menu to hide/unhide "Mount" and "Unmount" based on workspace hidden state (#11686)
  client/src/components/workspaces/WorkspaceCard.vue
  client/src/components/workspaces/WorkspaceListItem.vue
  client/src/components/workspaces/utils.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/workspace.ts
  client/src/views/workspaces/SmallDisplayWorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspacesPage.vue
  client/src/views/workspaces/types.ts
  client/tests/component/specs/testWorkspaceCard.spec.ts
  client/tests/component/specs/testWorkspaceListItem.spec.ts
  client/tests/e2e/specs/workspaces_actions.spec.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Update workspace context menu to hide/unhide "Mount" and "Unmount" based on workspace hidden state (#11686)
  client/src/components/workspaces/WorkspaceCard.vue
  client/src/components/workspaces/WorkspaceListItem.vue
Due: eslint, vue-tsc, prettier

[MS] Show modal to confirm hiding workspace and unmount it
  client/src/components/workspaces/WorkspaceCard.vue
  client/src/components/workspaces/utils.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/storageManager.ts
  client/src/views/files/FoldersPage.vue
  client/src/views/workspaces/WorkspaceHiddenModal.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

[MS] Add workspace categories menu component for filtering workspaces
  client/src/components/workspaces/WorkspaceCategoriesMenu.vue
  client/src/components/workspaces/WorkspaceListItem.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_filters.scss
  client/src/theme/global.scss
  client/src/views/workspaces/WorkspacesPage.vue
  client/src/views/workspaces/types.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Show modal to confirm hiding workspace and unmount it
  client/src/components/sidebar/SidebarWorkspaceItem.vue
  client/src/components/workspaces/WorkspaceCard.vue
  client/src/components/workspaces/utils.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/workspace.ts
  client/src/services/eventDistributor.ts
  client/src/services/storageManager.ts
  client/src/views/files/FoldersPage.vue
  client/src/views/menu/MainMenu.vue
  client/src/views/workspaces/WorkspaceHiddenModal.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

[MS] Workspace categorie menu and sidebar
  client/index.html
  client/src/assets/images/no-all-workspaces.svg
  client/src/assets/images/no-favorite-workspaces.svg
  client/src/assets/images/no-recent-workspaces.svg
  client/src/components/sidebar/SidebarMenuList.vue
  client/src/components/sidebar/SidebarWorkspaceItem.vue
  client/src/components/workspaces/WorkspaceCategoriesMenu.vue
  client/src/components/workspaces/WorkspaceListItem.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/workspaceMenuState.ts
  client/src/theme/components/_filters.scss
  client/src/theme/global.scss
  client/src/views/menu/MainMenu.vue
  client/src/views/workspaces/WorkspacesPage.vue
  client/src/views/workspaces/types.ts
  client/tests/e2e/specs/sidebar.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
  client/tests/e2e/specs/workspaces_actions.spec.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
  newsfragments/11993.feature.rst
Due: eslint, vue-tsc, prettier

[MS] Client Area Style Miscellaneous
  client/src/components/client-area/invoices/InvoicesList.vue
  client/src/components/client-area/invoices/InvoicesListItem.vue
  client/src/components/client-area/invoices/YearInvoicesListItem.vue
  client/src/theme/global-client.scss
  client/src/views/client-area/ClientAreaHeader.vue
  client/src/views/client-area/ClientAreaPage.vue
  client/src/views/client-area/ClientAreaSidebar.vue
  client/src/views/client-area/billing-details/BillingDetailsPage.vue
  client/src/views/client-area/contracts/ContractsPage.vue
  client/src/views/client-area/dashboard/DashboardPage.vue
  client/src/views/client-area/payment-methods/PaymentMethodsPage.vue
  client/src/views/client-area/personal-data/PersonalDataPage.vue
  client/src/views/client-area/statistics/CustomOrderStatisticsPage.vue
  client/src/views/client-area/statistics/StatisticsPage.vue
  client/src/views/menu/utils.ts
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/client_area_custom_order.spec.ts
  client/tests/e2e/specs/client_area_custom_order_contract.spec.ts
  client/tests/e2e/specs/client_area_custom_order_orders.spec.ts
  client/tests/e2e/specs/client_area_custom_order_statistics.spec.ts
  client/tests/e2e/specs/client_area_dashboard.spec.ts
  client/tests/e2e/specs/client_area_login.spec.ts
  client/tests/e2e/specs/client_area_personal_page.spec.ts
Due: eslint, vue-tsc, prettier

Update
  client/src/views/client-area/dashboard/DashboardPage.vue
Due: eslint, vue-tsc, prettier

Update
  client/src/views/client-area/billing-details/BillingDetailsPage.vue
  client/tests/e2e/specs/client_area_billing_details.spec.ts
Due: eslint, vue-tsc, prettier

Update
  client/src/views/client-area/dashboard/DashboardPage.vue
  client/src/views/client-area/statistics/StatisticsPage.vue
  client/tests/e2e/specs/client_area_custom_order_contract.spec.ts
Due: eslint, vue-tsc, prettier

refactor(pki): Init logger on PKI examples
  libparsec/crates/platform_pki/examples/decode_cert_subject.rs
  libparsec/crates/platform_pki/examples/decrypt_message.rs
  libparsec/crates/platform_pki/examples/encrypt_message.rs
  libparsec/crates/platform_pki/examples/get_certificate_der.rs
  libparsec/crates/platform_pki/examples/list_certificate.rs
  libparsec/crates/platform_pki/examples/sign_message.rs
  libparsec/crates/platform_pki/examples/verify_certificate.rs
  libparsec/crates/platform_pki/examples/verify_message.rs
Due: fmt, clippy

refactor(pki): Add `Base64Parser` for clap arg that are base64 encoded
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki/examples/verify_message.rs
Due: fmt, clippy

feat(pki): Use windows API to get certificate by ID
  Cargo.lock
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/common.py
  bindings/generator/templates/binding_electron_meths.rs.j2
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/examples/get_certificate_der.rs
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki/src/windows/find_in_store.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/platform_pki/src/windows/schannel_utils.rs
  libparsec/crates/types/src/pki/cert_ref.rs
  libparsec/crates/types/tests/unit/async_enrollment.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
  libparsec/crates/types/tests/unit/pki.rs
Due: toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Create platform_filesystem crate.
  Cargo.lock
  Cargo.toml
  libparsec/crates/platform_filesystem/Cargo.toml
  libparsec/crates/platform_filesystem/src/lib.rs
  libparsec/crates/platform_filesystem/src/native/list.rs
  libparsec/crates/platform_filesystem/src/native/load.rs
  libparsec/crates/platform_filesystem/src/native/mod.rs
  libparsec/crates/platform_filesystem/src/native/remove.rs
  libparsec/crates/platform_filesystem/src/native/rename.rs
  libparsec/crates/platform_filesystem/src/native/save.rs
  libparsec/crates/platform_filesystem/src/web/common/mod.rs
  libparsec/crates/platform_filesystem/src/web/list.rs
  libparsec/crates/platform_filesystem/src/web/load.rs
  libparsec/crates/platform_filesystem/src/web/mod.rs
  libparsec/crates/platform_filesystem/src/web/remove.rs
  libparsec/crates/platform_filesystem/src/web/rename.rs
  libparsec/crates/platform_filesystem/src/web/save.rs
  libparsec/crates/platform_filesystem/tests/units/mod.rs
Due: toml-fmt, fmt, clippy

[MS] Show modal hidden workspace (#11711)
  client/src/components/sidebar/SidebarWorkspaceItem.vue
  client/src/components/workspaces/WorkspaceCard.vue
  client/src/components/workspaces/WorkspaceListItem.vue
  client/src/components/workspaces/utils.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/workspace.ts
  client/src/services/eventDistributor.ts
  client/src/services/storageManager.ts
  client/src/views/files/FoldersPage.vue
  client/src/views/menu/MainMenu.vue
  client/src/views/workspaces/WorkspaceHiddenModal.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

[MS] Update workspace context menu to hide/unhide "Mount" and "Unmount" based on workspace hidden state (#11686)
  client/src/components/workspaces/WorkspaceCard.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/workspace.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Show modal to confirm hiding workspace and unmount it
  client/src/parsec/workspace.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
Due: eslint, vue-tsc, prettier

docs(rust): Allow `OpenSSL` & `CDLA-Permissive-2.0` license
  deny.toml
Due: toml-fmt

refactor(parsec-cli): Workspace import will return an error on non-file src
  cli/src/commands/workspace/import.rs
  cli/tests/integration/workspace/import.rs
Due: fmt, clippy

[MS] Hide copy PKI link option in fab menu on userspage
  client/src/views/menu/MainMenu.vue
  client/tests/e2e/specs/small_display_fab_menu.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Add switch to show/hide workspace in workspace list
  client/src/components/users/UserListItem.vue
  client/src/components/workspaces/WorkspaceCard.vue
  client/src/components/workspaces/WorkspaceCategoriesMenu.vue
  client/src/components/workspaces/WorkspaceListItem.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/header/HeaderPage.vue
  client/src/views/workspaces/WorkspacesPage.vue
  client/tests/e2e/specs/workspaces_list.spec.ts
  newsfragments/11865.feature.rst
Due: eslint, vue-tsc, prettier

[MS] Fix inconsistent test
  client/tests/e2e/specs/file_viewers.spec.ts
Due: eslint, vue-tsc, prettier

feat(parsec-cli): Support importing folder
  cli/src/commands/workspace/import.rs
  cli/tests/integration/workspace/import.rs
  libparsec/crates/types/src/fs_path.rs
  newsfragments/9161.feature.rst
Due: fmt, clippy

Move web wrapper to the new platform_filesystem crate without error_set.
  Cargo.lock
  libparsec/crates/platform_filesystem/Cargo.toml
  libparsec/crates/platform_filesystem/src/web/common/error.rs
  libparsec/crates/platform_filesystem/src/web/common/mod.rs
  libparsec/crates/platform_filesystem/src/web/common/wrapper.rs
Due: toml-fmt, fmt, clippy

Minor fixes in `libparsec_platform_device_loader`
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
Due: fmt, clippy

Document enrollment cancellation in RFC 1023
  docs/rfcs/1023-async-enrollment.md
Due: none
