Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Minor corrections in `server run --help` documentation
  server/parsec/cli/options.py
  server/parsec/cli/run.py
Due: none

Implement `libparsec_account::Account::recover_(send_validation_email|proceed)`
  libparsec/crates/account/src/account_recover.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/tests/unit/account_recover/mod.rs
  libparsec/crates/account/tests/unit/account_recover/recover.rs
  libparsec/crates/account/tests/unit/account_recover/send_validation_email.rs
Due: fmt, clippy

Minor correction in error message in `libparsec_account`'s account create/delete
  libparsec/crates/account/src/account_create.rs
  libparsec/crates/account/src/account_delete.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Expose `account_create_registration_device` in bindings
  bindings/generator/api/account.py
  libparsec/crates/account/src/lib.rs
  libparsec/src/account.rs
Due: fmt, clippy

Implement `libparsec_account::Account::create_registration_device`
  libparsec/crates/account/src/create_registration_device.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/tests/unit/create_registration_device.rs
Due: fmt, clippy

Add `AccountVaultItem::fingerprint`
  libparsec/crates/types/src/account.rs
  libparsec/crates/types/tests/unit/account.rs
Due: fmt, clippy

Implement `account_recover_(send_validation_email|proceed)` protocol schemas
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_recover_proceed.json5
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_recover_send_validation_email.json5
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_recover_proceed.rs
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_recover_send_validation_email.rs
Due: fmt, clippy

Update RFC1013 to add rate-limit support on `account_(create|delete|recover)_send_validation_email` commands
  docs/rfcs/1013-parsec-account.md
Due: none

Minor correction in error message in `client_start`&`libparsec_platform_device_loader` when device file cannot be loaded
  bindings/generator/api/client.py
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/src/client.rs
Due: fmt, clippy

Update RFC1013 to rename in `account_(create|reset)_proceed` command `hmac`->`mac`
  docs/rfcs/1013-parsec-account.md
Due: none

Minor factorisation in server test with `generate_different_validation_code`
  server/tests/api_v5/anonymous_account/test_account_create_proceed.py
  server/tests/api_v5/anonymous_account/test_account_recover_proceed.py
  server/tests/api_v5/authenticated_account/test_account_delete_proceed.py
  server/tests/common/data.py
Due: none

Server-side implementation of `account_recover_(send_validation_email|proceed)`
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/parsec/components/memory/datamodel.py
  server/parsec/templates/email/account_recover.html.j2
  server/parsec/templates/email/account_recover.txt.j2
  server/tests/api_v5/anonymous_account/__init__.py
  server/tests/api_v5/anonymous_account/test_account_recover_proceed.py
  server/tests/api_v5/anonymous_account/test_account_recover_send_validation_email.py
Due: none

Re-generate python bindings for `account_(create|delete|recover)_send_validation_email`
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/account_create_send_validation_email.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/account_recover_send_validation_email.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/account_delete_send_validation_email.pyi
Due: none

Add bindings for `account_recover_1_send_validation_email&account_recover_2_proceed`
  bindings/generator/api/account.py
  libparsec/src/account.rs
Due: fmt, clippy

Re-generate python bindings for `account_recover_(proceed|send_validation_email)`
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/account_recover_proceed.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/account_recover_send_validation_email.pyi
  server/tests/common/rpc.py
Due: none

Correct style in RFC1013 to display commands as the verbatim protocol schema
  docs/rfcs/1013-parsec-account.md
Due: none

Add `EmailRateLimit` in server
  server/parsec/email_rate_limit.py
  server/tests/email_rate_limit.py
Due: none

Rename device certificate purpose value `WebAuth` -> `Registration` according to RFC1015
  bindings/generator/api/client.py
  libparsec/crates/types/schema/certif/device_certificate.json5
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/tests/unit/certif.rs
  server/src/enumerate.rs
Due: fmt, clippy

Update RFC1013 to rename `account_recovery_*` -> `account_recover_*` (consistency with `account_(create|delete)`) and add missing fields
  docs/rfcs/1013-parsec-account.md
Due: none

Update protocol schema for `account_(create|delete|recover)_send_validation_email` to support rate limit
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_create_send_validation_email.json5
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_recover_send_validation_email.json5
  libparsec/crates/protocol/schema/authenticated_account_cmds/account_delete_send_validation_email.json5
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_create_send_validation_email.rs
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_recover_send_validation_email.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/account_delete_send_validation_email.rs
Due: fmt, clippy

Update libparsec to support rate limit in `account_(create|delete|recover)_send_validation_email`
  bindings/generator/api/account.py
  libparsec/crates/account/src/account_create.rs
  libparsec/crates/account/src/account_delete.rs
  libparsec/crates/account/src/account_recover.rs
  libparsec/crates/account/tests/unit/account_create/send_validation_email.rs
  libparsec/crates/account/tests/unit/account_delete/send_validation_email.rs
  libparsec/crates/account/tests/unit/account_recover/send_validation_email.rs
Due: fmt, clippy

Update server to support rate limit in `account_(create|delete|recover)_send_validation_email`
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/parsec/config.py
  server/tests/api_v5/anonymous_account/test_account_create_send_validation_email.py
  server/tests/api_v5/anonymous_account/test_account_recover_send_validation_email.py
  server/tests/api_v5/authenticated_account/test_account_delete_send_validation_email.py
  server/tests/common/backend.py
  server/tests/common/data.py
Due: none

Bump testbed server to 3.4.1-a.0.dev.20273.09443d8
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
