Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

Bump version 3.7.10-rc.2+dev -> 3.7.10-rc.2
  HISTORY.rst
Due: none

Bump version 3.7.10-rc.4+dev -> 3.7.10-rc.4
  HISTORY.rst
Due: none

Bump version 3.7.10-rc.6+dev -> 3.7.10
  HISTORY.rst
Due: none

Bump version 3.7.10-rc.5+dev -> 3.7.10-rc.5
  HISTORY.rst
Due: none

Bump version 3.7.10-rc.3+dev -> 3.7.10-rc.3
  HISTORY.rst
Due: none

refactor(sign-windows): Add support for hardened artifacts signature
  misc/sign_windows_release.py
Due: none

ci(releaser): Remove windows latest file in release
  .github/workflows/package-desktop.yml
Due: none

fix(sign-windows): Add `-Hardened` param to build & sign hardened build
  client/electron/scripts/sign-windows-package.ps1
  client/electron/sign-windows-package.cmd
  misc/sign_windows_release.py
Due: none

refactor(nginx): Update nginx example config for SSE
  docs/hosting/deployment/parsec-nginx.conf
Due: none

[CLI] Ask for password confirmation during organization bootstrap.
  cli/src/commands/organization/bootstrap.rs
  cli/tests/integration/organization/bootstrap.rs
  newsfragments/10019.bugfix.rst
Due: fmt, clippy

Bump version 3.7.10-rc.1+dev -> 3.7.10-rc.1
  HISTORY.rst
Due: none

refactor(deploy): Restart parsec server on failure
  docs/hosting/deployment/parsec-server.docker.yaml
Due: none

refactor(deploy): Set parsec server port in env file
  docs/hosting/deployment/parsec.env
Due: none

refactor(electron): Set feature flags in publish configuration (#12620)
  bindings/electron/scripts/build.js
  client/electron/assets/publishConfig.d.ts
  client/electron/package.js
  client/electron/src/envVariables.ts
  client/electron/src/features.ts
  client/electron/src/index.ts
  client/electron/src/setup.ts
  client/electron/src/updater.ts
Due: eslint, vue-tsc, prettier

CSPN app version (#12182)
  .github/workflows/package-desktop.yml
  .github/workflows/releaser.yml
  client/.env.alpha.hardened
  client/.env.production.hardened
  client/.env.release-candidate.hardened
  client/electron/package.js
  client/electron/package.json
  client/electron/src/envVariables.ts
  client/electron/src/updater.ts
  client/package.json
Due: eslint, vue-tsc, prettier

Bump version 3.7.2-a.0+dev -> 3.7.10-rc.0
  HISTORY.rst
Due: none

chore(cargo-deny): Bump to 0.19.0
  .github/workflows/ci-rust.yml
  misc/versions.toml
Due: toml-fmt

refactor(server): Show debug envvar in help message
  server/parsec/cli/options.py
Due: none

[CLI] Add workspace share_status command.
  cli/src/commands/workspace/list_users.rs
  cli/src/commands/workspace/mod.rs
  cli/tests/integration/mod.rs
  cli/tests/integration/workspace/list_users.rs
  cli/tests/integration/workspace/mod.rs
  newsfragments/9159.feature.rst
Due: fmt, clippy

docs: add section for client app deploy to Hosting Guide
  docs/hosting/client_deploy.rst
  docs/hosting/figures/client_deploy_devices.png
  docs/hosting/introduction.rst
  docs/index.rst
  docs/locale/fr/LC_MESSAGES/hosting/client_deploy.po
  docs/locale/fr/LC_MESSAGES/hosting/introduction.po
Due: none

[MS] Load SCWS in libparsec wrapper (either SharedWorker or UI context)
  client/src/parsec/async_enrollment.ts
  client/src/plugins/libparsec/trampoline-web.ts
  client/src/plugins/libparsec/web_shared_worker.ts
Due: eslint, vue-tsc, prettier

[MS] Try to persist the storage immediately when loaded
  client/src/main.ts
  client/src/views/home/HomePage.vue
Due: eslint, vue-tsc, prettier

[MS] Updated how device labels are handled
  client/src/common/device.ts
  client/src/components/devices/DeviceCard.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/tests/e2e/specs/my_profile_page.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Clear some startup logs
  client/electron/package-lock.json
  client/electron/src/features.ts
  client/electron/src/updater.ts
  client/package-lock.json
Due: eslint, vue-tsc, prettier

feat(pki): Bootstrap loading SCWS script
  Cargo.lock
  Cargo.toml
  deny.toml
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/src/web/pki_system.rs
Due: toml-fmt, fmt, clippy

fix(github): Remove file pattern for cargo-deny matcher
  .github/custom-problem-matchers/cargo-deny.json
Due: none
