Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

[PKI] Expose pki_enrollment info bindings.
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/tests/unit/client/pki_enrollment_info.rs
  libparsec/src/client.rs
  libparsec/src/pki.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[PKI] Describe how key is encrypted in local_pending_enrollment.
  libparsec/crates/types/schema/pki/local_pending_enrollment.json5
Due: none

feat(pki): Add intermediate certs to protocol `pki_accept`
  libparsec/crates/client/src/client/pki_enrollment_accept.rs
  libparsec/crates/protocol/schema/authenticated_cmds/pki_enrollment_accept.json5
  libparsec/crates/protocol/tests/authenticated_cmds/v5/pki_enrollment_accept.rs
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/pki_enrollment_accept.pyi
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/parsec/components/postgresql/pki.py
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
  server/tests/api_v5/authenticated/test_pki_enrollment_accept.py
  server/tests/common/rpc.py
Due: fmt, clippy

feat(pki): Add `intermediate_der_x509_certificates` to `pki_submit` protocol
  libparsec/crates/client/src/client/pki_enrollment_submit.rs
  libparsec/crates/protocol/schema/anonymous_cmds/pki_enrollment_submit.json5
  libparsec/crates/protocol/tests/anonymous_cmds/v5/pki_enrollment_submit.rs
  server/parsec/_parsec_pyi/protocol/anonymous_cmds/v5/pki_enrollment_submit.pyi
  server/parsec/components/pki.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
  server/tests/common/rpc.py
Due: fmt, clippy

feat(pki): Add new errors for `pki_accept`
  libparsec/crates/client/src/client/pki_enrollment_accept.rs
  libparsec/crates/protocol/schema/authenticated_cmds/pki_enrollment_accept.json5
  libparsec/crates/protocol/tests/authenticated_cmds/v5/pki_enrollment_accept.rs
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/pki_enrollment_accept.pyi
  server/parsec/components/pki.py
  server/tests/api_v5/authenticated/test_pki_enrollment_accept.py
Due: fmt, clippy

feat(pki): Provide intermediate certs in `pki_info` protocol
  libparsec/crates/client/src/client/pki_enrollment_info.rs
  libparsec/crates/client/tests/unit/client/pki_enrollment_info.rs
  libparsec/crates/protocol/schema/anonymous_cmds/pki_enrollment_info.json5
  libparsec/crates/protocol/tests/anonymous_cmds/v5/pki_enrollment_info.rs
  server/parsec/_parsec_pyi/protocol/anonymous_cmds/v5/pki_enrollment_info.pyi
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/parsec/components/postgresql/pki_info.py
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
Due: fmt, clippy

[MS] Removed edit button in viewer header for readers, and fixed translation key
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/fileOpener.ts
  client/src/views/files/handler/FileHandler.vue
Due: eslint, vue-tsc, prettier

[MS] Added offline saving state in editor
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/files/handler/FileHandler.vue
  client/src/views/files/handler/editor/FileEditor.vue
  client/src/views/files/handler/editor/types.ts
Due: eslint, vue-tsc, prettier

Enable editics for 3.6 (#11455)
  client/.env.production
  client/.env.release-candidate
Due: none

[MS] Better sas code issues handling
  client/src/components/sas-code/SasCodeChoice.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/devices/GreetDeviceModal.vue
  client/src/views/home/DeviceJoinOrganizationModal.vue
  client/src/views/home/UserJoinOrganizationModal.vue
  client/src/views/users/GreetUserModal.vue
  client/tests/e2e/specs/device_greet.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Add missing style
  client/src/components/sas-code/SasCodeChoice.vue
Due: eslint, vue-tsc, prettier

[MS] Locale fix
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/home/UserJoinOrganizationModal.vue
Due: eslint, vue-tsc, prettier

fix: remove electron-window-state dep to fix window positionning issues
  client/electron/package-lock.json
  client/electron/package.json
  client/electron/src/setup.ts
Due: eslint, vue-tsc, prettier

Hid PKI request accesses on organization information page and invitations page
  client/src/components/organizations/OrganizationUserInformation.vue
  client/src/views/invitations/InvitationsPage.vue
  client/tests/e2e/specs/invitations_page.spec.ts
  client/tests/e2e/specs/invitations_pki_page.spec.ts
  client/tests/e2e/specs/organization_information.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Fix device sas code tests
  client/tests/e2e/specs/device_greet.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Re-add electron-window-state and add exceptions for linux on window width and heights (#11566)
  client/electron/package-lock.json
  client/electron/package.json
  client/electron/src/setup.ts
Due: eslint, vue-tsc, prettier

Added missing newsfragments for release 3.6.1
  newsfragments/11460.misc.rst
  newsfragments/11483.misc.rst
  newsfragments/11529.bugfix.rst
Due: none

Improve login process logs to investigate Linux issues
  client/electron/src/index.ts
  client/electron/src/setup.ts
  client/electron/src/updater.ts
  client/src/views/home/HomePage.vue
  client/src/views/layouts/LoadingLayout.vue
  client/src/views/workspaces/WorkspacesPage.vue
  libparsec/crates/platform_mountpoint/src/unix/mount.rs
  libparsec/src/client.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] Stop using mocked pki join requests
  client/src/parsec/pki.ts
Due: eslint, vue-tsc, prettier

[MS] Added default values for window width and height
  client/electron/src/setup.ts
Due: eslint, vue-tsc, prettier

[MS] Hide copy PKI link in userspage
  client/src/views/users/UsersPage.vue
Due: eslint, vue-tsc, prettier

[MS] Mount workspace after listing
  client/src/parsec/workspace.ts
Due: eslint, vue-tsc, prettier

[Pki] Fix extension for local pending file.
  libparsec/crates/platform_device_loader/src/lib.rs
Due: fmt, clippy

feat(pki): Add new errors to `pki_submit` protocol
  libparsec/crates/client/src/client/pki_enrollment_submit.rs
  libparsec/crates/protocol/schema/anonymous_cmds/pki_enrollment_submit.json5
  libparsec/crates/protocol/tests/anonymous_cmds/v5/pki_enrollment_submit.rs
  server/parsec/_parsec_pyi/protocol/anonymous_cmds/v5/pki_enrollment_submit.pyi
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
Due: fmt, clippy

Typo in `libparsec/crates/platform_device_loader/src/web/internal.rs`
  libparsec/crates/platform_device_loader/src/web/internal.rs
Due: fmt, clippy

Remove useless part in `impl_transparent_data_format_conversion` macro
  libparsec/crates/types/src/data_macros.rs
Due: fmt, clippy

Remove client rejection based on user-agent header
  bindings/generator/api/config.py
  libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/server_config.rs
  libparsec/src/config.rs
  newsfragments/11628.feature.rst
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/server_config.pyi
  server/parsec/asgi/rpc.py
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/components/events.py
  server/parsec/config.py
  server/tests/api_v5/anonymous_server/test_server_config.py
  server/tests/common/backend.py
  server/tests/common/data.py
Due: fmt, clippy

Fix `ParsecAddr::new` building invalid object when explicitly providing the default port
  libparsec/crates/types/src/addr.rs
  libparsec/crates/types/tests/unit/addr.rs
Due: fmt, clippy

Introduce `impl_data_format_conversion;` macro in `libparsec_types`
  libparsec/crates/types/src/data_macros.rs
Due: fmt, clippy

Remove unused `RmpDecodeError` error in `libparsec/crates/platform_device_loader/src/web/error.rs`
  libparsec/crates/platform_device_loader/src/web/error.rs
Due: fmt, clippy

Add `build_parsec_addr` in bindings
  bindings/generator/api/addr.py
  libparsec/src/addr.rs
Due: fmt, clippy

Replace use of `ParsecAddr::new` on other addr types by Into conversion
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/types/src/addr.rs
  libparsec/crates/types/src/local_device.rs
  libparsec/crates/types/src/pki/mod.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Correct `client/src/parsec/pki.ts` to use serverAddr
  client/src/parsec/pki.ts
Due: eslint, vue-tsc, prettier

Rename `_ParsecAccount.server` -> `serverAddr` for consistency in `client/src/parsec/account.ts`
  client/src/parsec/account.ts
Due: eslint, vue-tsc, prettier

Change `AvailableDevice` to expose server URL as a `ParsecAddr`
  bindings/generator/api/device.py
  cli/src/commands/device/overwrite_server_url.rs
  cli/src/utils.rs
  cli/tests/integration/device/overwrite_server_url.rs
  cli/tests/integration/device_option.rs
  libparsec/crates/account/tests/unit/register_new_device.rs
  libparsec/crates/client/tests/unit/invite/claimer.rs
  libparsec/crates/client/tests/unit/invite/shamir.rs
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/strategy.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_device_loader/tests/units/mod.rs
  libparsec/crates/platform_device_loader/tests/units/save.rs
  libparsec/crates/platform_device_loader/tests/units/save_list.rs
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
  libparsec/crates/platform_device_loader/tests/units/strategy.rs
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
Due: fmt, clippy

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
