Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

fix(binding): Converting bytes to js buffer using typed array
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/templates/binding_electron_meths.rs.j2
Due: fmt, clippy

feat(pki): List system trust anchor
  libparsec/crates/platform_pki/examples/init_windows_credstore.ps1
  libparsec/crates/platform_pki/examples/list_trusted_roots.rs
  libparsec/crates/platform_pki/src/errors.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
Due: fmt, clippy

Expose pki_enrollment_reject in the authenticated client.
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/client/pki_enrollment_reject.rs
  libparsec/crates/client/tests/unit/client/mod.rs
  libparsec/crates/client/tests/unit/client/pki_enrollment_reject.rs
Due: fmt, clippy

[MS] Action bar responsive for FoldersPage / UsersPage / WorkspacesPage
  client/package-lock.json
  client/package.json
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/users_list.spec.ts
  client/tests/e2e/specs/workspaces_actions.spec.ts
  newsfragments/11391.feature.rst
Due: eslint, vue-tsc, prettier

[MS] Remove ignore capacitor update in dependabot config
  .github/dependabot.yml
Due: none

Implement pki_enrollment_submit cmd following rfc 1020.
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/client/pki_enrollment_submit.rs
  libparsec/crates/protocol/schema/anonymous_cmds/pki_enrollment_submit.json5
  libparsec/crates/protocol/tests/anonymous_cmds/v5/pki_enrollment_submit.rs
  server/parsec/_parsec_pyi/protocol/anonymous_cmds/v5/pki_enrollment_submit.pyi
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
  server/tests/api_v5/authenticated/test_pki_enrollment_accept.py
  server/tests/api_v5/authenticated/test_pki_enrollment_list.py
  server/tests/api_v5/authenticated/test_pki_enrollment_reject.py
  server/tests/common/rpc.py
Due: fmt, clippy

fix(types): Fix typo in comment
  libparsec/crates/types/src/id.rs
Due: fmt, clippy

[MS] Don't show dialog on unhandled error
  client/electron/src/index.ts
  client/electron/src/preload.ts
  client/electron/src/setup.ts
  client/electron/src/splashscreen.ts
Due: eslint, vue-tsc, prettier

chore(rust): Update `getrandom` to 0.3
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  libparsec/crates/crypto/Cargo.toml
Due: toml-fmt

Bump version 3.6.0-rc.0 -> 3.6.0-rc.1+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Enable editics for 3.6
  client/.env.production
  client/.env.release-candidate
Due: none

Enable editics for 3.6 (#11455)
  client/.env.production
  client/.env.release-candidate
Due: none

Bump version 3.6.0-rc.1+dev -> 3.6.0-rc.1
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.6.0-rc.1 -> 3.6.0-rc.2+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Fix GUI with simplified `DeviceAccessStrategy`
  client/src/parsec/login.ts
Due: eslint, vue-tsc, prettier

Simplify `DeviceAccessStrategy` by removing the need to provide extra param only needed for `DeviceSaveStrategy` conversion
  bindings/generator/api/device.py
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/tests/units/load.rs
  libparsec/crates/platform_device_loader/tests/units/remove.rs
  libparsec/crates/platform_device_loader/tests/units/save.rs
  libparsec/crates/platform_device_loader/tests/units/save_list.rs
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
  libparsec/crates/platform_device_loader/tests/units/update_device_change_authentication.rs
  libparsec/crates/platform_device_loader/tests/units/update_device_overwrite_server_addr.rs
  libparsec/crates/types/src/local_device_file.rs
Due: fmt, clippy

Rework `platform_device_loader`'s `load_ciphertext_key` to detect if a new `DeviceAccessStrategy` variant is added
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] Updates for eslint
  client/.eslintignore
  client/.eslintrc.cjs
  client/eslint.config.js
  client/package-lock.json
  client/package.json
Due: eslint, prettier

feat(pki): Use cert ref in `LocalPendingEnrollment`
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/types/schema/pki/local_pending_enrollment.json5
  libparsec/crates/types/src/pki/mod.rs
  libparsec/crates/types/tests/unit/pki.rs
Due: fmt, clippy

feat(pki): Allow to create local pending enrollment
  libparsec/crates/platform_pki/src/errors.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared.rs
Due: fmt, clippy

fix(dependabot): Correct version range for RSA
  .github/dependabot.yml
Due: none

feat(pki): Manually calculate sha256 fingerprint in `get der` example
  libparsec/crates/platform_pki/examples/get_certificate_der.rs
Due: fmt, clippy

[MS] Removed edit button in viewer header for readers, and fixed translation key
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/fileOpener.ts
  client/src/views/files/handler/FileHandler.vue
Due: eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
