Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

fix(releaser.py): Correct default & const `git-force` values
  misc/releaser.py
Due: none

Bump version 3.4.1-a.0+dev -> 3.5.0-a.1
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  newsfragments/10131.misc.rst
  newsfragments/10182.feature.rst
  newsfragments/10284.feature.rst
  newsfragments/10454.feature.rst
  newsfragments/10466.feature.rst
  newsfragments/10537.doc.rst
  newsfragments/7142.feature.rst
  newsfragments/8333.feature.rst
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.5.0-a.1 -> 3.5.0-a.2+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

client/public/custom folder
  client/public/custom/custom_en-US.json
  client/public/custom/custom_fr-FR.json
  client/public/custom/home_sidebar.png
  client/public/custom/logo.svg
  client/public/custom/logo_icon.svg
Due: none

Bump version 3.5.0-a.2+dev -> 3.5.0-a.2
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.5.0-a.2 -> 3.5.0-a.3+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Updated alpha env to enable parsec account
  client/.env.alpha
Due: none

Bump version 3.5.0-a.3+dev -> 3.5.0-a.3
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.5.0-a.3 -> 3.5.0-a.4+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Fix `libparsec_platform_device_loader` testbed returning the wrong `AvailableDevice::created_on` value for a loaded device
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
Due: fmt, clippy

Improve documentation in `libparsec/crates/platform_device_loader/src/testbed.rs`
  libparsec/crates/platform_device_loader/src/testbed.rs
Due: fmt, clippy

!fixup
  client/src/services/headerControl.ts
  client/src/views/editors/FileEditor.vue
  client/src/views/header/HeaderPage.vue
Due: eslint, vue-tsc, prettier

!fixup
  client/src/views/editors/FileEditor.vue
Due: eslint, vue-tsc, prettier

[MS] Unskip org switch test
  client/tests/e2e/specs/organization_switch_popover.spec.ts
Due: eslint, vue-tsc, prettier

Apply suggestions from code review
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: none

[MS] Adds report bug modal and logs
  client/electron/src/communicationChannels.ts
  client/electron/src/index.ts
  client/electron/src/preload.ts
  client/electron/src/setup.ts
  client/src/components/files/FileInputList.vue
  client/src/components/files/index.ts
  client/src/components/misc/BugReportModal.vue
  client/src/components/misc/LogDisplay.vue
  client/src/components/misc/LogDisplayModal.vue
  client/src/components/misc/index.ts
  client/src/components/misc/utils.ts
  client/src/components/settings/SettingsList.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/main.ts
  client/src/services/bms/api.ts
  client/src/services/environment.ts
  client/src/services/webLogger.ts
  client/src/theme/components/_modals.scss
  client/src/views/header/ProfileHeaderOrganization.vue
  client/src/views/header/ProfileHeaderOrganizationPopover.vue
  client/tests/e2e/helpers/bms.ts
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/bug_report.spec.ts
  client/tests/e2e/specs/my_profile_page.spec.ts
  client/tests/e2e/specs/profile_popover.spec.ts
  client/tests/e2e/specs/settings_modal.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Update no organization homepage
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/home/OrganizationListPage.vue
Due: eslint, vue-tsc, prettier

[MS] Update `ion-buttons` to `div` to harmonize
  client/src/components/devices/ChooseAuthentication.vue
  client/src/views/devices/GreetDeviceModal.vue
  client/src/views/home/DeviceJoinOrganizationModal.vue
  client/src/views/home/UserJoinOrganizationModal.vue
  client/src/views/organizations/creation/CreateOrganizationModal.vue
  client/src/views/organizations/creation/OrganizationAuthenticationPage.vue
  client/src/views/organizations/creation/OrganizationCreatedPage.vue
  client/src/views/organizations/creation/OrganizationNameAndServerPage.vue
  client/src/views/organizations/creation/OrganizationNamePage.vue
  client/src/views/organizations/creation/OrganizationSummaryPage.vue
  client/src/views/organizations/creation/OrganizationUserInformationPage.vue
  client/src/views/users/BulkRoleAssignmentModal.vue
  client/src/views/users/GreetUserModal.vue
  client/src/views/users/UpdateAuthenticationModal.vue
Due: eslint, vue-tsc, prettier

[MS] Fix visual bugs
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/files/FileListDisplay.vue
  client/src/components/header/HeaderBackButton.vue
  client/src/components/organizations/OrganizationCard.vue
  client/src/components/sidebar/SidebarMenuList.vue
  client/src/components/users/UserFilterPopover.vue
  client/src/components/users/UserListItem.vue
  client/src/components/workspaces/WorkspaceFilterPopover.vue
  client/src/theme/components/_list.scss
  client/src/theme/components/_modals.scss
  client/src/theme/components/_popovers.scss
  client/src/views/home/HomePageSidebar.vue
  client/src/views/home/LoginPage.vue
  client/src/views/menu/MainMenu.vue
  client/src/views/organizations/creation/ServerTypeChoice.vue
Due: eslint, vue-tsc, prettier

[MS] Resync megashark lib
  client/package-lock.json
  client/package.json
Due: none

[MS] Replacement `ion-label` by `ion-text` because of visual issues
  client/src/components/files/FileListItem.vue
  client/src/components/small-display/SmallDisplayCategoryFileContextMenu.vue
  client/src/components/small-display/SmallDisplayFileContextMenu.vue
  client/src/components/small-display/SmallDisplayUserContextMenu.vue
  client/src/components/users/UserSelectDropdown.vue
  client/src/theme/components/_popovers.scss
  client/src/views/files/FileContextMenu.vue
  client/src/views/files/FolderGlobalContextMenu.vue
  client/src/views/menu/TabBarMenuModal.vue
  client/src/views/users/UserContextMenu.vue
  client/src/views/workspaces/SmallDisplayWorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceContextMenu.vue
Due: eslint, vue-tsc, prettier

[MS] Avoid error blinking when navigating to Profile/Auth
  client/src/views/profile/AuthenticationPage.vue
Due: eslint, vue-tsc, prettier

ci(docs): Set default working directory
  .github/workflows/ci-docs.yml
Due: none

docs(userguide): Ask the user to check invitation link
  docs/locale/fr/LC_MESSAGES/userguide/join_organization.po
  docs/locale/fr/LC_MESSAGES/userguide/manage_devices.po
  docs/locale/fr/LC_MESSAGES/userguide/security.po
  docs/userguide/join_organization.rst
  docs/userguide/manage_devices.rst
  docs/userguide/manage_files.rst
  docs/userguide/security.rst
Due: none

docs(userguide): Remove number in titles of `join orga`
  docs/locale/fr/LC_MESSAGES/userguide/join_organization.po
  docs/userguide/join_organization.rst
Due: none

ci(docs): Check that no fuzzy translation
  .github/workflows/ci-docs.yml
Due: none

Add news fragment for custom branding
  newsfragments/5903.feature.rst
Due: none

Add test case for list frozen user.
  libparsec/crates/client/tests/unit/client/list_frozen_users.rs
Due: fmt, clippy

Remove legacy workspace history api.
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/__init__.py
  bindings/generator/api/workspace_history.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/src/workspace/history/fd_close.rs
  libparsec/crates/client/src/workspace/history/fd_read.rs
  libparsec/crates/client/src/workspace/history/fd_stat.rs
  libparsec/crates/client/src/workspace/history/get_workspace_manifest_v1_timestamp.rs
  libparsec/crates/client/src/workspace/history/mod.rs
  libparsec/crates/client/src/workspace/history/open_file.rs
  libparsec/crates/client/src/workspace/history/populate_cache.rs
  libparsec/crates/client/src/workspace/history/read_folder.rs
  libparsec/crates/client/src/workspace/history/resolve_path.rs
  libparsec/crates/client/src/workspace/history/stat_entry.rs
  libparsec/crates/client/src/workspace/mod.rs
  libparsec/crates/client/tests/unit/workspace/history/fd_close.rs
  libparsec/crates/client/tests/unit/workspace/history/fd_read.rs
  libparsec/crates/client/tests/unit/workspace/history/fd_stat.rs
  libparsec/crates/client/tests/unit/workspace/history/get_workspace_manifest_v1_timestamp.rs
  libparsec/crates/client/tests/unit/workspace/history/mod.rs
  libparsec/crates/client/tests/unit/workspace/history/open_file.rs
  libparsec/crates/client/tests/unit/workspace/history/open_file_by_id.rs
  libparsec/crates/client/tests/unit/workspace/history/stat_entry.rs
  libparsec/crates/client/tests/unit/workspace/history/stat_entry_by_id.rs
  libparsec/crates/client/tests/unit/workspace/history/stat_folder_children.rs
  libparsec/crates/client/tests/unit/workspace/history/stat_folder_children_by_id.rs
  libparsec/crates/client/tests/unit/workspace/mod.rs
  libparsec/src/lib.rs
  libparsec/src/workspace_history.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] Removed all mentions to workspace history API v1
  client/src/parsec/types.ts
  client/src/parsec/workspace.ts
  client/src/views/workspaces/WorkspaceHistoryPage.vue
Due: eslint, vue-tsc, prettier

[MS] Use 2 as the default handle in dev mode if Parsec Account enabled
  client/src/views/layouts/DevLayout.vue
Due: eslint, vue-tsc, prettier

[MS] Re-enable parsec account creation test
  client/src/views/account/CreateAccountPage.vue
  client/tests/e2e/helpers/data.ts
  client/tests/e2e/helpers/testbed.ts
  client/tests/e2e/specs/account_create.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Use the bindings to get the org creation date
  client/src/common/organization.ts
  client/src/components/organizations/OrganizationCard.vue
  client/src/parsec/organization.ts
  client/src/parsec/types.ts
  client/src/services/storageManager.ts
  client/src/views/home/HomePage.vue
  client/src/views/home/OrganizationListPage.vue
  client/src/views/menu/MainMenu.vue
  client/tests/e2e/helpers/externalWebsites.ts
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/index.ts
  client/tests/e2e/specs/about_modal.spec.ts
  client/tests/e2e/specs/create_organization_saas.spec.ts
  client/tests/e2e/specs/my_profile_page.spec.ts
  client/tests/e2e/specs/trial_organization.spec.ts
Due: eslint, vue-tsc, prettier

Rename workspace_history2 to workspace_history.
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/__init__.py
  bindings/generator/api/workspace_history.py
  bindings/web/src/meths.rs
  client/src/parsec/history.ts
  client/src/parsec/types.ts
  client/src/plugins/libparsec/definitions.ts
  libparsec/src/lib.rs
  libparsec/src/workspace_history.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
