Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

Re-use as-is the README in `platform_pki_2_electric_boogaloo`
  libparsec/crates/platform_pki_2_electric_boogaloo/README.md
Due: none

Add examples in `platform_pki_2_electric_boogaloo`: Remove `list_trusted_roots` example
  libparsec/crates/platform_pki/examples/list_trusted_roots.rs
Due: fmt, clippy

Add examples in `platform_pki_2_electric_boogaloo`: Update `get_certificate_der` example
  libparsec/crates/platform_pki/examples/get_certificate_der.rs
  libparsec/crates/platform_pki_2_electric_boogaloo/examples/get_certificate_der.rs
Due: fmt, clippy

Remove `libparsec_platform_pki` dependency in `libparsec_platform_device_loader`
  Cargo.lock
  libparsec/crates/platform_device_loader/Cargo.toml
  libparsec/crates/platform_device_loader/src/device/load_ciphertext_key.rs
  libparsec/crates/platform_device_loader/src/device/save.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/strategy.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
Due: toml-fmt, fmt, clippy

Add Cargo.toml in `platform_pki_2_electric_boogaloo`
  libparsec/crates/platform_pki_2_electric_boogaloo/Cargo.toml
  libparsec/crates/tests_fixtures/Cargo.toml
Due: toml-fmt

Add examples in `platform_pki_2_electric_boogaloo`: Add new `list_user_certificates` example
  libparsec/crates/platform_pki_2_electric_boogaloo/examples/list_user_certificates.rs
Due: fmt, clippy

Fix use of `libparsec_platform_pki` in `libparsec_platform_device_loader`: Add missing tests for PKI
  libparsec/crates/platform_device_loader/tests/units/save_list.rs
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
  libparsec/crates/platform_device_loader/tests/units/utils.rs
Due: fmt, clippy

Add examples in `platform_pki_2_electric_boogaloo`: use as-is `list_certificate` example
  libparsec/crates/platform_pki_2_electric_boogaloo/examples/list_certificate.rs
Due: fmt, clippy

Rework `X509Certificate` on server
  server/Cargo.toml
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/pki.pyi
  server/parsec/cli/pki.py
  server/parsec/cli/run.py
  server/parsec/components/async_enrollment.py
  server/parsec/config.py
  server/src/data/mod.rs
  server/src/data/pki.rs
Due: toml-fmt, fmt, clippy

Remove `PkiCertificate` handle from `libparsec` bindings
  bindings/generator/api/pki.py
  libparsec/src/handle.rs
  libparsec/src/pki.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Rework `libparsec` bindings to expose PKI certificate & private key life cycle
  bindings/generator/api/async_enrollment.py
  bindings/generator/api/device.py
  bindings/generator/api/pki.py
  libparsec/src/account.rs
  libparsec/src/async_enrollment.rs
  libparsec/src/client.rs
  libparsec/src/device.rs
  libparsec/src/handle.rs
  libparsec/src/invite.rs
  libparsec/src/pki.rs
  libparsec/src/recovery.rs
  libparsec/src/workspace_history.rs
Due: fmt, clippy

[MS] Use new pki handle API
  client/src/components/devices/ChooseAuthentication.vue
  client/src/main.ts
  client/src/parsec/async_enrollment.ts
  client/src/parsec/login.ts
  client/src/parsec/types.ts
  client/src/views/devices/ImportRecoveryDevicePage.vue
  client/src/views/home/DeviceJoinOrganizationModal.vue
  client/src/views/home/HomePage.vue
  client/src/views/home/UserJoinOrganizationModal.vue
  client/src/views/invitations/InvitationsPage.vue
  client/src/views/organizations/creation/OrganizationAuthenticationPage.vue
  client/src/views/users/AsyncEnrollmentModal.vue
  client/src/views/users/AsyncEnrollmentPkiAuthModal.vue
  client/src/views/users/PromptCurrentAuthentication.vue
  client/src/views/users/UpdateAuthenticationModal.vue
Due: eslint, vue-tsc, prettier

[MS] Added some error handling
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/home/HomePage.vue
Due: eslint, vue-tsc, prettier

[MS] Marked flaky tests as fixme
  client/tests/e2e/specs/document_context_menu.spec.ts
Due: eslint, vue-tsc, prettier

`platform_pki_2_electric_boogaloo` Windows implementation: re-use `mod.rs`
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/platform_pki_2_electric_boogaloo/src/windows/pki_system.rs
Due: fmt, clippy

Add examples in `platform_pki_2_electric_boogaloo`: Update `decrypt_message` example
  libparsec/crates/platform_pki_2_electric_boogaloo/examples/decrypt_message.rs
Due: fmt, clippy

`platform_pki_2_electric_boogaloo` Windows implementation: re-use `certificate.rs`
  libparsec/crates/platform_pki/src/windows/certificate.rs
  libparsec/crates/platform_pki_2_electric_boogaloo/src/windows/pki_certificate.rs
Due: fmt, clippy

Add `tests/units/utils.rs` to `platform_pki_2_electric_boogaloo`
  libparsec/crates/platform_pki/tests/units/utils.rs
  libparsec/crates/platform_pki_2_electric_boogaloo/tests/units/utils.rs
Due: fmt, clippy

Fix use of `libparsec_platform_pki` in `libparsec_client`
  libparsec/crates/client/src/invite/async_enrollment/list.rs
Due: fmt, clippy

Add SCWS (for web) mocked implementation for `platform_pki_2_electric_boogaloo`
  libparsec/crates/platform_pki_2_electric_boogaloo/src/scws/mod.rs
  libparsec/crates/platform_pki_2_electric_boogaloo/src/scws/pki_certificate.rs
  libparsec/crates/platform_pki_2_electric_boogaloo/src/scws/pki_private_key.rs
  libparsec/crates/platform_pki_2_electric_boogaloo/src/scws/pki_system.rs
Due: fmt, clippy

Add examples in `platform_pki_2_electric_boogaloo`: Update `verify_message` example
  libparsec/crates/platform_pki/examples/verify_message.rs
  libparsec/crates/platform_pki_2_electric_boogaloo/examples/verify_message.rs
Due: fmt, clippy

Add examples in `platform_pki_2_electric_boogaloo`: Update `verify_certificate` example
  libparsec/crates/platform_pki/examples/verify_certificate.rs
  libparsec/crates/platform_pki_2_electric_boogaloo/examples/verify_certificate.rs
Due: fmt, clippy

Remove old code from `libparsec_platform_pki`
  libparsec/crates/platform_pki/src/errors.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
Due: fmt, clippy

Add testbed support for `platform_pki_2_electric_boogaloo`
  libparsec/crates/platform_pki_2_electric_boogaloo/src/testbed.rs
  libparsec/crates/platform_pki_2_electric_boogaloo/tests/units/testbed.rs
Due: fmt, clippy

Add examples in `platform_pki_2_electric_boogaloo`: Update `utils/mod.rs`
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki_2_electric_boogaloo/examples/utils/mod.rs
Due: fmt, clippy
