Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

[MS] Adds e2e test coverage
  .cspell/custom-words.txt
  .github/workflows/ci-web-coverage.yml
  .github/workflows/ci-web.yml
  client/mcr.config.cjs
  client/package-lock.json
  client/package.json
  client/scripts/generate-coverage-report.cjs
  client/tests/e2e/helpers/fixtures.ts
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

docs: fix code-block highlight
  docs/hosting/deployment/s3-deploy.rst
Due: none

Correct error message typo in `libparsec/crates/client/src/certif/manifest_validate.rs`
  libparsec/crates/client/src/certif/manifest_validate.rs
Due: fmt, clippy

Add `CertificateOps::validate_cryptpad_session_keys`
  libparsec/crates/client/src/certif/cryptpad_validate.rs
  libparsec/crates/client/src/certif/mod.rs
  libparsec/crates/client/src/certif/realm_keys_bundle.rs
  libparsec/crates/client/tests/unit/certif/mod.rs
  libparsec/crates/client/tests/unit/certif/validate_cryptpad_session_keys.rs
Due: fmt, clippy

Add `WorkspaceOps::register_cryptpad_session`
  libparsec/crates/client/src/workspace/mod.rs
  libparsec/crates/client/src/workspace/transactions/mod.rs
  libparsec/crates/client/src/workspace/transactions/register_cryptpad_session.rs
  libparsec/crates/client/tests/unit/workspace/cryptpad.rs
  libparsec/crates/client/tests/unit/workspace/mod.rs
Due: fmt, clippy

Add `libparsec::workspace_register_cryptpad_session`
  bindings/generator/api/workspace.py
  libparsec/src/workspace.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Correct manifest merge to handle the new `origin` field in `FileManifest`&`LocalFileManifest`
  libparsec/crates/client/src/workspace/merge.rs
  libparsec/crates/client/src/workspace/transactions/inbound_sync.rs
  libparsec/crates/client/tests/unit/workspace/inbound_sync_file.rs
  libparsec/crates/client/tests/unit/workspace/merge_file.rs
  libparsec/crates/client/tests/unit/workspace_history_store_cache.rs
Due: fmt, clippy

Simplify return value for transaction `open_file_by_id`
  libparsec/crates/client/src/workspace/mod.rs
  libparsec/crates/client/src/workspace/transactions/open_file.rs
Due: fmt, clippy

Add `WorkspaceOps::save_and_sync_file_with_origin`
  libparsec/crates/client/src/workspace/mod.rs
  libparsec/crates/client/src/workspace/transactions/mod.rs
  libparsec/crates/client/src/workspace/transactions/save_and_sync_file_with_origin.rs
  libparsec/crates/client/tests/unit/workspace/mod.rs
  libparsec/crates/client/tests/unit/workspace/save_and_sync_file_with_origin.rs
Due: fmt, clippy

Add `origin` field in `FileManifest`&`LocalFileManifest`
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/testbed/src/template/crc_hash.rs
  libparsec/crates/testbed/src/template/events.rs
  libparsec/crates/types/schema/local_manifest/local_file_manifest.json5
  libparsec/crates/types/schema/manifest/file_manifest.json5
  libparsec/crates/types/src/local_manifest/file.rs
  libparsec/crates/types/src/manifest.rs
  libparsec/crates/types/tests/unit/local_file_manifest.rs
  libparsec/crates/types/tests/unit/manifest.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/manifest.pyi
  server/src/data/manifest.rs
  server/src/data/mod.rs
  server/tests/realm_export/sequestered_export.sqlite
  server/tests/realm_export/test_export.py
  server/tests/realm_export/workspace_history_export.sqlite
  server/tests/test_base.py
Due: fmt, clippy

Add `libparsec::workspace_save_and_sync_file_with_cryptpad`
  bindings/generator/api/workspace.py
  libparsec/src/workspace.rs
Due: fmt, clippy

wip GUI
  client/src/parsec/file.ts
  client/src/parsec/types.ts
  client/src/services/cryptpad.ts
  client/src/views/files/handler/FileHandler.vue
  client/src/views/files/handler/editor/FileEditor.vue
  client/src/views/files/handler/viewer/utils.ts
Due: eslint, vue-tsc, prettier

refactor: rename export_email to render_email
  server/parsec/cli/__init__.py
  server/parsec/cli/render_email.py
Due: none

[MS] Fix some flaky tests
  client/playwright.config.ts
  client/tests/e2e/specs/async_enrollment.spec.ts
  client/tests/e2e/specs/file_editor.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Sync package-lock
  client/package-lock.json
Due: none

[MS] Sync electron/package-lock
  client/electron/package-lock.json
Due: none

[MS] Properly disable stripe in tests
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/mock.ts
Due: eslint, vue-tsc, prettier

[MS] Add useFileActions composable to isolate file action functions
  client/src/services/contextMenu/fileActions.ts
  client/src/views/files/FoldersPage.vue
Due: eslint, vue-tsc, prettier

Treat missing device data dir as success when forgetting a device
  libparsec/crates/platform_storage/src/native/cleanup.rs
  libparsec/crates/platform_storage/tests/unit/native/cleanup.rs
  newsfragments/12807.bugfix.rst
Due: fmt, clippy

[MS] Migrate to node 24
  .github/workflows/ci-web.yml
  .github/workflows/package-desktop.yml
  .github/workflows/package-server.yml
  .github/workflows/package-webapp.yml
  .pre-commit-config.yaml
  client/README.md
  client/electron/scripts/sign-windows-package.ps1
  client/electron/snap/snapcraft.yaml
  client/knip.config.ts
  client/package-lock.json
  client/package.json
  client/scripts/build_megashark_lib.cjs
  docs/development/README.md
  misc/version_updater.py
  misc/versions.toml
Due: toml-fmt, eslint, vue-tsc, prettier

[MS] Fix global context menu open in explorer when unmounted
  client/src/services/contextMenu/fileActions.ts
  client/src/views/files/FoldersPage.vue
Due: eslint, vue-tsc, prettier

Add test to show that outbound sync backlog does consider confined entries.
  libparsec/crates/client/src/workspace/mod.rs
  libparsec/crates/client/tests/unit/client/outbound_sync_backlog.rs
Due: fmt, clippy

Temporary mark `CertificateOps::validate_cryptpad_session_keys` as expect unused (will be used in the next PR)
  libparsec/crates/client/src/certif/mod.rs
Due: fmt, clippy

Bump testbed server to 3.9.3-a.0.dev.20648.a5d5731
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt
