Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

ci: add check for missing translation keys
  .github/workflows/ci-web.yml
Due: none

refactor(server): Add pydantic support to rust enum types
  server/parsec/_parsec_pyi/enumerate.pyi
  server/src/binding_utils.rs
Due: fmt, clippy

refactor(server): Rm `InvitationStatus` pydantic annotations
  server/parsec/events.py
  server/parsec/types.py
  server/tests/test_types.py
Due: none

refactor(server): Rm `RealmRole` pydantic annotations
  server/parsec/types.py
  server/tests/test_types.py
Due: none

refactor(server): Rm `UserProfile` pydantic annotations
  server/parsec/events.py
  server/parsec/types.py
  server/tests/test_types.py
Due: none

refactor(server): Rm `EmailAddress` pydantic annotations
  server/parsec/asgi/administration.py
  server/parsec/types.py
  server/src/ids.rs
  server/tests/test_types.py
Due: fmt, clippy

Document PARSEC_APP_TESTBED_SERVER & TESTBED_SERVER environ variables in client/README.md
  client/README.md
Due: none

Add domain routing in editics for web release
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

[MS] Use 'full' date format for file details, user details, workspace archiving and workspace deletion timestamps
  client/package-lock.json
  client/package.json
  client/src/components/workspaces/WorkspaceCard.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/files/FileDetailsModal.vue
  client/src/views/users/UserDetailsModal.vue
  client/tests/e2e/specs/file_details.spec.ts
  client/tests/e2e/specs/user_details.spec.ts
  client/tests/e2e/specs/workspace_archive.spec.ts
  client/tests/e2e/specs/workspace_trash.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Small fixes for editics
  client/.gitignore
  client/editics/README.md
  client/scripts/copy_to_electron.cjs
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

[MS] Fix CSP
  client/electron/src/cspRules.ts
  client/scripts/vite_plugin_editics.ts
Due: eslint, vue-tsc, prettier

[MS] Reactivate e2e test for editics
  client/.env.playwright
  client/README.md
  client/editics/offline.html
  client/src/services/editics.ts
  client/tests/e2e/helpers/cryptpad.ts
  client/tests/e2e/helpers/editics.ts
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/index.ts
  client/tests/e2e/helpers/types.ts
  client/tests/e2e/specs/document_context_menu.spec.ts
  client/tests/e2e/specs/editics_enable.spec.ts
  client/tests/e2e/specs/file_editor.spec.ts
  client/tests/e2e/specs/options_tab_menu.spec.ts
  client/tests/e2e/specs/workspace_archive.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
  client/tests/e2e/specs/workspace_trash.spec.ts
Due: eslint, vue-tsc, prettier

Correct GUI build to have onlyoffice & onlyoffice-x2t copied within editics folder Useful to have all the editics-related stuff in a single folder (since they should be served from a different domain)
  client/editics/README.md
  client/editics/offline.ts
  client/scripts/copy_to_electron.cjs
  client/scripts/vite_plugin_editics.ts
Due: eslint, vue-tsc, prettier

Add cache-busting suffix to `editics/offline.html` when building
  client/editics/README.md
  client/index.html
  client/scripts/vite_plugin_editics.ts
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

Add test to show that outbound sync backlog does consider confined entries.
  libparsec/crates/client/src/workspace/mod.rs
  libparsec/crates/client/tests/unit/client/outbound_sync_backlog.rs
Due: fmt, clippy

wip
  libparsec/crates/client/src/event_bus.rs
  libparsec/crates/client/src/monitors/workspace_outbound_sync.rs
  libparsec/crates/client/src/workspace/transactions/stat_entry.rs
  libparsec/crates/client/tests/unit/client/outbound_sync_backlog.rs
Due: fmt, clippy

Update security policy
  SECURITY.md
Due: none

[MS] Display inviter label on invitation cards
  client/src/components/invitations/InvitationItem.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/invitations/InvitationList.vue
  client/tests/e2e/specs/invitations_page.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Removed detectincognito and improved start time
  client/package-lock.json
  client/package.json
  client/src/main.ts
  client/src/parsec/environment.ts
Due: eslint, vue-tsc, prettier

Opening an empty document in editics result in an explicit error (instead of loading a blank template)
  client/editics/offline.ts
  client/editics/templates/cell.bin
  client/editics/templates/slide.bin
  client/editics/templates/word.bin
Due: eslint, vue-tsc, prettier

[MS] Improved video loading
  client/src/components/files/handler/viewer/controls/FileControls.vue
  client/src/views/files/handler/viewer/VideoViewer.vue
Due: eslint, vue-tsc, prettier

[MS] Refactored the worker
  client/knip.config.ts
  client/public/file-service-worker.js
  client/public/vendor/zip-native.min.js
  client/src/main.ts
  client/src/services/download.ts
  client/src/services/viewers.ts
  client/src/services/worker.ts
  client/src/views/files/handler/viewer/AudioViewer.vue
  client/src/views/files/handler/viewer/ImageViewer.vue
  client/src/views/files/handler/viewer/VideoViewer.vue
  client/src/views/files/utils.ts
  client/tests/e2e/specs/bug_report.spec.ts
  client/tests/e2e/specs/download_file.spec.ts
Due: eslint, vue-tsc, prettier

Removed reference to editics/templates
  client/scripts/vite_plugin_editics.ts
Due: eslint, vue-tsc, prettier

Add editics app hosting to the server
  server/parsec/asgi/__init__.py
  server/parsec/cli/run.py
  server/parsec/config.py
  server/tests/test_web_app_hosting.py
Due: none

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
