Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

[DOCS] Replaced share workspace screenshots
  docs/userguide/screens/share_workspace.en.png
  docs/userguide/screens/share_workspace.fr.png
Due: none

[DOCS] Add docs for taking ownership of a workspace
  docs/locale/fr/LC_MESSAGES/userguide/parsec-workspaces.po
  docs/userguide/parsec-workspaces.rst
  docs/userguide/screens/workspace_take_ownership.en.png
  docs/userguide/screens/workspace_take_ownership.fr.png
Due: none

[MS] HeaderPage.vue refacto
  client/src/components/header/SmallDisplaySecurityRecommendations.vue
  client/src/router/checks.ts
  client/src/views/header/HeaderPage.vue
Due: eslint, vue-tsc, prettier

[MS] Additional tests for file and workspace context menus
  client/src/views/workspaces/SmallDisplayWorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceArchivePage.vue
  client/src/views/workspaces/WorkspaceContextMenu.vue
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/document_context_menu.spec.ts
  client/tests/e2e/specs/workspace_archive.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
  client/tests/e2e/specs/workspace_sharing.spec.ts
  client/tests/e2e/specs/workspace_trash.spec.ts
Due: eslint, vue-tsc, prettier

fix: context-menu style
  client/src/theme/components/_popovers.scss
Due: none

fix: context-menu style 2
  client/src/theme/components/_popovers.scss
Due: none

[MS]Fix: ion breadcrumb clickable area
  client/src/components/header/HeaderBreadcrumbs.vue
Due: eslint, vue-tsc, prettier

[MS] Slight refactor in folders page and adds new tests for role change
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/files/FoldersPage.vue
  client/tests/e2e/specs/workspace_sharing.spec.ts
Due: eslint, vue-tsc, prettier

fix: remove workaround for RTD build with uv
  .readthedocs.yml
Due: none

docs: fix invalid link
  docs/locale/fr/LC_MESSAGES/userguide/new-organization.po
  docs/userguide/new-organization.rst
Due: none

Remove typing-extensions from dependabot ignore list
  .github/dependabot.yml
Due: none

feat(cli): Show long version using `shadow-rs`
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/build.rs
  cli/src/main.rs
  cli/tests/integration/version.rs
Due: toml-fmt, fmt, clippy

feat(crypto): Add `CRYPTO_BACKEND` const
  cli/src/main.rs
  cli/tests/integration/version.rs
  libparsec/crates/crypto/src/rustcrypto/mod.rs
  libparsec/crates/crypto/src/sodium/mod.rs
Due: fmt, clippy

refactor(cli): Add `value_hint` to most options of sub-commands
  cli/src/commands/device/change_authentication.rs
  cli/src/commands/device/export_recovery_device.rs
  cli/src/commands/device/import_recovery_device.rs
  cli/src/commands/device/overwrite_server_url.rs
  cli/src/commands/invite/cancel.rs
  cli/src/commands/invite/claim.rs
  cli/src/commands/invite/greet.rs
  cli/src/commands/invite/shared_recovery.rs
  cli/src/commands/invite/user.rs
  cli/src/commands/ls.rs
  cli/src/commands/mount_realm_export.rs
  cli/src/commands/organization/bootstrap.rs
  cli/src/commands/organization/create.rs
  cli/src/commands/rm.rs
  cli/src/commands/run_testenv.rs
  cli/src/commands/server/stats.rs
  cli/src/commands/shared_recovery/create.rs
  cli/src/commands/tos/config.rs
  cli/src/commands/user/revoke.rs
  cli/src/commands/user/totp_reset.rs
  cli/src/commands/workspace/create.rs
  cli/src/commands/workspace/import.rs
  cli/src/commands/workspace/share.rs
  cli/src/macros.rs
Due: fmt, clippy

Improve async enrollment accepted email template
  server/parsec/templates/email/async_enrollment_accepted.html.j2
  server/parsec/templates/email/async_enrollment_accepted.txt.j2
Due: none

chore(dependabot): Configure for docker
  .github/dependabot.yml
Due: none

docs(hosting): Rework infra
  .cspell/names.txt
  docs/hosting/administration/create-organization.rst
  docs/hosting/deployment/.gitignore
  docs/hosting/deployment/editics/parsec-server.docker.yaml.cryptpad.patch
  docs/hosting/deployment/gen-admin-token.sh
  docs/hosting/deployment/gen-secrets.sh
  docs/hosting/deployment/init-s3.sh
  docs/hosting/deployment/parsec-s3.env
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/deployment/rustfs.env
  docs/hosting/deployment/server-deploy.rst
  docs/hosting/deployment/webapp/webapp-compose-nginx.patch
  docs/hosting/deployment/webapp/webapp-compose-server.patch
  docs/hosting/openbao/index.rst
Due: none

Add basic test for server CLI render_email command
  server/tests/cli/test_render_email.py
Due: none

refactor: server email templates
  server/parsec/cli/render_email.py
  server/parsec/components/async_enrollment.py
  server/parsec/components/memory/async_enrollment.py
  server/parsec/components/postgresql/async_enrollment.py
  server/parsec/templates/email/README.md
  server/parsec/templates/email/account_create.html.j2
  server/parsec/templates/email/account_create.txt.j2
  server/parsec/templates/email/account_delete.html.j2
  server/parsec/templates/email/account_delete.txt.j2
  server/parsec/templates/email/account_recover.html.j2
  server/parsec/templates/email/account_recover.txt.j2
  server/parsec/templates/email/async_enrollment_accepted.html.j2
  server/parsec/templates/email/async_enrollment_accepted.txt.j2
  server/parsec/templates/email/base.html.j2
  server/parsec/templates/email/base.txt.j2
  server/parsec/templates/email/footer.html.j2
  server/parsec/templates/email/invitation.html.j2
  server/parsec/templates/email/invitation.txt.j2
  server/parsec/templates/email/macros.html.j2
  server/parsec/templates/email/totp_reset.html.j2
  server/parsec/templates/email/totp_reset.txt.j2
Due: sqlfluff-in-python

[MS] Refactorized files tab bar actions
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/files/FoldersPage.vue
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/document_context_menu.spec.ts
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/download_file.spec.ts
  client/tests/e2e/specs/file_editor.spec.ts
Due: eslint, vue-tsc, prettier

Bump fastapi to v0.140.13
  server/uv.lock
Due: none

[MS] Fixed empty link displaying an error
  client/.npmrc
  client/src/main.ts
Due: eslint, vue-tsc, prettier

Adds a link to open the app on the server's default page
  server/parsec/templates/index.html
Due: none

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
