Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

[CLI] Add keyring support for bootstrap organization.
  cli/src/commands/organization/bootstrap.rs
  cli/src/testenv_utils.rs
  cli/tests/integration/device_option.rs
  cli/tests/integration/organization/bootstrap.rs
  newsfragments/10028.feature.rst
Due: fmt, clippy

[CLI] Use shared auth opt for invite claim.
  cli/src/commands/device/change_authentication.rs
  cli/src/utils.rs
  cli/tests/integration/device/change_authentication.rs
  newsfragments/10028.feature.rst
Due: fmt, clippy

[CLI] Use shared auth opt for invite claim.
  cli/src/commands/invite/claim.rs
  cli/tests/integration/invitations/device.rs
  cli/tests/integration/invitations/shared_recovery.rs
  cli/tests/integration/invitations/user.rs
  newsfragments/10028.feature.rst
Due: fmt, clippy

Update playwright CI to 1.62.1
  .github/workflows/ci-web.yml
Due: none

[MS] Adds test for list certificates errors
  client/src/components/misc/CertificateSelection.vue
  client/src/components/misc/LogDisplay.vue
  client/tests/e2e/specs/async_enrollment.spec.ts
Due: eslint, vue-tsc, prettier

fixup! WIP: RFC 1030 collaborative editics
  docs/rfcs/1030-collaborative-editics.md
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/README.md
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/monitor.js
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/package-lock.json
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/package.json
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/run-demo.js
  docs/rfcs/1030-collaborative-editics/oo_example_session.md
Due: none

[MS] Adds app topbar menu
  client/electron/src/communicationChannels.ts
  client/electron/src/index.ts
  client/electron/src/menu.ts
  client/electron/src/preload.ts
  client/electron/src/setup.ts
  client/src/common/menu.ts
  client/src/components/settings/SettingsList.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/main.ts
Due: eslint, vue-tsc, prettier

fixup! WIP: RFC 1030 collaborative editics
  docs/rfcs/1030-collaborative-editics.md
Due: none

[MS] Fix router config following vue-router update
  client/src/router/types.ts
Due: eslint, vue-tsc, prettier

[MS] Fixes some hotkeys and adds a few
  client/src/components/files/types.ts
  client/src/components/users/types.ts
  client/src/views/files/FoldersPage.vue
  client/src/views/home/OrganizationListPage.vue
  client/src/views/users/UsersPage.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

Fixed npm install in CodeQL CI workflow
  .github/workflows/codeql.yml
  misc/version_updater.py
Due: none

[MS] Updated download archive tests following zipjs update
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/specs/download_file.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Switch electron window to an inline title bar
  client/electron/src/setup.ts
  client/src/App.vue
  client/src/components/header/HomePageSecondaryMenu.vue
  client/src/theme/components/_titlebar.scss
  client/src/theme/components/index.scss
  client/src/views/client-area/ClientAreaHeader.vue
  client/src/views/client-area/ClientAreaPage.vue
  client/src/views/files/handler/FileHandler.vue
  client/src/views/header/HeaderPage.vue
  client/src/views/home/HomePageHeader.vue
  client/src/views/menu/MenuPage.vue
Due: eslint, vue-tsc, prettier

[MS] Updated package-lock and fixed updater
  client/electron/package-lock.json
  client/electron/src/updater.ts
Due: eslint, vue-tsc, prettier

[MS] Set electron light theme for Windows
  client/electron/src/setup.ts
Due: eslint, vue-tsc, prettier

chore(rust): `cargo update -p h2`
  Cargo.lock
Due: none

docs: Wrap `install-cli.po`
  docs/locale/fr/LC_MESSAGES/cli/install-cli.po
Due: none

Remove sqlfluff noqa comments for rule PG01
  server/parsec/components/postgresql/migrations/0001_initial.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
Due: sqlfluff

Fix sqlfluff LT01 warnings
  server/parsec/components/postgresql/account_vault_item_recovery_list.py
  server/parsec/components/postgresql/user_get_certificates.py
Due: sqlfluff-in-python
