Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

license_headers:
  name: license_headers
  entry: python ./misc/license_headers.py add
  language: python
  language_version: python3

eslint:
  name: eslint
  description: ''
  entry: eslint
  language: node
  args:
  - --config=oxidation/client/.eslintrc.js
  additional_dependencies:
  - eslint@8.10.0
  - eslint-plugin-cypress@2.12.1
  - eslint-plugin-vue@8.5.0
  - '@typescript-eslint/eslint-plugin@5.14.0'
  - '@typescript-eslint/parser@5.14.0'
  ...

Minimal postgresql sequester service webhook vlob implementation (no error handling)
  parsec/backend/postgresql/vlob.py
Due: license_headers

Simplify http request (no ssl, no proxy)
  parsec/backend/http_utils.py
Due: license_headers

Improve jobs names in CI with shinny emojies ;-)
  .github/workflows/package-ci.yml
  .github/workflows/quality-assurance.yml
  .github/workflows/test-python-ci.yml
  .github/workflows/test-rust-ci.yml
Due: none

Force click.Choices to be a list
  parsec/backend/cli/sequester.py
Due: license_headers

Add service type to service organization querry
  parsec/backend/postgresql/sequester.py
Due: license_headers

Tests sequester service type webhook
  tests/test_cli.py
Due: license_headers

Provide a single CI workflow for Q&A/Python tests/Rust tests
  .github/workflows/ci.yml
  .github/workflows/quality-assurance.yml
  .github/workflows/test-python-ci.yml
  .github/workflows/test-rust-ci.yml
Due: none

Enable fast-fail for Python&Rust test matrixes in CI
  .github/workflows/ci.yml
Due: none

Add ci-is-happy job collector in CI
  .github/workflows/ci.yml
Due: none

Add mising f to fstring
  parsec/backend/memory/sequester.py
  parsec/backend/postgresql/sequester.py
Due: license_headers

Add argument to select sequester type
  tests/common/sequester.py
Due: license_headers

Simple test that add webhook service
  tests/backend/sequester/test_service.py
Due: license_headers

Remove webhook service from sequester data stored in db
  parsec/backend/postgresql/vlob.py
Due: license_headers

Test webhook on vlob creation
  tests/backend/sequester/test_vlob.py
Due: license_headers

use same cache for `qa` & `test-python`
  .github/workflows/ci.yml
Due: none

Uses ubuntu20.04 in linux CI (required to install PostreSQL 12)
  .github/workflows/ci.yml
Due: none

Postgre ? Is it Groland's flavored PostgreSQL ?
  .github/workflows/ci.yml
Due: none

Add newsfragment (#2731)
  newsfragments/2718.empty.rst
Due: none

Add newsfragment (#2780)
  newsfragments/2777.empty.rst
Due: none

Modification in .github/ force all tests in CI
  .github/actions/paths-filter/filters.yml
Due: none

Use ubuntu-20.04 everywhere in the CI
  .github/workflows/ci.yml
Due: none

Change Rust cache key in CI
  .github/workflows/ci.yml
Due: none

Add packaging testing in CI for MacOS and Windows
  .github/workflows/package-ci.yml
  newsfragments/2826.empty.rst
Due: none

Added set -eux to snap testing in CI
  .github/workflows/package-ci.yml
Due: none

Refresh poetry.lock (specify setuptools==63.4.3)
  poetry.lock
Due: none

Add extra vlob info to http post
  parsec/backend/memory/vlob.py
  parsec/backend/postgresql/vlob.py
Due: license_headers

Remove patch method on organisation stats
  newsfragments/2361.empty.rst
  parsec/backend/asgi/administration.py
Due: license_headers

Renamed BlockStoreComponent arguments
  parsec/backend/blockstore.py
  parsec/backend/postgresql/block.py
  parsec/backend/postgresql/sequester_export.py
  parsec/backend/raid0_blockstore.py
  parsec/backend/raid1_blockstore.py
  parsec/backend/raid5_blockstore.py
  parsec/backend/s3_blockstore.py
  parsec/backend/swift_blockstore.py
Due: license_headers

use runner name as cache-key
  .github/workflows/ci.yml
Due: none

simplify cache key for rust
  .github/actions/setup-rust/action.yml
Due: none

Yolo/harden cache with os version (#2854)
  .github/actions/setup-rust/action.yml
  .github/workflows/ci.yml
Due: none

Bump rust version
  .azure-pipelines.yml
  .github/workflows/ci.yml
  .github/workflows/package-ci.yml
  docs/development/quickstart.rst
  misc/setup-rust.sh
  oxidation/bindings/common/src/lib.rs
  oxidation/libparsec/crates/client_types/src/error.rs
  oxidation/libparsec/crates/client_types/src/local_manifest.rs
  oxidation/libparsec/crates/client_types/tests/test_local_manifest.rs
  oxidation/libparsec/crates/core/src/error.rs
  oxidation/libparsec/crates/core_fs/src/error.rs
  oxidation/libparsec/crates/crypto/src/error.rs
  oxidation/libparsec/crates/protocol/src/handshake.rs
  oxidation/libparsec/crates/types/src/error.rs
  oxidation/libparsec_python/src/ids.rs
  oxidation/libparsec_python/src/invite.rs
  oxidation/libparsec_python/src/lib.rs
  oxidation/libparsec_python/src/manifest.rs
  src/ids.rs
  src/invite.rs
  src/lib.rs
  src/manifest.rs
Due: license_headers

Add newsFragment
  newsfragments/2856.empty.rst
Due: none

Fix comment
  misc/setup-rust.sh
Due: none

fix oxidation client build scripts
  oxidation/client/package-lock.json
  oxidation/client/package.json
Due: none

Review corrections
  oxidation/client/src/components/AlertConfirmation.ts
  oxidation/client/src/components/CreateOrganisationModal.vue
  oxidation/client/src/components/JoinByLinkModal.vue
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/views/HeaderPage.vue
  oxidation/client/src/views/HomePage.vue
  oxidation/client/src/views/MenuPage.vue
Due: license_headers, eslint

Send base64 encoded sequester_vlob to webhook
  parsec/backend/memory/vlob.py
  parsec/backend/postgresql/vlob.py
  parsec/backend/vlob.py
Due: license_headers

(Ionic) Implement the front of the home page (#2731)
  newsfragments/2718.empty.rst
  oxidation/client/src/components/AlertConfirmation.ts
  oxidation/client/src/components/CreateOrganisationModal.vue
  oxidation/client/src/components/JoinByLinkModal.vue
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/router/index.ts
  oxidation/client/src/theme/variables.css
  oxidation/client/src/views/HeaderPage.vue
  oxidation/client/src/views/HomePage.vue
  oxidation/client/src/views/MenuPage.vue
Due: license_headers, eslint

Review corrections
  oxidation/client/src/components/AlertConfirmation.ts
  oxidation/client/src/components/CreateOrganizationModal.vue
  oxidation/client/src/components/SettingsOption.vue
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/views/HomePage.vue
  oxidation/client/src/views/MenuPage.vue
  oxidation/client/src/views/SettingsPage.vue
Due: license_headers, eslint

Ionic settings (#2780)
  newsfragments/2777.empty.rst
  oxidation/client/src/components/AlertConfirmation.ts
  oxidation/client/src/components/CreateOrganizationModal.vue
  oxidation/client/src/components/SettingsOption.vue
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/router/index.ts
  oxidation/client/src/views/HomePage.vue
  oxidation/client/src/views/MenuPage.vue
  oxidation/client/src/views/SettingsPage.vue
Due: license_headers, eslint

Path conditions:
  license_headers: any of: \.py$, \.sql$, \.rs$, \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, but not: ^misc/bench.py$
  eslint: any of: ^oxidation/client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
