Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

Bump API version to 5.4 and document changes planned for Parsec 3.8.0
  libparsec/crates/protocol/src/version.rs
Due: fmt, clippy

[MS] Slight refactorization of mock files, added mock arborescence
  client/README.md
  client/src/views/layouts/DevLayout.vue
Due: eslint, vue-tsc, prettier

feat(cli): Convert some options as argument
  cli/src/commands/device/import_recovery_device.rs
  cli/src/commands/device/remove.rs
  cli/src/commands/organization/stats.rs
  cli/src/commands/organization/status.rs
  cli/tests/integration/device/import_recovery_device.rs
  cli/tests/integration/device/remove.rs
  cli/tests/integration/organization/stats.rs
  cli/tests/integration/organization/status.rs
  newsfragments/8556.feature.rst
Due: fmt, clippy

Updated Docker image to build docs
  docs/Dockerfile
Due: none

[MS] Adds TOTP setup and reset
  .cspell/custom-words.txt
  client/package-lock.json
  client/package.json
  client/src/common/validators.ts
  client/src/components/devices/ChooseAuthentication.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/index.ts
  client/src/parsec/totp.ts
  client/src/parsec/types.ts
  client/src/router/types.ts
  client/src/services/linkHandler.ts
  client/src/theme/components/_modals.scss
  client/src/views/home/DeviceJoinOrganizationModal.vue
  client/src/views/home/HomePage.vue
  client/src/views/home/WebRedirectPage.vue
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/totp/ActivateTotpModal.vue
  client/src/views/totp/DeleteTotpModal.vue
  client/src/views/users/PromptCurrentAuthentication.vue
  client/src/views/users/UpdateAuthenticationModal.vue
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/my_profile_page.spec.ts
  client/tests/e2e/specs/totp.spec.ts
Due: eslint, vue-tsc, prettier

Bump version 3.8.0-rc.1 -> 3.8.0-rc.2+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Adds a search feature for files inside a workspace
  client/src/components/files/explorer/FileSearchResults.vue
  client/src/components/files/explorer/index.ts
  client/src/parsec/index.ts
  client/src/parsec/search.ts
  client/src/parsec/types.ts
  client/src/views/files/FoldersPage.vue
Due: eslint, vue-tsc, prettier

fix(pki): Return correct IO Error for windows API errors
  libparsec/crates/platform_pki/src/windows/mod.rs
Due: fmt, clippy

fix(pki): Return proper NCRYPT_KEY_HANDLE
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/platform_pki/src/windows/schannel_utils.rs
Due: fmt, clippy

fixup! fix(pki): Return proper NCRYPT_KEY_HANDLE
  libparsec/crates/platform_pki/src/windows/schannel_utils.rs
Due: fmt, clippy

fixup! fix(pki): Return proper NCRYPT_KEY_HANDLE
  libparsec/crates/platform_pki/src/windows/mod.rs
Due: fmt, clippy

[MS] Fixed CSP for file preview on Electron
  client/electron/src/cspRules.ts
  client/src/main.ts
Due: eslint, vue-tsc, prettier

[MS] Fixed CSP for file preview on Electron (#12283)
  client/electron/src/cspRules.ts
  client/src/main.ts
Due: eslint, vue-tsc, prettier

Implement `WorspaceOps::search()` & `WorspaceHistoryOps::search()`
  Cargo.lock
  libparsec/crates/client/Cargo.toml
  libparsec/crates/client/src/lib.rs
  libparsec/crates/client/src/search.rs
  libparsec/crates/client/src/workspace/mod.rs
  libparsec/crates/client/src/workspace/transactions/mod.rs
  libparsec/crates/client/src/workspace/transactions/search.rs
  libparsec/crates/client/src/workspace_history/mod.rs
  libparsec/crates/client/src/workspace_history/transactions/mod.rs
  libparsec/crates/client/src/workspace_history/transactions/search.rs
  libparsec/crates/client/tests/unit/search.rs
  libparsec/crates/client/tests/unit/workspace/mod.rs
  libparsec/crates/client/tests/unit/workspace/search.rs
  libparsec/crates/client/tests/unit/workspace_history/mod.rs
  libparsec/crates/client/tests/unit/workspace_history/search.rs
  libparsec/crates/client/tests/unit/workspace_history/utils.rs
Due: toml-fmt, fmt, clippy

Implement file search in GUI
  client/src/components/files/explorer/WorkspaceHistorySearchResultList.vue
  client/src/components/files/explorer/WorkspaceSearchResultList.vue
  client/src/components/files/explorer/index.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/file.ts
  client/src/parsec/history.ts
  client/src/parsec/types.ts
  client/src/views/files/FoldersPage.vue
  client/src/views/workspaces/WorkspaceHistoryPage.vue
Due: eslint, vue-tsc, prettier

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Expose `workspace(_history)_search` in GUI bindings
  bindings/generator/api/workspace.py
  bindings/generator/api/workspace_history.py
  libparsec/src/client.rs
  libparsec/src/handle.rs
  libparsec/src/workspace.rs
  libparsec/src/workspace_history.rs
Due: fmt, clippy

Document TOTP (MFA)
  .cspell/custom-words.txt
  docs/hosting/administration/index.rst
  docs/hosting/administration/mfa_reset.rst
  docs/index.rst
  docs/userguide/mfa.rst
  docs/userguide/screens/mfa.en.png
  docs/userguide/screens/mfa.fr.png
Due: none

Minor typo fix in `server/parsec/components/memory/totp.py`
  server/parsec/components/memory/totp.py
Due: none

Minor typo for in `libparsec/crates/totp/src/lib.rs`
  libparsec/crates/totp/src/lib.rs
Due: fmt, clippy

Add frencg translation for document TOTP (MFA)
  docs/locale/fr/LC_MESSAGES/hosting/administration/mfa_reset.po
  docs/locale/fr/LC_MESSAGES/userguide/mfa.po
Due: none

[MS] Fix invitation unread icon in main menu
  client/src/views/invitations/InvitationSwitchModal.vue
  client/src/views/invitations/InvitationsPage.vue
  client/src/views/menu/MainMenu.vue
Due: eslint, vue-tsc, prettier

feat(pki): Log key usage & impl type
  libparsec/crates/platform_pki/src/windows/mod.rs
Due: fmt, clippy

fixup! feat(pki): Log key usage & impl type
  libparsec/crates/platform_pki/src/windows/mod.rs
Due: fmt, clippy

feat(pki): log ncrypt key handle pointer
  libparsec/crates/platform_pki/src/windows/schannel_utils.rs
Due: fmt, clippy

Add link to MFA docs in MFA reset email template
  server/parsec/templates/email/totp_reset.html.j2
  server/parsec/templates/email/totp_reset.txt.j2
Due: none

Fix link to docs in invitation email template
  server/parsec/templates/email/invitation.html.j2
  server/parsec/templates/email/invitation.txt.j2
Due: none

Minor fixes to footer email template
  server/parsec/templates/email/footer.html.j2
Due: none
