Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

fixup! Introduce `libparsec_crypto::KeyDerivation::derive_uuid_from_uuid()`
  libparsec/crates/crypto/src/rustcrypto/key_derivation.rs
Due: fmt, clippy

Add `fake_account_password_algorithm_seed` to server config and `--fake-account-password-algorithm-seed` param to server run CLI
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/cli/utils.py
  server/parsec/config.py
  server/tests/common/backend.py
Due: none

Improve `misc/test_expected_payload_cooker.py` to handle special case for `LocalDevice` & `LocalDeviceFile`
  misc/test_expected_payload_cooker.py
Due: none

Always serde `SCREAMING_SNAKE_CASE` instead of `UPPERCASE` in `libparsec_type`
  libparsec/crates/types/src/id.rs
  libparsec/crates/types/src/invite.rs
  libparsec/crates/types/src/manifest.rs
Due: fmt, clippy

Implement `libparsec_account::Account` with minimal init
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/tests/unit/account.rs
Due: fmt, clippy

Remove `ParsecAuthenticatedAccountAddr`&`ParsecAnonymousAccountAddr` since `ParsecAddr` can be used instead
  libparsec/crates/client_connection/src/anonymous_account_cmds.rs
  libparsec/crates/client_connection/src/authenticated_account_cmds.rs
  libparsec/crates/client_connection/tests/unit/anonymous_account.rs
  libparsec/crates/client_connection/tests/unit/authenticated_account.rs
  libparsec/crates/types/src/addr.rs
Due: fmt, clippy

Introduce `libparsec_crypto::KeyDerivation::derive_uuid_from_uuid()`
  libparsec/crates/crypto/src/rustcrypto/key_derivation.rs
  libparsec/crates/crypto/src/sodiumoxide/key_derivation.rs
  libparsec/crates/crypto/tests/key_derivation.rs
Due: fmt, clippy

Introduce `libparsec_crypto::KeyDerivation::from_argon2id_password`
  libparsec/crates/crypto/src/rustcrypto/key_derivation.rs
  libparsec/crates/crypto/src/rustcrypto/secret.rs
  libparsec/crates/crypto/src/rustcrypto/utils.rs
  libparsec/crates/crypto/src/sodiumoxide/key_derivation.rs
  libparsec/crates/crypto/src/sodiumoxide/secret.rs
  libparsec/crates/crypto/src/sodiumoxide/utils.rs
  libparsec/crates/crypto/tests/key_derivation.rs
Due: fmt, clippy

Always use serde `SCREAMING_SNAKE_CASE` instead of `UPPERCASE` in `libparsec_type`
  libparsec/crates/types/src/id.rs
  libparsec/crates/types/src/invite.rs
  libparsec/crates/types/src/manifest.rs
Due: fmt, clippy

Move `PasswordAlgorithm` into `libparsec_crypto` and provides it with dedicated methods
  libparsec/crates/crypto/src/common/mod.rs
  libparsec/crates/crypto/src/common/password.rs
  libparsec/crates/crypto/src/rustcrypto/key_derivation.rs
  libparsec/crates/crypto/src/rustcrypto/mod.rs
  libparsec/crates/crypto/src/rustcrypto/password.rs
  libparsec/crates/crypto/src/rustcrypto/secret.rs
  libparsec/crates/crypto/src/rustcrypto/utils.rs
  libparsec/crates/crypto/src/sodiumoxide/key_derivation.rs
  libparsec/crates/crypto/src/sodiumoxide/mod.rs
  libparsec/crates/crypto/src/sodiumoxide/password.rs
  libparsec/crates/crypto/src/sodiumoxide/secret.rs
  libparsec/crates/crypto/src/sodiumoxide/utils.rs
  libparsec/crates/crypto/tests/key_derivation.rs
  libparsec/crates/crypto/tests/password.rs
  libparsec/crates/crypto/tests/secret.rs
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/types/src/account.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/account.pyi
  server/parsec/_parsec_pyi/crypto.pyi
  server/src/crypto.rs
  server/src/data/account.rs
  server/src/data/mod.rs
Due: fmt, clippy

Properly implement `BaseAccountComponent._generate_fake_password_algorithm` and add corresponding `--fake-account-password-algorithm-seed` param to server run CLI
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/cli/utils.py
  server/parsec/components/account.py
  server/parsec/config.py
  server/tests/api_v5/anonymous_account/test_auth_method_password_get_algorithm.py
  server/tests/common/backend.py
Due: none

Update `account_create_proceed/auth_method_password_get_algorithm/vault_item_recovery_list/vault_key_rotation` tests now that `PasswordAlgorithm` serialization format has changed
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_create_proceed.rs
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/auth_method_password_get_algorithm.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/vault_item_recovery_list.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/vault_key_rotation.rs
Due: fmt, clippy

Update `libparsec_account` to use the new `PasswordAlgorithm`
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/tests/unit/account.rs
Due: fmt, clippy

Use builtin `PasswordAlgorithm` in `device_file_password` type schema and fix `libparsec_platform_device_loader` accordingly
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/web/error.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/types/schema/local_device/device_file_password.json5
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
Due: fmt, clippy

Improve `DeviceFile` tests in `libparsec_types`
  libparsec/crates/types/tests/unit/local_device_file.rs
Due: fmt, clippy

[MS] Parsec Account creation page
  client/src/components/account/AccountUserInformation.vue
  client/src/components/devices/ChooseAuthentication.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/account.ts
  client/src/parsec/types.ts
  client/src/router/types.ts
  client/src/router/watchers.ts
  client/src/theme/components/_inputs.scss
  client/src/theme/global.scss
  client/src/views/account/AccountLoginPage.vue
  client/src/views/account/CreateAccountPage.vue
  client/src/views/home/AccountHomePage.vue
  client/src/views/home/HomePageHeader.vue
  client/src/views/home/LoginPage.vue
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/specs/account_login.spec.ts
  client/tests/e2e/specs/client_area_login.spec.ts
  client/tests/e2e/specs/client_forgotten_password.spec.ts
  client/tests/e2e/specs/home_page.spec.ts
Due: eslint, vue-tsc, prettier

fix(pkg-cli): Use runner temp dir when downloading winfsp (#10262)
  .github/workflows/package-cli.yml
Due: none

[MS] Adds a few parsec account tests
  client/src/locales/en-US.json
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/specs/account_enable.spec.ts
  client/tests/e2e/specs/account_login.spec.ts
Due: eslint, vue-tsc, prettier

ci(windows): Fix temp dir used to DL winfsp
  .github/workflows/ci-rust.yml
  .github/workflows/package-cli.yml
  .github/workflows/package-desktop.yml
Due: none

[MS] Added organization size
  client/src/components/organizations/OrganizationConfigurationInformation.vue
  client/src/components/organizations/OrganizationStorageInformation.vue
  client/src/components/organizations/OrganizationUserInformation.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/organization.ts
  client/src/parsec/types.ts
  client/src/views/organizations/OrganizationInformationPage.vue
  client/tests/e2e/specs/organization_information.spec.ts
  newsfragments/10284.feature.rst
Due: eslint, vue-tsc, prettier

[MS] HeaderBreadcrumbs responsive & updates
  client/src/common/utils.ts
  client/src/components/files/FolderSelectionModal.vue
  client/src/components/header/HeaderBreadcrumbPopover.vue
  client/src/components/header/HeaderBreadcrumbs.vue
  client/src/components/header/SmallDisplayHeaderTitle.vue
  client/src/views/header/HeaderPage.vue
  client/src/views/menu/TabBarMenu.vue
  client/src/views/workspaces/WorkspaceHistoryPage.vue
  client/tests/component/specs/testHeaderBreadcrumbs.spec.ts
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Very minor adjustements on breadcrumbs
  client/src/components/header/HeaderBreadcrumbs.vue
  client/src/views/workspaces/WorkspaceHistoryPage.vue
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/documents_list.spec.ts
Due: eslint, vue-tsc, prettier

docs(RFC-1013): Fix some typo + format match expr
  docs/rfcs/1013-parsec-account.md
Due: none

[MS] Update invoice status for Custom Order
  client/package-lock.json
  client/package.json
  client/src/components/client-area/TimeFilterPopover.vue
  client/src/components/client-area/invoices/InvoicesListItem.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/bms/types.ts
  client/src/services/translation.ts
  client/src/theme/components/_popovers.scss
  client/src/views/client-area/dashboard/DashboardPage.vue
  client/src/views/client-area/invoices/CustomOrderInvoicesPage.vue
  client/src/views/client-area/personal-data/PersonalInfoModal.vue
  client/tests/e2e/specs/client_area_custom_order_invoices.spec.ts
  client/tests/e2e/specs/client_area_invoices_page.spec.ts
Due: eslint, vue-tsc, prettier

Use constant for cmd families in RPC test fixture
  server/tests/common/rpc.py
Due: none

[MS] Added support for custom branding
  client/.gitignore
  client/electron/src/preload.ts
  client/src/main.ts
  client/src/services/resourcesManager.ts
  client/src/views/home/HomePageSidebar.vue
Due: eslint, vue-tsc, prettier

ci(windows): Fix temp dir used to DL winfsp
  .github/workflows/ci-rust.yml
  .github/workflows/package-desktop.yml
Due: none

Update testbed version on CI
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

ci(pkg-windows-app): Increate timeout to install deps
  .github/workflows/package-desktop.yml
Due: none

Bump version 3.4.0 -> 3.4.1-a.0+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.4.0-rc.8+dev -> 3.4.0
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
