Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

[MS] Normalized how to switch between small and large display in tests
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/greet.ts
  client/tests/e2e/helpers/types.ts
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/device_greet.spec.ts
  client/tests/e2e/specs/document_context_menu.spec.ts
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/file_import.spec.ts
  client/tests/e2e/specs/file_viewers_pdf.spec.ts
  client/tests/e2e/specs/home_page.spec.ts
  client/tests/e2e/specs/my_profile_page.spec.ts
  client/tests/e2e/specs/organization_information.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
  client/tests/e2e/specs/users_list.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
  client/tests/e2e/specs/workspace_sharing.spec.ts
  client/tests/e2e/specs/workspaces_actions.spec.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
Due: eslint, vue-tsc, prettier

Add account client.
  Cargo.lock
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/__init__.py
  bindings/generator/api/account.py
  bindings/generator/api/addr.py
  bindings/generator/api/common.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/Cargo.toml
  libparsec/crates/account/src/lib.rs
  libparsec/crates/client_connection/src/lib.rs
  libparsec/crates/crypto/src/rustcrypto/key_derivation.rs
  libparsec/crates/crypto/src/sodiumoxide/key_derivation.rs
  libparsec/crates/types/src/account.rs
  libparsec/src/account.rs
  libparsec/src/lib.rs
Due: toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

fix(server): Mocked email are now persisted until email temp dir is deleted
  server/parsec/components/email.py
Due: none

[MS] Draft of account creation using bindings
  client/package-lock.json
  client/package.json
  client/src/components/account/AccountUserInformation.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/account.ts
  client/src/parsec/types.ts
  client/src/views/account/AccountLoginPage.vue
  client/src/views/account/CreateAccountPage.vue
Due: eslint, vue-tsc, prettier

[MS] Adds mock delete account
  client/src/parsec/account.ts
  client/src/parsec/types.ts
Due: eslint, vue-tsc, prettier

ci(releaser): Fix missing if cond for dependent workflows
  .github/workflows/releaser.yml
Due: none

feat(releaser.py): Add `force-push` option
  misc/releaser.py
Due: none

refactor(libparsec-web): Add log on trampoline-web (#10370)
  client/src/plugins/libparsec/trampoline-web.ts
Due: eslint, vue-tsc, prettier

refactor(server): Add log for SMTP actions (#10439)
  server/parsec/cli/run.py
  server/parsec/components/email.py
  server/parsec/config.py
Due: none

docs(changelog): Add note about first release of parsec-web (#10478)
  HISTORY.rst
Due: none

ci(pkg-windows-app): Increate timeout to install deps
  .github/workflows/package-desktop.yml
Due: none

Bump version 3.4.0-a.7+dev -> 3.4.1-a.0+dev
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  newsfragments/10017.feature.rst
  newsfragments/10041.bugfix.rst
  newsfragments/10061.feature.rst
  newsfragments/10143.feature.rst
  newsfragments/10165.feature.rst
  newsfragments/6174.doc.rst
  newsfragments/9505.feature.rst
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

refactor(client): Rework shared worker config
  client/src/plugins/libparsec/trampoline-web.ts
  client/src/plugins/libparsec/web_shared_worker.ts
Due: eslint, vue-tsc, prettier

feat(rust-web): Allow to call `initLogger` with default log level
  bindings/web/scripts/liveplay.py
  bindings/web/src/lib.rs
  client/.env.development
  client/.env.release-candidate
  client/src/plugins/libparsec/trampoline-web.ts
  client/src/plugins/libparsec/web_shared_worker.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

refactor(invite): Add log when org bootstrap finish
  libparsec/src/invite.rs
Due: fmt, clippy

ci(windows): Update runner version to 2025
  .github/workflows/ci-rust.yml
  .github/workflows/package-desktop.yml
  .github/workflows/package-server.yml
Due: none

[MS] Add Account information
  client/src/parsec/account.ts
  client/src/parsec/types.ts
Due: eslint, vue-tsc, prettier

[MS] Added locales
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: none

refactor(payload_cooker): Correctly indent hex block
  misc/test_expected_payload_cooker.py
Due: none

feat(protocol): Add `account_delete_confirm` authenticated cmd
  libparsec/crates/protocol/schema/authenticated_account_cmds/account_delete_confirm.json5
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/account_delete_confirm.rs
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
Due: fmt, clippy

feat(server): Handle account deletion request
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/account_delete_confirm.pyi
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/parsec/config.py
  server/tests/api_v5/anonymous_account/__init__.py
  server/tests/api_v5/authenticated_account/__init__.py
  server/tests/api_v5/authenticated_account/test_account_delete_confirm.py
  server/tests/common/backend.py
  server/tests/common/rpc.py
Due: none

[MS] Added simple create account test
  client/src/locales/en-US.json
  client/src/parsec/account.ts
  client/src/services/environment.ts
  client/src/views/account/CreateAccountPage.vue
  client/tests/e2e/specs/account_create.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Account button on Homepage
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_popovers.scss
  client/src/views/account/AccountSettingsPage.vue
  client/src/views/account/types.ts
  client/src/views/header/HeaderPage.vue
  client/src/views/header/ProfileHeaderHomePage.vue
  client/src/views/header/ProfileHeaderHomepagePopover.vue
  client/src/views/header/ProfileHeaderOrganization.vue
  client/src/views/header/ProfileHeaderOrganizationPopover.vue
  client/src/views/home/HomePage.vue
  client/src/views/home/HomePageHeader.vue
  client/src/views/home/LoginPage.vue
  client/src/views/home/OrganizationListPage.vue
Due: eslint, vue-tsc, prettier

Add newsfragment
  newsfragments/10524.feature.rst
Due: none

docs(RFC): Add RFC about simpler user token
  docs/rfcs/0000-simple-user-facing-token.md
Due: none

Remove unused images in docs
  docs/figures/architecture_diagram.svg
  docs/figures/parsec_file_read.png
  docs/figures/parsec_functional_components.png
  docs/parsce_archi.png
Due: none

[MS] POC Cryptpad edition
  client/README.md
  client/package-lock.json
  client/package.json
  client/src/router/types.ts
  client/src/services/cryptpad.ts
  client/src/services/environment.ts
  client/src/services/fileOpener.ts
  client/src/views/editors/FileEditor.vue
  client/vite.config.ts
Due: eslint, vue-tsc, prettier
