Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Added missing 3.10.0 newsfragments
  newsfragments/10086.bugfix.rst
  newsfragments/12920.bugfix.rst
  newsfragments/12980.feature.rst
  newsfragments/13076.bugfix.rst
  newsfragments/13094.bugfix.rst
  newsfragments/13225.bugfix.rst
  newsfragments/13309.feature.rst
  newsfragments/13310.feature.rst
Due: none

fixup! feat(server): Add tasks to remove old organization
  server/parsec/cli/tasks/delete_old_organization.py
  server/parsec/components/organization.py
  server/tests/cli/tasks/test_rm_old_organizations.py
Due: none

[CLI] Forget local device displays the full ID.
  cli/src/ui/compat.rs
Due: fmt, clippy

fixup! feat(server): Add tasks to remove old organization
  server/parsec/components/memory/organization.py
  server/parsec/components/organization.py
  server/tests/cli/tasks/test_rm_old_organizations.py
Due: none

fixup! feat(server): Add tasks to remove old organization
  server/parsec/cli/tasks/delete_old_organization.py
  server/tests/cli/tasks/test_rm_old_organizations.py
Due: none

fixup! feat(server): Add tasks to remove old organization
  server/parsec/backend.py
Due: none

[MS] Add Monaco as the default text editor
  client/package-lock.json
  client/package.json
  client/src/common/fileTypes.ts
  client/src/main.ts
  client/src/services/cryptpad.ts
  client/src/services/pathOpener.ts
  client/src/services/viewers.ts
  client/src/views/files/handler/FileHandler.vue
  client/src/views/files/handler/editor/FileEditor.vue
  client/src/views/files/handler/editor/types.ts
  client/src/views/files/handler/types.ts
  client/src/views/files/handler/viewer/FileViewer.vue
  client/src/views/files/handler/viewer/TextViewer.vue
  client/src/views/files/handler/viewer/index.ts
Due: eslint, vue-tsc, prettier

Bump version 3.10.0-rc.0 -> 3.10.0-rc.1+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/cli/install-cli.rst
  docs/conf.py
  docs/hosting/custom-branding.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/deployment/server-deploy.rst
  docs/hosting/deployment/webapp/index.rst
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
  server/uv.lock
Due: toml-fmt, fmt, clippy, eslint, prettier

fixup! feat(server): Add tasks to remove old organization
  server/parsec/backend.py
  server/tests/administration/test_stats.py
Due: none

Update HISTORY.rst with CLI changes in v3.10
  HISTORY.rst
Due: none

TMp
  client/src/services/viewers.ts
  client/src/views/files/handler/viewer/TextViewer.vue
Due: eslint, vue-tsc, prettier

Tmp
  client/src/common/fileTypes.ts
  client/src/services/viewers.ts
  client/src/views/files/handler/viewer/TextViewer.vue
Due: eslint, vue-tsc, prettier

Update rfc1030 following review
  docs/rfcs/1030-generic-sso-provider-display.md
Due: none

Fixed readOnly for viewers
  client/src/services/pathOpener.ts
  client/src/views/files/handler/FileHandler.vue
Due: eslint, vue-tsc, prettier

refactor(server): Add pydantic support for `OrganizationID` & `DateTime`
  server/Cargo.toml
  server/parsec/asgi/administration.py
  server/parsec/events.py
  server/parsec/types.py
  server/src/ids.rs
  server/src/lib.rs
  server/src/protocol.rs
  server/src/pydantic_support.rs
  server/src/time.rs
  server/tests/test_types.py
Due: toml-fmt, fmt, clippy

feat(server): Add CLI task to list organizations
  server/parsec/cli/__init__.py
  server/parsec/cli/tasks/__init__.py
  server/parsec/cli/tasks/list_organization.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/organization.py
  server/parsec/components/organization.py
  server/parsec/components/postgresql/organization.py
  server/parsec/components/postgresql/organization_list_organizations.py
  server/parsec/webhooks.py
  server/tests/administration/test_create_organization.py
  server/tests/administration/test_patch_organization.py
  server/tests/api_v5/anonymous/test_organization_bootstrap.py
  server/tests/cli/tasks/test_list_organizations.py
  server/tests/conftest.py
Due: sqlfluff-in-python

fixup! feat(server): Add tasks to remove old organization
  server/tests/cli/tasks/test_rm_old_organizations.py
Due: none

feat(server): Add tasks to remove old organization
  server/parsec/cli/options.py
  server/parsec/cli/tasks/__init__.py
  server/parsec/cli/tasks/delete_old_organization.py
Due: none

Fix what's considered an editable file
  client/src/common/fileTypes.ts
  client/src/services/contextMenu/fileContextMenu.ts
  client/src/services/cryptpad.ts
  client/src/views/files/FoldersPage.vue
  client/tests/e2e/specs/bug_report.spec.ts
Due: eslint, vue-tsc, prettier

Some more test fixes
  client/src/views/files/handler/viewer/TextViewer.vue
  client/tests/e2e/specs/download_file.spec.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
Due: eslint, vue-tsc, prettier

WIP add `created_on` field to `TestbedEventBootstrapOrganization`
  libparsec/crates/testbed/src/template/build.rs
  libparsec/crates/testbed/src/template/events.rs
  server/parsec/_parsec_pyi/testbed.pyi
  server/parsec/backend.py
  server/src/testbed.rs
  server/tests/administration/test_stats.py
Due: fmt, clippy

Fixed tests
  client/src/views/files/handler/viewer/TextViewer.vue
  client/tests/e2e/specs/file_editor.spec.ts
Due: eslint, vue-tsc, prettier

Added breaks in switch/case in electron updater
  client/electron/src/updater.ts
Due: eslint, vue-tsc, prettier

[MS] Adds test for text editing with monaco
  client/src/views/files/handler/viewer/TextViewer.vue
  client/tests/e2e/specs/file_editor.spec.ts
Due: eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
