Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Add `Content-Security-Policy` header to editics app hosting on the server
  server/parsec/asgi/__init__.py
  server/tests/test_web_app_hosting.py
Due: none

Remove dead code.
  libparsec/crates/platform_storage/tests/workspace_cache.rs
  libparsec/crates/platform_storage/tests/workspace_data.rs
Due: fmt, clippy

[MS] Resync electron package-lock
  client/electron/package-lock.json
Due: none

[MS] Updated playwright version in CI
  .github/workflows/ci-web.yml
Due: none

[MS] Fixed small error that could occur when cancelling a search
  client/src/views/files/FoldersPage.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

refactor(postgresql): Add delete constraints for user table
  server/parsec/components/postgresql/migrations/0038_user_delete_constraints.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/tests/postgres_wipe/test_user_wipe.py
Due: sqlfluff

Make explicit the fact `tsconfig.json` is only used for type checking
  client/electron/tsconfig.json
  client/tsconfig.json
Due: none

Fix eslint type checking for `client/vite.config.ts` and `client/scripts/vite_plugin_wasm_pack.ts`
  client/eslint.config.ts
  client/scripts/vite_plugin_wasm_pack.ts
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

Remove `PARSEC_APP_FORCE_CRYPTPAD_SERVER` env variable
  client/README.md
  client/src/services/environment.ts
Due: eslint, vue-tsc, prettier

Add onlyoffice-editor & onlyoffice-x2t dependencies to GUI
  client/knip.config.ts
  client/package-lock.json
  client/package.json
Due: eslint, vue-tsc, prettier

Update electron CSP to support OnlyOffice
  client/electron/src/cspRules.ts
Due: eslint, vue-tsc, prettier

Add client/editics (i.e. editics host iframe content)
  .cspell/custom-words.txt
  client/editics/README.md
  client/editics/offline.html
  client/editics/offline.ts
  client/editics/parent_host_api.ts
  client/editics/templates/cell.bin
  client/editics/templates/slide.bin
  client/editics/templates/word.bin
  client/eslint.config.ts
  client/knip.config.ts
  client/scripts/vite_plugin_editics.ts
  client/tsconfig.json
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

Remove deprecated `src/services/cryptpad.ts`
  client/src/services/cryptpad.ts
Due: eslint, vue-tsc, prettier

Convert GUI file type detection from cryptpad to editics
  client/src/common/fileTypes.ts
  client/src/services/pathOpener.ts
  client/src/views/files/handler/FileHandler.vue
Due: eslint, vue-tsc, prettier

Prune node_module/onlyoffice-editor in CI (avoid ~300mo cache)
  .github/scripts/prune_node_modules_onlyoffice.sh
  .github/workflows/ci-web.yml
Due: none

Add editics support in client/src (i.e. editics parent frame content)
  client/src/services/editics.ts
  client/src/views/files/handler/editor/FileEditor.vue
Due: eslint, vue-tsc, prettier

Fix missing jsonify error in `editics/offline.ts`
  client/editics/offline.ts
Due: eslint, vue-tsc, prettier

Add support for image display and image import in editics
  client/editics/offline.ts
  client/editics/parent_host_api.ts
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

Add ImageSelectionModal in Parsec GUI (for image insertion in editics)
  client/src/components/files/explorer/ImageSelectionModal.vue
  client/src/components/files/explorer/index.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_inputs.scss
  client/src/theme/components/_modals.scss
Due: eslint, vue-tsc, prettier

Add satisfies typing restriction to `client/editics/offline.ts`
  client/editics/offline.ts
Due: eslint, vue-tsc, prettier

Disable editics tests in tests/e2e/specs/editics_enable.spec.ts, tests/e2e/specs/workspace_history.spec.ts and client/tests/e2e/specs/file_editor.spec.ts
  client/tests/e2e/specs/editics_enable.spec.ts
  client/tests/e2e/specs/file_editor.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
Due: eslint, vue-tsc, prettier

Fix origin check for iframe message passing in client/src/services/editics.ts & client/editics/offline.ts
  client/editics/offline.ts
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

[MS] Properly isolate frames and make it work on localhost
  client/.env.development
  client/editics/offline.ts
  client/scripts/vite_plugin_editics.ts
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

[MS] Served editics on Electron with correct isolation and CSP
  client/.gitignore
  client/.prettierignore
  client/electron/package.cjs
  client/electron/src/cspRules.ts
  client/electron/src/setup.ts
  client/eslint.config.ts
  client/scripts/copy_to_electron.cjs
  client/src/services/editics.ts
  misc/license_headers.py
Due: eslint, vue-tsc, prettier

Add cache busting support for editics and onlyoffice packages
  client/editics/README.md
  client/editics/offline.ts
  client/electron/src/cspRules.ts
  client/scripts/vite_plugin_editics.ts
Due: eslint, vue-tsc, prettier

Document PARSEC_APP_TESTBED_SERVER & TESTBED_SERVER environ variables in client/README.md
  client/README.md
Due: none

Fix editics subdomain handling in dev mode when original domain is 127.0.0.1
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

Add domain routing in editics for web release
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

Correct GUI build to have onlyoffice & onlyoffice-x2t copied within editics folder Useful to have all the editics-related stuff in a single folder (since they should be served from a different domain)
  client/editics/README.md
  client/editics/offline.ts
  client/scripts/copy_to_electron.cjs
  client/scripts/vite_plugin_editics.ts
Due: eslint, vue-tsc, prettier

[MS] Small fixes for editics
  client/.gitignore
  client/editics/README.md
  client/scripts/copy_to_electron.cjs
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

[MS] Fix CSP
  client/electron/src/cspRules.ts
  client/scripts/vite_plugin_editics.ts
Due: eslint, vue-tsc, prettier

[MS] Reactivate e2e test for editics
  client/.env.playwright
  client/README.md
  client/editics/offline.html
  client/src/services/editics.ts
  client/tests/e2e/helpers/cryptpad.ts
  client/tests/e2e/helpers/editics.ts
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/index.ts
  client/tests/e2e/helpers/types.ts
  client/tests/e2e/specs/document_context_menu.spec.ts
  client/tests/e2e/specs/file_editor.spec.ts
  client/tests/e2e/specs/options_tab_menu.spec.ts
  client/tests/e2e/specs/workspace_archive.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
  client/tests/e2e/specs/workspace_trash.spec.ts
Due: eslint, vue-tsc, prettier

Add cache-busting suffix to `editics/offline.html` when building
  client/editics/README.md
  client/index.html
  client/scripts/vite_plugin_editics.ts
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

Opening an empty document in editics result in an explicit error (instead of loading a blank template)
  client/editics/offline.ts
  client/editics/templates/cell.bin
  client/editics/templates/slide.bin
  client/editics/templates/word.bin
Due: eslint, vue-tsc, prettier

Add editics app hosting to the server
  server/parsec/asgi/__init__.py
  server/parsec/cli/run.py
  server/parsec/config.py
  server/tests/test_web_app_hosting.py
Due: none

Removed reference to editics/templates
  client/scripts/vite_plugin_editics.ts
Due: eslint, vue-tsc, prettier

refactor(postgresql): Add delete constraints for organization
  server/parsec/components/postgresql/migrations/0039_organization_delete_constraints.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/tests/postgres_wipe/test_organization_wipe.py
Due: sqlfluff

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
