Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

[MS] Request access to loopback address if SCWS is configured
  client/src/parsec/async_enrollment.ts
  client/src/services/permissions.ts
  newsfragments/13432.feature.rst
Due: eslint, vue-tsc, prettier

Bump version 3.10.0-rc.2+dev -> 3.10.0-rc.2
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/cli/install-cli.rst
  docs/conf.py
  docs/hosting/custom-branding.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/deployment/server-deploy.rst
  docs/hosting/deployment/webapp/index.rst
  libparsec/version
  misc/versions.toml
  newsfragments/13429.misc.rst
  newsfragments/13432.feature.rst
  server/parsec/_version.py
  server/pyproject.toml
  server/uv.lock
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.10.0-rc.2 -> 3.10.0-rc.3+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/cli/install-cli.rst
  docs/conf.py
  docs/hosting/custom-branding.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/deployment/server-deploy.rst
  docs/hosting/deployment/webapp/index.rst
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
  server/uv.lock
Due: toml-fmt, fmt, clippy, eslint, prettier

refactor(postgresql): Add delete constraints for realm
  server/parsec/components/postgresql/migrations/0028_sequester_delete_constraints.sql
  server/parsec/components/postgresql/migrations/0031_realm_delete_constraints.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/tests/postgres_wipe/test_account_wipe.py
  server/tests/postgres_wipe/test_block_wipe.py
  server/tests/postgres_wipe/test_realm_wipe.py
  server/tests/postgres_wipe/test_sequester_wipe.py
  server/tests/postgres_wipe/test_vlob_wipe.py
  server/tests/postgres_wipe/utils.py
Due: sqlfluff

refactor(postgresql): Add delete constraints for invitation
  server/parsec/components/postgresql/migrations/0032_invitation_delete_constraints.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/tests/postgres_wipe/test_invitation_wipe.py
Due: sqlfluff

[MS] Use the correct protocol to try and fetch on localhost
  client/src/services/permissions.ts
Due: eslint, vue-tsc, prettier

[Bench] Add upload speed benchmark.
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/benches/README.md
  cli/benches/reports/version_date_example/report/index.html
  cli/benches/reports/version_date_example/upload/base/benchmark.json
  cli/benches/reports/version_date_example/upload/base/estimates.json
  cli/benches/reports/version_date_example/upload/base/raw.csv
  cli/benches/reports/version_date_example/upload/base/sample.json
  cli/benches/reports/version_date_example/upload/base/tukey.json
  cli/benches/reports/version_date_example/upload/new/benchmark.json
  cli/benches/reports/version_date_example/upload/new/estimates.json
  cli/benches/reports/version_date_example/upload/new/raw.csv
  cli/benches/reports/version_date_example/upload/new/sample.json
  cli/benches/reports/version_date_example/upload/new/tukey.json
  cli/benches/reports/version_date_example/upload/report/MAD.svg
  cli/benches/reports/version_date_example/upload/report/SD.svg
  cli/benches/reports/version_date_example/upload/report/index.html
  cli/benches/reports/version_date_example/upload/report/iteration_times.svg
  cli/benches/reports/version_date_example/upload/report/iteration_times_small.svg
  cli/benches/reports/version_date_example/upload/report/mean.svg
  cli/benches/reports/version_date_example/upload/report/median.svg
  cli/benches/reports/version_date_example/upload/report/pdf.svg
  cli/benches/reports/version_date_example/upload/report/pdf_small.svg
  cli/benches/reports/version_date_example/upload/report/typical.svg
  cli/benches/upload_speed.rs
Due: toml-fmt, fmt, clippy

Make explicit the fact `tsconfig.json` is only used for type checking
  client/electron/tsconfig.json
  client/tsconfig.json
Due: none

Fix eslint type checking for `client/vite.config.ts` and `client/scripts/vite_plugin_wasm_pack.ts`
  client/eslint.config.ts
  client/scripts/vite_plugin_wasm_pack.ts
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

Remove `PARSEC_APP_FORCE_CRYPTPAD_SERVER` env variable
  client/README.md
  client/src/services/environment.ts
Due: eslint, vue-tsc, prettier

Run prettier before vue-tsc in pre-commit (tsc is slow, and style errors are very common)
  .pre-commit-config.yaml
Due: none

Add client/editics (i.e. editics host iframe content)
  client/editics/README.md
  client/editics/offline.html
  client/editics/offline.ts
  client/editics/parent_host_api.ts
  client/editics/templates/cell.bin
  client/editics/templates/slide.bin
  client/editics/templates/word.bin
  client/eslint.config.ts
  client/knip.config.ts
  client/scripts/vite_plugin_editics.ts
  client/tsconfig.json
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

Convert GUI file type detection from cryptpad to editics
  client/src/common/fileTypes.ts
  client/src/services/pathOpener.ts
  client/src/views/files/handler/FileHandler.vue
Due: eslint, vue-tsc, prettier

Update electron CSP to support OnlyOffice
  client/electron/src/cspRules.ts
Due: eslint, vue-tsc, prettier

Add editics support in client/src (i.e. editics parent frame content)
  client/src/services/editics.ts
  client/src/views/files/handler/editor/FileEditor.vue
Due: eslint, vue-tsc, prettier

Add onlyoffice-editor & onlyoffice-x2t dependencies to GUI
  client/knip.config.ts
  client/package-lock.json
  client/package.json
Due: eslint, vue-tsc, prettier

Remove deprecated `src/services/cryptpad.ts`
  client/src/services/cryptpad.ts
Due: eslint, vue-tsc, prettier

Add client/editics (i.e. editics host iframe content)
  .cspell/custom-words.txt
  client/editics/README.md
  client/editics/offline.html
  client/editics/offline.ts
  client/editics/parent_host_api.ts
  client/editics/templates/cell.bin
  client/editics/templates/slide.bin
  client/editics/templates/word.bin
  client/eslint.config.ts
  client/knip.config.ts
  client/scripts/vite_plugin_editics.ts
  client/tsconfig.json
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

refactor(postgresql): Add delete constraints for shamir recovery
  server/parsec/components/postgresql/migrations/0033_shamir_delete_constraints.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/tests/postgres_wipe/test_shamir_wipe.py
Due: sqlfluff

Prune node_module/onlyoffice-editor in CI (avoid ~300mo cache)
  .github/scripts/prune_node_modules_onlyoffice.sh
  .github/workflows/ci-web.yml
Due: none

[MS] Ping the local service running on localhost for SCWS
  client/src/services/permissions.ts
Due: eslint, vue-tsc, prettier

Refactor script to check for missing & unused translations
  client/scripts/check_unused_translations.py
Due: none

ci: add check for missing translation keys
  .github/workflows/ci-web.yml
Due: none

Fix missing translation keys
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: none

Bump version 3.10.0-rc.3+dev -> 3.10.0-rc.3
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/cli/install-cli.rst
  docs/conf.py
  docs/hosting/custom-branding.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/deployment/server-deploy.rst
  docs/hosting/deployment/webapp/index.rst
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
  server/uv.lock
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.10.0-rc.3 -> 3.10.0-rc.4+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/cli/install-cli.rst
  docs/conf.py
  docs/hosting/custom-branding.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/deployment/server-deploy.rst
  docs/hosting/deployment/webapp/index.rst
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
  server/uv.lock
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Make queries to localhost for SCWS permissions parallel
  client/src/services/permissions.ts
Due: eslint, vue-tsc, prettier
