Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

Added comments to explain scws loading
  client/src/parsec/async_enrollment.ts
  client/src/plugins/libparsec/trampoline-web.ts
  client/src/plugins/libparsec/web_shared_worker.ts
Due: eslint, vue-tsc, prettier

[MS] Clear some startup logs
  client/electron/package-lock.json
  client/electron/src/features.ts
  client/electron/src/updater.ts
  client/package-lock.json
Due: eslint, vue-tsc, prettier

[DOC] Fixed PKI section in join_organization.rst
  docs/userguide/join_organization.rst
Due: none

[DOC] Workspace archiving and deletion
  docs/locale/fr/LC_MESSAGES/userguide/join_organization.po
  docs/locale/fr/LC_MESSAGES/userguide/parsec_workspaces.po
  docs/userguide/parsec_workspaces.rst
  docs/userguide/screens/workspace_archive_contextual_menu.en.png
  docs/userguide/screens/workspace_archive_contextual_menu.fr.png
  docs/userguide/screens/workspace_archived_card.en.png
  docs/userguide/screens/workspace_archived_card.fr.png
  docs/userguide/screens/workspace_archived_context.en.png
  docs/userguide/screens/workspace_archived_context.fr.png
  docs/userguide/screens/workspace_archived_sidebar.en.png
  docs/userguide/screens/workspace_archived_sidebar.fr.png
  docs/userguide/screens/workspace_delete_contextual_menu.en.png
  docs/userguide/screens/workspace_delete_contextual_menu.fr.png
  docs/userguide/screens/workspace_deleted_card.en.png
  docs/userguide/screens/workspace_deleted_card.fr.png
  docs/userguide/screens/workspace_deleted_context.en.png
  docs/userguide/screens/workspace_deleted_context.fr.png
  docs/userguide/screens/workspace_deleted_sidebar.en.png
  docs/userguide/screens/workspace_deleted_sidebar.fr.png
Due: none

Replace legacy boto3-stubs with types-boto3
  .github/dependabot.yml
  server/poetry.lock
  server/pyproject.toml
Due: toml-fmt

[MS] Fixes following typescript update to 6.x
  client/electron/src/preload.ts
  client/electron/tsconfig.json
  client/package-lock.json
  client/package.json
  client/tests/e2e/helpers/fixtures.ts
  client/tsconfig.json
  client/tsconfig.node.json
Due: eslint, vue-tsc, prettier

Updated playwright image
  .github/workflows/ci-web.yml
Due: none

[MS] Renamed cert variable on global context
  client/src/plugins/libparsec/trampoline-web.ts
  client/src/plugins/libparsec/web_shared_worker.ts
Due: eslint, vue-tsc, prettier

[MS] Load SCWS in libparsec wrapper (either SharedWorker or UI context)
  client/src/parsec/async_enrollment.ts
  client/src/plugins/libparsec/trampoline-web.ts
  client/src/plugins/libparsec/web_shared_worker.ts
Due: eslint, vue-tsc, prettier

feat(pki): Impl init for web with SCWS
  Cargo.lock
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/src/pki_system.rs
  libparsec/crates/platform_pki/src/unix/pki_system.rs
  libparsec/crates/platform_pki/src/web/pki_system.rs
  libparsec/crates/platform_pki/src/windows/pki_system.rs
Due: toml-fmt, fmt, clippy

[SCWS] Implement get_der for PkiPlatformCertificate.
  Cargo.lock
  Cargo.toml
  libparsec/crates/platform_pki/src/web/pki_certificate.rs
Due: toml-fmt, fmt, clippy

feat(pki): Impl `PlatformPkiSystem::list_user_certificates` for web platform
  Cargo.lock
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/src/pki_system.rs
  libparsec/crates/platform_pki/src/testbed.rs
  libparsec/crates/platform_pki/src/web/pki_certificate.rs
  libparsec/crates/platform_pki/src/web/pki_system.rs
  libparsec/crates/platform_pki/src/windows/pki_system.rs
Due: toml-fmt, fmt, clippy

feat(pki): Impl `PlatformPkiPrivateKey::sign` for web
  Cargo.lock
  Cargo.toml
  libparsec/crates/platform_pki/src/web/pki_private_key.rs
Due: toml-fmt, fmt, clippy

Add `SKIP_VITE_BUILD_FOR_NATIVE` environ variable to disable `client/scripts/vite_build_for_native.cjs` when running `npm run electron:open`
  client/scripts/vite_build_for_native.cjs
Due: eslint, prettier

Update `client/README.md`
  client/README.md
Due: none

Silence warning during vite build about SCWS's dynamic loading
  client/src/parsec/async_enrollment.ts
Due: eslint, vue-tsc, prettier

feat(pki): Impl `PlatformPkiPrivateKey::decrypt` for web
  libparsec/crates/platform_pki/src/web/pki_private_key.rs
Due: fmt, clippy

fix(pki): Correct invalid field to access inner certificate value
  libparsec/crates/platform_pki/src/web/pki_certificate.rs
  libparsec/crates/platform_pki/src/web/pki_system.rs
Due: fmt, clippy

Explicitly specify the build target in `client/vite.config.ts`
  client/electron/package.json
  client/package.json
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

Correct server implementation of `realm_update_archiving` incorrectly rejecting update on realms that have reached there deletion date
  server/parsec/components/memory/realm.py
  server/parsec/components/postgresql/realm_update_archiving.py
  server/tests/api_v5/authenticated/test_realm_update_archiving.py
Due: sqlfluff-in-python

Fix `realm_archive` command on server incorrectly checking deletion date
  server/parsec/components/memory/realm.py
  server/parsec/components/postgresql/realm_update_archiving.py
  server/tests/api_v5/authenticated/test_realm_update_archiving.py
Due: sqlfluff-in-python

docs: Add where to look for logs
  docs/locale/fr/LC_MESSAGES/userguide/troubleshooting/where_to_find_log_files.po
  docs/userguide/troubleshooting/index.rst
  docs/userguide/troubleshooting/screens/find_logs/logged_show_logs.en.png
  docs/userguide/troubleshooting/screens/find_logs/logged_show_logs.fr.png
  docs/userguide/troubleshooting/screens/find_logs/not_logged_show_logs.en.png
  docs/userguide/troubleshooting/screens/find_logs/not_logged_show_logs.fr.png
  docs/userguide/troubleshooting/where_to_find_log_files.rst
Due: none

[SCWS] Implment request_private_key for Certificate.
  libparsec/crates/platform_pki/src/web/pki_certificate.rs
Due: fmt, clippy
