Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

GUI: Fix `deletionDate` conversion in `trashWorkspace`
  client/src/parsec/workspace.ts
Due: eslint, vue-tsc, prettier

Fixed 8857 newsfragments name
  newsfragments/8857.bugfix.rst
Due: none

Correct `client_archive_workspace` command to take a period of archiving
  bindings/generator/api/client.py
  cli/src/commands/workspace/archive.rs
  libparsec/crates/client/src/certif/mod.rs
  libparsec/crates/client/src/certif/realm_archive.rs
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/client/workspace_archive.rs
  libparsec/crates/client/tests/unit/certif/archive_realm.rs
  libparsec/crates/client/tests/unit/client/archive_workspace.rs
  libparsec/src/client.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Mark FIXME flaky GUI test `PDF viewer: fullscreen`
  client/tests/e2e/specs/file_viewers_pdf.spec.ts
Due: eslint, vue-tsc, prettier

Fix use of `libparsec.clientArchiveWorkspace` in GUI
  client/src/components/workspaces/utils.ts
  client/src/parsec/types.ts
  client/src/parsec/workspace.ts
Due: eslint, vue-tsc, prettier

Fix minor typo in `libparsec/crates/client/tests/unit/client/workspace_refresh_list.rs`
  libparsec/crates/client/tests/unit/client/workspace_refresh_list.rs
Due: fmt, clippy

Update RFC 1028 with option `--deletion-planned-in-seconds` in parsec-cli
  docs/rfcs/1028-workspace-archiving-in-parsec-v3.md
Due: none

Bump testbed server to 3.8.2-a.0.dev.20572.ca623a1
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Rename `events_listen`'s field `minimum_archiving_period` -> `realm_minimum_archiving_period_before_deletion` in protocol
  libparsec/crates/protocol/schema/authenticated_cmds/events_listen.json5
  libparsec/crates/protocol/src/version.rs
  libparsec/crates/protocol/tests/authenticated_cmds/v5/events_listen.rs
Due: fmt, clippy

Rename `minimum_archiving_period` -> `realm_minimum_archiving_period_before_deletion` on bindings
  bindings/generator/api/client.py
Due: none

Rename `minimum_archiving_period` -> `realm_minimum_archiving_period_before_deletion` on libparsec
  libparsec/crates/client/src/config.rs
  libparsec/crates/client/src/event_bus.rs
  libparsec/crates/client/src/monitors/connection.rs
  libparsec/crates/client/src/monitors/server_config.rs
  libparsec/crates/client_connection/tests/unit/authenticated.rs
  libparsec/crates/testbed/src/template/build.rs
  libparsec/crates/testbed/src/template/events.rs
Due: fmt, clippy

Update RFC 1028 with rename `minimum_archiving_period` -> `realm_minimum_archiving_period_before_deletion`
  docs/rfcs/1028-workspace-archiving-in-parsec-v3.md
Due: none

Bump testbed server to 3.8.2-a.0.dev.20572.803a94f
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Rename `minimum_archiving_period` -> `realm_minimum_archiving_period_before_deletion` on cli
  cli/tests/integration/organization/status.rs
Due: fmt, clippy

Rename `minimum_archiving_period` -> `realm_minimum_archiving_period_before_deletion` on GUI
  client/src/components/workspaces/utils.ts
  client/src/parsec/organization.ts
  client/src/parsec/types.ts
Due: eslint, vue-tsc, prettier

Rename `minimum_archiving_period` -> `realm_minimum_archiving_period_before_deletion` on server
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/events_listen.pyi
  server/parsec/_parsec_pyi/testbed.pyi
  server/parsec/asgi/administration.py
  server/parsec/backend.py
  server/parsec/cli/run.py
  server/parsec/components/memory/auth.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/events.py
  server/parsec/components/memory/organization.py
  server/parsec/components/memory/realm.py
  server/parsec/components/organization.py
  server/parsec/components/postgresql/auth.py
  server/parsec/components/postgresql/events.py
  server/parsec/components/postgresql/migrations/0024_rename_minimum_archiving_period.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/parsec/components/postgresql/organization.py
  server/parsec/components/postgresql/organization_create.py
  server/parsec/components/postgresql/organization_test_dump_organizations.py
  server/parsec/components/postgresql/organization_update.py
  server/parsec/components/postgresql/realm_update_archiving.py
  server/parsec/components/postgresql/test_queries.py
  server/parsec/config.py
  server/parsec/events.py
  server/src/testbed.rs
  server/tests/administration/test_create_organization.py
  server/tests/administration/test_get_organization.py
  server/tests/administration/test_patch_organization.py
  server/tests/api_v5/anonymous/test_organization_bootstrap.py
  server/tests/api_v5/authenticated/test_events_listen.py
  server/tests/api_v5/authenticated/test_realm_update_archiving.py
  server/tests/test_sse.py
Due: sqlfluff, sqlfluff-in-python, fmt, clippy

Improve documentation of `--organization-initial-realm-minimum-archiving-period-before-deletion` option in server run CLI
  server/parsec/cli/run.py
Due: none

Remove unused after-sign.js file and redundant MACOS_SIGN_OPTIONS variable
  client/electron/package.js
  client/electron/scripts/after-sign.js
Due: eslint, prettier

[MS] forces auth & totp according to server rules
  client/src/assets/images/login-mfa-required.svg
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/async_enrollment.ts
  client/src/parsec/server.ts
  client/src/theme/components/_modals.scss
  client/src/views/layouts/ConnectedLayout.vue
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/profile/TotpRequiredModal.vue
  client/src/views/totp/ActivateTotpModal.vue
  client/src/views/users/UpdateAuthenticationModal.vue
  client/tests/e2e/specs/authentication.spec.ts
Due: eslint, vue-tsc, prettier
