Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Remove fields `allowed_client_agent/account_vault_strategy` from `events_listen`/`organization_self_list` API commands and administration REST API
  cli/tests/integration/organization/status.rs
  libparsec/crates/client/src/monitors/connection.rs
  libparsec/crates/client_connection/tests/unit/authenticated.rs
  libparsec/crates/protocol/schema/authenticated_account_cmds/organization_self_list.json5
  libparsec/crates/protocol/schema/authenticated_cmds/events_listen.json5
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/organization_self_list.rs
  libparsec/crates/protocol/tests/authenticated_cmds/v5/events_listen.rs
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/organization_self_list.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/events_listen.pyi
  server/parsec/asgi/administration.py
  server/parsec/components/account.py
  server/parsec/components/auth.py
  server/parsec/components/memory/account.py
  server/parsec/components/memory/auth.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/events.py
  server/parsec/components/memory/organization.py
  server/parsec/components/organization.py
  server/parsec/components/postgresql/account_organization_self_list.py
  server/parsec/components/postgresql/auth.py
  server/parsec/components/postgresql/events.py
  server/parsec/components/postgresql/migrations/0018_remove_per_organization_config.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/parsec/components/postgresql/organization.py
  server/parsec/components/postgresql/organization_create.py
  server/parsec/components/postgresql/organization_test_dump_organizations.py
  server/parsec/components/postgresql/organization_update.py
  server/parsec/components/postgresql/test_queries.py
  server/parsec/events.py
  server/parsec/types.py
  server/tests/administration/test_create_organization.py
  server/tests/administration/test_get_organization.py
  server/tests/administration/test_patch_organization.py
  server/tests/api_v5/authenticated/test_events_listen.py
  server/tests/api_v5/authenticated_account/test_organization_self_list.py
  server/tests/common/data.py
  server/tests/test_sse.py
  server/tests/test_types.py
Due: sqlfluff, fmt, clippy

Introduce `libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5`
  libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/server_config.rs
Due: fmt, clippy

Fix `libparsec_account` to remove `allowed_client_agent/account_vault_strategy` from `list_organizations` and no longer check vault strategy during `create_registration_device`
  bindings/generator/api/account.py
  libparsec/crates/account/src/create_registration_device.rs
  libparsec/crates/account/src/list_organizations.rs
  libparsec/crates/account/tests/unit/create_registration_device.rs
  libparsec/crates/account/tests/unit/list_organizations.rs
  libparsec/src/account.rs
Due: fmt, clippy

Implement anonymous server API `server_config` in server
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/server_config.pyi
  server/parsec/components/events.py
  server/tests/api_v5/anonymous_server/test_server_config.py
Due: none

Rename `libparsec_client::ServerConfig` -> `ServerOrganizationConfig`
  bindings/generator/api/client.py
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/config.rs
  libparsec/crates/client/src/monitors/server_config.rs
  libparsec/src/client.rs
  libparsec/src/config.rs
Due: fmt, clippy

Expose `libparsec::get_server_config` in the bindings
  bindings/generator/api/config.py
  libparsec/src/config.rs
Due: fmt, clippy

feat(pki): Create device from answer & local pending
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/client/pki_enrollment_finalize.rs
Due: fmt, clippy

feat(pki): Add binding to finalize pki enrollment
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/client.py
  bindings/generator/api/common.py
  bindings/generator/api/device.py
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/src/pki.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

Add RFC `docs/rfcs/1021-sso-openbao-device-storage.md`
  .cspell/custom-words.txt
  docs/rfcs/1021-sso-openbao-device-storage.md
Due: none

Add RFC1022 Server configuration API
  docs/rfcs/1022-server-config-api.md
Due: none

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Bump testbed server to 3.5.3-a.0.dev.20405.89d0dcb
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Fix GUI with new `DeviceSaveStrategy::OpenBao` variant
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/profile/AuthenticationCard.vue
  client/src/parsec/login.ts
  client/src/parsec/types.ts
  client/src/views/organizations/creation/CreateOrganizationTrial.vue
Due: eslint, vue-tsc, prettier

Check user agent header on server side all familly commands according to server config
  server/parsec/asgi/rpc.py
  server/parsec/client_context.py
Due: none

Change server run parameters to add openbao config and allowed-client-agent/account-vault-strategy moved from per-org to global to server config
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/config.py
  server/tests/common/backend.py
Due: none

[MS] Hide copy PKI link in userspage
  client/src/views/users/UsersPage.vue
Due: eslint, vue-tsc, prettier

ci(web): Increase sharding to 4
  .github/workflows/ci-web.yml
Due: none

[MS] Updated GUI to use openbao config from the server
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/devices/SsoProviderCard.vue
  client/src/components/devices/index.ts
  client/src/components/devices/types.ts
  client/src/parsec/index.ts
  client/src/parsec/login.ts
  client/src/parsec/organization.ts
  client/src/parsec/server.ts
  client/src/parsec/types.ts
  client/src/services/openBao.ts
  client/src/views/home/DeviceJoinOrganizationModal.vue
  client/src/views/home/LoginPage.vue
  client/src/views/home/UserJoinOrganizationModal.vue
  client/src/views/organizations/creation/CreateOrganizationCustomServer.vue
  client/src/views/organizations/creation/CreateOrganizationSaas.vue
  client/src/views/organizations/creation/CreateOrganizationTrial.vue
  client/src/views/organizations/creation/OrganizationAuthenticationPage.vue
Due: eslint, vue-tsc, prettier

Correct libparsec/libparsec_client/libparsec_account with new `RemoteOpaqueKeyFetchOffline` error and `PinBoxFutureResult` rename
  bindings/generator/api/account.py
  bindings/generator/api/client.py
  libparsec/crates/account/src/register_new_device.rs
  libparsec/crates/client/src/client/recovery_device.rs
  libparsec/crates/client/tests/unit/invite/bootstrap_organization.rs
  libparsec/src/account.rs
  libparsec/src/client.rs
  libparsec/src/device.rs
Due: fmt, clippy

Add OpenBao support to `libparsec_platform_device_loader`
  libparsec/crates/platform_device_loader/Cargo.toml
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/strategy.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/src/web/error.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_device_loader/tests/units/load.rs
  libparsec/crates/platform_device_loader/tests/units/save.rs
  libparsec/crates/platform_device_loader/tests/units/save_list.rs
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
  libparsec/crates/platform_device_loader/tests/units/utils.rs
Due: toml-fmt, fmt, clippy

Introduce `libparsec_types::OpenBaoAuthType`
  libparsec/crates/types/src/lib.rs
  libparsec/crates/types/src/openbao.rs
  libparsec/crates/types/tests/unit/openbao.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/enumerate.pyi
  server/src/enumerate.rs
  server/src/lib.rs
Due: fmt, clippy

Introduce `libparsec/crates/types/schema/local_device/device_file_openbao.json5` schema
  libparsec/crates/types/schema/local_device/device_file_openbao.json5
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
Due: fmt, clippy

refactor(pki): Use `webpki::ring` to verify signature
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/src/shared/mod.rs
  libparsec/crates/platform_pki/src/shared/signature_verification.rs
Due: toml-fmt, fmt, clippy

Bump version 3.6.1-rc.2+dev -> 3.6.1-rc.2
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.6.1-rc.2 -> 3.6.1-rc.3+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.6.1-rc.3+dev -> 3.6.1
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.6.1 -> 3.6.2-a.0+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Minor import correction in `bindings/generator/api/client.py`
  bindings/generator/api/client.py
Due: none

Add mocked OpenBao API routes to the server testbed
  server/parsec/cli/testbed.py
Due: none

Replace `Internal` by more precise `BadServerResponse` in `libparsec_account::AccountUploadOpaqueKeyInVaultError`
  libparsec/crates/account/src/upload_opaque_key_in_vault.rs
  libparsec/crates/account/tests/unit/upload_opaque_key_in_vault.rs
Due: fmt, clippy

Minor correction in error message for AccountRegisterNewDeviceError/ImportRecoveryDeviceError
  libparsec/crates/account/src/register_new_device.rs
  libparsec/crates/client/src/client/recovery_device.rs
Due: fmt, clippy

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
