Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Rename snake_case_to_camel_case to snake_case_to_upper_camel_case.
  misc/gen_protocol_typings.py
Due: none

Fix typos.
  libparsec/crates/client_connection/src/error.rs
  libparsec/crates/types/src/addr.rs
  server/tests/common/backend.py
Due: fmt, clippy

Fix protocol generation to account for two words families.
  libparsec/crates/serialization_format/src/protocol.rs
  misc/gen_protocol_typings.py
Due: fmt, clippy

Add server migration 0011_remove_realm_created_by_outsider.sql
  server/parsec/components/postgresql/migrations/0011_remove_realm_created_by_outsider.sql
  server/tests/migrations/0011_after.sql
  server/tests/migrations/0011_before.sql
Due: sqlfluff

Add README.md for client_connection crate
  libparsec/crates/client_connection/README.md
  libparsec/crates/client_connection/src/lib.rs
Due: fmt, clippy

Split events related to connection errors
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/common.py
  bindings/generator/api/events.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/src/event_bus.rs
  libparsec/crates/client/src/monitors/connection.rs
  libparsec/crates/client_connection/src/error.rs
  libparsec/crates/client_connection/tests/unit/anonymous.rs
  libparsec/crates/client_connection/tests/unit/authenticated.rs
  libparsec/crates/client_connection/tests/unit/invited.rs
  libparsec/src/events.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] Updated IncompatibleServer event handling
  client/src/parsec/login.ts
  client/src/parsec/types.ts
  client/src/services/eventDistributor.ts
Due: eslint, vue-tsc, prettier

[MS] Missing update code modal padding
  client/src/theme/components/_modals.scss
Due: none

[MS] Added scroll to copy workspace role modal
  client/src/views/users/BulkRoleAssignmentModal.vue
Due: eslint, vue-tsc, prettier

fix(CI|webapp): Build now respect current version type
  .github/workflows/package-client.yml
Due: none

Add troubleshoot section about macOS Finder issues
  .pre-commit-config.yaml
  docs/locale/fr/LC_MESSAGES/userguide/installation.po
  docs/locale/fr/LC_MESSAGES/userguide/troubleshooting.po
  docs/userguide/installation.rst
  docs/userguide/troubleshooting.rst
Due: none

Replace poutils by powrap in docs dependencies
  docs/poetry.lock
  docs/pyproject.toml
Due: toml-fmt

Add steps in ci-docs.yml to show installed verions
  .github/workflows/ci-docs.yml
Due: none

Bump ci-docs runner to ubuntu-24.04
  .github/workflows/ci-docs.yml
Due: none

[MS] Added log API for web
  client/electron/src/preload.ts
  client/src/main.ts
  client/src/plugins/libparsec/index.ts
  client/src/services/webLogger.ts
Due: eslint, vue-tsc, prettier

Add newsfragment for #10041
  newsfragments/10041.bugfix.rst
Due: none

[MS] Adds report bug API
  client/src/services/bms/api.ts
  client/src/services/bms/mockApi.ts
  client/src/services/bms/types.ts
  client/src/services/environment.ts
  client/src/services/webLogger.ts
Due: eslint, vue-tsc, prettier

Update cargo deny config to allow RUSTSEC-2025-0020
  deny.toml
Due: toml-fmt

[MS] Add a function to take a screenshot
  client/package-lock.json
  client/package.json
  client/src/services/screenshot.ts
  client/tsconfig.json
Due: eslint, vue-tsc, prettier

chore(rust): Update `openssl` to `0.10.72`
  Cargo.lock
  Cargo.toml
Due: toml-fmt

chore(rust): Update tokio to `1.44.2`
  Cargo.lock
  Cargo.toml
Due: toml-fmt

Bump version 3.3.3-a.0+dev -> 3.3.3-rc.0
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  newsfragments/10041.bugfix.rst
  newsfragments/9925.bugfix.rst
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.3.3-rc.0 -> 3.3.3-rc.1+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

ci(build-testbed): Ignore `.md` file change
  .github/workflows/docker-testbed.yml
Due: none

docs(rfc-1013): Add 2 new elements for things to do later
  docs/rfcs/1013-parsec-account.md
Due: none

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
