Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

[MS] Marked a test as skipped, waiting for a fix on testbed devices
  client/src/parsec/login.ts
  client/tests/e2e/specs/organization_switch_popover.spec.ts
Due: eslint, vue-tsc, prettier

Minor cleanup in `libparsec/src/workspace_history2.rs`
  libparsec/src/workspace_history2.rs
Due: fmt, clippy

Update `libparsec_platform_loader` to support new `AvailableDeviceType`
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_device_loader/tests/units/save.rs
  libparsec/crates/platform_device_loader/tests/units/save_list.rs
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
Due: fmt, clippy

Add `DeviceFileAccountVault/AccountVaultItemDeviceFileKeyAccess/DeviceFileAccountVaultCiphertextKey` schemas in `libparsec_types` and update `libparsec_platform_device_loader&parsec-cli` accordingly
  cli/src/commands/device/change_authentication.rs
  cli/src/commands/device/overwrite_server_url.rs
  cli/src/utils.rs
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
  libparsec/crates/types/schema/account/account_vault_item_device_file_key_access.json5
  libparsec/crates/types/schema/account/account_vault_key_access.json5
  libparsec/crates/types/schema/account/device_file_account_vault_ciphertext_key.json5
  libparsec/crates/types/schema/local_device/device_file_account_vault.json5
  libparsec/crates/types/src/account.rs
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/tests/unit/account.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Add `AccountVaultItemOpaqueKeyID` to the bindings
  bindings/generator/api/common.py
Due: none

Update `libparsec_client` to use `AvailableDeviceType`
  libparsec/crates/client/tests/unit/invite/claimer.rs
  libparsec/crates/client/tests/unit/invite/shamir.rs
Due: fmt, clippy

Add `account_fetch_device_file_account_vault_key|account_upload_device_file_account_vault_key` and support for save/load AccountVault device files in bindings
  bindings/generator/api/account.py
  bindings/generator/api/common.py
  bindings/generator/api/device.py
  libparsec/src/account.rs
  libparsec/src/client.rs
  libparsec/src/config.rs
  libparsec/src/device.rs
  libparsec/src/invite.rs
  libparsec/src/lib.rs
Due: fmt, clippy

Fix `bindings/generator/templates/binding_web_meths.rs.j2` support of byte based field in structure
  bindings/generator/templates/binding_web_meths.rs.j2
Due: none

Implement `libparsec::Account::(fetch_device_file_account_vault_key|upload_device_file_account_vault_key)`
  libparsec/crates/account/src/fetch_device_file_account_vault_key.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/src/upload_device_file_account_vault_key.rs
  libparsec/crates/account/tests/unit/fetch_access_and_load_device_file_account_vault.rs
  libparsec/crates/account/tests/unit/fetch_device_file_account_vault_key.rs
  libparsec/crates/account/tests/unit/save_device_file_account_vault_and_upload_access.rs
  libparsec/crates/account/tests/unit/upload_device_file_account_vault_key.rs
Due: fmt, clippy

Rework account bindings to expose `account_fetch_opaque_key_from_vault()` & `account_upload_opaque_key_in_vault()`
  bindings/generator/api/account.py
  libparsec/src/account.rs
Due: fmt, clippy

Rework `libparsec_platform_device_loader` to add `load_available_device` and to improve its testbed support
  libparsec/crates/client/src/device/mod.rs
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/src/web/error.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
  libparsec/crates/platform_device_loader/tests/units/archive.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_device_loader/tests/units/remove.rs
  libparsec/crates/platform_device_loader/tests/units/save_list.rs
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
Due: fmt, clippy

Improve formatting of long bytes buffer in `misc/test_expected_payload_cooker.py`
  misc/test_expected_payload_cooker.py
Due: none

Document what contains the `ciphertext` field for `device_file_(keyring|password|recovery|smartcard)` schemas
  libparsec/crates/types/schema/local_device/device_file_keyring.json5
  libparsec/crates/types/schema/local_device/device_file_password.json5
  libparsec/crates/types/schema/local_device/device_file_recovery.json5
  libparsec/crates/types/schema/local_device/device_file_smartcard.json5
Due: none

Correct GUI since `account_fetch_registration_devices` has been removed and `archive_device` now take config dir as param
  client/src/parsec/account.ts
  client/src/parsec/device.ts
Due: eslint, vue-tsc, prettier

Add `libparsec_types::DeviceFile::created_on`
  libparsec/crates/types/src/local_device_file.rs
Due: fmt, clippy

Update bindings to use `AvailableDeviceType`
  bindings/generator/api/device.py
Due: none

Use #[expect(unused_variables)] in `libparsec_device_loader`
  libparsec/crates/platform_device_loader/src/lib.rs
Due: fmt, clippy

Add `libparsec_client_connection::test_send_hook_vault_item_list`
  libparsec/crates/client_connection/src/testbed_send_hook_helpers.rs
Due: fmt, clippy

Rework `libparsec_account::Account` to expose `fetch_opaque_key_from_vault()` & `upload_opaque_key_in_vault()`
  libparsec/crates/account/src/fetch_device_file_account_vault_key.rs
  libparsec/crates/account/src/fetch_opaque_key_from_vault.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/src/upload_opaque_key_in_vault.rs
  libparsec/crates/account/tests/unit/create_registration_device.rs
  libparsec/crates/account/tests/unit/fetch_opaque_key_from_vault.rs
  libparsec/crates/account/tests/unit/register_new_device.rs
  libparsec/crates/account/tests/unit/save_device_file_account_vault_and_upload_access.rs
  libparsec/crates/account/tests/unit/upload_opaque_key_in_vault.rs
Due: fmt, clippy

Rework `libparsec_account::Account` to remove vault items cache
  bindings/generator/api/account.py
  libparsec/crates/account/src/create_registration_device.rs
  libparsec/crates/account/src/fetch_list_registration_devices.rs
  libparsec/crates/account/src/fetch_vault_items.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/src/list_registration_devices.rs
  libparsec/crates/account/src/login.rs
  libparsec/crates/account/src/register_new_device.rs
  libparsec/crates/account/tests/unit/account_create/create.rs
  libparsec/crates/account/tests/unit/account_recover/recover.rs
  libparsec/crates/account/tests/unit/create_registration_device.rs
  libparsec/crates/account/tests/unit/fetch_list_registration_devices.rs
  libparsec/crates/account/tests/unit/list_registration_devices.rs
  libparsec/crates/account/tests/unit/register_new_device.rs
  libparsec/src/account.rs
Due: fmt, clippy

Update RFC 1014/1015/1016 regarding new concept of opaque key stored in the account vault
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
  docs/rfcs/1015-registration-device.md
  docs/rfcs/1016-local-device-storage-in-web-client.md
Due: none

Fix typo in RFC1016
  docs/rfcs/1016-local-device-storage-in-web-client.md
Due: none

Update `test_send_hook_vault_item_list` to use opaque key
  libparsec/crates/client_connection/src/testbed_send_hook_helpers.rs
Due: fmt, clippy

Improve `server/tests/api_v5/authenticated/test_device_create.py`
  server/tests/api_v5/authenticated/test_device_create.py
Due: none

[MS] Small typing fixes
  client/src/parsec/types.ts
  client/src/views/profile/AuthenticationPage.vue
Due: eslint, vue-tsc, prettier

Update GUI to use `AvailableDeviceType`
  client/src/parsec/account.ts
  client/src/parsec/types.ts
  client/src/views/home/HomePage.vue
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/users/UpdateAuthenticationModal.vue
  client/tests/component/specs/testOrganizationCard.spec.ts
Due: eslint, vue-tsc, prettier

Update `parsec-cli` to use `AvailableDeviceType`
  cli/src/commands/device/change_authentication.rs
  cli/src/commands/device/overwrite_server_url.rs
  cli/src/utils.rs
Due: fmt, clippy

[MS] Use env.BASE_URL in resourcesManager.ts
  client/src/services/resourcesManager.ts
  client/tests/e2e/specs/custom_branding.spec.ts
Due: eslint, vue-tsc, prettier

ci(docs): Check that no fuzzy translation
  .github/workflows/ci-docs.yml
Due: none

ci(docs): Set default working directory
  .github/workflows/ci-docs.yml
Due: none

docs(userguide): Remove number in titles of `join orga`
  docs/locale/fr/LC_MESSAGES/userguide/join_organization.po
  docs/userguide/join_organization.rst
Due: none

docs(userguide): Ask the user to check invitation link
  docs/locale/fr/LC_MESSAGES/userguide/join_organization.po
  docs/locale/fr/LC_MESSAGES/userguide/manage_devices.po
  docs/locale/fr/LC_MESSAGES/userguide/security.po
  docs/userguide/join_organization.rst
  docs/userguide/manage_devices.rst
  docs/userguide/manage_files.rst
  docs/userguide/security.rst
Due: none

[MS] Added filter options to WorkspacesPages
  client/src/components/workspaces/WorkspaceFilter.vue
  client/src/components/workspaces/WorkspaceFilterPopover.vue
  client/src/components/workspaces/index.ts
  client/src/components/workspaces/utils.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/workspaces/WorkspacesPage.vue
  client/tests/e2e/specs/workspaces_list.spec.ts
  newsfragments/10182.feature.rst
Due: eslint, vue-tsc, prettier

[MS] Sort workspaces by role
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

[MS] Create local device from registration devices
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/main.ts
  client/src/parsec/account.ts
  client/src/parsec/login.ts
  client/src/parsec/types.ts
  client/src/views/account/CreateAccountPage.vue
  client/src/views/home/HomePage.vue
  client/src/views/home/OrganizationListPage.vue
Due: eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
