Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

[MS] Added error for a few missing events
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/main.ts
  client/src/router/navigation.ts
  client/src/services/eventDistributor.ts
  client/src/views/home/HomePage.vue
Due: eslint, vue-tsc, prettier

[MS] Fixed a flaky test
  client/src/components/header/HeaderBreadcrumbs.vue
  client/tests/e2e/specs/workspace_history.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Responsive background task menu & notification center
  client/src/components/header/SmallDisplayHeaderTitle.vue
  client/src/components/notifications/NewVersionAvailableNotification.vue
  client/src/theme/components/_list.scss
  client/src/views/files/FileOperationMenu.vue
  client/src/views/header/HeaderPage.vue
  client/src/views/header/NotificationCenterModal.vue
  client/tests/e2e/specs/app_update.spec.ts
  client/tests/e2e/specs/home_page.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Harmonize modal invitation and notification
  client/src/components/header/InvitationsButton.vue
  client/src/components/users/InvitationsListModal.vue
  client/src/theme/components/_modals.scss
  client/src/views/files/FileOperationMenu.vue
  client/src/views/header/HeaderPage.vue
  client/src/views/header/NotificationCenterModal.vue
Due: eslint, vue-tsc, prettier

[MS] Fix client area personal info change with empty phone number
  client/src/services/bms/access.ts
  client/src/services/bms/types.ts
  client/src/views/client-area/personal-data/PersonalDataPage.vue
  client/src/views/client-area/personal-data/PersonalInfoModal.vue
Due: eslint, vue-tsc, prettier

Add last_updater to EntryStat
  libparsec/crates/client/src/workspace/transactions/inbound_sync.rs
  libparsec/crates/client/src/workspace/transactions/read_folder.rs
  libparsec/crates/client/src/workspace/transactions/stat_entry.rs
  libparsec/crates/client/tests/unit/workspace/merge_folder.rs
  libparsec/crates/client/tests/unit/workspace/read_folder.rs
  libparsec/crates/client/tests/unit/workspace/stat_entry.rs
  libparsec/crates/platform_mountpoint/tests/unit/operations/create_folder.rs
  libparsec/crates/platform_mountpoint/tests/unit/operations/open_file.rs
Due: fmt, clippy

Update bindings for WorkspaceHistoryEntryStat
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/workspace_history2.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Update bindings for EntryStat
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/workspace.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Add last_updater to WorkspaceHistoryEntryStat
  libparsec/crates/client/src/workspace_history/transactions/read_folder.rs
  libparsec/crates/client/src/workspace_history/transactions/stat_entry.rs
  libparsec/crates/client/tests/unit/workspace/stat_entry.rs
  libparsec/crates/client/tests/unit/workspace_history/stat_entry.rs
  libparsec/crates/client/tests/unit/workspace_history/stat_entry_by_id.rs
  libparsec/crates/client/tests/unit/workspace_history/stat_folder_children.rs
  libparsec/crates/client/tests/unit/workspace_history/stat_folder_children_by_id.rs
Due: fmt, clippy

[MS] Fixed unit tests
  client/tests/component/specs/testFileCard.spec.ts
  client/tests/component/specs/testFileListItem.spec.ts
Due: eslint, vue-tsc, prettier

Add account client.
  Cargo.lock
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/__init__.py
  bindings/generator/api/account.py
  bindings/generator/api/common.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/Cargo.toml
  libparsec/crates/account/src/lib.rs
  libparsec/crates/client_connection/src/anonymous_account_cmds.rs
  libparsec/crates/client_connection/tests/unit/anonymous_account.rs
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_create_proceed.json5
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_create_send_validation_email.json5
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_create_proceed.rs
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_create_send_validation_email.rs
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/types/src/account.rs
  libparsec/src/account.rs
  libparsec/src/lib.rs
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/account_create_proceed.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/account_create_send_validation_email.pyi
  server/parsec/components/account.py
  server/tests/api_v5/anonymous_account/test_account_create_proceed.py
  server/tests/common/rpc.py
Due: toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

[MS] Create Parsec Account using bindings
  client/src/components/account/AccountUserInformation.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/account.ts
  client/src/parsec/types.ts
  client/src/services/environment.ts
  client/src/views/account/AccountLoginPage.vue
  client/src/views/account/CreateAccountPage.vue
  client/tests/e2e/specs/account_create.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Adds last updater
  client/src/components/files/FileListDisplay.vue
  client/src/components/files/FileListItem.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/file.ts
  client/src/parsec/history.ts
  client/src/parsec/types.ts
  client/src/parsec/user.ts
  client/src/views/files/FileDetailsModal.vue
  client/tests/component/specs/testFileCard.spec.ts
  client/tests/component/specs/testFileListItem.spec.ts
  client/tests/e2e/specs/file_details.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Fixed update banner
  client/src/views/home/HomePageHeader.vue
Due: eslint, vue-tsc, prettier

[MS] Tests warning appearing on Safari
  client/src/parsec/environment.ts
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/specs/home_page.spec.ts
Due: eslint, vue-tsc, prettier

Update client/tests/e2e/specs/home_page.spec.ts
  client/tests/e2e/specs/home_page.spec.ts
Due: eslint, vue-tsc, prettier

Add authenticated account `invite_self_list` command protocol schema
  libparsec/crates/protocol/schema/authenticated_account_cmds/invite_self_list.json5
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/invite_self_list.pyi
  server/tests/common/rpc.py
Due: none

Server implementation of authenticated account `invite_self_list` API
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/tests/api_v5/authenticated_account/__init__.py
  server/tests/api_v5/authenticated_account/test_invite_self_list.py
Due: none

Update RFC1013 to add authenticated account `invite_self_list` API
  docs/rfcs/1013-parsec-account.md
Due: none

Replace `BaseInvitationCreatedBy.for_invite_{info|list}` by a more generic `cook_for_api(created_by_user_cls, created_by_external_service_cls)`
  server/parsec/components/invite.py
  server/tests/api_v5/invited/test_invite_info.py
Due: none

Add protocol tests for `invite_self_list` schema
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/invite_self_list.rs
Due: fmt, clippy

Add `InvitationType` to serialization_format
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
Due: fmt, clippy

[MS] Update responsive import recovery
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/global.scss
  client/src/views/devices/ImportRecoveryDevicePage.vue
  client/src/views/home/HomePage.vue
  client/src/views/home/HomePageHeader.vue
  client/src/views/home/LoginPage.vue
  client/src/views/home/OrganizationListPage.vue
Due: eslint, vue-tsc, prettier

[Account] Use validation code in account creation.
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_create_proceed.json5
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/account_create_proceed.pyi
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/parsec/components/memory/datamodel.py
  server/parsec/templates/email/account_validation.html.j2
  server/parsec/templates/email/account_validation.txt.j2
  server/tests/api_v5/anonymous_account/test_account_create_proceed.py
  server/tests/api_v5/anonymous_account/test_account_create_send_validation_email.py
  server/tests/common/account.py
Due: none

[MS] Removed keyboard offset on large display (> 'xs')
  client/src/locales/fr-FR.json
  client/src/views/home/HomePage.vue
  client/src/views/home/OrganizationListPage.vue
Due: eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
