Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

[MS] Add new service to control header visibility across components
  client/src/services/headerControl.ts
  client/src/views/header/HeaderPage.vue
  client/src/views/viewers/FileViewer.vue
  client/tests/e2e/helpers/assertions.ts
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/file_viewers.spec.ts
  client/tests/e2e/specs/file_viewers_document.spec.ts
  client/tests/e2e/specs/file_viewers_image.spec.ts
  client/tests/e2e/specs/file_viewers_pdf.spec.ts
  client/tests/e2e/specs/file_viewers_spreadsheet.spec.ts
  client/tests/e2e/specs/options_tab_menu.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
Due: eslint, vue-tsc, prettier

Add RFC 1020 for collaborative edition
  docs/rfcs/1020-collaborative-edition.md
Due: none

Add TODO in the codebase related to `server/parsec/components/postgresql/invite.py` not being consistent with the rest of the codebase
  server/parsec/components/postgresql/invite.py
  server/parsec/components/postgresql/organization.py
  server/parsec/components/postgresql/user.py
Due: none

Remove useless `server/parsec/components/postgresql/user.py::user_get_user_info_from_email`
  server/parsec/components/postgresql/user.py
  server/parsec/components/postgresql/user_get_user_info.py
Due: none

Add missing news fragments
  newsfragments/10131.feature.rst
  newsfragments/10296.bugfix.rst
  newsfragments/10643.feature.rst
  newsfragments/10693.feature.rst
  newsfragments/10722.bugfix.rst
  newsfragments/8405.bugfix.rst
Due: none

Improve main README
  README.rst
Due: none

Remove useless type hints in `server/parsec/asgi/rpc.py`
  server/parsec/asgi/rpc.py
Due: none

ci(q&a): Chech newsfragment now take GH token
  .github/scripts/check_newsfragments.py
  .github/workflows/ci.yml
Due: none

[Draft] File opening strategy
  client/src/components/settings/SettingsList.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/fileOpener.ts
  client/src/services/storageManager.ts
  client/src/views/files/FoldersPage.vue
  client/src/views/files/types.ts
Due: eslint, vue-tsc, prettier

Improve `test_anonymous_account_account_recover_proceed_ok`
  server/tests/api_v5/anonymous_account/test_account_recover_proceed.py
Due: none

Improve documentation for `AuthenticatedToken` & `AccountAuthenticationToken`
  libparsec/crates/client_connection/src/authenticated_account_cmds.rs
  server/parsec/components/auth.py
Due: fmt, clippy

Improve `test_anonymous_account_account_create_proceed_ok`
  server/tests/api_v5/anonymous_account/test_account_create_proceed.py
Due: none

refactor(cli): Add server url in device list
  cli/src/utils.rs
  cli/tests/integration/device_option.rs
Due: fmt, clippy

Improve `test_authenticated_account_invite_self_list_ok`
  server/tests/api_v5/authenticated_account/test_invite_self_list.py
Due: none

Remove `AccountRecoverProceedBadOutcome.ACCOUNT_NOT_FOUND` (use `INVALID_VALIDATION_CODE` instead)
  server/parsec/components/account.py
Due: none

Improve `test_anonymous_account_auth_method_password_get_algorithm_ok_existing` and `test_anonymous_account_auth_method_password_get_algorithm_ok_stable_fake`
  server/tests/api_v5/anonymous_account/test_auth_method_password_get_algorithm.py
Due: none

Add `test_authenticated_account_bad_auth` in server
  server/tests/common/client.py
  server/tests/test_rpc.py
Due: none

Improve memory implementation of `delete_proceed` & `recover_proceed`
  server/parsec/components/memory/account.py
Due: none

Improve `test_authenticated_account_vault_item_list_ok`
  server/tests/api_v5/authenticated_account/test_vault_item_list.py
Due: none

fix(playwright): update URLs to use HTTPS and enable ignoreHTTPSErrors
  client/playwright.config.ts
Due: eslint, vue-tsc, prettier

[MS] Responsive Workspace history
  client/src/components/files/HistoryFileListItem.vue
  client/src/components/header/HeaderBreadcrumbs.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_popovers.scss
  client/src/views/header/HeaderPage.vue
  client/src/views/menu/MainMenu.vue
  client/src/views/workspaces/WorkspaceHistoryPage.vue
  client/tests/e2e/helpers/assertions.ts
  client/tests/e2e/specs/home_page.spec.ts
  client/tests/e2e/specs/options_tab_menu.spec.ts
  client/tests/e2e/specs/profile_popover.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
Due: eslint, vue-tsc, prettier

ci(rust): Reduce log noise from dependencies
  .github/workflows/ci-rust.yml
Due: none

[MS] Account recovery page
  client/.env.development
  client/README.md
  client/src/parsec/account.ts
  client/src/parsec/types.ts
  client/src/router/types.ts
  client/src/services/environment.ts
  client/src/views/account/RecoverAccountPage.vue
  client/src/views/home/AccountHomePage.vue
Due: eslint, vue-tsc, prettier

[MS] Added style
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/global.scss
  client/src/views/account/AccountLoginPage.vue
  client/src/views/account/RecoverAccountPage.vue
  client/src/views/home/AccountHomePage.vue
Due: eslint, vue-tsc, prettier

refactor(libparsec): Simplify default value for log level
  libparsec/src/lib.rs
Due: fmt, clippy

refactor(crypto): Add init function
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/__init__.py
  bindings/web/src/meths.rs
  cli/src/main.rs
  client/src/main.ts
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/crypto/src/rustcrypto/mod.rs
  libparsec/crates/crypto/src/sodiumoxide/mod.rs
  libparsec/src/lib.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

refactor(crypto): Migrate to `libsodium-rs`
  .github/workflows/ci-rust.yml
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  libparsec/Cargo.toml
  libparsec/crates/crypto/Cargo.toml
  libparsec/crates/crypto/src/lib.rs
  libparsec/crates/crypto/src/sodiumoxide/hash.rs
  libparsec/crates/crypto/src/sodiumoxide/key_derivation.rs
  libparsec/crates/crypto/src/sodiumoxide/mod.rs
  libparsec/crates/crypto/src/sodiumoxide/password.rs
  libparsec/crates/crypto/src/sodiumoxide/private.rs
  libparsec/crates/crypto/src/sodiumoxide/secret.rs
  libparsec/crates/crypto/src/sodiumoxide/sequester.rs
  libparsec/crates/crypto/src/sodiumoxide/sign.rs
  libparsec/crates/crypto/src/sodiumoxide/utils.rs
  make.py
  server/Cargo.toml
Due: toml-fmt, fmt, clippy

ci(rust): Run `cargo-deny` check with all features
  .github/workflows/ci-rust.yml
Due: none

[MS] Option to download multiple files/folders as an archive
  client/package-lock.json
  client/package.json
  client/src/components/files/FileDownloadArchive.vue
  client/src/services/fileOperationManager.ts
  client/src/views/files/FileOperationMenu.vue
  client/src/views/files/FoldersPage.vue
Due: eslint, vue-tsc, prettier

[MS] Implements Cryptpad API
  .cspell/custom-words.txt
  client/README.md
  client/src/services/cryptpad.ts
  client/src/services/environment.ts
  client/tests/unit/specs/testCryptpad.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Account invitations
  client/src/views/home/HomePage.vue
  client/src/views/home/OrganizationListPage.vue
Due: eslint, vue-tsc, prettier

[MS] Added account recovery tests
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/account/RecoverAccountPage.vue
  client/tests/e2e/helpers/assertions.ts
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/account_create.spec.ts
  client/tests/e2e/specs/account_recover.spec.ts
  client/tests/e2e/specs/options_tab_menu.spec.ts
Due: eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
