Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

.pre-commit-config.yaml:

exclude: ^misc/bench.py$
repos:
  ##############
  # Common stuff

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3 # Use the ref you want to point at
    hooks:
      - id: mixed-line-ending
        alias: eol
      - id: trailing-whitespace
      - id: end-of-file-fixer
        alias: eof

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 97461803b9d2cf5f70323ae0058e3447355c8927  # pin v2.4.0
    hooks:
      - id: editorconfig-checker
        alias: ec

  - repo: local
    hooks:
      # - id: releaser
      #   name: releaser
      #   entry: python ./misc/releaser.py check
      #   language: python
      #   language_version: python3
      #   pass_filenames: false
      #   require_serial: true
      - id: license_headers
        name: license_headers
        entry: python ./misc/license_headers.py add
        language: python
        language_version: python3
        # see: https://github.com/pre-commit/identify/blob/master/identify/extensions.py
        types_or: [ python, sql, rust, vue, ts, tsx, javascript, jsx ]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint

  ########
  # Python

  - repo: https://github.com/ambv/black
    rev: 22.6.0
    hooks:
      - id: black
        args:
          [
            --line-length=100,
            --exclude=parsec/core/gui/_resources_rc.py,
            --exclude=parsec/core/gui/ui/,
          ]
        language_version: python3

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8

  # Long story short we cannot use pre-commit isolated venv system for mypy
  # given mypy requires to have access to the project dependencies.
  # We used to specify the list of dependencies actually needed by mypy as
  # additional dependencies to install before running the pre-commit but it
  # was increadibly error-prone and create random breakages.
  # Instead we go the pragmatic way by calling mypy trough poetry:
  # - `poetry run` will stick to the shell current virtual env
  # - if the shell is not into a virtual env, poetry will create one and install Parsec&deps
  # - lastly, mypy is started
  # So this is similar to what the developer does when running mypy from it dev shell \o/
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (using `poetry run mypy`)
        entry: poetry run mypy
        require_serial: true
        language: system
        types_or: [ python, pyi ]
        # Mypy will complain if it find two files with the same name which
        # are not part of a package (typically occurs for packaging script helpers)
        files: ^(parsec|tests)/

  ######
  # Rust

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: clippy
        args:
          [
            --workspace,
            --tests,
            --bins,
            --lib,
            --,
            --deny=warnings,
            --deny=clippy::self_named_module_files,
          ]

  ####
  # Js

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: ""
        entry: eslint
        language: node
        files: ^oxidation/client/
        # see: https://github.com/pre-commit/identify/blob/master/identify/extensions.py
        types_or: [ vue, ts, tsx, javascript, jsx ]
        args: [ --config=oxidation/client/.eslintrc.js ]
        # Deps should be kept updated with `oxidation/client/package-lock.json` !
        additional_dependencies:
          - eslint@8.10.0
          - eslint-plugin-cypress@2.12.1
          - eslint-plugin-vue@8.5.0
          - "@typescript-eslint/eslint-plugin@5.14.0"
          - "@typescript-eslint/parser@5.14.0"
          - "@vue/cli-plugin-eslint@5.0.1"
          - "@vue/eslint-config-typescript@9.1.0"
          - "@intlify/eslint-plugin-vue-i18n@1.4.0"

Correct some typo (#2973)
  parsec/__init__.py
  parsec/backend/cli/run.py
  parsec/backend/postgresql/user_queries/create.py
  parsec/core/fs/storage/chunk_storage.py
  parsec/core/sync_monitor.py
  tests/run_parallel.py
Due: license_headers

fix electron build
  oxidation/client/electron/electron-builder.config.json
  oxidation/client/electron/package.json
  oxidation/client/electron/src/index.ts
  oxidation/client/electron/src/setup.ts
  oxidation/client/src/router/index.ts
Due: license_headers, eslint

npm autoformat
  oxidation/bindings/neon/package-lock.json
Due: none

upload generate electron artifact
  .github/workflows/package-ci.yml
Due: none

[GUI] Fixed TypeError when selecting the first row in some cases
  newsfragments/2960.bugfix.rst
  parsec/core/gui/file_table.py
Due: license_headers

Add job to package electron app (#2890)
  .github/workflows/package-ci.yml
  newsfragments/2875.empty.rst
  oxidation/bindings/neon/package-lock.json
  oxidation/bindings/neon/package.json
  oxidation/client/electron/electron-builder.config.json
  oxidation/client/electron/package.json
  oxidation/client/electron/src/index.ts
  oxidation/client/electron/src/setup.ts
  oxidation/client/src/router/index.ts
Due: license_headers, eslint

Format shell script with `editorconfig` (#2959)
  misc/autoformat.sh
  tests/scripts/run_testenv.sh
Due: none

Format `parsec-gui.pro` with `editorconfig` (#2970)
  parsec/core/gui/parsec-gui.pro
Due: none

Format `nsi` file with `editorconfig` (#2967)
  packaging/windows/installer.nsi
Due: none

Format fish script with `editorconfig` (#2971)
  tests/scripts/run_testenv.fish
Due: none

Removed useless mention to pendulum
  parsec/backend/vlob.py
Due: license_headers

Trio job system relies on (qobject, signal name) instead of pyqtBoundSignal
  newsfragments/2839.bugfix.rst
  parsec/core/gui/claim_device_widget.py
  parsec/core/gui/claim_user_widget.py
  parsec/core/gui/create_org_widget.py
  parsec/core/gui/device_recovery_export_widget.py
  parsec/core/gui/device_recovery_import_widget.py
  parsec/core/gui/devices_widget.py
  parsec/core/gui/enrollment_widget.py
  parsec/core/gui/file_history_widget.py
  parsec/core/gui/file_status_widget.py
  parsec/core/gui/files_widget.py
  parsec/core/gui/greet_device_widget.py
  parsec/core/gui/greet_user_widget.py
  parsec/core/gui/instance_widget.py
  parsec/core/gui/new_version.py
  parsec/core/gui/timestamped_workspace_widget.py
  parsec/core/gui/trio_jobs.py
  parsec/core/gui/users_widget.py
  parsec/core/gui/workspace_sharing_widget.py
  parsec/core/gui/workspaces_widget.py
Due: license_headers

format markdown documents
  README.rst
  docs/cryptography.rst
  docs/development/index.rst
  docs/development/release.rst
  docs/hosting_server.rst
  docs/index.rst
  docs/userguide/index.rst
  docs/userguide/share_data.rst
  oxidation/README.md
  oxidation/bindings/README.md
  oxidation/bindings/web/README.md
  tests/scripts/README.md
Due: none

Format json files using editorconfig
  oxidation/client/android/app/src/main/assets/capacitor.config.json
  oxidation/client/android/app/src/main/assets/capacitor.plugins.json
  oxidation/client/cypress.json
  oxidation/client/electron/electron-builder.config.json
  oxidation/client/electron/package.json
  oxidation/client/electron/tsconfig.json
  oxidation/client/ionic.config.json
  oxidation/client/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  oxidation/client/ios/App/App/Assets.xcassets/Contents.json
  oxidation/client/ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
  oxidation/client/ios/App/App/capacitor.config.json
  oxidation/client/package.json
  oxidation/client/tsconfig.json
Due: none

Format documents with `editorconfig` (#2958)
  README.rst
  docs/cryptography.rst
  docs/development/index.rst
  docs/development/release.rst
  docs/hosting_server.rst
  docs/index.rst
  docs/userguide/index.rst
  docs/userguide/share_data.rst
  oxidation/README.md
  oxidation/bindings/README.md
  oxidation/bindings/web/README.md
  tests/scripts/README.md
Due: none

Added to_rfc3309 to DateTime
  oxidation/libparsec/crates/types/src/time.rs
  parsec/_parsec_pyi/time.pyi
  src/time.rs
Due: license_headers

Update pinned comment for `actions/setup-python` to v4.2.0
  .github/workflows/package-ci.yml
Due: none

correct pinned comment
  .github/workflows/package-ci.yml
Due: none

Revert "Bump pyo3 from 0.16.5 to 0.17.1 (#2987)"
  Cargo.lock
  Cargo.toml
  oxidation/libparsec_python/Cargo.toml
Due: none

Correct typing for `pyo3`
  oxidation/libparsec_python/src/addrs.rs
  oxidation/libparsec_python/src/invite.rs
  src/addrs.rs
  src/invite.rs
Due: license_headers

Remove unused functions
  oxidation/libparsec_python/src/invite.rs
Due: license_headers

Dependabot cargo pyo3 0.17.1 (#2995)
  oxidation/libparsec_python/src/addrs.rs
  oxidation/libparsec_python/src/invite.rs
  src/addrs.rs
  src/invite.rs
Due: license_headers

Ignore news fragment in branch starting with `revert`
  .github/workflows/ci.yml
Due: none

Ignore news fragment in branch starting with `revert` (#2997)
  .github/workflows/ci.yml
Due: none

Add method to verify a given `message` with a given `signature`
  oxidation/libparsec/crates/crypto/src/rustcrypto/sign.rs
  parsec/_parsec_pyi/crypto.pyi
  src/api_crypto.rs
Due: license_headers

Correct typo
  parsec/api/protocol/handshake.py
  parsec/api/version.py
  parsec/backend/asgi/rpc.py
  parsec/backend/handshake.py
Due: license_headers

Add news fragment
  newsfragments/2624.feature.rst
Due: none

Correct Content-Type and add User-Agent headers in core.backend_connection.anonymous
  newsfragments/2979.bugfix.rst
  parsec/core/backend_connection/anonymous.py
Due: license_headers

Add `TestClientProtocol` in `RunningBackend` common fixture
  tests/common/backend.py
Due: license_headers

Add method to get the signature of a given `message` and `SigningKey`
  parsec/_parsec_pyi/crypto.pyi
  src/api_crypto.rs
Due: license_headers

Rework `IncompatibleAPIVersionsError`
  parsec/api/protocol/__init__.py
  parsec/api/protocol/base.py
  parsec/api/protocol/handshake.py
  parsec/core/gui/central_widget.py
  tests/api/test_apiv1_handshake.py
  tests/api/test_handshake.py
Due: license_headers

Rework `ApiVersion` using `NamedTuple` from `typing` module
  parsec/api/version.py
Due: license_headers

Create `authenticated` HTTP entrypoint
  parsec/backend/asgi/error.py
  parsec/backend/asgi/rpc.py
Due: license_headers

Add method to format `DateTime` into `RFC3339`
  oxidation/libparsec/crates/types/src/time.rs
  parsec/_parsec_pyi/time.pyi
Due: license_headers

Mark `test_sync_monitor_stateful` as flaky
  tests/core/test_sync_monitor_stateful.py
Due: license_headers

Improve backend HTTP API (authenticated, anonymous & handshake) and related tests
  parsec/api/version.py
  parsec/backend/asgi/error.py
  parsec/backend/asgi/rpc.py
  tests/backend/asgi/authenticated/test_api_version.py
  tests/backend/asgi/authenticated/test_authenticated.py
  tests/backend/asgi/authenticated/test_author.py
  tests/backend/asgi/authenticated/test_authorization.py
  tests/backend/asgi/authenticated/test_content_type.py
  tests/backend/asgi/authenticated/test_signature.py
  tests/backend/asgi/authenticated/test_timestamp.py
  tests/backend/test_rpc_handshake.py
  tests/backend/test_ws_handshake.py
  tests/common/__init__.py
  tests/common/backend.py
  tests/common/rpc_api.py
Due: license_headers

Add test for `authenticated` HTTP entrypoints
  tests/backend/asgi/authenticated/test_api_version.py
  tests/backend/asgi/authenticated/test_authenticated.py
  tests/backend/asgi/authenticated/test_author.py
  tests/backend/asgi/authenticated/test_authorization.py
  tests/backend/asgi/authenticated/test_content_type.py
  tests/backend/asgi/authenticated/test_signature.py
  tests/backend/asgi/authenticated/test_timestamp.py
  tests/common/backend.py
Due: license_headers

Minor boyscoot cleanup in tests/core/backend_connection/test_invited_cmds.py
  tests/core/backend_connection/test_invited_cmds.py
Due: license_headers

Update VlobCreate & VlobUpdate schema
  oxidation/libparsec/crates/client_connection/src/authenticated_cmds.rs
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/vlob_create.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/vlob_update.json
  oxidation/libparsec/crates/protocol/tests/test_vlob.rs
  oxidation/libparsec/crates/serialization_format/src/parser/protocol.rs
  oxidation/libparsec/crates/serialization_format/src/parser/utils.rs
  oxidation/libparsec/crates/types/src/manifest.rs
  oxidation/libparsec_python/src/protocol/events.rs
  oxidation/libparsec_python/src/protocol/invite.rs
  oxidation/libparsec_python/src/protocol/message.rs
  oxidation/libparsec_python/src/protocol/organization.rs
  oxidation/libparsec_python/src/protocol/ping.rs
  oxidation/libparsec_python/src/protocol/realm.rs
  oxidation/libparsec_python/src/protocol/user.rs
Due: license_headers
