Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

.pre-commit-config.yaml:

exclude: ^misc/bench.py$
repos:
  ##############
  # Common stuff

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3 # Use the ref you want to point at
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: local
    hooks:
      # - id: releaser
      #   name: releaser
      #   entry: python ./misc/releaser.py check
      #   language: python
      #   language_version: python3
      #   pass_filenames: false
      #   require_serial: true
      - id: license_headers
        name: license_headers
        entry: python ./misc/license_headers.py add
        language: python
        language_version: python3
        # see: https://github.com/pre-commit/identify/blob/master/identify/extensions.py
        types_or: [ python, sql, rust, vue, ts, tsx, javascript, jsx ]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint

  ########
  # Python

  - repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
      - id: black
        additional_dependencies: [ click==8.0.4 ]
        args:
          [
            --line-length=100,
            --exclude=parsec/core/gui/_resources_rc.py,
            --exclude=parsec/core/gui/ui/,
          ]
        language_version: python3

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910  # Latest version compatible with `trio_typing==0.5.0`
    hooks:
      - id: mypy
        language_version: python3.9
        additional_dependencies:
          - trio_typing[mypy]~=0.5  # `qtrio` requires `trio_typing~=0.5` for the moment
          - pendulum~=2.1
          - mypy-extensions~=0.4
          - typing-extensions~=3.10
          - Quart~=0.17
          - quart-trio~=0.9
          - PyQt5_stubs~=5.15
        # Mypy will complain if it find two files with the same name which
        # are not part of a package (typically occurs for packaging script helpers)
        files: ^(parsec|tests)/

  ######
  # Rust

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: clippy
        args:
          [
            --workspace,
            --tests,
            --bins,
            --lib,
            --,
            --deny=warnings,
            --deny=clippy::self_named_module_files,
          ]

  ####
  # Js

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: ""
        entry: eslint
        language: node
        files: ^oxidation/client/
        # see: https://github.com/pre-commit/identify/blob/master/identify/extensions.py
        types_or: [ vue, ts, tsx, javascript, jsx ]
        args: [ --config=oxidation/client/.eslintrc.js ]
        # Deps should be kept updated with `oxidation/client/package-lock.json` !
        additional_dependencies:
          - eslint@8.10.0
          - eslint-plugin-cypress@2.12.1
          - eslint-plugin-vue@8.5.0
          - "@typescript-eslint/eslint-plugin@5.14.0"
          - "@typescript-eslint/parser@5.14.0"
          - "@vue/cli-plugin-eslint@5.0.1"
          - "@vue/eslint-config-typescript@9.1.0"
          - "@intlify/eslint-plugin-vue-i18n@1.4.0"

Yolo/merge rust ci testing workflow (#2793)
  .github/workflows/linux-ci.yml
  .github/workflows/macos-ci.yml
  .github/workflows/test-rust-ci.yml
  .github/workflows/windows-ci.yml
Due: none

rename action `setup-python-poetry`
  .github/actions/setup-python-poetry/action.yml
  .github/workflows/linux-ci.yml
  .github/workflows/macos-ci.yml
  .github/workflows/package-linux.yml
  .github/workflows/package-macos.yml
  .github/workflows/package-windows.yml
  .github/workflows/windows-ci.yml
Due: none

Remove step `Generate PyQT GUI data`
  .github/workflows/linux-ci.yml
  .github/workflows/macos-ci.yml
  .github/workflows/windows-ci.yml
Due: none

Move libparsec to parsec
  Cargo.lock
  Cargo.toml
  parsec/_parsec.pyi
  parsec/crypto.py
  src/api_crypto.rs
  src/lib.rs
Due: license_headers

Remove rust tests
  tests/rust/test_hash_digest.py
  tests/rust/test_private_and_public_key.py
  tests/rust/test_secret_key.py
  tests/rust/test_signing_and_verify_key.py
Due: license_headers

Remove from libparsec
  oxidation/libparsec_python/libparsec/hazmat.py
  oxidation/libparsec_python/libparsec/py.typed
  oxidation/libparsec_python/src/api_crypto.rs
  oxidation/libparsec_python/src/lib.rs
Due: license_headers

Remove unecessary precommit conf
  .pre-commit-config.yaml
Due: none

Add comment
  oxidation/libparsec_python/src/api_crypto.rs
Due: license_headers

Yolo/improve installation poetry (#2805)
  .github/actions/setup-python-poetry/action.yml
  .github/workflows/linux-ci.yml
  .github/workflows/macos-ci.yml
  .github/workflows/package-linux.yml
  .github/workflows/package-macos.yml
  .github/workflows/package-windows.yml
  .github/workflows/windows-ci.yml
Due: none

Update docs/development/quickstart.rst now that Rust is mandatory
  docs/development/quickstart.rst
Due: none

Remove step `Generate PyQT GUI data` (#2807)
  .github/workflows/linux-ci.yml
  .github/workflows/macos-ci.yml
  .github/workflows/windows-ci.yml
Due: none

Update docs/development/quickstart.rst now that Rust is mandatory (#2808)
  docs/development/quickstart.rst
Due: none

Change dependencies order
  Cargo.toml
Due: none

Replace ChunkID
  oxidation/libparsec_python/libparsec/_libparsec.pyi
  parsec/core/types/manifest.py
Due: license_headers

Add newsFragment
  newsfragments/2726.empty.rst
Due: none

Replace EntryID
  oxidation/libparsec_python/libparsec/_libparsec.pyi
  parsec/api/data/entry.py
Due: license_headers

Replace RealmID
  oxidation/libparsec_python/libparsec/_libparsec.pyi
  parsec/api/protocol/realm.py
Due: license_headers

Replace VlobID
  oxidation/libparsec_python/libparsec/_libparsec.pyi
  parsec/api/protocol/vlob.py
Due: license_headers

Replace types
  .pre-commit-config.yaml
  oxidation/libparsec_python/libparsec/_libparsec.pyi
  oxidation/libparsec_python/libparsec/py.typed
  parsec/api/protocol/types.py
Due: license_headers

Replace BlockID
  oxidation/libparsec_python/libparsec/_libparsec.pyi
  parsec/api/protocol/block.py
Due: license_headers

Move libparsec to parsec
  Cargo.lock
  Cargo.toml
  oxidation/libparsec_python/libparsec/_libparsec.pyi
  oxidation/libparsec_python/libparsec/py.typed
  parsec/_parsec.pyi
  parsec/api/data/base.py
  parsec/api/data/entry.py
  parsec/api/protocol/base.py
  parsec/api/protocol/block.py
  parsec/api/protocol/realm.py
  parsec/api/protocol/types.py
  parsec/api/protocol/vlob.py
  parsec/core/types/manifest.py
  src/binding_utils.rs
  src/ids.rs
  src/lib.rs
  tests/test_types.py
Due: license_headers

Remove rust tests
  tests/rust/test_ids.py
Due: license_headers

Remove from libparsec
  oxidation/libparsec_python/libparsec/types.py
Due: license_headers

Add workflow to package `parsec-desktop`
  .github/workflows/package-ci.yml
Due: none

Remove workflow that was platform packaging
  .github/workflows/package-linux.yml
  .github/workflows/package-macos.yml
  .github/workflows/package-windows.yml
Due: none

Add comment
  oxidation/libparsec_python/src/ids.rs
  parsec/api/data/base.py
  parsec/api/protocol/base.py
  src/binding_utils.rs
Due: license_headers

Simplify binding
  src/ids.rs
Due: license_headers

minor css fix
  oxidation/client/src/components/CreateOrganisationModal.vue
Due: license_headers, eslint

Allow more time for basic tests
  .github/workflows/linux-ci.yml
Due: none

Improve handling of HTTP `server` header in backend server
  parsec/backend/asgi/__init__.py
  parsec/backend/cli/run.py
  tests/backend/test_http.py
Due: license_headers

Allow more time for hypothesis tests
  .github/workflows/linux-ci.yml
Due: none

Fix failing parsec.core import in parsec/sequester_export_reader.py when only backend deps are installed
  parsec/sequester_export_reader.py
Due: license_headers

fix text partially hidden when screen is too small
  oxidation/client/src/components/SettingsOption.vue
Due: license_headers, eslint

Replace `BackendAddr*` by rust impl
  oxidation/libparsec_python/src/lib.rs
  src/addrs.rs
  src/lib.rs
Due: license_headers

Add news fragment
  newsfragments/2816.empty.rst
Due: none

Replace `invite` by rust impl
  oxidation/libparsec_python/src/lib.rs
  parsec/_parsec/__init__.pyi
  parsec/_parsec/crypto.pyi
  parsec/_parsec/ids.pyi
  parsec/_parsec/invite.pyi
  parsec/api/data/invite.py
  src/invite.rs
  src/lib.rs
Due: license_headers

update api_data schema
  tests/schemas/api_data.json
Due: none

Oxidation replace invite (#2815)
  newsfragments/2816.empty.rst
  oxidation/libparsec_python/src/lib.rs
  parsec/_parsec/__init__.pyi
  parsec/_parsec/crypto.pyi
  parsec/_parsec/ids.pyi
  parsec/_parsec/invite.pyi
  parsec/api/data/invite.py
  src/invite.rs
  src/lib.rs
  tests/schemas/api_data.json
Due: license_headers
