Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

test(server): Fix test doing a vault rotation
  server/tests/api_v5/authenticated_account/test_vault_key_rotation.py
Due: none

Improve documentation for `MemoryAccount`&`MemoryAuthenticationMethod`
  server/parsec/components/memory/datamodel.py
Due: none

Introduce more explicit `MemoryDatamodel.get_account_from_active_auth_method()/get_account_from_any_auth_method()` methods
  server/parsec/components/memory/account.py
  server/parsec/components/memory/auth.py
  server/parsec/components/memory/datamodel.py
Due: none

Add sanity checks in `(alice|bob)_account` fixtures
  server/tests/common/account.py
Due: none

[MS] Updated lib
  client/package-lock.json
  client/package.json
Due: none

Refactored MsActionBar in WorkspacesPage, FoldersPage, and UsersPage
  .cspell/custom-words.txt
  client/package-lock.json
  client/package.json
  client/src/views/files/FoldersPage.vue
  client/src/views/users/UsersPage.vue
  client/src/views/workspaces/WorkspacesPage.vue
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/greet.ts
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/file_import.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
  client/tests/e2e/specs/users_list.spec.ts
  client/tests/e2e/specs/workspace_sharing.spec.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Added creation date
  client/src/components/files/FileListDisplay.vue
  client/src/components/files/FileListItem.vue
  client/src/components/files/types.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_list.scss
  client/src/views/files/FoldersPage.vue
  client/tests/e2e/specs/documents_list.spec.ts
  newsfragments/10454.feature.rst
Due: eslint, vue-tsc, prettier

feat(bindings): Add organization_info
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/client.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/client/organization_info.rs
  libparsec/src/client.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] OrganizationCard - updated connected badge
  client/src/components/organizations/OrganizationCard.vue
  client/src/theme/components/_inputs.scss
  client/tests/e2e/specs/organization_switch_popover.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Detects disabled long paths support and displays a message
  client/electron/package-lock.json
  client/electron/package.json
  client/electron/src/communicationChannels.ts
  client/electron/src/setup.ts
  client/electron/src/winRegistry.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/main.ts
  client/src/services/storageManager.ts
  client/src/views/about/LongPathsSupportModal.vue
  newsfragments/10131.misc.rst
Due: eslint, vue-tsc, prettier

Backport: [MS] Fix invoice download (#10453)
  client/src/components/client-area/invoices/InvoicesListItem.vue
  client/src/views/client-area/BmsLogin.vue
  client/src/views/client-area/contracts/ContractsPage.vue
  client/src/views/client-area/dashboard/DashboardPage.vue
Due: eslint, vue-tsc, prettier

Bump version 3.4.0-rc.6+dev -> 3.4.0-rc.6
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.4.0-rc.6 -> 3.4.0-rc.7+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

test(account): Refactor fixture to use component method
  server/tests/common/account.py
Due: none

Add `PasswordAlgorithm` type
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/types/src/account.rs
Due: fmt, clippy

Add .pyi typing for `PasswordAlgorithm`
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/account.pyi
Due: none

Update RFC1013&1014 to use builtin `PasswordAlgorithm` type
  docs/rfcs/1013-parsec-account.md
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
Due: none

Re-generate python bindings for `account_create_proceed/vault_item_recovery_list/vault_key_rotation`
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/account_create_proceed.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/vault_item_recovery_list.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/vault_key_rotation.pyi
  server/tests/common/rpc.py
Due: none

Update `account_create_proceed/vault_key_rotation/vault_item_recovery_list` schemas to use builtin `PasswordAlgorithm` type
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_create_proceed.json5
  libparsec/crates/protocol/schema/authenticated_account_cmds/vault_item_recovery_list.json5
  libparsec/crates/protocol/schema/authenticated_account_cmds/vault_key_rotation.json5
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_create_proceed.rs
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_create_send_validation_email.rs
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_create_with_password_proceed.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/vault_item_recovery_list.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/vault_key_rotation.rs
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  server/src/data/account.rs
  server/src/data/mod.rs
Due: fmt, clippy

Update server implementation of `vault_item_recovery_list` to support `created_by_ip` non-optional field
  server/parsec/asgi/rpc.py
  server/parsec/client_context.py
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/parsec/components/memory/datamodel.py
  server/tests/api_v5/authenticated_account/test_vault_item_recovery_list.py
  server/tests/api_v5/authenticated_account/test_vault_key_rotation.py
Due: none

Update RFC1014 to make non-optional `vault_item_recovery_list`'s `created_by_ip` field
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
  libparsec/crates/protocol/schema/authenticated_account_cmds/vault_item_recovery_list.json5
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/vault_item_recovery_list.rs
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/vault_item_recovery_list.pyi
Due: fmt, clippy

Update `account_create_proceed/vault_key_rotation/vault_item_recovery_list` APIs server implementations
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/parsec/components/memory/datamodel.py
  server/tests/api_v5/anonymous_account/__init__.py
  server/tests/api_v5/anonymous_account/test_account_create_proceed.py
  server/tests/api_v5/authenticated_account/test_vault_item_recovery_list.py
  server/tests/api_v5/authenticated_account/test_vault_key_rotation.py
  server/tests/common/account.py
Due: none

Rename `parsec.types.Base64Bytes` -> `Base64BytesField` for consistency
  server/parsec/asgi/administration.py
  server/parsec/events.py
  server/parsec/types.py
Due: none

Fix `Base64BytesField`'s validation function
  server/parsec/types.py
Due: none

Add server/tests/test_types.py
  server/tests/test_types.py
Due: none

Add `AllowedClientAgentField`&`AccountVaultStrategyField` to pydantic field types
  server/parsec/asgi/administration.py
  server/parsec/types.py
  server/tests/test_types.py
Due: none

Remove `validate_user_id` validator from `UserFreezeIn` (since `UserIDField` should handle the validation instead)
  server/parsec/asgi/administration.py
Due: none

Fix `ActiveUsersLimit.from_maybe_int` in Python bindings raising incorrect exception when passing out-of-bound values
  misc/gen_protocol_typings.py
  server/parsec/_parsec_pyi/protocol/__init__.pyi
  server/src/protocol.rs
Due: fmt, clippy

Improve tests for server implementation of administration API create/patch organization and freeze user
  server/tests/administration/test_create_organization.py
  server/tests/administration/test_freeze_user.py
  server/tests/administration/test_patch_organization.py
Due: none

Ensure `minimum_archiving_period`&`sse_keepalive` cannot be < 0 in the server
  server/parsec/asgi/administration.py
  server/parsec/components/memory/organization.py
  server/parsec/components/postgresql/organization.py
  server/parsec/components/postgresql/organization_test_dump_organizations.py
  server/parsec/config.py
Due: none

Remove `validate_active_users_limit` validator from `CreateOrganizationIn`/`PatchOrganizationIn` (since `ActiveUsersLimitField` should handle the validation instead)
  server/parsec/asgi/administration.py
Due: none

Add missing `allowed_client_agent`&`account_vault_strategy` params to POST /administration/organizations API
  server/parsec/asgi/administration.py
Due: none

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
