Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Add domain routing in editics for web release
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

Add cache-busting suffix to `editics/offline.html` when building
  client/editics/README.md
  client/index.html
  client/scripts/vite_plugin_editics.ts
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

Correct GUI build to have onlyoffice & onlyoffice-x2t copied within editics folder Useful to have all the editics-related stuff in a single folder (since they should be served from a different domain)
  client/editics/README.md
  client/editics/offline.ts
  client/scripts/copy_to_electron.cjs
  client/scripts/vite_plugin_editics.ts
Due: eslint, vue-tsc, prettier

[MS] Reactivate e2e test for editics
  client/.env.playwright
  client/README.md
  client/editics/offline.html
  client/src/services/editics.ts
  client/tests/e2e/helpers/cryptpad.ts
  client/tests/e2e/helpers/editics.ts
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/index.ts
  client/tests/e2e/helpers/types.ts
  client/tests/e2e/specs/document_context_menu.spec.ts
  client/tests/e2e/specs/file_editor.spec.ts
  client/tests/e2e/specs/options_tab_menu.spec.ts
  client/tests/e2e/specs/workspace_archive.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
  client/tests/e2e/specs/workspace_trash.spec.ts
Due: eslint, vue-tsc, prettier

Opening an empty document in editics result in an explicit error (instead of loading a blank template)
  client/editics/offline.ts
  client/editics/templates/cell.bin
  client/editics/templates/slide.bin
  client/editics/templates/word.bin
Due: eslint, vue-tsc, prettier

Add `Content-Security-Policy` header to editics app hosting on the server
  server/parsec/asgi/__init__.py
  server/tests/test_web_app_hosting.py
Due: none

Add editics app hosting to the server
  server/parsec/asgi/__init__.py
  server/parsec/cli/run.py
  server/parsec/config.py
  server/tests/test_web_app_hosting.py
Due: none

Removed reference to editics/templates
  client/scripts/vite_plugin_editics.ts
Due: eslint, vue-tsc, prettier

[MS] Remove unused files from the build
  client/electron/package.cjs
  client/scripts/vite_plugin_editics.ts
Due: eslint, vue-tsc, prettier

Bump minimal fastapi version to 0.135.0 (which introduces SSE support)
  server/pyproject.toml
  server/uv.lock
Due: toml-fmt

Add ../client/editics/collaborative_protocol.js
  client/editics/collaborative_protocol.js
Due: eslint, prettier

[MS] Serve .br files with Electron and removed uncompressed files from the build to avoid dupplicates
  client/electron/package-lock.json
  client/electron/package.json
  client/electron/src/serveDirectory.ts
  client/electron/src/setup.ts
  client/scripts/copy_to_electron.cjs
Due: eslint, vue-tsc, prettier

Extend the timeout for electron copy in package-desktop
  .github/workflows/package-desktop.yml
Due: none

[MS] Avoid recompressing files already compressed in onlyoffice
  client/scripts/copy_to_electron.cjs
Due: eslint, prettier

[MS] Fix dmg and app icons
  client/electron/macOS/parsec.icns
  client/electron/package.cjs
  newsfragments/13518.misc.rst
Due: eslint, prettier

Fix AppImage package job
  client/electron/package.cjs
Due: eslint, prettier

Added missing 13390 newsfragment
  newsfragments/13390.misc.rst
Due: none

Revert pydantic to a stable release
  server/uv.lock
Due: none

[MS] Adds preview when editing .md text files
  client/package-lock.json
  client/package.json
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/files/handler/FileHandler.vue
  client/src/views/files/handler/viewer/TextViewer.vue
Due: eslint, vue-tsc, prettier

bugfix: scroll resize style
  client/src/components/files/explorer/FileDropZone.vue
  client/src/components/files/explorer/FileListDisplay.vue
  client/src/theme/components/_list.scss
Due: eslint, vue-tsc, prettier

[MS] Automatically saves a document after 10min
  client/src/views/files/handler/editor/FileEditor.vue
Due: eslint, vue-tsc, prettier

Update client/editics/README.md
  client/editics/README.md
Due: none

[MS] 30s timeout when opening a document
  client/src/views/files/handler/editor/FileEditor.vue
Due: eslint, vue-tsc, prettier

Remove `PARSEC_APP_FORCE_CRYPTPAD_SERVER` env variable
  client/README.md
  client/src/services/environment.ts
Due: eslint, vue-tsc, prettier

Add satisfies typing restriction to `client/editics/offline.ts`
  client/editics/offline.ts
Due: eslint, vue-tsc, prettier

Fix editics subdomain handling in dev mode when original domain is 127.0.0.1
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

Fix missing jsonify error in `editics/offline.ts`
  client/editics/offline.ts
Due: eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
