Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

feat(pki): Use human handle from cert for pki submit
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/parsec/components/postgresql/pki.py
  server/parsec/components/postgresql/pki_submit.py
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
  server/tests/api_v5/authenticated/test_pki_enrollment_accept.py
  server/tests/api_v5/authenticated/test_pki_enrollment_list.py
  server/tests/api_v5/authenticated/test_pki_enrollment_reject.py
Due: sqlfluff-in-python

Add RFC 1022 PKI-based device storage
  docs/rfcs/1022-pki-device-storage.md
Due: none

[Draft] - Workspace details modal
  client/src/components/workspaces/utils.ts
  client/src/locales/en-US.json
  client/src/parsec/types.ts
  client/src/views/workspaces/SmallDisplayWorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceDetailsModal.vue
Due: eslint, vue-tsc, prettier

refactor(pki): Remove `HumanHandle` from submit payload
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/src/client/pki_enrollment_submit.rs
  libparsec/crates/client/tests/unit/client/pki_enrollment_list.rs
  libparsec/crates/platform_device_loader/tests/units/pki/save.rs
  libparsec/crates/types/schema/pki/pki_enrollment_submit_payload.json5
  libparsec/crates/types/src/pki/mod.rs
  libparsec/crates/types/tests/unit/pki.rs
  libparsec/src/pki.rs
  server/parsec/_parsec_pyi/pki.pyi
  server/src/data/pki.rs
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
  server/tests/api_v5/authenticated/test_pki_enrollment_accept.py
  server/tests/api_v5/authenticated/test_pki_enrollment_list.py
  server/tests/api_v5/authenticated/test_pki_enrollment_reject.py
Due: fmt, clippy, eslint, vue-tsc, prettier

refactor(gen-test-pki): Add v3 extensions to force generating cert in v3
  misc/gen_test_pki.py
Due: none

[Pki] Add intermediates certificates in memory datamodel
  .cspell/names.txt
  server/parsec/_parsec.pyi
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/parsec/components/postgresql/pki.py
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
  server/tests/api_v5/authenticated/test_pki_enrollment_accept.py
  server/tests/api_v5/authenticated/test_pki_enrollment_list.py
  server/tests/api_v5/authenticated/test_pki_enrollment_reject.py
Due: sqlfluff-in-python

[PKI] Store accepter intermediate certificates during accept
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
  server/tests/api_v5/authenticated/test_pki_enrollment_accept.py
Due: none

[MS] Avoid importing a lot of files for tests that don't need them
  client/src/main.ts
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/types.ts
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/document_context_menu.spec.ts
  client/tests/e2e/specs/file_details.spec.ts
  client/tests/e2e/specs/file_viewers.spec.ts
  client/tests/e2e/specs/file_viewers_image.spec.ts
  client/tests/e2e/specs/file_viewers_pdf.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Adds openbao e2e tests
  .cspell/custom-words.txt
  client/tests/e2e/helpers/externalWebsites.ts
  client/tests/e2e/specs/auth_with_sso.spec.ts
  client/tests/e2e/specs/device_greet.spec.ts
  client/tests/e2e/specs/my_profile_page.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
Due: eslint, vue-tsc, prettier

test(rust): Add test pki fixture
  .github/workflows/ci-rust.yml
  Cargo.lock
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/test_fixture.rs
Due: toml-fmt, fmt, clippy

[MS] Fix invalid folder path error message
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/files/FoldersPage.vue
Due: eslint, vue-tsc, prettier

[PKI] Retrieve intermediate certs during list.
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/tests/api_v5/authenticated/test_pki_enrollment_list.py
Due: none

feat(editor): add timeout modal for file loading issues and enhance error handling
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/cryptpad.ts
  client/src/views/files/handler/editor/EditorIssueModal.vue
  client/src/views/files/handler/editor/FileEditor.vue
  client/src/views/files/handler/editor/types.ts
Due: eslint, vue-tsc, prettier

feat(pki): Use human handle from cert for pki_list
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/Cargo.toml
  libparsec/crates/client/src/client/pki_enrollment_list.rs
  libparsec/crates/client/tests/unit/client/pki_enrollment_list.rs
Due: toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

test(mountpoint): Ignore `history::open_file::read_only[create_on_existing]` for windows
  libparsec/crates/platform_mountpoint/tests/unit/operations/history/open_file.rs
Due: fmt, clippy

feat(pki): Verify untrusted pki list items
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/client/pki_enrollment_list.rs
Due: fmt, clippy

feat(pki): Remove human handle from pki accept payload
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/client.py
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/client/pki_enrollment_accept.rs
  libparsec/crates/client/src/client/pki_enrollment_finalize.rs
  libparsec/crates/client/src/client/pki_enrollment_list.rs
  libparsec/crates/client/src/invite/greeter.rs
  libparsec/crates/client/src/utils.rs
  libparsec/crates/client/tests/unit/client/pki_enrollment_info.rs
  libparsec/crates/client/tests/unit/client/pki_enrollment_list.rs
  libparsec/crates/types/schema/pki/pki_enrollment_answer_payload.json5
  libparsec/crates/types/src/pki/mod.rs
  libparsec/crates/types/tests/unit/pki.rs
  libparsec/src/client.rs
  server/parsec/_parsec_pyi/pki.pyi
  server/src/data/pki.rs
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
  server/tests/api_v5/authenticated/test_pki_enrollment_accept.py
Due: fmt, clippy, eslint, vue-tsc, prettier

fix(rust-test): `test_pki` fixture now populated
  libparsec/crates/platform_pki/src/test_fixture.rs
Due: fmt, clippy

feat(pki): Provide `pki_list_untrusted`
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/client/pki_enrollment_list.rs
  libparsec/crates/client/tests/unit/client/pki_enrollment_list.rs
Due: fmt, clippy

[MS] Call history.bacj after loading cryptpad
  client/src/services/cryptpad.ts
Due: eslint, vue-tsc, prettier

[MS] Use Cryptpad instead of viewers when possible
  client/src/common/fileTypes.ts
  client/src/parsec/mock_files/index.ts
  client/src/parsec/mock_files/pptx.ts
  client/src/services/cryptpad.ts
  client/src/services/fileOpener.ts
  client/src/views/files/FoldersPage.vue
  client/src/views/files/handler/FileHandler.vue
  client/src/views/files/handler/SmallDisplayViewerActionMenu.vue
  client/src/views/files/handler/editor/FileEditor.vue
  client/src/views/files/types.ts
  client/src/views/header/HeaderPage.vue
  client/src/views/menu/MainMenu.vue
  client/src/views/workspaces/WorkspaceHistoryPage.vue
  client/tests/e2e/data/imports/hell_yeah.png
  client/tests/e2e/data/imports/presentation.pptx
  client/tests/e2e/data/imports/yo.png
  client/tests/e2e/helpers/assertions.ts
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/file_details.spec.ts
  client/tests/e2e/specs/file_import.spec.ts
  client/tests/e2e/specs/file_viewers.spec.ts
  client/tests/e2e/specs/file_viewers_document.spec.ts
  client/tests/e2e/specs/file_viewers_spreadsheet.spec.ts
  client/tests/e2e/specs/sidebar.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
Due: eslint, vue-tsc, prettier

RFC 1023 Async enrollment
  docs/rfcs/1023-async-enrollment.md
Due: none

Move `PinBoxFutureResult` type into `libparsec_async`
  libparsec/crates/client/tests/unit/invite/bootstrap_organization.rs
  libparsec/crates/platform_async/src/lib.rs
  libparsec/crates/platform_device_loader/src/strategy.rs
  libparsec/crates/platform_device_loader/tests/units/utils.rs
  libparsec/src/device.rs
Due: fmt, clippy

Add `AsyncEnrollmentSubmitPayload/AsyncEnrollmentAcceptPayload/AsyncEnrollmentLocalPending` schemas to libparsec_types
  libparsec/crates/types/schema/async_enrollment/async_enrollment_accept_payload.json5
  libparsec/crates/types/schema/async_enrollment/async_enrollment_local_pending.json5
  libparsec/crates/types/schema/async_enrollment/async_enrollment_submit_payload.json5
  libparsec/crates/types/src/async_enrollment.rs
  libparsec/crates/types/src/lib.rs
  libparsec/crates/types/tests/unit/async_enrollment.rs
Due: fmt, clippy

Add protocol schemas for `async_enrollment_(info|submit|list|reject|accept)` commands
  libparsec/crates/protocol/schema/anonymous_cmds/async_enrollment_info.json5
  libparsec/crates/protocol/schema/anonymous_cmds/async_enrollment_submit.json5
  libparsec/crates/protocol/schema/authenticated_cmds/async_enrollment_accept.json5
  libparsec/crates/protocol/schema/authenticated_cmds/async_enrollment_list.json5
  libparsec/crates/protocol/schema/authenticated_cmds/async_enrollment_reject.json5
  libparsec/crates/protocol/tests/anonymous_cmds/v5/async_enrollment_info.rs
  libparsec/crates/protocol/tests/anonymous_cmds/v5/async_enrollment_submit.rs
  libparsec/crates/protocol/tests/authenticated_cmds/v5/async_enrollment_accept.rs
  libparsec/crates/protocol/tests/authenticated_cmds/v5/async_enrollment_list.rs
  libparsec/crates/protocol/tests/authenticated_cmds/v5/async_enrollment_reject.rs
Due: fmt, clippy

Simplify `libparsec_client::utils::create_user_and_device_certificates`
  libparsec/crates/client/src/utils.rs
Due: fmt, clippy

Create `libparsec_types::AsyncEnrollmentID`
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/types/src/id.rs
  server/src/ids.rs
Due: fmt, clippy

WIP add `libparsec_async_enrollment`
  Cargo.lock
  Cargo.toml
  libparsec/crates/async_enrollment/Cargo.toml
  libparsec/crates/async_enrollment/src/accept.rs
  libparsec/crates/async_enrollment/src/lib.rs
  libparsec/crates/async_enrollment/src/list.rs
  libparsec/crates/async_enrollment/src/reject.rs
  libparsec/crates/async_enrollment/src/submit.rs
Due: toml-fmt, fmt, clippy

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
