Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

fix: Danger admonition title style
  docs/_static/parsec_theme.css
Due: none

Set a more explicit name for the mountpoint minimal example
  .cspell/custom-words.txt
  libparsec/crates/platform_mountpoint/Cargo.toml
Due: toml-fmt

chore(dependabot): Add missing `curve25519-dalek` to rust-crypto group
  .github/dependabot.yml
Due: none

chore(dependabot): Configure for docker
  .github/dependabot.yml
Due: none

docs(sequester): Add more details to steps
  .cspell/custom-words.txt
  docs/hosting/sequester/imgs/create-org-with-sequester-main-key.en.png
  docs/hosting/sequester/imgs/create-org-with-sequester-main-key.fr.png
  docs/hosting/sequester/index.rst
  docs/locale/fr/LC_MESSAGES/hosting/sequester/index.po
Due: none

test(server): Test raw rsa sign for scws
  server/tests/test_scws.py
Due: none

feat(pki): Add log for srv signature check
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/src/web/pki_system.rs
Due: toml-fmt, fmt, clippy

test(server): Test raw rsa sign for scws (#13123)
  server/tests/test_scws.py
Due: none

feat(pki): Add log for srv signature check (#13122)
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/src/web/pki_system.rs
Due: toml-fmt, fmt, clippy

Bump version 3.9.3-a.0+dev -> 3.9.3-rc.0
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.9.3-rc.0 -> 3.9.3-rc.1+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Fix race condition on worker initialization
  client/src/plugins/libparsec/web_shared_worker.ts
Due: eslint, vue-tsc, prettier

[MS] Install megashark from a built tarball
  .github/workflows/ci-web.yml
  .github/workflows/package-desktop.yml
  .github/workflows/package-webapp.yml
  client/README.md
  client/knip.config.ts
  client/package-lock.json
  client/package.json
  client/scripts/build_megashark_lib.cjs
Due: eslint, vue-tsc, prettier

refactor(crypto): Add `Rsa{Public,Private}Key`
  libparsec/crates/crypto/src/common/error.rs
  libparsec/crates/crypto/src/rustcrypto/mod.rs
  libparsec/crates/crypto/src/rustcrypto/rsa.rs
  libparsec/crates/crypto/src/rustcrypto/sequester.rs
  libparsec/crates/crypto/src/sodium/mod.rs
  libparsec/crates/crypto/src/sodium/rsa.rs
  libparsec/crates/crypto/src/sodium/sequester.rs
  libparsec/crates/crypto/tests/unit/sequester.rs
Due: fmt, clippy

[MS] HeaderPage.vue refacto
  client/src/components/header/SmallDisplaySecurityRecommendations.vue
  client/src/router/checks.ts
  client/src/views/header/HeaderPage.vue
Due: eslint, vue-tsc, prettier

refactor(server): Use `RsaPrivateKey` from Rust
  libparsec/crates/crypto/src/rustcrypto/rsa.rs
  libparsec/crates/crypto/src/sodium/rsa.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/crypto.pyi
  server/parsec/cli/scws.py
  server/parsec/components/scws.py
  server/parsec/config.py
  server/src/crypto.rs
  server/tests/api_v5/anonymous_server/test_scws_service_mutual_challenges.py
  server/tests/test_scws.py
Due: fmt, clippy

[MS] Fix snap build
  client/.npmrc
  client/electron/snap/snapcraft.yaml
Due: none

feat(server): Replace hand written RSA signature by trusted implementation for SCWS signing (#13126)
  libparsec/crates/crypto/src/common/error.rs
  libparsec/crates/crypto/src/rustcrypto/mod.rs
  libparsec/crates/crypto/src/rustcrypto/rsa.rs
  libparsec/crates/crypto/src/rustcrypto/sequester.rs
  libparsec/crates/crypto/src/sodium/mod.rs
  libparsec/crates/crypto/src/sodium/rsa.rs
  libparsec/crates/crypto/src/sodium/sequester.rs
  libparsec/crates/crypto/tests/unit/sequester.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/crypto.pyi
  server/parsec/cli/scws.py
  server/parsec/components/scws.py
  server/parsec/config.py
  server/src/crypto.rs
  server/tests/api_v5/anonymous_server/test_scws_service_mutual_challenges.py
  server/tests/test_scws.py
Due: fmt, clippy

Bump version 3.9.3-rc.1+dev -> 3.9.3-rc.1
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.9.3-rc.1 -> 3.9.3-rc.2+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Fix translation & adds test for cert card
  client/src/components/misc/CertificateCard.vue
  client/tests/e2e/specs/async_enrollment.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Adds tests for loading page
  .cspell/cspell.config.yml
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/types.ts
  client/tests/e2e/specs/loading.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Test default device name
  client/src/components/profile/AuthenticationCard.vue
  client/tests/e2e/helpers/assertions.ts
  client/tests/e2e/specs/my_profile_page.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Replace i18n-t with ms-rich-text
  client/src/components/files/operations/FileOperationBase.vue
  client/src/components/files/operations/FileOperationImport.vue
  client/src/components/notifications/MultipleUsersJoinWorkspaceNotification.vue
  client/src/components/notifications/UserJoinWorkspaceNotification.vue
  client/src/components/notifications/UserSharedDocumentNotification.vue
  client/src/components/notifications/WorkspaceAccessNotification.vue
  client/src/components/notifications/WorkspaceRoleChangedNotification.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/environment.ts
  client/src/views/files/DownloadWarningModal.vue
  client/src/views/home/OrganizationListPage.vue
  client/src/views/users/BulkRoleAssignmentModal.vue
  client/src/views/workspaces/WorkspaceHiddenModal.vue
Due: eslint, vue-tsc, prettier

fix(crypto): Correct sodium impl for raw RSA signature
  libparsec/crates/crypto/src/sodium/rsa.rs
  libparsec/crates/crypto/tests/unit/mod.rs
  libparsec/crates/crypto/tests/unit/rsa.rs
  server/tests/test_scws.py
Due: fmt, clippy

fix(crypto): Correct sodium impl for raw RSA signature (#13135)
  libparsec/crates/crypto/src/sodium/rsa.rs
  libparsec/crates/crypto/tests/unit/mod.rs
  libparsec/crates/crypto/tests/unit/rsa.rs
  server/tests/test_scws.py
Due: fmt, clippy

Bump version 3.9.3-rc.2+dev -> 3.9.3-rc.2
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.9.3-rc.2 -> 3.9.3-rc.3+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

refactor(pki): Change log level for SCWS Server login
  libparsec/crates/platform_pki/src/web/pki_system.rs
Due: fmt, clippy

[MS] Removed adm-zip types
  client/package-lock.json
  client/package.json
Due: none
