Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

license_headers:
  name: license_headers
  entry: python ./misc/license_headers.py add
  language: python
  language_version: python3

eslint:
  name: eslint
  description: ''
  entry: eslint
  language: node
  args:
  - --config=oxidation/client/.eslintrc.js
  additional_dependencies:
  - eslint@8.10.0
  - eslint-plugin-cypress@2.12.1
  - eslint-plugin-vue@8.5.0
  - '@typescript-eslint/eslint-plugin@5.14.0'
  - '@typescript-eslint/parser@5.14.0'
  ...

Using rust `ApiVersion` in schemas
  parsec/_parsec.pyi
  parsec/_parsec_pyi/misc.pyi
  parsec/api/protocol/handshake.py
  parsec/api/protocol/types.py
  parsec/api/version.py
  parsec/serde/fields.py
  parsec/serde/packing.py
  tests/backend/test_compatibility.py
Due: license_headers

Merge pull request #3750 from Scille/fix-human-handle
  newsfragments/3749.bugfix.rst
  oxidation/libparsec/crates/types/src/id.rs
Due: license_headers

Fix special character handling in Reply-To email header
  .github/workflows/ci.yml
  newsfragments/3752.bugfix.rst
  parsec/backend/invite.py
  tests/backend/invite/test_manage_invitations.py
Due: license_headers

Bump version v2.15.0-rc2+dev -> v2.15.0-rc3
  HISTORY.rst
  licenses/BUSL-Scille.txt
  newsfragments/3749.bugfix.rst
  newsfragments/3752.bugfix.rst
  parsec/_version.py
  pyproject.toml
Due: license_headers

Bump version v2.15.0-rc3 -> v2.15.0-rc3+dev
  licenses/BUSL-Scille.txt
  parsec/_version.py
  pyproject.toml
Due: license_headers

Added missing default argument value in `BackendOrganizationBootstrapAddr`
  parsec/_parsec_pyi/addrs.pyi
Due: none

Added client version logging on successfull handshake
  parsec/backend/asgi/rpc.py
  parsec/backend/asgi/ws.py
  tests/backend/test_rpc_handshake.py
  tests/backend/test_ws_handshake.py
Due: license_headers

Fix typos in English translations
  parsec/core/gui/tr/parsec_en.po
Due: none

Tweak Diesel features to speedup it compilation
  oxidation/libparsec/crates/core_fs/Cargo.toml
Due: none

Correct some typo found in PO files used by QT for english/french translation
  newsfragments/3757.misc.rst
  parsec/core/gui/tr/parsec_en.po
  parsec/core/gui/tr/parsec_fr.po
Due: none

Merge pull request #3619 from Scille/add-client-version-in-logs
  parsec/_parsec_pyi/addrs.pyi
  parsec/backend/asgi/rpc.py
  parsec/backend/asgi/ws.py
  tests/backend/test_rpc_handshake.py
  tests/backend/test_ws_handshake.py
Due: license_headers

Bump version v2.15.0-rc3+dev -> v2.15.0-rc4
  HISTORY.rst
  licenses/BUSL-Scille.txt
  newsfragments/3757.misc.rst
  parsec/_version.py
  pyproject.toml
Due: license_headers

Bump version v2.15.0-rc4 -> v2.15.0-rc4+dev
  licenses/BUSL-Scille.txt
  parsec/_version.py
  pyproject.toml
Due: license_headers

Added pattern loading from file as a regex
  oxidation/libparsec/crates/types/src/error.rs
  oxidation/libparsec/crates/types/src/regex.rs
  src/regex.rs
Due: license_headers

Using `Regex.from_file` in `logged_core` & updated `Regex` types
  parsec/_parsec_pyi/regex.pyi
  parsec/core/logged_core.py
Due: license_headers

Regex `Display`: use `writeln!` and `Iterator` trait instead of for loops
  oxidation/libparsec/crates/types/src/regex.rs
Due: license_headers

Improved regex IO error message & fixed trailing newline in `to_string`
  oxidation/libparsec/crates/types/src/regex.rs
  src/regex.rs
Due: license_headers

Regexes tests files are now in a tmp folder
  oxidation/libparsec/crates/types/src/regex.rs
Due: license_headers

Bump version v2.15.0-rc4+dev -> v2.15.0
  HISTORY.rst
  licenses/BUSL-Scille.txt
  parsec/_version.py
  pyproject.toml
Due: license_headers

Bump version v2.15.0 -> v2.15.0+dev
  licenses/BUSL-Scille.txt
  parsec/_version.py
  pyproject.toml
Due: license_headers

Specify toolchain profile in rust-toolchain.toml
  rust-toolchain.toml
Due: none

Remove `integration` profile for Rust compilation and replace it by direct customization of `dev` profile
  Cargo.toml
Due: none

Disable yamllint (encoding error on Windows with UTF8 character)
  .pre-commit-config.yaml
Due: none

Acknowledge release v2.15.0
  .github/workflows/ci.yml
  HISTORY.rst
  licenses/BUSL-Scille.txt
  newsfragments/3218.empty.rst
  newsfragments/3232.empty.rst
  newsfragments/3235.empty.rst
  newsfragments/3236.empty.rst
  newsfragments/3429.empty.rst
  newsfragments/3534.bugfix.rst
  newsfragments/3537.misc.rst
  newsfragments/3538.bugfix.rst
  newsfragments/3544.empty.rst
  newsfragments/3575.empty.rst
  newsfragments/3583.empty.rst
  newsfragments/3588.misc.rst
  newsfragments/3595.bugfix.rst
  newsfragments/3601.bugfix.rst
  newsfragments/3663.feature.rst
  newsfragments/3700.misc.rst
  parsec/_version.py
  parsec/core/gui/tr/parsec_en.po
  parsec/core/gui/tr/parsec_fr.po
  pyproject.toml
Due: license_headers

Move pre-commit config patching in CI to .github/actions/use-pre-commit/action.yml
  .github/actions/use-pre-commit/action.yml
  .github/workflows/ci.yml
Due: none

Remove useless dependency on serde_json in libparsec_types
  Cargo.lock
  oxidation/libparsec/crates/types/Cargo.toml
Due: none

Fix duplication in the changelog
  HISTORY.rst
Due: none

Added virtual entry infos files to winfsp mountpoints
  parsec/core/mountpoint/winfsp_operations.py
  tests/core/mountpoint/test_winfsp.py
Due: license_headers

Fixed test import
  tests/core/mountpoint/test_winfsp.py
Due: license_headers

WIP on CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Cargo.toml
Due: none

Add `cspell` to pre-commit
  .gitignore
  .pre-commit-config.yaml
Due: none

Fixed `ApiVersion` serde when a tuple is received
  oxidation/libparsec/crates/protocol/src/handshake.rs
  parsec/_parsec_pyi/misc.pyi
  parsec/api/protocol/handshake.py
  parsec/api/protocol/types.py
  parsec/serde/fields.py
  parsec/serde/packing.py
  src/misc.rs
Due: license_headers

Add serde test for `ApiVersion`
  oxidation/generate_test_data/api_version.py
  oxidation/libparsec/crates/protocol/tests/test_handshake.rs
Due: license_headers

Correct typo error using `cspell`
  .cspell/cspell.config.yml
  .cspell/custom-words.txt
  .cspell/french-words.txt
  .cspell/names.txt
  .github/workflows/ci.yml
  .github/workflows/package-ci.yml
  .pre-commit-config.yaml
  docs/locale/fr/LC_MESSAGES/cryptography.po
  docs/locale/fr/LC_MESSAGES/history.po
  docs/locale/fr/LC_MESSAGES/hosting_server.po
  docs/locale/fr/LC_MESSAGES/userguide.po
  newsfragments/3757.misc.rst
  oxidation/bindings/android/libparsec/rust/src/lib.rs
  oxidation/client/electron/src/index.ts
  oxidation/client/electron/src/setup.ts
  oxidation/libparsec/crates/client_connection/Cargo.toml
  oxidation/libparsec/crates/client_types/src/local_device.rs
  oxidation/libparsec/crates/client_types/tests/test_local_device.rs
  oxidation/libparsec/crates/core_fs/src/file_operations.rs
  oxidation/libparsec/crates/core_fs/src/storage/workspace_storage.rs
  oxidation/libparsec/crates/crypto/Cargo.toml
  oxidation/libparsec/crates/crypto/src/rustcrypto/private.rs
  oxidation/libparsec/crates/crypto/src/rustcrypto/secret.rs
  oxidation/libparsec/crates/crypto/src/rustcrypto/sign.rs
  oxidation/libparsec/crates/crypto/src/sodiumoxide/sign.rs
  oxidation/libparsec/crates/crypto/tests/common/mod.rs
  oxidation/libparsec/crates/crypto/tests/sign.rs
  oxidation/libparsec/crates/protocol/src/handshake.rs
  oxidation/libparsec/crates/protocol/tests/test_handshake.rs
  oxidation/libparsec/crates/tests_fixtures/src/lib.rs
  oxidation/libparsec/crates/types/src/ext_types.rs
  oxidation/libparsec/crates/types/src/invite.rs
  oxidation/libparsec/crates/types/src/time.rs
  oxidation/libparsec/crates/types/tests/test_addr.rs
  oxidation/libparsec_python/src/binding_utils.rs
  oxidation/libparsec_python/src/time.rs
  packaging/snap/snap/snapcraft.yaml
  pyproject.toml
  src/time.rs
Due: license_headers, eslint

Add `cspell` to Pre commit (#3756)
  .cspell/cspell.config.yml
  .cspell/custom-words.txt
  .cspell/french-words.txt
  .cspell/names.txt
  .github/workflows/ci.yml
  .github/workflows/package-ci.yml
  .gitignore
  .pre-commit-config.yaml
  docs/locale/fr/LC_MESSAGES/cryptography.po
  docs/locale/fr/LC_MESSAGES/history.po
  docs/locale/fr/LC_MESSAGES/hosting_server.po
  docs/locale/fr/LC_MESSAGES/userguide.po
  newsfragments/3757.misc.rst
  oxidation/bindings/android/libparsec/rust/src/lib.rs
  oxidation/client/electron/src/index.ts
  oxidation/client/electron/src/setup.ts
  oxidation/libparsec/crates/client_connection/Cargo.toml
  oxidation/libparsec/crates/client_types/src/local_device.rs
  oxidation/libparsec/crates/client_types/tests/test_local_device.rs
  oxidation/libparsec/crates/core_fs/src/file_operations.rs
  oxidation/libparsec/crates/core_fs/src/storage/workspace_storage.rs
  oxidation/libparsec/crates/crypto/Cargo.toml
  oxidation/libparsec/crates/crypto/src/rustcrypto/private.rs
  oxidation/libparsec/crates/crypto/src/rustcrypto/secret.rs
  oxidation/libparsec/crates/crypto/src/rustcrypto/sign.rs
  oxidation/libparsec/crates/crypto/src/sodiumoxide/sign.rs
  oxidation/libparsec/crates/crypto/tests/common/mod.rs
  oxidation/libparsec/crates/crypto/tests/sign.rs
  oxidation/libparsec/crates/protocol/src/handshake.rs
  oxidation/libparsec/crates/protocol/tests/test_handshake.rs
  oxidation/libparsec/crates/tests_fixtures/src/lib.rs
  oxidation/libparsec/crates/types/src/ext_types.rs
  oxidation/libparsec/crates/types/src/invite.rs
  oxidation/libparsec/crates/types/src/time.rs
  oxidation/libparsec/crates/types/tests/test_addr.rs
  oxidation/libparsec_python/src/binding_utils.rs
  oxidation/libparsec_python/src/time.rs
  packaging/snap/snap/snapcraft.yaml
  pyproject.toml
  src/time.rs
Due: license_headers, eslint

Cache parsec/_parsec.xxx.so in CI to use when Rust hasn't been modified
  .github/workflows/ci.yml
  build.py
Due: license_headers

Remove useless `npm run web:copy:release` command from package-ci.yml when building electron&android
  .github/workflows/package-ci.yml
  rust-toolchain.toml
Due: none

[GUI] Fixed bug when mouse hovering the QRCode
  newsfragments/3769.bugfix.rst
  parsec/core/gui/custom_widgets.py
Due: license_headers

Move from some deprecated npm packages
  oxidation/client/electron/package-lock.json
  oxidation/client/electron/package.json
Due: none

Path conditions:
  license_headers: any of: \.py$, \.sql$, \.rs$, \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, but not: ^misc/bench.py$
  eslint: any of: ^oxidation/client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
