Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

[MS] Invitation with multiple emails
  client/src/components/invitations/InviteModal.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_modals.scss
  client/src/views/invitations/InvitationsPage.vue
  client/tests/e2e/helpers/greet.ts
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/account_invitation.spec.ts
  client/tests/e2e/specs/invitations_page.spec.ts
  client/tests/e2e/specs/invitations_popover.spec.ts
  client/tests/e2e/specs/users_list.spec.ts
Due: eslint, vue-tsc, prettier

Dummy test to try to showcase invalid signing key generation on Mac Silicon
  libparsec/crates/crypto/tests/unit/bad_keygen.rs
  libparsec/crates/crypto/tests/unit/mod.rs
Due: fmt, clippy

Hack test timeout since bad keygen tests takes a lot of time
  .config/nextest.toml
  libparsec/crates/crypto/tests/unit/bad_keygen.rs
Due: toml-fmt, fmt, clippy

Bump version 3.5.1-rc.1+dev -> 3.5.1
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.5.1 -> 3.5.2-a.0+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

feat: Update file editor page title
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/header/HeaderPage.vue
Due: eslint, vue-tsc, prettier

refactor: Improve readability & explanation of routing back in fileHandler
  client/src/router/navigation.ts
  client/src/views/files/handler/FileHandler.vue
Due: eslint, vue-tsc, prettier

tmp: header back button bug logging debug & fix ideas
  client/src/components/header/HeaderBackButton.vue
  client/src/router/types.ts
  client/src/services/fileOpener.ts
  client/src/views/files/handler/FileHandler.vue
Due: eslint, vue-tsc, prettier

Delay `VerifyKey` key validation to `VerifyKey::verify` in RustCrypto to be consistent with what is done in libsodium
  libparsec/crates/crypto/src/rustcrypto/sign.rs
  libparsec/crates/crypto/src/sodium/sign.rs
  libparsec/crates/crypto/tests/sign.rs
  libparsec/crates/protocol/tests/anonymous_cmds/v5/organization_bootstrap.rs
  libparsec/crates/types/tests/unit/pki.rs
Due: fmt, clippy

Delay `VerifyKey` key validation to `VerifyKey::verify` in RustCrypto to be consistent with what is done in libsodium
  libparsec/crates/crypto/src/rustcrypto/sign.rs
  libparsec/crates/crypto/src/sodium/sign.rs
  libparsec/crates/crypto/tests/unit/sign.rs
  libparsec/crates/protocol/tests/anonymous_cmds/v5/organization_bootstrap.rs
  libparsec/crates/types/tests/unit/pki.rs
Due: fmt, clippy

docs(changlog): Add new fragment for #11399
  newsfragments/11331.bugfix.rst
Due: none

Bump version 3.5.2-a.0+dev -> 3.5.2-rc.0
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  newsfragments/11331.bugfix.rst
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.5.2-rc.0 -> 3.5.2-rc.1+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

feat(types): Hash in cert ref is always present
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_pki/examples/decrypt_message.rs
  libparsec/crates/platform_pki/examples/encrypt_message.rs
  libparsec/crates/platform_pki/examples/get_certificate_der.rs
  libparsec/crates/platform_pki/examples/sign_message.rs
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/types/src/pki/cert_ref.rs
  libparsec/crates/types/src/pki/mod.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
  libparsec/src/pki.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] Update from capacitor 5 to capacitor 6
  client/android/app/build.gradle
  client/android/app/capacitor.build.gradle
  client/android/app/src/main/assets/capacitor.config.json
  client/android/app/src/main/assets/capacitor.plugins.json
  client/android/build.gradle
  client/android/capacitor-cordova-android-plugins/build.gradle
  client/android/capacitor-cordova-android-plugins/buildscript-gradle.lockfile
  client/android/capacitor-cordova-android-plugins/cordova.variables.gradle
  client/android/capacitor-cordova-android-plugins/gradle.lockfile
  client/android/capacitor-cordova-android-plugins/src/main/AndroidManifest.xml
  client/android/variables.gradle
  client/package-lock.json
  client/package.json
Due: none

Bump version 3.5.2-rc.1+dev -> 3.5.2
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.5.2 -> 3.5.3-a.0+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Get rid of capacitor-community/electron
  .cspell/custom-words.txt
  client/.eslintignore
  client/electron/.gitignore
  client/electron/capacitor-electron/README.md
  client/electron/capacitor-electron/cli-scripts/add.ts
  client/electron/capacitor-electron/cli-scripts/common.ts
  client/electron/capacitor-electron/cli-scripts/copy.ts
  client/electron/capacitor-electron/cli-scripts/index.ts
  client/electron/capacitor-electron/cli-scripts/open.ts
  client/electron/capacitor-electron/cli-scripts/update.ts
  client/electron/capacitor-electron/electron-platform/ElectronDeepLinking.ts
  client/electron/capacitor-electron/electron-platform/ElectronSplashScreen.ts
  client/electron/capacitor-electron/electron-platform/definitions.ts
  client/electron/capacitor-electron/electron-platform/index.ts
  client/electron/capacitor-electron/electron-platform/util.ts
  client/electron/capacitor.config.ts
  client/electron/package-lock.json
  client/electron/package.json
  client/electron/scripts/build-capacitor-electron.js
  client/electron/src/index.ts
  client/electron/src/setup.ts
  client/package-lock.json
  client/package.json
  misc/license_headers.py
Due: eslint, vue-tsc, prettier

[MS] Added Smartcard option to change authentication modal and fixed style
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/profile/AuthenticationCard.vue
  client/src/components/profile/types.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/device.ts
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/users/UpdateAuthenticationModal.vue
Due: eslint, vue-tsc, prettier

Update RFC 1020 to explicit that no user name nor email are retrieved from the certificate.
  docs/rfcs/1020-pki-support.md
Due: none

feat(binding): Support Rust unit struct
  bindings/generator/generate.py
  bindings/generator/templates/binding_electron_index.d.ts.j2
  bindings/generator/templates/binding_electron_meths.rs.j2
  bindings/generator/templates/binding_web_meths.rs.j2
  bindings/generator/templates/client_plugin_definitions.ts.j2
Due: none

refactor(pki): Allow for multiple uris types
  .cspell/custom-words.txt
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/common.py
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_pki/examples/decode_cert_subject.rs
  libparsec/crates/platform_pki/examples/decrypt_message.rs
  libparsec/crates/platform_pki/examples/encrypt_message.rs
  libparsec/crates/platform_pki/examples/get_certificate_der.rs
  libparsec/crates/platform_pki/examples/sign_message.rs
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki/examples/verify_message.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/types/src/pki/cert_ref.rs
  libparsec/crates/types/src/pki/mod.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
  libparsec/crates/types/tests/unit/pki.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

feat(mountpoint): Add info log when destroying a mountpoint (#11204)
  libparsec/crates/platform_mountpoint/src/unix/filesystem.rs
Due: fmt, clippy

fix(snap): Remove `fusermount` from included bin (#11208)
  client/electron/snap/snapcraft.yaml
Due: none

fix(mountpoint): Use `umount` as fallback of `fusermount` (#11205)
  libparsec/crates/platform_mountpoint/src/unix/mount.rs
  newsfragments/10014.bugfix.rst
Due: fmt, clippy

Bump version 3.5.1-a.0+dev -> 3.5.3-a.0+dev
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  newsfragments/10014.bugfix.rst
  newsfragments/11331.bugfix.rst
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Adds tslib
  client/electron/package-lock.json
  client/electron/package.json
Due: none
