Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

.pre-commit-config.yaml:

exclude: ^misc/bench.py$
repos:
  ##############
  # Common stuff

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3 # Use the ref you want to point at
    hooks:
      - id: mixed-line-ending
        alias: eol
      - id: trailing-whitespace
      - id: end-of-file-fixer
        alias: eof

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 97461803b9d2cf5f70323ae0058e3447355c8927  # pin v2.4.0
    hooks:
      - id: editorconfig-checker
        alias: ec

  - repo: local
    hooks:
      # - id: releaser
      #   name: releaser
      #   entry: python ./misc/releaser.py check
      #   language: python
      #   language_version: python3
      #   pass_filenames: false
      #   require_serial: true
      - id: license_headers
        name: license_headers
        entry: python ./misc/license_headers.py add
        language: python
        language_version: python3
        # see: https://github.com/pre-commit/identify/blob/master/identify/extensions.py
        types_or: [ python, sql, rust, vue, ts, tsx, javascript, jsx ]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint

  ########
  # Python

  - repo: https://github.com/ambv/black
    rev: 22.6.0
    hooks:
      - id: black
        args:
          [
            --line-length=100,
            --exclude=parsec/core/gui/_resources_rc.py,
            --exclude=parsec/core/gui/ui/,
          ]
        language_version: python3

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8

  # Long story short we cannot use pre-commit isolated venv system for mypy
  # given mypy requires to have access to the project dependencies.
  # We used to specify the list of dependencies actually needed by mypy as
  # additional dependencies to install before running the pre-commit but it
  # was increadibly error-prone and create random breakages.
  # Instead we go the pragmatic way by calling mypy trough poetry:
  # - `poetry run` will stick to the shell current virtual env
  # - if the shell is not into a virtual env, poetry will create one and install Parsec&deps
  # - lastly, mypy is started
  # So this is similar to what the developer does when running mypy from it dev shell \o/
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (using `poetry run mypy`)
        entry: poetry run mypy
        require_serial: true
        language: system
        types_or: [ python, pyi ]
        # Mypy will complain if it find two files with the same name which
        # are not part of a package (typically occurs for packaging script helpers)
        files: ^(parsec|tests)/

  ######
  # Rust

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: clippy
        args:
          [
            --workspace,
            --tests,
            --bins,
            --lib,
            --,
            --deny=warnings,
            --deny=clippy::self_named_module_files,
          ]

  ####
  # Js

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: ""
        entry: eslint
        language: node
        files: ^oxidation/client/
        # see: https://github.com/pre-commit/identify/blob/master/identify/extensions.py
        types_or: [ vue, ts, tsx, javascript, jsx ]
        args: [ --config=oxidation/client/.eslintrc.js ]
        # Deps should be kept updated with `oxidation/client/package-lock.json` !
        additional_dependencies:
          - eslint@8.10.0
          - eslint-plugin-cypress@2.12.1
          - eslint-plugin-vue@8.5.0
          - "@typescript-eslint/eslint-plugin@5.14.0"
          - "@typescript-eslint/parser@5.14.0"
          - "@vue/cli-plugin-eslint@5.0.1"
          - "@vue/eslint-config-typescript@9.1.0"
          - "@intlify/eslint-plugin-vue-i18n@1.4.0"

Oxidation use gen proto addrs (#3117)
  newsfragments/3086.empty.rst
  newsfragments/3087.empty.rst
  oxidation/libparsec/crates/types/src/addr.rs
  oxidation/libparsec/crates/types/src/invite.rs
  src/addrs.rs
Due: license_headers

Oxidation use gen proto certif (#3116)
  newsfragments/3090.empty.rst
  newsfragments/3091.empty.rst
  src/certif.rs
Due: license_headers

Oxidation use gen proto ids (#3115)
  newsfragments/3092.empty.rst
  newsfragments/3093.empty.rst
  src/ids.rs
Due: license_headers

Oxiddation use gen proto invite (#3118)
  newsfragments/3094.empty.rst
  newsfragments/3095.empty.rst
  oxidation/libparsec/crates/types/src/invite.rs
  src/invite.rs
Due: license_headers

Oxidation use gen proto local device (#3113)
  newsfragments/3096.empty.rst
  newsfragments/3097.empty.rst
  src/local_device.rs
Due: license_headers

Oxidation use gen proto time (#3111)
  newsfragments/3098.empty.rst
  newsfragments/3099.empty.rst
  src/time.rs
Due: license_headers

Rename method `get_or_insert_default_cache_entry`.
  oxidation/libparsec/crates/core_fs/src/storage/manifest_storage.rs
Due: license_headers

Rename method `has_chunk_to_be_flush`
  oxidation/libparsec/crates/core_fs/src/storage/manifest_storage.rs
Due: license_headers

Added new event types
  oxidation/libparsec_python/src/protocol/events.rs
  oxidation/libparsec_python/src/protocol/mod.rs
  parsec/_parsec.pyi
  parsec/_parsec_pyi/protocol.pyi
  parsec/api/protocol/events.py
  parsec/backend/events.py
  src/lib.rs
  src/protocol/cmds.rs
  src/protocol/events.rs
  src/protocol/mod.rs
Due: license_headers

Migrated backend and core tests
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/events_listen.json
  oxidation/libparsec/crates/protocol/tests/test_events.rs
  parsec/_parsec.pyi
  parsec/_parsec_pyi/protocol.pyi
  parsec/api/protocol/base.py
  parsec/backend/events.py
  parsec/core/backend_connection/authenticated.py
  parsec/core/backend_connection/cmds.py
  src/lib.rs
  src/protocol/events.rs
  src/protocol/mod.rs
  tests/backend/invite/test_invite_status_changed_event.py
  tests/backend/invite/test_manage_invitations.py
  tests/backend/realm/test_reencryption_maintenance.py
  tests/backend/realm/test_roles_updated_event.py
  tests/backend/realm/test_vlobs_updated_event.py
  tests/backend/test_events.py
  tests/backend/test_message.py
  tests/common/event_bus_spy.py
  tests/core/backend_connection/test_authenticated_cmds.py
  tests/core/backend_connection/test_authenticated_conn.py
  tests/schemas/api_protocol.json
  tests/schemas/builder.py
Due: license_headers

Added newsfragments
  newsfragments/3047.empty.rst
Due: none

Added missing `EventsListenRepOkPkiEnrollment` class
  oxidation/libparsec_python/src/protocol/mod.rs
  parsec/_parsec.pyi
  parsec/_parsec_pyi/protocol.pyi
  parsec/backend/events.py
  parsec/core/backend_connection/authenticated.py
  src/lib.rs
  src/protocol/events.rs
  tests/backend/realm/test_reencryption_maintenance.py
  tests/backend/realm/test_vlobs_updated_event.py
  tests/backend/test_message.py
  tests/common/event_bus_spy.py
  tests/schemas/builder.py
Due: license_headers

Add service type in cli list service
  parsec/backend/cli/sequester.py
Due: license_headers

Raise error if webhook url is not set
  parsec/backend/cli/sequester.py
Due: license_headers

Add news fragment
  newsfragments/3130.empty.rst
Due: none

Add python magic method implementation
  oxidation/libparsec/crates/types/src/time.rs
  src/time.rs
Due: license_headers

Add python magic method implementation for `LocalDateTime` (#3131)
  newsfragments/3130.empty.rst
  oxidation/libparsec/crates/types/src/time.rs
  src/time.rs
Due: license_headers

Updated `run_mountpoint` command to use `from_rfc3339`
  newsfragments/3135.empty.rst
  parsec/core/cli/run.py
  src/time.rs
Due: license_headers

Rename bindings/neon -> bindings/electron to better consistency with client/electron
  Cargo.lock
  Cargo.toml
  oxidation/README.md
  oxidation/bindings/README.md
  oxidation/bindings/electron/.gitignore
  oxidation/bindings/electron/Cargo.toml
  oxidation/bindings/electron/README.md
  oxidation/bindings/electron/package-lock.json
  oxidation/bindings/electron/package.json
  oxidation/bindings/electron/src/index.d.ts
  oxidation/bindings/electron/src/lib.rs
  oxidation/client/electron/package.json
Due: license_headers

Add newsfragment for #3137
  newsfragments/3137.empty.rst
Due: none

Merged redundant pattern matching arms
  src/protocol/events.rs
Due: license_headers

Updated gen_proto macro to support pyref types
  src/binding_utils.rs
  src/protocol/events.rs
Due: license_headers

Disable fail-fast on CI
  .github/workflows/ci.yml
Due: none

Relax `test_eyeballs` expected delay timeout to 1s
  oxidation/libparsec/crates/platform_async/tests/eyeballs.rs
Due: license_headers

Force maturin to use venv Python interpreter
  build.py
Due: license_headers

Introduce the bindings generator between web client and libparsec
  .github/workflows/ci.yml
  Cargo.lock
  oxidation/bindings/electron/Cargo.toml
  oxidation/bindings/electron/README.md
  oxidation/bindings/electron/src/lib.rs
  oxidation/bindings/electron/src/meths.rs
  oxidation/bindings/generator/api.py
  oxidation/bindings/generator/generate.py
  oxidation/bindings/generator/templates/binding_electron_index.d.ts.j2
  oxidation/bindings/generator/templates/binding_electron_meths.rs.j2
  oxidation/bindings/generator/templates/binding_web_meths.rs.j2
  oxidation/bindings/generator/templates/client_plugin_definitions.d.ts.j2
  oxidation/bindings/generator/test_api.py
  oxidation/bindings/web/Cargo.toml
  oxidation/bindings/web/src/lib.rs
  oxidation/bindings/web/src/meths.rs
  oxidation/client/electron/package.json
  oxidation/client/electron/src/preload.ts
  oxidation/client/electron/src/rt/electron-plugins.ts
  oxidation/client/package.json
  oxidation/client/src/plugins/libparsec/definitions.d.ts
  oxidation/client/src/plugins/libparsec/definitions.ts
  oxidation/client/src/plugins/libparsec/index.ts
  oxidation/client/src/views/TestPage.vue
  oxidation/libparsec/src/lib.rs
Due: license_headers, eslint

add vlob create/update SequesterWebhookFailed schema
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/vlob_create.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/vlob_update.json
  parsec/_parsec.pyi
  parsec/_parsec_pyi/protocol.pyi
  src/lib.rs
  src/protocol/vlob.rs
Due: license_headers

Add new error schema to split webhook error and webhook response error
  parsec/backend/cli/sequester.py
  parsec/backend/vlob.py
  tests/backend/sequester/test_vlob.py
Due: license_headers

Changing how data is send to the antivirus connector
  parsec/backend/cli/sequester.py
  parsec/backend/vlob.py
Due: license_headers

Add json_schema for protocol json files.
  json_schema/field.schema.json
  json_schema/nested-types.schema.json
  json_schema/protocol-request.schema.json
  json_schema/protocol-response.schema.json
  json_schema/protocol.schema.json
Due: none

Rewrite `invite` cmds to the new protocol's scheme.
  oxidation/libparsec/crates/protocol/schema/invited_cmds/invite_1_claimer_wait_peer.json
  oxidation/libparsec/crates/protocol/schema/invited_cmds/invite_2a_claimer_send_hashed_nonce_hash_nonce.json
  oxidation/libparsec/crates/protocol/schema/invited_cmds/invite_2b_claimer_send_nonce.json
  oxidation/libparsec/crates/protocol/schema/invited_cmds/invite_3a_claimer_signify_trust.json
  oxidation/libparsec/crates/protocol/schema/invited_cmds/invite_3b_claimer_wait_peer_trust.json
  oxidation/libparsec/crates/protocol/schema/invited_cmds/invite_4_claimer_communicate.json
  oxidation/libparsec/crates/protocol/schema/invited_cmds/invite_info.json
  oxidation/libparsec/crates/protocol/schema/invited_cmds/ping.json
Due: none

Add news fragment
  newsfragments/3074.empty.rst
Due: none

Rewrite `authenticated_cmds` json to the new scheme.
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/block_create.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/block_read.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/device_create.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/events_listen.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/events_subscribe.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/human_find.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/invite_1_greeter_wait_peer.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/invite_2a_greeter_get_hashed_nonce.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/invite_2b_greeter_send_nonce.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/invite_3a_greeter_wait_peer_trust.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/invite_3b_greeter_signify_trust.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/invite_4_greeter_communicate.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/invite_delete.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/invite_list.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/invite_new.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/message_get.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/organization_config.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/organization_stats.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/ping.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/realm_create.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/realm_finish_reencryption_maintenance.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/realm_get_role_certificates.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/realm_start_reencryption_maintenance.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/realm_stats.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/realm_status.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/realm_update_roles.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/user_create.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/user_get.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/user_revoke.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/vlob_create.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/vlob_list_versions.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/vlob_maintenance_get_reencryption_batch.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/vlob_maintenance_save_reencryption_batch.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/vlob_poll_changes.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/vlob_read.json
  oxidation/libparsec/crates/protocol/schema/authenticated_cmds/vlob_update.json
Due: none

Add dependencies `serialization_format`
  Cargo.lock
  oxidation/libparsec/crates/serialization_format/Cargo.toml
Due: none

Wip rework crate for new format
  oxidation/libparsec/crates/serialization_format/src/lib.rs
  oxidation/libparsec/crates/serialization_format/src/protocol/intermediate/mod.rs
  oxidation/libparsec/crates/serialization_format/src/protocol/mod.rs
  oxidation/libparsec/crates/serialization_format/src/protocol/parser/collection.rs
  oxidation/libparsec/crates/serialization_format/src/protocol/parser/custom_type.rs
  oxidation/libparsec/crates/serialization_format/src/protocol/parser/field.rs
  oxidation/libparsec/crates/serialization_format/src/protocol/parser/major_minor_version.rs
  oxidation/libparsec/crates/serialization_format/src/protocol/parser/mod.rs
  oxidation/libparsec/crates/serialization_format/src/protocol/utils.rs
  oxidation/libparsec/crates/serialization_format/src/tests/deserialization_test.rs
  oxidation/libparsec/crates/serialization_format/src/tests/mod.rs
  oxidation/libparsec/crates/serialization_format/src/tests/quote_field.rs
Due: license_headers

Wip intermediate representation
  oxidation/libparsec/crates/serialization_format/src/protocol/intermediate/collection.rs
  oxidation/libparsec/crates/serialization_format/src/protocol/intermediate/mod.rs
Due: license_headers

Move deserialization test to parser crate
  oxidation/libparsec/crates/serialization_format/src/protocol/parser/mod.rs
  oxidation/libparsec/crates/serialization_format/src/protocol/parser/tests.rs
  oxidation/libparsec/crates/serialization_format/src/tests/mod.rs
Due: license_headers

Rework parser tests
  oxidation/libparsec/crates/serialization_format/src/protocol/parser/custom_type.rs
  oxidation/libparsec/crates/serialization_format/src/protocol/parser/field.rs
  oxidation/libparsec/crates/serialization_format/src/protocol/parser/major_minor_version.rs
  oxidation/libparsec/crates/serialization_format/src/protocol/parser/mod.rs
  oxidation/libparsec/crates/serialization_format/src/protocol/parser/tests.rs
  oxidation/libparsec/crates/serialization_format/src/tests/quote_field.rs
Due: license_headers

Implement binding generator template for wasm
  Cargo.lock
  oxidation/bindings/android/libparsec/rust/Cargo.toml
  oxidation/bindings/generator/templates/binding_web_meths.rs.j2
  oxidation/bindings/generator/test_api.py
  oxidation/bindings/web/src/meths.rs
  oxidation/client/.env
Due: license_headers
