Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Added detecticognitojs to cspell
  .cspell/custom-words.txt
Due: none

refactor(device-loader): Use `StorageManager` over `LocalStorage` on web
  .github/workflows/ci-rust.yml
  Cargo.lock
  Cargo.toml
  deny.toml
  libparsec/crates/platform_device_loader/Cargo.toml
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/web/error.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
  libparsec/crates/platform_device_loader/src/web/wrapper.rs
  libparsec/crates/platform_device_loader/tests/units/archive.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_device_loader/tests/units/load.rs
  libparsec/crates/platform_device_loader/tests/units/mod.rs
  libparsec/crates/platform_device_loader/tests/units/remove.rs
  libparsec/crates/platform_device_loader/tests/units/save_list.rs
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
  libparsec/crates/platform_device_loader/tests/units/update_device_change_authentication.rs
  libparsec/crates/platform_device_loader/tests/units/utils.rs
  libparsec/crates/tests_fixtures/src/tmp_path.rs
Due: toml-fmt, fmt, clippy

[MS] Don't show user context menu if empty
  client/src/views/users/UsersPage.vue
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/specs/users_list.spec.ts
Due: eslint, vue-tsc, prettier

refactor(device-loader): Add error StorageNotAvailable
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/client.py
  bindings/generator/api/device.py
  bindings/web/src/meths.rs
  cli/src/commands/device/list.rs
  cli/src/utils.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/src/client/recovery_device.rs
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_device_loader/tests/units/save_list.rs
  libparsec/crates/platform_mountpoint/examples/history.rs
  libparsec/src/client.rs
  libparsec/src/device.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[Account] Send account email validation email.
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_create_send_validation_email.json5
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_send_email_vaidation_token.json5
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_create_send_validation_email.rs
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_send_email_validation_token.rs
  libparsec/crates/types/src/addr.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/addrs.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/account_create_send_validation_email.pyi
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/components/account.py
  server/parsec/components/email.py
  server/parsec/components/invite.py
  server/parsec/components/memory/account.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/factory.py
  server/parsec/components/postgresql/account.py
  server/parsec/components/postgresql/factory.py
  server/parsec/config.py
  server/parsec/templates/account_email_validation.html
  server/parsec/templates/account_email_validation.txt
  server/src/addrs.rs
  server/src/lib.rs
  server/tests/api_v5/anonymous_account/__init__.py
  server/tests/api_v5/anonymous_account/test_account_create_send_validation_email.py
  server/tests/api_v5/anonymous_account/test_account_send_email_validation.py
  server/tests/common/backend.py
  server/tests/common/letter_box.py
  server/tests/common/rpc.py
Due: fmt, clippy

[MS] Trim email in forgotten password
  client/src/views/client-area/forgot-password/BmsForgotPasswordGetEmailStep.vue
Due: eslint, vue-tsc, prettier

[MS] Show back button when on profile page
  client/src/views/header/HeaderPage.vue
  client/tests/e2e/specs/my_profile_page.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Adds confirmation when ordering new org and adds e2e tests
  client/.gitignore
  client/src/views/client-area/ClientAreaPage.vue
  client/src/views/client-area/orders/NewOrderModal.vue
  client/src/views/client-area/orders/OrdersPage.vue
  client/tests/e2e/specs/client_area_custom_order_orders.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Sort the devices, placing the current at the top
  client/src/views/devices/DevicesPage.vue
  client/tests/e2e/specs/my_profile_page.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Added a function to check if incognito mode
  client/package-lock.json
  client/package.json
  client/src/parsec/environment.ts
Due: eslint, vue-tsc, prettier

[MS] Disable buttons in custom area modals while query is being performed
  client/src/views/client-area/personal-data/PersonalInfoModal.vue
  client/src/views/client-area/personal-data/ProfessionalInfoModal.vue
  client/src/views/client-area/personal-data/SecurityModal.vue
Due: eslint, vue-tsc, prettier

[Account] Send account email validation email.
  libparsec/crates/client/src/certif/realm_keys_bundle.rs
  libparsec/crates/client/src/workspace/transactions/outbound_sync.rs
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_create_send_validation_email.json5
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_send_email_vaidation_token.json5
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_create_send_validation_email.rs
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_send_email_validation_token.rs
  libparsec/crates/types/src/addr.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/addrs.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/account_create_send_validation_email.pyi
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/components/account.py
  server/parsec/components/email.py
  server/parsec/components/invite.py
  server/parsec/components/memory/account.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/factory.py
  server/parsec/components/postgresql/account.py
  server/parsec/components/postgresql/factory.py
  server/parsec/config.py
  server/parsec/templates/account_email_validation.html
  server/parsec/templates/account_email_validation.txt
  server/src/addrs.rs
  server/src/lib.rs
  server/tests/api_v5/anonymous_account/__init__.py
  server/tests/api_v5/anonymous_account/test_account_create_send_validation_email.py
  server/tests/api_v5/anonymous_account/test_account_send_email_validation.py
  server/tests/common/__init__.py
  server/tests/common/backend.py
  server/tests/common/letter_box.py
  server/tests/common/rpc.py
Due: fmt, clippy

fixup! feat(rust): Bump edition to 2024
  Cargo.lock
  Cargo.toml
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  server/Cargo.toml
  server/src/addrs.rs
  server/src/binding_utils.rs
  server/src/crypto.rs
  server/src/data/certif.rs
  server/src/data/manifest.rs
  server/src/data/pki.rs
  server/src/enumerate.rs
  server/src/lib.rs
  server/src/misc.rs
  server/src/protocol.rs
  server/src/testbed.rs
Due: toml-fmt, fmt, clippy

Renamed the merge-playwright.config.ts to prevent VSC from using it as a playwright config
  .github/workflows/ci-web.yml
  client/.eslintignore
  client/merge-playwright.ts
Due: eslint, vue-tsc, prettier

Add per-organization AllowedClientAgent config to server
  server/parsec/asgi/administration.py
  server/parsec/cli/run.py
  server/parsec/components/memory/auth.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/organization.py
  server/parsec/components/organization.py
  server/parsec/components/postgresql/auth.py
  server/parsec/components/postgresql/migrations/0012_allowed_client_agent.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/parsec/components/postgresql/organization.py
  server/parsec/components/postgresql/organization_create.py
  server/parsec/components/postgresql/organization_test_dump_organizations.py
  server/parsec/components/postgresql/organization_update.py
  server/parsec/components/postgresql/test_queries.py
  server/parsec/config.py
  server/tests/administration/test_create_organization.py
  server/tests/administration/test_patch_organization.py
Due: sqlfluff

Add support for `EventOrganizationConfig`'s `allowed_client_agent` in the server
  server/parsec/components/memory/events.py
  server/parsec/components/postgresql/events.py
  server/parsec/events.py
  server/tests/api_v5/authenticated/test_events_listen.py
  server/tests/test_sse.py
Due: none

Implement `allowed_client_agent`-based user-agent check on server
  server/parsec/asgi/rpc.py
  server/parsec/components/auth.py
  server/parsec/components/memory/auth.py
  server/parsec/components/postgresql/auth.py
  server/tests/api_v5/authenticated/test_events_listen.py
  server/tests/common/data.py
Due: none

Re-generate python bindings for `events_listen`
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/events_listen.pyi
Due: none

Add `allowed_client_agent` field to `events_listen` command schema
  libparsec/crates/protocol/schema/authenticated_cmds/events_listen.json5
Due: none

[MS] Fixed parsec-cloud link in English
  client/src/locales/en-US.json
Due: none

fixup! feat(rust): Bump edition to 2024
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
Due: fmt, clippy

[MS] Adds error message if app storage is not available
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/login.ts
  client/src/parsec/types.ts
  client/src/views/home/HomePage.vue
  client/src/views/layouts/DevLayout.vue
  client/tests/e2e/specs/libparsec_without_shared_worker.spec.ts
Due: eslint, vue-tsc, prettier

Add WebClientNotAllowedByOrganization event to bindings
  bindings/generator/api/events.py
  libparsec/src/events.rs
Due: fmt, clippy

Add `ConnectionError::WebClientNotAllowedByOrganization` in libparsec to support per-organization allowed client agent config
  libparsec/crates/client/src/event_bus.rs
  libparsec/crates/client/src/monitors/connection.rs
  libparsec/crates/client_connection/src/anonymous_account_cmds.rs
  libparsec/crates/client_connection/src/anonymous_cmds.rs
  libparsec/crates/client_connection/src/authenticated_account_cmds.rs
  libparsec/crates/client_connection/src/authenticated_cmds/mod.rs
  libparsec/crates/client_connection/src/error.rs
  libparsec/crates/client_connection/src/invited_cmds.rs
  libparsec/crates/client_connection/tests/unit/authenticated.rs
  libparsec/crates/protocol/schema/authenticated_cmds/events_listen.json5
  libparsec/crates/protocol/src/version.rs
  libparsec/crates/protocol/tests/authenticated_cmds/v5/events_listen.rs
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  server/src/protocol.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Bump testbed server
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Rename `SecretKey.hmac` -> `SecretKey.mac` and make it private (only sized-defined variants should be public)
  libparsec/crates/client_connection/src/authenticated_account_cmds.rs
  libparsec/crates/crypto/src/rustcrypto/secret.rs
  libparsec/crates/crypto/src/sodiumoxide/secret.rs
  libparsec/crates/crypto/tests/secret.rs
  server/parsec/_parsec_pyi/crypto.pyi
  server/parsec/components/auth.py
  server/src/crypto.rs
  server/tests/test_token.py
Due: fmt, clippy

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
