Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

feat(list-deps): Update cargo important deps list
  Cargo.toml
  misc/list_important_dependencies.py
Due: toml-fmt

[MS] Action bar responsive for FoldersPage / UsersPage / WorkspacesPage
  client/package-lock.json
  client/package.json
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/small_display_fab_menu.spec.ts
  client/tests/e2e/specs/users_list.spec.ts
  client/tests/e2e/specs/workspaces_actions.spec.ts
  newsfragments/11391.feature.rst
Due: eslint, vue-tsc, prettier

feat(bindings): Expose list pki enrollments
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/common.py
  bindings/generator/api/pki.py
  bindings/generator/generate.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/src/client.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

refactor(dependabot): Add `rustls-*` to `rust-crypto` group
  .github/dependabot.yml
Due: none

feat(pki): Add `is_available` to know is PKI is available
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/src/pki.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

Fix GUI with the simplified `Account(Save|Access)Strategy`
  client/src/parsec/account.ts
  client/src/parsec/login.ts
  client/src/parsec/types.ts
  client/src/views/organizations/creation/CreateOrganizationCustomServer.vue
  client/src/views/organizations/creation/CreateOrganizationSaas.vue
Due: eslint, vue-tsc, prettier

Improve org bootstrap & user/device/shamir claimer finalize exposed error in bindings
  bindings/generator/api/invite.py
  libparsec/crates/client/src/invite/claimer.rs
  libparsec/crates/client/src/invite/organization.rs
  libparsec/crates/client/tests/unit/invite/bootstrap_organization.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/src/device.rs
  libparsec/src/invite.rs
Due: fmt, clippy

Remove organization's account vault strategy in `account_upload_opaque_key_in_vault`
  libparsec/crates/account/src/create_auth_method.rs
  libparsec/crates/account/src/create_registration_device.rs
  libparsec/crates/account/src/fetch_opaque_key_from_vault.rs
  libparsec/crates/account/src/fetch_vault_items.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/src/register_new_device.rs
  libparsec/crates/account/src/upload_opaque_key_in_vault.rs
  libparsec/crates/account/tests/unit/upload_opaque_key_in_vault.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/strategy.rs
  libparsec/crates/platform_device_loader/tests/units/save.rs
  libparsec/crates/platform_device_loader/tests/units/utils.rs
  libparsec/src/account.rs
  libparsec/src/device.rs
Due: fmt, clippy

Remove unused `InvalidPathError` from `libparsec/crates/platform_device_loader/src/web/error.rs`
  libparsec/crates/platform_device_loader/src/web/error.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/client.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Fix GUI with the new `ClaimFinalizeError` type
  client/src/parsec/claim_device.ts
  client/src/parsec/claim_user.ts
  client/src/parsec/types.ts
Due: eslint, vue-tsc, prettier

feat(binding): Expose `pki_enrollment_reject`
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/client.py
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/client/pki_enrollment_reject.rs
  libparsec/crates/client/tests/unit/client/pki_enrollment_reject.rs
  libparsec/src/client.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

fix: bump sentry/electron to fix deprecated call
  client/electron/package-lock.json
  client/electron/package.json
Due: none

refactor(cli): Update test to work with `assert_cmd@2.1.0`
  Cargo.lock
  cli/Cargo.toml
  cli/src/commands/tos/config.rs
  cli/src/lib.rs
  cli/src/testenv_utils.rs
  cli/tests/integration/certificate/poll_and_forget.rs
  cli/tests/integration/device/change_authentication.rs
  cli/tests/integration/device/export_recovery_device.rs
  cli/tests/integration/device/import_recovery_device.rs
  cli/tests/integration/device/list.rs
  cli/tests/integration/device/overwrite_server_url.rs
  cli/tests/integration/device/remove.rs
  cli/tests/integration/device_option.rs
  cli/tests/integration/invitations/cancel.rs
  cli/tests/integration/invitations/device.rs
  cli/tests/integration/invitations/list.rs
  cli/tests/integration/invitations/shared_recovery.rs
  cli/tests/integration/invitations/user.rs
  cli/tests/integration/ls.rs
  cli/tests/integration/mod.rs
  cli/tests/integration/mount_realm_export.rs
  cli/tests/integration/organization/bootstrap.rs
  cli/tests/integration/organization/create.rs
  cli/tests/integration/organization/stats.rs
  cli/tests/integration/organization/status.rs
  cli/tests/integration/rm.rs
  cli/tests/integration/server/stats.rs
  cli/tests/integration/shared_recovery/create.rs
  cli/tests/integration/shared_recovery/delete.rs
  cli/tests/integration/shared_recovery/info.rs
  cli/tests/integration/shared_recovery/list.rs
  cli/tests/integration/tos/accept.rs
  cli/tests/integration/tos/config.rs
  cli/tests/integration/tos/list.rs
  cli/tests/integration/user/list.rs
  cli/tests/integration/user/revoke.rs
  cli/tests/integration/workspace/create.rs
  cli/tests/integration/workspace/import.rs
  cli/tests/integration/workspace/share.rs
  cli/tests/integration/workspace/sync.rs
Due: toml-fmt, fmt, clippy

test(cli): Fix poll cert being too fast
  cli/tests/integration/invitations/device.rs
  cli/tests/integration/invitations/shared_recovery.rs
  cli/tests/integration/invitations/user.rs
Due: fmt, clippy

chore: disable eslint warning on ignored files
  .pre-commit-config.yaml
Due: none

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
