Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

ci(package-client): Add step to list content of bindings/electron
  .github/workflows/package-client.yml
Due: none

ci(windows): Configure perl env variable for openssl
  .github/workflows/ci-rust.yml
  .github/workflows/package-client.yml
Due: none

feat(project): Bump node to 22.14.0
  .github/workflows/ci-web.yml
  .github/workflows/package-client.yml
  .github/workflows/package-server.yml
  .pre-commit-config.yaml
  bindings/electron/scripts/build.js
  client/electron/scripts/sign-windows-package.ps1
  docs/development/README.md
  misc/versions.toml
Due: toml-fmt

ci(package): Split `package-client` workflow
  .github/workflows/package-desktop.yml
  .github/workflows/package-webapp.yml
  .github/workflows/releaser.yml
  misc/version_updater.py
Due: none

[MS] Enable right click on web regardless of dev mode
  client/src/main.ts
Due: eslint, vue-tsc, prettier

Add support for SharedWorker on web
  .cspell/custom-words.txt
  bindings/generator/api/__init__.py
  bindings/generator/api/client.py
  bindings/generator/api/invite.py
  cli/src/commands/organization/bootstrap.rs
  client/src/plugins/libparsec/trampoline-web.ts
  client/src/plugins/libparsec/web_shared_worker.ts
  libparsec/src/client.rs
  libparsec/src/events.rs
  libparsec/src/invite.rs
  libparsec/src/lib.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

Fix typo in `client/src/plugins/libparsec/index.ts`
  client/src/plugins/libparsec/index.ts
Due: eslint, vue-tsc, prettier

[MS] Handle ClientStarted & ClientStopped events
  client/src/components/organizations/OrganizationCard.vue
  client/src/main.ts
  client/src/services/eventDistributor.ts
  client/src/views/home/HomePage.vue
  client/src/views/home/OrganizationListPage.vue
Due: eslint, vue-tsc, prettier

[MS] Retrieve started clients list from libparsec
  client/src/components/organizations/OrganizationCard.vue
  client/src/components/organizations/OrganizationSwitchPopover.vue
  client/src/main.ts
  client/src/parsec/login.ts
  client/src/router/navigation.ts
  client/src/views/header/ProfileHeader.vue
  client/src/views/home/HomePage.vue
  client/src/views/home/OrganizationListPage.vue
  client/src/views/layouts/ConnectedLayout.vue
  client/src/views/menu/DesktopMenu.vue
Due: eslint, vue-tsc, prettier

Fix wasm packaging in release when used from a web worker
  client/scripts/vite_plugin_wasm_pack.ts
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

Fix server SPA direction returning unexpected content instead of proper 404 for not found assets
  server/parsec/asgi/__init__.py
Due: none

[MS] Changes needed to use libparsec as a SharedWorker
  client/src/main.ts
  client/src/parsec/claim_device.ts
  client/src/parsec/claim_user.ts
  client/src/parsec/login.ts
  client/src/parsec/organization.ts
  client/src/plugins/libparsec/web_shared_worker.ts
  client/src/views/home/HomePage.vue
  client/src/views/layouts/ConnectedLayout.vue
  client/src/views/layouts/DevLayout.vue
  client/src/views/testing/TestPage.vue
Due: eslint, vue-tsc, prettier

Add `list_started_clients` and add `is_server_online/is_organization_expired/must_accept_tos` to `client_info`
  bindings/generator/api/client.py
  libparsec/src/client.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Add `ClientEvent::ClientStarted|ClientStopped` events to `libparsec`
  bindings/generator/api/events.py
  libparsec/src/client.rs
  libparsec/src/events.rs
Due: fmt, clippy

Add to `libparsec_client::Client::is_server_online()|is_organization_expired()|must_accept_tos()`
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/event_bus.rs
  libparsec/crates/client/tests/unit/event_bus.rs
Due: fmt, clippy

Bump version 3.4.0-a.7+dev -> 3.4.0-a.7
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  newsfragments/10017.feature.rst
  newsfragments/10041.bugfix.rst
  newsfragments/10061.feature.rst
  newsfragments/9505.feature.rst
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.4.0-a.7 -> 3.4.0-a.8+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.4.0-a.8+dev -> 3.4.0-a.8
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Add docs for database and S3 backup
  docs/hosting/maintenance/backup_restore.rst
  docs/hosting/maintenance/index.rst
  docs/hosting/maintenance/upgrade_downgrade.rst
  newsfragments/6174.doc.rst
Due: none

Fix CI check for added/modified .po files
  .github/workflows/ci-docs.yml
Due: none

Add translations for database and S3 backup docs
  docs/locale/fr/LC_MESSAGES/hosting/maintenance/backup_restore.po
  docs/locale/fr/LC_MESSAGES/hosting/maintenance/upgrade_downgrade.po
Due: none

Statistics page (Stripe page)
  client/src/components/client-area/ProgressCircle.vue
  client/src/components/client-area/index.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/bms/api.ts
  client/src/services/bms/mockApi.ts
  client/src/views/client-area/statistics/CustomOrderStatisticsPage.vue
  client/src/views/client-area/statistics/StatisticsPage.vue
  client/tests/e2e/helpers/data.ts
  client/tests/e2e/specs/client_area_custom_order_statistics.spec.ts
  client/tests/e2e/specs/client_area_stats_page.spec.ts
Due: eslint, vue-tsc, prettier

ci(releaser): Fix missing if cond for dependent workflows
  .github/workflows/releaser.yml
Due: none

Bump version 3.4.0-a.8 -> 3.4.0-a.9+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.4.0-a.9+dev -> 3.4.0-a.9
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Fix headers in PO files
  docs/locale/fr/LC_MESSAGES/architecture.po
  docs/locale/fr/LC_MESSAGES/cryptography.po
  docs/locale/fr/LC_MESSAGES/hosting/administration/index.po
  docs/locale/fr/LC_MESSAGES/hosting/administration/shared_recovery.po
  docs/locale/fr/LC_MESSAGES/hosting/administration/stats_organization.po
  docs/locale/fr/LC_MESSAGES/hosting/administration/stats_server.po
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  docs/locale/fr/LC_MESSAGES/hosting/introduction.po
  docs/locale/fr/LC_MESSAGES/hosting/maintenance/backup_restore.po
  docs/locale/fr/LC_MESSAGES/hosting/maintenance/upgrade_downgrade.po
  docs/locale/fr/LC_MESSAGES/hosting/sequester/index.po
  docs/locale/fr/LC_MESSAGES/index.po
  docs/locale/fr/LC_MESSAGES/introduction.po
  docs/locale/fr/LC_MESSAGES/userguide/first_steps.po
  docs/locale/fr/LC_MESSAGES/userguide/installation.po
  docs/locale/fr/LC_MESSAGES/userguide/join_organization.po
  docs/locale/fr/LC_MESSAGES/userguide/manage_devices.po
  docs/locale/fr/LC_MESSAGES/userguide/manage_files.po
  docs/locale/fr/LC_MESSAGES/userguide/manage_organization.po
  docs/locale/fr/LC_MESSAGES/userguide/new_organization.po
  docs/locale/fr/LC_MESSAGES/userguide/parsec_workspaces.po
  docs/locale/fr/LC_MESSAGES/userguide/troubleshooting.po
Due: none

[MS] Responsive Create trial organization
  client/package-lock.json
  client/package.json
  client/src/assets/images/background/background-shapes-large.svg
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/organizations/CreateOrganizationModalHeader.vue
  client/src/components/small-display/SmallDisplayCreateJoinModal.vue
  client/src/components/small-display/index.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_modals.scss
  client/src/views/home/HomePage.vue
  client/src/views/home/HomePageButtons.vue
  client/src/views/organizations/creation/CreateOrganizationModal.vue
  client/src/views/organizations/creation/OrganizationAuthenticationPage.vue
  client/src/views/organizations/creation/OrganizationCreatedPage.vue
  client/src/views/organizations/creation/OrganizationCreationPage.vue
  client/src/views/organizations/creation/OrganizationUserInformationPage.vue
  client/src/views/organizations/creation/ServerTypeChoice.vue
  client/tests/e2e/specs/create_organization.spec.ts
  client/tests/e2e/specs/create_organization_custom.spec.ts
  client/tests/e2e/specs/create_organization_saas.spec.ts
  client/tests/e2e/specs/create_organization_trial.spec.ts
  newsfragments/10143.feature.rst
Due: eslint, vue-tsc, prettier

Fix fuzzy translation
  docs/locale/fr/LC_MESSAGES/userguide/installation.po
Due: none
