Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

feat(pki): Use own trusted anchor to validate accept payload
  libparsec/crates/client/src/client/pki_enrollment_accept.rs
  libparsec/crates/client/src/client/pki_enrollment_info.rs
  libparsec/crates/client/src/client/pki_enrollment_list.rs
  libparsec/crates/client/src/client/pki_enrollment_submit.rs
  libparsec/crates/platform_pki/src/errors.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
  server/src/data/pki.rs
Due: fmt, clippy

[MS] Removed the splashscreen
  client/electron/src/setup.ts
  client/electron/src/splashscreen.ts
  client/tests/e2e/specs/app_update.spec.ts
Due: eslint, vue-tsc, prettier

Add RFC 1025 TOTP protected local device
  docs/rfcs/1025-totp-protected-local-device.md
Due: none

feat(pki): Add binding to `load_answer_payload`
  libparsec/crates/platform_pki/src/errors.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/pki.pyi
  server/parsec/components/memory/pki.py
  server/parsec/components/postgresql/pki_submit.py
  server/src/data/mod.rs
  server/src/data/pki.rs
Due: sqlfluff-in-python, fmt, clippy

feat(binding): Expose `remove_device_data`
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/common.py
  bindings/generator/api/device.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/src/device.rs
  libparsec/src/lib.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

feat(pki): Make server verify accept payload
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/parsec/components/postgresql/pki.py
  server/parsec/components/postgresql/pki_accept.py
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
  server/tests/api_v5/authenticated/test_pki_enrollment_accept.py
  server/tests/common/pki.py
Due: sqlfluff-in-python

[MS] Some more e2e tests optimizations
  client/tests/e2e/specs/document_context_menu.spec.ts
  client/tests/e2e/specs/download_file.spec.ts
  client/tests/e2e/specs/editics_enable.spec.ts
  client/tests/e2e/specs/file_viewers_document.spec.ts
Due: eslint, vue-tsc, prettier

feat(cli): Add flag --parents to command workspace import
  cli/src/commands/workspace/import.rs
  cli/tests/integration/workspace/import.rs
Due: fmt, clippy

[MS] Moved cryptpad into an iframe
  client/electron/src/setup.ts
  client/index.html
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/cryptpad.ts
  client/src/services/pathOpener.ts
  client/src/views/files/handler/FileHandler.vue
  client/src/views/files/handler/editor/FileEditor.vue
  client/tests/unit/specs/testCryptpad.spec.ts
Due: eslint, vue-tsc, prettier

feat(csp): Implement content security policy rules for enhanced security
  .cspell/custom-words.txt
  client/electron/src/cspRules.ts
  client/electron/src/index.ts
  client/electron/src/setup.ts
  client/src/services/cryptpad.ts
Due: eslint, vue-tsc, prettier

[MS] Add workspace categories menu component for filtering workspaces
  client/src/components/workspaces/WorkspaceCategoriesMenu.vue
  client/src/components/workspaces/WorkspaceListItem.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_filters.scss
  client/src/theme/global.scss
  client/src/views/workspaces/WorkspacesPage.vue
  client/src/views/workspaces/types.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
Due: eslint, vue-tsc, prettier

Move save content from device_loader to platform platform_filesystem
  Cargo.lock
  Cargo.toml
  libparsec/crates/platform_device_loader/Cargo.toml
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_filesystem/Cargo.toml
  libparsec/crates/platform_filesystem/src/lib.rs
  libparsec/crates/platform_filesystem/src/native/mod.rs
  libparsec/crates/platform_filesystem/src/web/mod.rs
Due: toml-fmt, fmt, clippy

Create platform_filesystem crate.
  Cargo.lock
  Cargo.toml
  libparsec/crates/platform_filesystem/Cargo.toml
  libparsec/crates/platform_filesystem/src/lib.rs
  libparsec/crates/platform_filesystem/tests/units/mod.rs
Due: toml-fmt, fmt, clippy

Update
  client/src/components/workspaces/WorkspaceCategoriesMenu.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

[MS] Adds e2e tests for new cryptpad integration
  client/src/components/files/explorer/FileListItem.vue
  client/src/main.ts
  client/src/services/cryptpad.ts
  client/src/views/files/handler/editor/FileEditor.vue
  client/tests/e2e/helpers/cryptpad.ts
  client/tests/e2e/specs/file_editor.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Fixed back button not working with cryptpad
  client/src/router/navigation.ts
  client/src/router/types.ts
  client/src/views/files/handler/editor/FileEditor.vue
Due: eslint, vue-tsc, prettier

[MS] Show modal to confirm hiding workspace and unmount it
  client/src/components/sidebar/SidebarWorkspaceItem.vue
  client/src/components/workspaces/WorkspaceCard.vue
  client/src/components/workspaces/utils.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/workspace.ts
  client/src/services/eventDistributor.ts
  client/src/services/storageManager.ts
  client/src/views/files/FoldersPage.vue
  client/src/views/menu/MainMenu.vue
  client/src/views/workspaces/WorkspaceHiddenModal.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

ci(cargo-deny): Update to `0.18.9`
  .github/workflows/ci-rust.yml
  misc/versions.toml
Due: toml-fmt

[MS] Redesign loading screen
  client/index.html
Due: prettier

[MS] Fix responsive height scroll bug in organization creation modal and in profile page
  client/src/components/settings/SettingsList.vue
  client/src/theme/components/_modals.scss
  client/src/views/organizations/creation/CreateOrganizationModal.vue
  client/src/views/organizations/creation/OrganizationCreationPage.vue
  client/src/views/users/MyProfilePage.vue
  newsfragments/11987.bugfix.rst
Due: eslint, vue-tsc, prettier

refactor(pki): Add `Base64Parser` for clap arg that are base64 encoded
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki/examples/verify_message.rs
Due: fmt, clippy

refactor(pki): Init logger on PKI examples
  libparsec/crates/platform_pki/examples/decode_cert_subject.rs
  libparsec/crates/platform_pki/examples/decrypt_message.rs
  libparsec/crates/platform_pki/examples/encrypt_message.rs
  libparsec/crates/platform_pki/examples/get_certificate_der.rs
  libparsec/crates/platform_pki/examples/list_certificate.rs
  libparsec/crates/platform_pki/examples/sign_message.rs
  libparsec/crates/platform_pki/examples/verify_certificate.rs
  libparsec/crates/platform_pki/examples/verify_message.rs
Due: fmt, clippy

feat(pki): Use windows API to get certificate by ID
  Cargo.lock
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/common.py
  bindings/generator/templates/binding_electron_meths.rs.j2
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/examples/get_certificate_der.rs
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki/src/windows/find_in_store.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/platform_pki/src/windows/schannel_utils.rs
  libparsec/crates/types/src/pki/cert_ref.rs
  libparsec/crates/types/tests/unit/async_enrollment.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
  libparsec/crates/types/tests/unit/pki.rs
Due: toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

refactor(device): Remove smartcard device
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/device.py
  bindings/web/src/meths.rs
  cli/src/commands/device/change_authentication.rs
  cli/src/commands/device/overwrite_server_url.rs
  cli/src/utils.rs
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/profile/AuthenticationCard.vue
  client/src/parsec/login.ts
  client/src/parsec/pki.ts
  client/src/parsec/types.ts
  client/src/plugins/libparsec/definitions.ts
  client/src/views/home/HomePage.vue
  client/src/views/organizations/creation/OrganizationSummaryPage.vue
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/users/UpdateAuthenticationModal.vue
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/strategy.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_device_loader/tests/units/save_list.rs
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
  libparsec/crates/types/schema/local_device/device_file_smartcard.json5
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
  libparsec/src/device.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

Fix navigation to workspace list from sidebar
  client/src/views/layouts/FileOperationLayout.vue
  client/tests/e2e/specs/document_context_menu.spec.ts
  client/tests/e2e/specs/file_viewers.spec.ts
  client/tests/e2e/specs/sidebar.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
  newsfragments/10227.bugfix.rst
Due: eslint, vue-tsc, prettier
