Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

license_headers:
  name: license_headers
  entry: python ./misc/license_headers.py add
  language: python
  language_version: python3

eslint:
  name: eslint
  description: ''
  entry: eslint
  language: node
  args:
  - --config=oxidation/client/.eslintrc.js
  additional_dependencies:
  - eslint@8.10.0
  - eslint-plugin-cypress@2.12.1
  - eslint-plugin-vue@8.5.0
  - '@typescript-eslint/eslint-plugin@5.14.0'
  - '@typescript-eslint/parser@5.14.0'
  ...

Fix BlockStorage.is_block_remanent
  parsec/core/fs/storage/chunk_storage.py
Due: license_headers

[GUI] Fix SwitchButton appearance when disabled
  parsec/core/gui/switch_button.py
Due: license_headers

[GUI] Improve UX for offline availability dialog
  parsec/core/gui/forms/remanence_management_widget.ui
  parsec/core/gui/rc/styles/main.css
  parsec/core/gui/remanence_management_widget.py
  parsec/core/gui/tr/parsec_en.po
  parsec/core/gui/tr/parsec_fr.po
Due: license_headers

Send an FS_BLOCK_REMOVED event in disable_block_remanence
  parsec/core/fs/workspacefs/remanence_manager.py
Due: license_headers

Update file size display for 3 significant figures for values between 1.00 and 9.99
  parsec/core/gui/file_size.py
  tests/core/gui/test_file_size_display.py
Due: license_headers

Add print for unknown error
  oxidation/libparsec/crates/platform_local_db/src/lib.rs
Due: license_headers

Correct bug where we were cancel during the init of the rust instance of WorkspaceStorage
  parsec/core/fs/storage/workspace_storage.py
Due: license_headers

Create a correct teardown
  tests/core/test_sync_monitor_stateful.py
Due: license_headers

Try to unflake `test_sync_monitor_stateful`
  oxidation/libparsec/crates/types/src/time.rs
  tests/core/test_sync_monitor_stateful.py
Due: license_headers

add scrollbar and organization card footer
  oxidation/client/src/components/MsSelect.vue
  oxidation/client/src/components/MsSelectPopover.vue
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

Add some improvement
  oxidation/libparsec/crates/client_connection/tests/auth_cmds.rs
  oxidation/libparsec/crates/platform_device_loader/src/native/local_device_file.rs
  oxidation/libparsec/crates/platform_device_loader/src/testbed.rs
  oxidation/libparsec/crates/platform_device_loader/src/web/local_device_file.rs
  oxidation/libparsec/crates/platform_device_loader/tests/test_local_device_file.rs
  oxidation/libparsec/crates/testbed/src/coolorg.rs
  oxidation/libparsec/crates/testbed/src/empty.rs
  oxidation/libparsec/crates/testbed/src/env.rs
  oxidation/libparsec/crates/testbed/src/lib.rs
  oxidation/libparsec/crates/testbed/src/types.rs
  oxidation/libparsec/crates/tests_fixtures/src/testbed.rs
  oxidation/libparsec/crates/types/src/addr.rs
  src/data/pki.rs
  src/enumerate.rs
  src/lib.rs
  src/testbed.rs
  tests/scripts/run_testbed_server.py
Due: license_headers

Add testbed-server docker packaging POC
  packaging/testbed-server/Dockerfile
  packaging/testbed-server/build.sh
Due: none

Fix BackendAddr
  oxidation/libparsec/crates/tests_fixtures/src/testbed.rs
  oxidation/libparsec/crates/types/src/addr.rs
Due: license_headers

Use replacen instead of replace for testbed_server
  oxidation/libparsec/crates/tests_fixtures/src/testbed.rs
Due: license_headers

Fix testbench server autostart in tests_fixtures crate
  oxidation/libparsec/crates/tests_fixtures/src/testbed.rs
Due: license_headers

Fix python binding & Remove broken clippy check
  .pre-commit-config.yaml
  src/testbed.rs
Due: license_headers

[MS] Added unit tests for MsSelect
  oxidation/client/src/components/MsSelectPopover.vue
  oxidation/client/tests/unit/MsSelect.spec.ts
Due: license_headers, eslint

Add test_remanence_interface for the workspace storage
  tests/core/fs/storage/test_workspace_storage.py
Due: license_headers

Fix flakiness in test_sync_monitor_stateful
  tests/common/core.py
  tests/core/test_sync_monitor_stateful.py
Due: license_headers

Fix UserStorage.run leaking sqlite opened connection when cancelled during call of `_RsUserStorage.new()`
  parsec/core/fs/storage/user_storage.py
Due: license_headers

Tag test_process_while_offline as flaky
  tests/core/test_messages_monitor.py
Due: license_headers

Make `save` and `load_device_with_password` native device functions fully async
  oxidation/libparsec/crates/client_high_level_api/src/login.rs
  oxidation/libparsec/crates/platform_device_loader/Cargo.toml
  oxidation/libparsec/crates/platform_device_loader/src/native/local_device.rs
  oxidation/libparsec/crates/platform_device_loader/src/native/local_device_file.rs
  oxidation/libparsec/crates/platform_device_loader/tests/test_local_device_file.rs
  parsec/_parsec_pyi/local_device.pyi
  src/binding_utils.rs
  src/local_device.rs
Due: license_headers

Updated python with async `save_device_*` functions
  parsec/_parsec_pyi/local_device.pyi
  parsec/core/cli/utils.py
  parsec/core/gui/authentication_change_widget.py
  parsec/core/gui/claim_device_widget.py
  parsec/core/gui/claim_user_widget.py
  parsec/core/gui/create_org_widget.py
  parsec/core/gui/device_recovery_export_widget.py
  parsec/core/gui/device_recovery_import_widget.py
  parsec/core/gui/instance_widget.py
  parsec/core/gui/main_window.py
  parsec/test_utils/organization.py
  tests/core/gui/conftest.py
  tests/core/gui/test_enrollment.py
  tests/core/gui/test_expired_organization.py
  tests/core/gui/test_login.py
  tests/core/gui/test_main_window.py
  tests/core/gui/test_recovery.py
  tests/core/gui/test_workspace_sharing.py
  tests/core/test_local_device.py
  tests/test_cli.py
Due: license_headers

Added async `load_device_file` functions
  oxidation/libparsec/crates/platform_device_loader/src/native/local_device.rs
  oxidation/libparsec/crates/platform_device_loader/src/native/local_device_file.rs
  oxidation/libparsec/crates/platform_device_loader/tests/test_local_device_file.rs
  src/local_device.rs
Due: license_headers

Use replace usage with new async `load_device_file`
  parsec/_parsec_pyi/local_device.pyi
  parsec/core/cli/list_devices.py
  parsec/core/cli/utils.py
  parsec/core/gui/authentication_change_widget.py
  parsec/core/gui/login_widget.py
  parsec/core/gui/main_window.py
  parsec/core/local_device.py
  tests/core/test_local_device.py
Due: license_headers

wip
  parsec/core/gui/enrollment_query_widget.py
  parsec/core/gui/main_window.py
Due: license_headers

Use `tokio::fs::metadata` instead of opening the file to check if it exist
  oxidation/libparsec/crates/platform_device_loader/src/native/local_device_file.rs
Due: license_headers

Calm furious mypy :p
  parsec/core/gui/instance_widget.py
  parsec/core/gui/login_widget.py
Due: license_headers

Remove useless clone
  src/local_device.rs
Due: license_headers

Make `get_default_key_file` sync & pure
  oxidation/libparsec/crates/platform_device_loader/src/native/local_device_file.rs
  oxidation/libparsec/crates/platform_device_loader/tests/test_local_device_file.rs
Due: license_headers

wip
  parsec/core/gui/instance_widget.py
  parsec/core/gui/login_widget.py
  parsec/core/gui/main_window.py
  tests/core/gui/conftest.py
  tests/core/gui/devices_widget/test_claim.py
  tests/core/gui/test_create_organization.py
  tests/core/gui/test_files.py
  tests/core/gui/test_login.py
  tests/core/gui/test_main_window.py
Due: license_headers

Fix regression
  oxidation/libparsec/crates/platform_device_loader/src/native/local_device_file.rs
  parsec/core/gui/main_window.py
  tests/core/gui/test_main_window.py
Due: license_headers

[MS] Excluded screenshots folders from git
  oxidation/client/.gitignore
Due: none

[MS] Updated cypress to 12.4
  oxidation/client/package-lock.json
  oxidation/client/package.json
Due: none

[MS] Added e2e tests for org sort and filter
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/views/HomePage.vue
  oxidation/client/tests/e2e/specs/test_home_page.ts
Due: license_headers, eslint

Update fr-FR.json
  oxidation/client/src/locales/fr-FR.json
Due: none

[MS] Added missing license headers
  oxidation/client/src/components/MsSelectOption.ts
  oxidation/client/tests/e2e/specs/test_home_page.ts
  oxidation/client/tests/unit/HeaderPage.spec.ts
  oxidation/client/tests/unit/HomePage.spec.ts
  oxidation/client/tests/unit/MsSelect.spec.ts
  oxidation/client/tests/unit/PasswordInput.spec.ts
Due: license_headers, eslint

Update HomePage.vue
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

[MS] Updated MsSelect unit tests
  oxidation/client/tests/unit/MsSelect.spec.ts
Due: license_headers, eslint

Fix some tests
  oxidation/libparsec/crates/platform_device_loader/src/web/local_device.rs
  parsec/core/gui/device_recovery_export_widget.py
  tests/core/gui/users_widget/test_claim.py
  tests/test_scripts.py
Due: license_headers

Path conditions:
  license_headers: any of: \.py$, \.sql$, \.rs$, \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, but not: ^misc/bench.py$
  eslint: any of: ^oxidation/client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
