Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Minor fixes to footer email template
  server/parsec/templates/email/footer.html.j2
Due: none

Fix link to docs in invitation email template
  server/parsec/templates/email/invitation.html.j2
  server/parsec/templates/email/invitation.txt.j2
Due: none

refactor(pki): Manually obtain ncrypt handle
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/platform_pki/src/windows/schannel_utils.rs
Due: fmt, clippy

only log error
  libparsec/crates/platform_pki/src/windows/mod.rs
Due: fmt, clippy

refactor(pki): Direct acquire private key
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/platform_pki/src/windows/schannel_utils.rs
Due: fmt, clippy

feat(rust): Add simple example
  Cargo.lock
  Cargo.toml
  schannel-priv-key-flag/Cargo.toml
  schannel-priv-key-flag/src/main.rs
Due: toml-fmt, fmt, clippy

Update electron package.js to support electron-builder v26+
  client/electron/package.js
Due: eslint, prettier

log step cert to key
  libparsec/crates/platform_pki/src/windows/mod.rs
Due: fmt, clippy

Minor typo fix in `server/parsec/components/memory/totp.py`
  server/parsec/components/memory/totp.py
Due: none

Minor typo for in `libparsec/crates/totp/src/lib.rs`
  libparsec/crates/totp/src/lib.rs
Due: fmt, clippy

Document TOTP (MFA)
  .cspell/custom-words.txt
  docs/hosting/administration/index.rst
  docs/hosting/administration/mfa_reset.rst
  docs/index.rst
  docs/userguide/mfa.rst
  docs/userguide/screens/mfa.en.png
  docs/userguide/screens/mfa.fr.png
Due: none

Add frencg translation for document TOTP (MFA)
  docs/locale/fr/LC_MESSAGES/hosting/administration/mfa_reset.po
  docs/locale/fr/LC_MESSAGES/userguide/mfa.po
Due: none

Add link to MFA docs in MFA reset email template
  server/parsec/templates/email/totp_reset.html.j2
  server/parsec/templates/email/totp_reset.txt.j2
Due: none

feat(pki): Translate legacy key handle
  libparsec/crates/platform_pki/src/windows/schannel_utils.rs
Due: fmt, clippy

refactor(pki): Try to translate legacy handle to ncrypt for windows
  libparsec/crates/platform_pki/src/windows/schannel_utils.rs
Due: fmt, clippy

Backport: refactor(pki): Direct acquire private key
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/platform_pki/src/windows/schannel_utils.rs
Due: fmt, clippy

[MS] Multiple bug fixes (#12308)
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/devices/DevicesPage.vue
  client/src/views/files/FoldersPage.vue
  client/src/views/home/HomePage.vue
  client/src/views/home/LoginPage.vue
  client/src/views/invitations/InvitationsPage.vue
  client/src/views/users/AsyncEnrollmentOpenBaoAuthModal.vue
  client/tests/e2e/specs/async_enrollment.spec.ts
  client/tests/e2e/specs/home_page.spec.ts
  client/tests/e2e/specs/my_profile_page.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Use new timeout error for Cryptpad
  client/src/views/files/handler/editor/FileEditor.vue
Due: eslint, vue-tsc, prettier

[MS] Use new timeout error for Cryptpad (#12312)
  client/src/views/files/handler/editor/FileEditor.vue
Due: eslint, vue-tsc, prettier

[MS] Update breadcrumb leading tocorrect route
  client/src/components/header/HeaderBreadcrumbs.vue
Due: eslint, vue-tsc, prettier

[MS] Redirect user to all workspaces page when he creates a new workspace
  client/src/views/workspaces/WorkspacesPage.vue
  client/tests/e2e/helpers/utils.ts
Due: eslint, vue-tsc, prettier

[MS] Redirect user to all workspaces page when he creates a new workspace (#12317)
  client/src/views/workspaces/WorkspacesPage.vue
  client/tests/e2e/helpers/utils.ts
Due: eslint, vue-tsc, prettier

[MS] Add tooltip for async enrollment requests delete icon
  client/src/components/invitations/AsyncEnrollmentRequestItem.vue
  client/src/components/organizations/OrganizationJoinRequest.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/invitations/AsyncEnrollmentRequestList.vue
  client/tests/e2e/specs/async_enrollment.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Added information dialog when trying to preview/edit a big or unsupported file
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/pathOpener.ts
Due: eslint, vue-tsc, prettier

Fix link in MFA docs
  docs/locale/fr/LC_MESSAGES/userguide/mfa.po
Due: none

[MS] Add tooltip for async enrollment requests delete icon (#12287)
  client/src/components/invitations/AsyncEnrollmentRequestItem.vue
  client/src/components/organizations/OrganizationJoinRequest.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/invitations/AsyncEnrollmentRequestList.vue
  client/tests/e2e/specs/async_enrollment.spec.ts
Due: eslint, vue-tsc, prettier

Remove uneeded double `store.get_device_certificate` call in `libparsec/crates/client/src/certif/list.rs`
  libparsec/crates/client/src/certif/list.rs
Due: fmt, clippy

Add minor comments about use of vec instead of hashmap/hashset in libparsec
  libparsec/crates/client/src/certif/list.rs
  libparsec/crates/client/src/workspace/mod.rs
Due: fmt, clippy

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
