Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

fix(pkg-cli): Use runner temp dir when downloading winfsp
  .github/workflows/package-cli.yml
Due: none

Fix minor issues with app desktop entry
  client/electron/assets/parsec.desktop
  client/electron/snap/snapcraft.yaml
Due: none

ci(rust): Use ubuntu-24 runner
  .github/workflows/ci-rust.yml
Due: none

fix(pkg-cli): Use runner temp dir when downloading winfsp (#10262)
  .github/workflows/package-cli.yml
Due: none

chore(wasm): Update `wasm-pack` to `0.13.1`
  .github/workflows/ci-rust.yml
  .github/workflows/package-webapp.yml
  docs/development/README.md
  misc/versions.toml
Due: toml-fmt

Bump version 3.4.0-rc.1+dev -> 3.4.0-rc.1
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.4.0-rc.1 -> 3.4.0-rc.2+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Adds confirmation when ordering new org and adds e2e tests
  client/.gitignore
  client/src/views/client-area/ClientAreaPage.vue
  client/src/views/client-area/orders/NewOrderModal.vue
  client/src/views/client-area/orders/OrdersPage.vue
  client/tests/e2e/specs/client_area_custom_order_orders.spec.ts
Due: eslint, vue-tsc, prettier

Added app extra info and use a common description
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
Due: eslint, prettier

Add parsec.desktop file to cspell config
  .cspell/cspell.config.yml
Due: none

Add instructions to build snap locally
  client/electron/README.md
Due: none

Minor fixes and improvements to main README
  README.rst
Due: none

[MS] Added a function to check if incognito mode
  client/package-lock.json
  client/package.json
  client/src/parsec/environment.ts
Due: eslint, vue-tsc, prettier

[MS] Disable buttons in custom area modals while query is being performed
  client/src/views/client-area/personal-data/PersonalInfoModal.vue
  client/src/views/client-area/personal-data/ProfessionalInfoModal.vue
  client/src/views/client-area/personal-data/SecurityModal.vue
Due: eslint, vue-tsc, prettier

[MS] Trim email in forgotten password
  client/src/views/client-area/forgot-password/BmsForgotPasswordGetEmailStep.vue
Due: eslint, vue-tsc, prettier

[MS] Sort the devices, placing the current at the top
  client/src/views/devices/DevicesPage.vue
Due: eslint, vue-tsc, prettier

Update RFCs 1013-1019 based on team feedback
  docs/rfcs/1013-parsec-account.md
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
  docs/rfcs/1015-registration-device.md
  docs/rfcs/1016-local-device-storage-in-web-client.md
  docs/rfcs/1017-web-client-allowed-on-per-org-basis.md
  docs/rfcs/1018-server-stored-device-keys.md
  docs/rfcs/1019-deprecate-local-device-user-realm-field.md
Due: none

Add RFC1014 - Account vault for device stored on server
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
Due: none

Add RFC1016 - LocalDevice storage in web client
  docs/rfcs/1016-local-device-storage-in-web-client.md
Due: none

Update RFC1013 - Parsec account
  docs/rfcs/1013-parsec-account.md
Due: none

Add RFC1017 - Web client allowed on a per-organization basis
  docs/rfcs/1017-web-client-allowed-on-per-org-basis.md
Due: none

Add RFC1018 - Server-stored device keys
  .cspell/custom-words.txt
  docs/rfcs/1018-server-stored-device-keys.md
Due: none

Add RFC1015 - Auto-enrollment Device
  docs/rfcs/1015-auto-enrollment-device.md
Due: none

Add RFC1019 - Deprecate local device user realm field
  docs/rfcs/1019-deprecate-local-device-user-realm-field.md
Due: none

[MS] Update workspace favorite icon position
  client/src/components/workspaces/WorkspaceCard.vue
Due: eslint, vue-tsc, prettier

[MS] Update lib
  client/package-lock.json
  client/package.json
Due: none

[MS] Profile modals
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_modals.scss
  client/src/views/devices/DevicesPage.vue
  client/src/views/devices/GreetDeviceModal.vue
  client/src/views/home/DeviceJoinOrganizationModal.vue
  client/src/views/profile/OrganizationRecoveryPage.vue
  client/src/views/users/UpdateAuthenticationModal.vue
Due: eslint, vue-tsc, prettier

[MS] Updates with review
  client/src/components/workspaces/utils.ts
  client/src/views/menu/TabBarMenu.vue
  client/src/views/menu/TabBarMenuModal.vue
  client/src/views/organizations/OrganizationInformationPage.vue
  client/src/views/users/UsersPage.vue
  client/src/views/users/utils.ts
  client/src/views/workspaces/WorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

[MS] Generic tab bar menu modal
  client/src/components/small-display/SmallDisplayCategoryUserContextMenu.vue
  client/src/components/small-display/SmallDisplayUserContextMenu.vue
  client/src/components/workspaces/utils.ts
  client/src/theme/components/_modals.scss
  client/src/theme/components/_popovers.scss
  client/src/views/files/FoldersPage.vue
  client/src/views/menu/AddMenuModal.vue
  client/src/views/menu/TabBarMenu.vue
  client/src/views/menu/TabBarMenuModal.vue
  client/src/views/menu/index.ts
  client/src/views/menu/types.ts
  client/src/views/organizations/OrganizationInformationPage.vue
  client/src/views/users/MyProfilePage.vue
  client/src/views/users/UserContextMenu.vue
  client/src/views/users/UsersPage.vue
  client/src/views/users/types.ts
  client/src/views/users/utils.ts
  client/src/views/workspaces/SmallDisplayWorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspacesPage.vue
  client/src/views/workspaces/types.ts
Due: eslint, vue-tsc, prettier

[MS] Update button profile position
  client/src/views/devices/DevicesPage.vue
  client/src/views/menu/TabBarMenu.vue
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/profile/OrganizationRecoveryPage.vue
  client/tests/e2e/specs/organization_information.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Add Tab bar menu on pages
  client/src/components/menu/TabBarMenu.vue
  client/src/theme/components/_modals.scss
  client/src/views/files/FoldersPage.vue
  client/src/views/menu/LargeDisplayMenu.vue
  client/src/views/menu/MenuPage.vue
  client/src/views/menu/TabMenuModal.vue
  client/src/views/menu/index.ts
  client/src/views/menu/types.ts
  client/src/views/organizations/OrganizationInformationPage.vue
  client/src/views/users/MyProfilePage.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

[MS] Added fab button menu mobile
  client/src/theme/components/_modals.scss
  client/src/views/menu/DesktopMenu.vue
  client/src/views/menu/TabMenuModal.vue
Due: eslint, vue-tsc, prettier

[MS] Update Menu
  client/src/components/menu/TabBarMenu.vue
  client/src/theme/components/_modals.scss
  client/src/theme/components/_popovers.scss
  client/src/views/files/FoldersPage.vue
  client/src/views/menu/AddMenuModal.vue
  client/src/views/menu/TabMenuModal.vue
  client/src/views/menu/index.ts
  client/src/views/users/MyProfilePage.vue
  client/src/views/users/UsersPage.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

[MS] Show back button when on profile page
  client/src/views/header/HeaderPage.vue
  client/tests/e2e/specs/my_profile_page.spec.ts
Due: eslint, vue-tsc, prettier
