Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

Path conditions:
  license_headers: any of: \.py$, \.sql$, \.rs$, \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, but not: ^misc/bench.py$
  eslint: any of: ^oxidation/client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)

Fix testbench server autostart in tests_fixtures crate
  oxidation/libparsec/crates/tests_fixtures/src/testbed.rs
Due: license_headers

Improve testbed docker build script (#3986)
  packaging/testbed-server/build.sh
  packaging/testbed-server/testbed-server.dockerfile
Due: none

Fix BackendAddr
  oxidation/libparsec/crates/tests_fixtures/src/testbed.rs
  oxidation/libparsec/crates/types/src/addr.rs
Due: license_headers

Fix web jinja
  oxidation/bindings/generator/templates/binding_web_meths.rs.j2
  oxidation/bindings/web/src/meths.rs
Due: license_headers

Set testbed optional for front
  oxidation/libparsec/Cargo.toml
  oxidation/libparsec/crates/client_high_level_api/Cargo.toml
  oxidation/libparsec/crates/client_high_level_api/src/lib.rs
  oxidation/libparsec/crates/platform_device_loader/src/lib.rs
Due: license_headers

Use replacen instead of replace for testbed_server
  oxidation/libparsec/crates/tests_fixtures/src/testbed.rs
Due: license_headers

Rework how we create docker image. (#3971)
  build.py
  oxidation/libparsec/crates/testbed/Cargo.toml
  packaging/testbed-server/Dockerfile
  packaging/testbed-server/build-testbed.sh
  packaging/testbed-server/build.sh
  packaging/testbed-server/testbed-server.dockerfile
  packaging/testbed-server/testbed-server.dockerfile.dockerignore
Due: license_headers

Add testbed-server docker packaging POC
  packaging/testbed-server/Dockerfile
  packaging/testbed-server/build.sh
Due: none

Add spacing
  src/enumerate.rs
  src/testbed.rs
Due: license_headers

Fix python binding & Remove broken clippy check
  .pre-commit-config.yaml
  src/testbed.rs
Due: license_headers

Fix conflict between libparsec_testbed & high_client_api
  oxidation/libparsec/src/lib.rs
  src/testbed.rs
Due: license_headers

Fix callback typing in workspaces_widget
  parsec/core/gui/workspaces_widget.py
Due: license_headers

[GUI] Added user filtering by profile
  newsfragments/4033.feature.rst
  parsec/core/gui/custom_widgets.py
  parsec/core/gui/forms/users_widget.ui
  parsec/core/gui/tr/parsec_en.po
  parsec/core/gui/tr/parsec_fr.po
  parsec/core/gui/users_widget.py
  tests/core/gui/users_widget/test_list.py
Due: license_headers

Added StorageManager component to handle local storage calls
  oxidation/client/src/App.vue
  oxidation/client/src/common/mocks.ts
  oxidation/client/src/composables/storageManager.ts
  oxidation/client/src/main.ts
  oxidation/client/src/views/HomePage.vue
  oxidation/client/src/views/SettingsPage.vue
  oxidation/client/tests/unit/HeaderPage.spec.ts
  oxidation/client/tests/unit/HomePage.spec.ts
  oxidation/client/tests/unit/common/storage.spec.ts
Due: license_headers, eslint

Renamed some variables
  oxidation/client/src/common/mocks.ts
  oxidation/client/src/main.ts
  oxidation/client/src/services/storageManager.ts
  oxidation/client/src/views/HomePage.vue
  oxidation/client/src/views/SettingsPage.vue
  oxidation/client/tests/unit/HeaderPage.spec.ts
  oxidation/client/tests/unit/HomePage.spec.ts
  oxidation/client/tests/unit/common/storage.spec.ts
Due: license_headers, eslint

Fixed import in App.vue
  oxidation/client/src/App.vue
Due: license_headers, eslint

Small fix
  oxidation/client/src/views/SettingsPage.vue
Due: license_headers, eslint

[MS] Replaced Date with luxon DateTime
  oxidation/client/package-lock.json
  oxidation/client/package.json
  oxidation/client/src/common/date.ts
  oxidation/client/src/common/mocks.ts
  oxidation/client/src/main.ts
  oxidation/client/src/services/storageManager.ts
  oxidation/client/src/views/HomePage.vue
  oxidation/client/tests/unit/HeaderPage.spec.ts
  oxidation/client/tests/unit/HomePage.spec.ts
  oxidation/client/tests/unit/common/date.spec.ts
  oxidation/client/tests/unit/common/storage.spec.ts
Due: license_headers, eslint

Fixed unit tests
  oxidation/client/tests/unit/HomePage.spec.ts
Due: license_headers, eslint

[pytest] improve typing
  tests/common/backend.py
  tests/common/fixtures_customisation.py
  tests/common/population.py
  tests/core/fs/storage/test_user_storage.py
  tests/core/fs/storage/test_workspace_storage.py
  tests/core/fs/test_fs_online_rwfile_and_sync.py
  tests/core/fs/workspacefs/test_confinement.py
  tests/core/fs/workspacefs_timestamped/conftest.py
  tests/core/fs/workspacefs_timestamped/test_workspacefs_timestamped.py
  tests/core/gui/conftest.py
  tests/core/gui/test_files.py
  tests/core/gui/test_workspaces_reencrypt.py
  tests/core/test_bootstrap_organization.py
  tests/core/test_messages_monitor.py
  tests/core/test_sync_monitor_stateful.py
Due: license_headers

[testenv] Rework script to allow cleanup
  tests/scripts/run_testenv.py
  tests/scripts/run_testenv.sh
Due: license_headers

[parsec] Improve typing
  parsec/core/fs/remote_loader.py
  parsec/core/fs/storage/__init__.py
  parsec/core/fs/storage/workspace_storage.py
  parsec/core/fs/workspacefs/entry_transactions.py
  parsec/core/fs/workspacefs/file_operations.py
  parsec/core/fs/workspacefs/file_transactions.py
  parsec/core/fs/workspacefs/remanence_manager.py
  parsec/core/fs/workspacefs/workspacefs.py
  parsec/core/gui/create_org_widget.py
  parsec/core/sync_monitor.py
Due: license_headers

Improve `freeze_time` mock
  mypy.ini
  tests/common/binder.py
  tests/common/freeze_time.py
  tests/core/fs/storage/test_user_storage.py
  tests/core/fs/test_bootstrap.py
  tests/core/fs/test_fs_sync.py
  tests/core/fs/test_reencrypt_workspace.py
  tests/core/fs/userfs/test_sync.py
  tests/core/fs/workspacefs_timestamped/conftest.py
  tests/core/test_messages_monitor.py
Due: license_headers

[ci] Disable web unit test failure
  .github/workflows/ci.yml
Due: none

Fix flakiness in tests/core/test_sync_monitor.py
  tests/core/test_sync_monitor.py
Due: license_headers

Speedup Windows (and improve MacOS stability) in tests when unused_tcp_port fixture is used to connect to
  tests/common/backend.py
Due: license_headers

Fix flaky tests and improve speed in tests/core/test_sync_monitor.py
  tests/core/test_sync_monitor.py
Due: license_headers
