Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Minor cleanup in libparsec_client to use more idiomatic `type X = super::Y` instead of `use super::Y as X`
  libparsec/crates/client/src/certif/list.rs
  libparsec/crates/client/src/client/shamir_recovery_setup.rs
  libparsec/crates/client/src/client/user_revoke.rs
  libparsec/crates/client/src/client/user_update_profile.rs
Due: fmt, clippy

Add `can_self_promote_to_owner` field to `LocalUserManifest` schema
  libparsec/crates/testbed/src/template/build.rs
  libparsec/crates/testbed/src/template/crc_hash.rs
  libparsec/crates/types/schema/local_manifest/local_user_manifest.json5
  libparsec/crates/types/tests/unit/local_user_manifest.rs
Due: fmt, clippy

Fix `libparsec_client` with new `can_self_promote_to_owner` field in `LocalUserManifest`
  libparsec/crates/client/src/client/workspace_create.rs
  libparsec/crates/client/src/client/workspace_refresh_list.rs
  libparsec/crates/client/tests/unit/client/list_workspaces.rs
  libparsec/crates/client/tests/unit/client/workspace_refresh_list.rs
  libparsec/crates/client/tests/unit/user/sync.rs
  libparsec/crates/client/tests/unit/workspace/open_file.rs
  libparsec/crates/client/tests/unit/workspace/utils.rs
  libparsec/crates/client/tests/unit/workspace_inbound_sync_monitor.rs
Due: fmt, clippy

WIP: promote to workspace owner
  libparsec/crates/client/src/certif/add.rs
  libparsec/crates/client/src/certif/list.rs
  libparsec/crates/client/src/certif/mod.rs
  libparsec/crates/client/src/certif/realm_self_promote_to_owner.rs
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/client/workspace_list.rs
  libparsec/crates/client/src/client/workspace_self_promote_to_owner.rs
  libparsec/crates/client/tests/unit/client/mod.rs
  libparsec/crates/client/tests/unit/client/self_promote_to_workspace_owner.rs
  libparsec/src/client.rs
Due: fmt, clippy

Remove dead `libparsec_bindings_android` dependency from `Cargo.lock`
  Cargo.lock
Due: none

[MS] Reworked import recovery device to allow SSO
  client/src/views/devices/ImportRecoveryDevicePage.vue
  client/tests/e2e/specs/recovery_device.spec.ts
Due: eslint, vue-tsc, prettier

backport: Server static files `Cache-Control` header (#12314)
  .cspell/custom-words.txt
  .pre-commit-config.yaml
  client/README.md
  client/index.html
  client/src/services/environment.ts
  client/src/services/resourcesManager.ts
  client/vite.config.ts
  docs/hosting/custom_branding.rst
  docs/locale/fr/LC_MESSAGES/hosting/custom_branding.po
  misc/update_server_static_assets_hash_prefix.py
  server/parsec/asgi/__init__.py
  server/parsec/static/README.md
  server/parsec/static/base-jFjh9D00.css
  server/parsec/static/favicon-1077lkRZ.ico
  server/parsec/static/logo-facebook.png
  server/parsec/static/logo-linkedin-MJD8nEQV.png
  server/parsec/static/logo-parsec-application-pH0K2JSf.png
  server/parsec/static/logo-parsec-row-ddszGk6y.png
  server/parsec/static/logo-twitter-x.png
  server/parsec/static/parsec-vert-FzeaWJ19.png
  server/parsec/static/parsec.png
  server/parsec/templates/404.html
  server/parsec/templates/base.html
  server/parsec/templates/email/base.html.j2
  server/parsec/templates/email/footer.html.j2
  server/parsec/templates/index.html
  server/tests/test_base.py
Due: eslint, vue-tsc, prettier

RFC 1026 Workspace chain of command
  docs/rfcs/1026-workspace-chain-of-command.md
Due: none

Improve `libparsec_types::Maybe` type - Add auto-Copy trait - Support testbed templace CRC hash
  libparsec/crates/testbed/src/template/crc_hash.rs
  libparsec/crates/types/src/ext_types.rs
Due: fmt, clippy

[MS] Create new file (doc/spreadsheet/presentation) from templates
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/file_templates/docx_template.ts
  client/src/parsec/file_templates/ods_template.ts
  client/src/parsec/file_templates/odt_template.ts
  client/src/parsec/file_templates/pptx_template.ts
  client/src/parsec/file_templates/xlsx_template.ts
  client/src/views/files/FolderGlobalContextMenu.vue
  client/src/views/files/FoldersPage.vue
  client/src/views/files/types.ts
Due: eslint, vue-tsc, prettier

[MS] Remove/add TOTP authentication
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/environment.ts
  client/src/theme/components/_modals.scss
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/totp/ActivateTotpModal.vue
  client/src/views/totp/DeleteTotpModal.vue
  client/tests/e2e/specs/totp.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Fix invitation unread icon in main menu
  client/src/views/invitations/InvitationSwitchModal.vue
  client/src/views/invitations/InvitationsPage.vue
  client/src/views/menu/MainMenu.vue
  client/tests/e2e/specs/async_enrollment.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Fix invitation unread icon in main menu (#12285)
  client/src/views/invitations/InvitationSwitchModal.vue
  client/src/views/invitations/InvitationsPage.vue
  client/src/views/menu/MainMenu.vue
  client/tests/e2e/specs/async_enrollment.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Update the greet device modal content and fix style issues
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_modals.scss
  client/src/views/devices/GreetDeviceModal.vue
  client/src/views/home/DeviceJoinOrganizationModal.vue
  client/tests/e2e/specs/device_greet.spec.ts
Due: eslint, vue-tsc, prettier

docs: add details on features and security guarantees
  README.rst
  docs/locale/fr/LC_MESSAGES/userguide/introduction.po
  docs/userguide/introduction.rst
Due: none

[MS] Fixed style issues: (#12321)
  client/src/components/devices/ConnectSso.vue
  client/src/components/files/explorer/FolderSelectionModal.vue
  client/src/components/invitations/InviteModal.vue
  client/src/components/organizations/OrganizationJoinRequest.vue
  client/src/components/organizations/OrganizationSwitchPopover.vue
  client/src/components/settings/SettingsList.vue
  client/src/components/users/UserAvatarName.vue
  client/src/components/users/UserCard.vue
  client/src/components/workspaces/WorkspaceUserRole.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_file-operation.scss
  client/src/views/files/FileDetailsModal.vue
  client/src/views/files/handler/FileHandler.vue
  client/src/views/users/UserDetailsModal.vue
  client/src/views/workspaces/WorkspaceSharingModal.vue
  client/tests/e2e/specs/async_enrollment.spec.ts
  client/tests/e2e/specs/file_details.spec.ts
  client/tests/e2e/specs/file_editor.spec.ts
  client/tests/e2e/specs/users_list.spec.ts
Due: eslint, vue-tsc, prettier

docs: improve release guide clarity and completeness
  docs/development/guide-release-parsec.md
  misc/version_updater.py
Due: none

Remove useless intermediate copy of arguments list at server startup
  server/parsec/cli/__init__.py
Due: none

[WIP][linux] list available certificates.
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/src/errors.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/pkcs11/mod.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
Due: toml-fmt, fmt, clippy

Fix Sentry initialization not detecting the running asyncio loop
  server/parsec/cli/options.py
  server/parsec/cli/run.py
Due: none

docs: Adds async enrollment documentation
  docs/locale/fr/LC_MESSAGES/userguide/join_organization.po
  docs/locale/fr/LC_MESSAGES/userguide/manage_organization.po
  docs/userguide/join_organization.rst
  docs/userguide/manage_organization.rst
Due: none

backport: [MS] Remove/add TOTP authentication
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/environment.ts
  client/src/theme/components/_modals.scss
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/totp/ActivateTotpModal.vue
  client/src/views/totp/DeleteTotpModal.vue
  client/tests/e2e/specs/totp.spec.ts
Due: eslint, vue-tsc, prettier

Make server traces and profiles sample rate in Sentry configurable
  server/parsec/cli/options.py
  server/parsec/cli/run.py
  server/parsec/logging.py
Due: none

backport: [MS] Remove/add TOTP authentication (#12375)
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/environment.ts
  client/src/theme/components/_modals.scss
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/totp/ActivateTotpModal.vue
  client/src/views/totp/DeleteTotpModal.vue
  client/tests/e2e/specs/totp.spec.ts
Due: eslint, vue-tsc, prettier

backport: docs: Adds async enrollment documentation
  docs/locale/fr/LC_MESSAGES/userguide/join_organization.po
  docs/locale/fr/LC_MESSAGES/userguide/manage_organization.po
  docs/userguide/join_organization.rst
  docs/userguide/manage_organization.rst
Due: none

Added 3.8.1 missing newsfragments
  newsfragments/12291.misc.rst
  newsfragments/12292.misc.rst
  newsfragments/12328.feature.rst
  newsfragments/12359.doc.rst
Due: none

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
