Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

Test account creation check_code & proceed with server interaction in `libparsec_account`
  libparsec/crates/account/tests/unit/account_create/check_code.rs
  libparsec/crates/account/tests/unit/account_create/send_validation_email.rs
Due: fmt, clippy

Update protocol schemas for `account_create_proceed&account_delete_proceed` with renamed error status `send_validation_email_required`
  bindings/generator/api/account.py
  libparsec/crates/account/src/account_create.rs
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_create_proceed.json5
  libparsec/crates/protocol/schema/authenticated_account_cmds/account_delete_proceed.json5
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_create_proceed.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/account_delete_proceed.rs
Due: fmt, clippy

Add bindings for `account_delete_1_send_validation_email`&`account_delete_2_proceed`
  bindings/generator/api/account.py
  libparsec/src/account.rs
Due: fmt, clippy

Discard sent email during `POST /testbed/account/new` in testbed server
  server/parsec/cli/testbed.py
Due: none

Re-generate python bindings for `account_create_proceed`
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/account_create_proceed.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/account_delete_proceed.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/account_delete_send_validation_email.pyi
  server/tests/common/rpc.py
Due: none

Bump testbed server to 3.4.1-a.0.dev.20272.c046354
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] Adds implementation for invitation/register device
  client/src/parsec/account.ts
  client/src/parsec/types.ts
Due: eslint, vue-tsc, prettier

Always use `ValidationInfo.can_be_used()` in server memory implementation
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
Due: none

Correct protocol/server/client for rename in `account_(create|reset)_proceed` command `hmac`->`mac`
  bindings/generator/api/account.py
  libparsec/crates/account/src/account_create.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/src/login.rs
  libparsec/crates/account/tests/unit/account_create/create.rs
  libparsec/crates/account/tests/unit/login.rs
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_create_proceed.json5
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_create_proceed.rs
  libparsec/src/account.rs
  server/parsec/cli/testbed.py
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/tests/api_v5/anonymous_account/test_account_create_proceed.py
  server/tests/common/account.py
Due: fmt, clippy

Add missing param typing in `test_authenticated_invite_new_device_send_email_bad_outcome`
  server/tests/api_v5/authenticated/test_invite_new_device.py
Due: none

Correct `account_delete_send_validation_code`&`account_delete_proceed` protocol schema according to RFC1013
  libparsec/crates/protocol/schema/authenticated_account_cmds/account_delete_confirm.json5
  libparsec/crates/protocol/schema/authenticated_account_cmds/account_delete_proceed.json5
  libparsec/crates/protocol/schema/authenticated_account_cmds/account_delete_send_validation_code.json5
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/account_delete_confirm.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/account_delete_proceed.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/account_delete_send_validation_code.rs
Due: fmt, clippy

Implement `libparsec_account::Account::delete_*`
  libparsec/crates/account/src/account_delete.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/tests/unit/account_delete/delete.rs
  libparsec/crates/account/tests/unit/account_delete/mod.rs
  libparsec/crates/account/tests/unit/account_delete/send_validation_email.rs
Due: fmt, clippy

Update RFC1013 to correct `account_(recovery|delete)_send_validation_code` -> `...send_validation_email` to be consistent with `account_create_send_validation_email`
  docs/rfcs/1013-parsec-account.md
Due: none

Update RFC1013 to rename error status `send_validation_code_required` -> `send_validation_email_required` for consistency with `xxx_send_validation_email` commands
  docs/rfcs/1013-parsec-account.md
Due: none

`misc/test_expected_payload_cooker.py` now outputs long dict/list as multilines \o/
  misc/test_expected_payload_cooker.py
Due: none

Update `account_delete_send_validation_code`&`account_delete_proceed` style in RFC1013
  docs/rfcs/1013-parsec-account.md
Due: none

Additional tests for `libarsec_account::Account::create_3_proceed`
  libparsec/crates/account/tests/unit/account_create/check_code.rs
  libparsec/crates/account/tests/unit/account_create/create.rs
Due: fmt, clippy

Remove no longer used `EmailValidationToken/ParsecAccountEmailValidationAddr/ParsecAccountActionAddr` types
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/types/src/addr.rs
  libparsec/crates/types/src/token.rs
  libparsec/crates/types/tests/unit/token.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/addrs.pyi
  server/parsec/_parsec_pyi/ids.pyi
  server/src/addrs.rs
  server/src/lib.rs
  server/src/token.rs
Due: fmt, clippy

Update `account_create_proceed` protocol schema with new `send_validation_code_required` error status
  bindings/generator/api/account.py
  libparsec/crates/account/src/account_create.rs
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_create_proceed.json5
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_create_proceed.rs
Due: fmt, clippy

Keep import of API command in `libparsec/crates/account/src/account_create.rs` consistent with the rest of the codebase
  libparsec/crates/account/src/account_create.rs
Due: fmt, clippy

Update protocol schema to correct `account_(recovery|delete)_send_validation_code` -> `...send_validation_email`
  libparsec/crates/protocol/schema/authenticated_account_cmds/account_delete_send_validation_email.json5
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/account_delete_send_validation_email.rs
Due: fmt, clippy

Update RFC1013 to modify `account_create_proceed` with `AccountCreateStep` field
  docs/rfcs/1013-parsec-account.md
Due: none

Rename email account create/delete email templates for consistency
  server/parsec/components/account.py
  server/parsec/templates/email/account_create.html.j2
  server/parsec/templates/email/account_create.txt.j2
  server/parsec/templates/email/account_delete.html.j2
  server/parsec/templates/email/account_delete.txt.j2
Due: none

Full rework of server-side implementation of `account_(create|delete)_(proceed|send_validation_email)`
  server/parsec/cli/__init__.py
  server/parsec/cli/export_email.py
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/parsec/components/memory/datamodel.py
  server/parsec/config.py
  server/parsec/templates/email/account_deletion.html.j2
  server/parsec/templates/email/account_deletion.txt.j2
  server/parsec/templates/email/account_validation.html.j2
  server/parsec/templates/email/account_validation.txt.j2
  server/parsec/templates/email/macros.html.j2
  server/tests/api_v5/anonymous_account/test_account_create_proceed.py
  server/tests/api_v5/authenticated_account/__init__.py
  server/tests/api_v5/authenticated_account/test_account_delete_confirm.py
  server/tests/api_v5/authenticated_account/test_account_delete_proceed.py
  server/tests/api_v5/authenticated_account/test_account_delete_send_code.py
  server/tests/api_v5/authenticated_account/test_account_delete_send_validation_email.py
  server/tests/common/account.py
  server/tests/common/backend.py
Due: none

Update bindings docs in README files
  bindings/README.md
  bindings/android/README.md
  bindings/electron/README.md
  bindings/generator/README.md
  bindings/web/README.md
Due: none

Add `AccountVaultItem::fingerprint`
  libparsec/crates/types/src/account.rs
  libparsec/crates/types/tests/unit/account.rs
Due: fmt, clippy

Implement `libparsec_account::Account::create_registration_device`
  libparsec/crates/account/src/create_registration_device.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/tests/unit/create_registration_device.rs
Due: fmt, clippy

Expose `account_create_registration_device` in bindings
  bindings/generator/api/account.py
  libparsec/crates/account/src/lib.rs
  libparsec/src/account.rs
Due: fmt, clippy

Rename device certificate purpose value `WebAuth` -> `Registration` according to RFC1015
  bindings/generator/api/client.py
  libparsec/crates/types/schema/certif/device_certificate.json5
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/tests/unit/certif.rs
  server/src/enumerate.rs
Due: fmt, clippy

Minor correction in error message in `client_start`&`libparsec_platform_device_loader` when device file cannot be loaded
  bindings/generator/api/client.py
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/src/client.rs
Due: fmt, clippy
