Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

RFC 1023 Async enrollment
  docs/rfcs/1023-async-enrollment.md
Due: none

Bump testbed server to 3.7.1-a.0.dev.20438.6ff3a33
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Add mock for OpenBao sign APIs in testbed server
  libparsec/crates/openbao/tests/unit/mod.rs
  server/parsec/cli/testbed.py
  server/tests/api_v5/anonymous_server/test_server_config.py
Due: fmt, clippy

Add RFC 1024 PKI-based device storage
  docs/rfcs/1024-pki-device-storage.md
Due: none

Create `libparsec_types::AsyncEnrollmentID`
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/types/src/id.rs
  server/src/ids.rs
Due: fmt, clippy

Add server implementation of `async_enrollment_(submit|info|list|reject|accept)` commands
  server/parsec/backend.py
  server/parsec/components/async_enrollment.py
  server/parsec/components/memory/async_enrollment.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/factory.py
  server/parsec/components/postgresql/async_enrollment.py
  server/parsec/components/postgresql/factory.py
  server/parsec/events.py
  server/parsec/locks.py
  server/tests/api_v5/anonymous/__init__.py
  server/tests/api_v5/anonymous/test_async_enrollment_info.py
  server/tests/api_v5/anonymous/test_async_enrollment_submit.py
  server/tests/api_v5/authenticated/__init__.py
  server/tests/api_v5/authenticated/test_async_enrollment_accept.py
  server/tests/api_v5/authenticated/test_async_enrollment_list.py
  server/tests/api_v5/authenticated/test_async_enrollment_reject.py
Due: sqlfluff-in-python

Add Python bindings for `async_enrollment_(submit|info|list|reject|accept)`
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/async_enrollment.pyi
  server/parsec/_parsec_pyi/ids.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_cmds/v5/async_enrollment_info.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_cmds/v5/async_enrollment_submit.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/async_enrollment_accept.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/async_enrollment_list.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/async_enrollment_reject.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/events_listen.pyi
  server/src/data/async_enrollment.rs
  server/src/data/mod.rs
  server/src/lib.rs
  server/tests/common/rpc.py
Due: fmt, clippy

Introduce `libparsec_types::ParsecAsyncEnrollmentAddr`, and also improve `ParsecAnonymousAddr` conversion and tests for `ParsecPkiEnrollmentAddr`
  bindings/generator/api/addr.py
  libparsec/crates/client/src/client/pki_enrollment_info.rs
  libparsec/crates/client/src/client/pki_enrollment_submit.rs
  libparsec/crates/client/src/invite/organization.rs
  libparsec/crates/client_connection/tests/unit/anonymous.rs
  libparsec/crates/client_connection/tests/unit/testbed.rs
  libparsec/crates/types/src/addr.rs
  libparsec/crates/types/tests/unit/addr.rs
  libparsec/src/addr.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/addrs.pyi
  server/src/addrs.rs
Due: fmt, clippy

Factorize `impl_(load|dump)` macros in `libparsec_types`
  libparsec/crates/types/src/account.rs
  libparsec/crates/types/src/async_enrollment.rs
  libparsec/crates/types/src/lib.rs
  libparsec/crates/types/src/utils.rs
Due: fmt, clippy

Add `AsyncEnrollmentSubmitPayload/AsyncEnrollmentAcceptPayload/AsyncEnrollmentLocalPending` schemas to libparsec_types
  libparsec/crates/types/schema/async_enrollment/async_enrollment_accept_payload.json5
  libparsec/crates/types/schema/async_enrollment/async_enrollment_local_pending.json5
  libparsec/crates/types/schema/async_enrollment/async_enrollment_local_pending_cleartext_content.json5
  libparsec/crates/types/schema/async_enrollment/async_enrollment_submit_payload.json5
  libparsec/crates/types/src/async_enrollment.rs
  libparsec/crates/types/src/lib.rs
  libparsec/crates/types/tests/unit/async_enrollment.rs
Due: fmt, clippy

[PKI] Deduplicate certificate storage.
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/tests/api_v5/authenticated/test_pki_enrollment_list.py
Due: none

refactor(test-pki): Commit test-pki cert
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
  libparsec/crates/platform_pki/src/test_fixture.rs
  libparsec/crates/platform_pki/test-pki/Cert/alice.crt
  libparsec/crates/platform_pki/test-pki/Cert/alice.csr
  libparsec/crates/platform_pki/test-pki/Cert/alice.key
  libparsec/crates/platform_pki/test-pki/Cert/alice.pfx
  libparsec/crates/platform_pki/test-pki/Cert/bob.crt
  libparsec/crates/platform_pki/test-pki/Cert/bob.csr
  libparsec/crates/platform_pki/test-pki/Cert/bob.key
  libparsec/crates/platform_pki/test-pki/Cert/bob.pfx
  libparsec/crates/platform_pki/test-pki/Cert/mallory-encrypt.crt
  libparsec/crates/platform_pki/test-pki/Cert/mallory-encrypt.csr
  libparsec/crates/platform_pki/test-pki/Cert/mallory-encrypt.key
  libparsec/crates/platform_pki/test-pki/Cert/mallory-encrypt.pfx
  libparsec/crates/platform_pki/test-pki/Cert/mallory-sign.crt
  libparsec/crates/platform_pki/test-pki/Cert/mallory-sign.csr
  libparsec/crates/platform_pki/test-pki/Cert/mallory-sign.key
  libparsec/crates/platform_pki/test-pki/Cert/mallory-sign.pfx
  libparsec/crates/platform_pki/test-pki/Cert/old-boby.crt
  libparsec/crates/platform_pki/test-pki/Cert/old-boby.csr
  libparsec/crates/platform_pki/test-pki/Cert/old-boby.key
  libparsec/crates/platform_pki/test-pki/Cert/old-boby.pfx
  libparsec/crates/platform_pki/test-pki/Intermediate/glados_dev_team.crt
  libparsec/crates/platform_pki/test-pki/Intermediate/glados_dev_team.csr
  libparsec/crates/platform_pki/test-pki/Intermediate/glados_dev_team.key
  libparsec/crates/platform_pki/test-pki/Intermediate/glados_dev_team.pfx
  libparsec/crates/platform_pki/test-pki/Intermediate/glados_dev_team.srl
  libparsec/crates/platform_pki/test-pki/Root/aperture_science.crt
  libparsec/crates/platform_pki/test-pki/Root/aperture_science.key
  libparsec/crates/platform_pki/test-pki/Root/aperture_science.pfx
  libparsec/crates/platform_pki/test-pki/Root/aperture_science.srl
  libparsec/crates/platform_pki/test-pki/Root/black_mesa.crt
  libparsec/crates/platform_pki/test-pki/Root/black_mesa.key
  libparsec/crates/platform_pki/test-pki/Root/black_mesa.pfx
  libparsec/crates/platform_pki/test-pki/Root/black_mesa.srl
  misc/gen_test_pki.py
  server/tests/common/pki.py
Due: fmt, clippy

feat(server): Add option to load trusted anchor from dir
  Cargo.lock
  server/Cargo.toml
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/pki.pyi
  server/parsec/cli/pki.py
  server/parsec/cli/run.py
  server/src/data/mod.rs
  server/src/data/pki.rs
  server/tests/cli/test_pki.py
  server/tests/common/pki.py
Due: toml-fmt, fmt, clippy

[PKI] Move submit fixtures to common.
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
  server/tests/common/pki.py
Due: none

Add cli/README.md
  cli/README.md
Due: none

[PKI] Add Certificate not found error to protocol for pki_info.
  libparsec/crates/client/src/client/pki_enrollment_info.rs
  libparsec/crates/protocol/schema/anonymous_cmds/pki_enrollment_info.json5
  libparsec/crates/protocol/tests/anonymous_cmds/v5/pki_enrollment_info.rs
  server/parsec/_parsec_pyi/protocol/anonymous_cmds/v5/pki_enrollment_info.pyi
  server/parsec/components/pki.py
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
Due: fmt, clippy

[PKI] Add Certificate not found error to protocol for pki_list.
  libparsec/crates/client/src/client/pki_enrollment_list.rs
  libparsec/crates/protocol/schema/authenticated_cmds/pki_enrollment_list.json5
  libparsec/crates/protocol/tests/authenticated_cmds/v5/pki_enrollment_list.rs
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/pki_enrollment_list.pyi
  server/parsec/components/memory/datamodel.py
  server/parsec/components/pki.py
  server/tests/api_v5/authenticated/test_pki_enrollment_list.py
Due: fmt, clippy

fix(pki): Regen `test-pki` with supported RSA key
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/test_fixture.rs
  libparsec/crates/platform_pki/test-pki/Cert/alice.crt
  libparsec/crates/platform_pki/test-pki/Cert/alice.csr
  libparsec/crates/platform_pki/test-pki/Cert/alice.key
  libparsec/crates/platform_pki/test-pki/Cert/alice.pfx
  libparsec/crates/platform_pki/test-pki/Cert/bob.crt
  libparsec/crates/platform_pki/test-pki/Cert/bob.csr
  libparsec/crates/platform_pki/test-pki/Cert/bob.key
  libparsec/crates/platform_pki/test-pki/Cert/bob.pfx
  libparsec/crates/platform_pki/test-pki/Cert/mallory-encrypt.crt
  libparsec/crates/platform_pki/test-pki/Cert/mallory-encrypt.csr
  libparsec/crates/platform_pki/test-pki/Cert/mallory-encrypt.key
  libparsec/crates/platform_pki/test-pki/Cert/mallory-encrypt.pfx
  libparsec/crates/platform_pki/test-pki/Cert/mallory-sign.crt
  libparsec/crates/platform_pki/test-pki/Cert/mallory-sign.csr
  libparsec/crates/platform_pki/test-pki/Cert/mallory-sign.key
  libparsec/crates/platform_pki/test-pki/Cert/mallory-sign.pfx
  libparsec/crates/platform_pki/test-pki/Cert/old-boby.crt
  libparsec/crates/platform_pki/test-pki/Cert/old-boby.csr
  libparsec/crates/platform_pki/test-pki/Cert/old-boby.key
  libparsec/crates/platform_pki/test-pki/Cert/old-boby.pfx
  libparsec/crates/platform_pki/test-pki/Intermediate/glados_dev_team.crt
  libparsec/crates/platform_pki/test-pki/Intermediate/glados_dev_team.csr
  libparsec/crates/platform_pki/test-pki/Intermediate/glados_dev_team.key
  libparsec/crates/platform_pki/test-pki/Intermediate/glados_dev_team.pfx
  libparsec/crates/platform_pki/test-pki/Intermediate/glados_dev_team.srl
  libparsec/crates/platform_pki/test-pki/Root/aperture_science.crt
  libparsec/crates/platform_pki/test-pki/Root/aperture_science.key
  libparsec/crates/platform_pki/test-pki/Root/aperture_science.pfx
  libparsec/crates/platform_pki/test-pki/Root/aperture_science.srl
  libparsec/crates/platform_pki/test-pki/Root/black_mesa.crt
  libparsec/crates/platform_pki/test-pki/Root/black_mesa.key
  libparsec/crates/platform_pki/test-pki/Root/black_mesa.pfx
  libparsec/crates/platform_pki/test-pki/Root/black_mesa.srl
  libparsec/crates/platform_pki/tests/units/mod.rs
  libparsec/crates/platform_pki/tests/units/shared.rs
  misc/gen_test_pki.py
Due: toml-fmt, fmt, clippy

feat(server): Add binding to `load_submit_payload`
  libparsec/crates/client/src/client/pki_enrollment_list.rs
  libparsec/crates/platform_pki/src/errors.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/pki.pyi
  server/src/binding_utils.rs
  server/src/crypto.rs
  server/src/data/mod.rs
  server/src/data/pki.rs
  server/src/lib.rs
Due: fmt, clippy

feat(binding): Expose `remove_device_data`
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/common.py
  bindings/generator/api/device.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/src/device.rs
  libparsec/src/lib.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

Create platform_filesystem crate.
  Cargo.lock
  Cargo.toml
  libparsec/crates/platform_filesystem/Cargo.toml
  libparsec/crates/platform_filesystem/src/lib.rs
  libparsec/crates/platform_filesystem/tests/units/mod.rs
Due: toml-fmt, fmt, clippy

feat(server): Check submit payload with trusted anchor
  server/parsec/_parsec_pyi/pki.pyi
  server/parsec/cli/run.py
  server/parsec/components/memory/factory.py
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/parsec/components/postgresql/factory.py
  server/parsec/components/postgresql/pki.py
  server/parsec/components/postgresql/pki_submit.py
  server/parsec/config.py
  server/src/data/pki.rs
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
  server/tests/api_v5/authenticated/test_pki_enrollment_accept.py
  server/tests/api_v5/authenticated/test_pki_enrollment_list.py
  server/tests/api_v5/authenticated/test_pki_enrollment_reject.py
  server/tests/cli/test_pki.py
  server/tests/common/pki.py
  server/tests/test_pki_trustchain.py
Due: sqlfluff-in-python, fmt, clippy

Improve `(SigningKey|PrivateKey)::to_bytes()` to use zerozing on output
  libparsec/crates/crypto/src/rustcrypto/private.rs
  libparsec/crates/crypto/src/rustcrypto/sign.rs
  libparsec/crates/crypto/src/sodium/private.rs
  libparsec/crates/crypto/src/sodium/sign.rs
  libparsec/crates/crypto/tests/unit/private.rs
  libparsec/crates/crypto/tests/unit/sign.rs
  libparsec/crates/testbed/src/template/crc_hash.rs
  server/src/crypto.rs
Due: fmt, clippy

Add sign support to `libparsec_openbao`
  Cargo.lock
  libparsec/crates/openbao/Cargo.toml
  libparsec/crates/openbao/src/lib.rs
  libparsec/crates/openbao/src/opaque_key.rs
  libparsec/crates/openbao/src/sign.rs
  libparsec/crates/openbao/tests/unit/mod.rs
  libparsec/crates/openbao/tests/unit/opaque_key.rs
  libparsec/crates/openbao/tests/unit/sign.rs
Due: toml-fmt, fmt, clippy

Add async enrollement pending support in `platform_device_loader`
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
  libparsec/crates/platform_device_loader/tests/units/async_enrollment.rs
  libparsec/crates/platform_device_loader/tests/units/mod.rs
Due: fmt, clippy

`libparsec_client` implementation for async enrollment
  Cargo.lock
  libparsec/crates/client/Cargo.toml
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/invite/async_enrollment/accept.rs
  libparsec/crates/client/src/invite/async_enrollment/list.rs
  libparsec/crates/client/src/invite/async_enrollment/mod.rs
  libparsec/crates/client/src/invite/async_enrollment/reject.rs
  libparsec/crates/client/src/invite/async_enrollment/submit.rs
  libparsec/crates/client/src/invite/async_enrollment/submitter_finalize.rs
  libparsec/crates/client/src/invite/async_enrollment/submitter_forget.rs
  libparsec/crates/client/src/invite/async_enrollment/submitter_info.rs
  libparsec/crates/client/src/invite/async_enrollment/submitter_list_local.rs
  libparsec/crates/client/src/invite/mod.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/accept.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/full.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/list.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/mod.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/reject.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/submit.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/submitter_finalize.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/submitter_forget.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/submitter_info.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/submitter_list_local.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/utils.rs
  libparsec/crates/client/tests/unit/invite/bootstrap_organization.rs
  libparsec/crates/client/tests/unit/invite/mod.rs
  libparsec/crates/client/tests/unit/invite/utils.rs
Due: toml-fmt, fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Implement async enrollment support in libparsec bindings
  bindings/generator/api/__init__.py
  bindings/generator/api/addr.py
  bindings/generator/api/async_enrollment.py
  bindings/generator/api/common.py
  libparsec/src/async_enrollment.rs
  libparsec/src/device.rs
  libparsec/src/invite.rs
  libparsec/src/lib.rs
Due: fmt, clippy

Add `transit_mount_path` field to `libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5`
  libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/server_config.rs
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/server_config.pyi
Due: fmt, clippy

Add support for `openbao_transit_mount_path` field in server
  server/parsec/cli/run.py
  server/parsec/components/events.py
  server/parsec/config.py
  server/tests/api_v5/anonymous_server/test_server_config.py
Due: none

Fix GUI with new OpenBao's `transitMountPath` field
  client/src/components/devices/ChooseAuthentication.vue
  client/src/parsec/login.ts
  client/src/services/openBao.ts
  client/src/views/home/LoginPage.vue
  client/src/views/users/UpdateAuthenticationModal.vue
Due: eslint, vue-tsc, prettier

Update RFC1023 with new OpenBao's `transit_mount_path` field in `server_config` command
  docs/rfcs/1023-async-enrollment.md
Due: none

Add `openbao_transit_mount_path` to libparsec bindings
  bindings/generator/api/config.py
  bindings/generator/api/device.py
  libparsec/src/config.rs
  libparsec/src/device.rs
Due: fmt, clippy
