Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Fix `ParsecAddr::new` building invalid object when explicitly providing the default port
  libparsec/crates/types/src/addr.rs
  libparsec/crates/types/tests/unit/addr.rs
Due: fmt, clippy

Replace use of `ParsecAddr::new` on other addr types by Into conversion
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/types/src/addr.rs
  libparsec/crates/types/src/local_device.rs
  libparsec/crates/types/src/pki/mod.rs
Due: fmt, clippy

Remove client rejection based on user-agent header
  bindings/generator/api/config.py
  libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/server_config.rs
  libparsec/src/config.rs
  newsfragments/11628.feature.rst
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/server_config.pyi
  server/parsec/asgi/rpc.py
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/components/events.py
  server/parsec/config.py
  server/tests/api_v5/anonymous_server/test_server_config.py
  server/tests/common/backend.py
  server/tests/common/data.py
Due: fmt, clippy

Add `build_parsec_addr` in bindings
  bindings/generator/api/addr.py
  libparsec/src/addr.rs
Due: fmt, clippy

Make `ParsecAddr` serialisable as a regular http(s) URL
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/types/schema/local_device/device_file_account_vault.json5
  libparsec/crates/types/schema/local_device/device_file_keyring.json5
  libparsec/crates/types/schema/local_device/device_file_openbao.json5
  libparsec/crates/types/schema/local_device/device_file_password.json5
  libparsec/crates/types/schema/local_device/device_file_recovery.json5
  libparsec/crates/types/schema/local_device/device_file_smartcard.json5
  libparsec/crates/types/schema/local_device/local_device.json5
  libparsec/crates/types/schema/pki/local_pending_enrollment.json5
  libparsec/crates/types/src/addr.rs
  libparsec/crates/types/src/local_device.rs
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/src/pki/mod.rs
  libparsec/crates/types/tests/unit/addr.rs
Due: fmt, clippy

Change `AvailableDevice` to expose server URL as a `ParsecAddr`
  bindings/generator/api/device.py
  cli/src/commands/device/overwrite_server_url.rs
  cli/src/utils.rs
  cli/tests/integration/device/overwrite_server_url.rs
  cli/tests/integration/device_option.rs
  libparsec/crates/account/tests/unit/register_new_device.rs
  libparsec/crates/client/tests/unit/invite/claimer.rs
  libparsec/crates/client/tests/unit/invite/shamir.rs
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/strategy.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_device_loader/tests/units/mod.rs
  libparsec/crates/platform_device_loader/tests/units/save.rs
  libparsec/crates/platform_device_loader/tests/units/save_list.rs
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
  libparsec/crates/platform_device_loader/tests/units/strategy.rs
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
Due: fmt, clippy

Rename `libparsec_client::ServerConfig` -> `ServerOrganizationConfig`
  bindings/generator/api/client.py
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/config.rs
  libparsec/crates/client/src/monitors/server_config.rs
  libparsec/src/client.rs
  libparsec/src/config.rs
Due: fmt, clippy

Rename `_ParsecAccount.server` -> `serverAddr` for consistency in `client/src/parsec/account.ts`
  client/src/parsec/account.ts
Due: eslint, vue-tsc, prettier

Fix GUI with new `DeviceSaveStrategy::OpenBao` variant
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/profile/AuthenticationCard.vue
  client/src/parsec/login.ts
  client/src/parsec/types.ts
  client/src/views/organizations/creation/CreateOrganizationTrial.vue
Due: eslint, vue-tsc, prettier

Configure Playwright e2e tests in CI to fast-fail on first error
  .github/workflows/ci-web.yml
Due: none

Bump testbed server to 3.6.2-a.0.dev.20412.600fb06
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Add support for U16 in `bindings/generator/generate.py`
  bindings/generator/api/common.py
  bindings/generator/generate.py
  bindings/generator/templates/binding_electron_index.d.ts.j2
  bindings/generator/templates/binding_electron_meths.rs.j2
  bindings/generator/templates/binding_web_meths.rs.j2
  bindings/generator/templates/client_plugin_definitions.ts.j2
  server/parsec/cli/testbed.py
Due: none

Remove unused `RmpDecodeError` error in `libparsec/crates/platform_device_loader/src/web/error.rs`
  libparsec/crates/platform_device_loader/src/web/error.rs
Due: fmt, clippy

Introduce `libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5`
  libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/server_config.rs
Due: fmt, clippy

Implement anonymous server API `server_config` in server
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/server_config.pyi
  server/parsec/components/events.py
  server/tests/api_v5/anonymous_server/test_server_config.py
Due: none

Fix GUI with `ClientInfo.serverConfig` renamed to `serverOrganizationConfig`
  client/src/parsec/organization.ts
Due: eslint, vue-tsc, prettier

Add `is_default_port` is part of fields exposed to the bindings through `parse_parsec_addr`
  bindings/generator/api/addr.py
  libparsec/src/addr.rs
Due: fmt, clippy

Typo in `libparsec/crates/platform_device_loader/src/web/internal.rs`
  libparsec/crates/platform_device_loader/src/web/internal.rs
Due: fmt, clippy

Expose `libparsec::get_server_config` in the bindings
  bindings/generator/api/config.py
  libparsec/src/config.rs
Due: fmt, clippy

Fix GUI with `AvailableDevice.serverAddr` being a `ParsecAddr`
  client/src/common/device.ts
  client/src/common/organization.ts
  client/src/components/organizations/OrganizationCard.vue
  client/src/components/organizations/OrganizationSwitchPopover.vue
  client/src/parsec/account.ts
  client/src/parsec/login.ts
  client/src/parsec/pki.ts
  client/src/services/parsecServers.ts
  client/src/views/home/HomePage.vue
  client/src/views/menu/MainMenu.vue
  client/src/views/organizations/OrganizationInformationPage.vue
  client/src/views/organizations/creation/CreateOrganizationModal.vue
  client/tests/component/specs/testOrganizationCard.spec.ts
  client/tests/unit/specs/testParsecServers.spec.ts
Due: eslint, vue-tsc, prettier

Fix `libparsec_account` to remove `allowed_client_agent/account_vault_strategy` from `list_organizations` and no longer check vault strategy during `create_registration_device`
  bindings/generator/api/account.py
  libparsec/crates/account/src/create_registration_device.rs
  libparsec/crates/account/src/list_organizations.rs
  libparsec/crates/account/tests/unit/create_registration_device.rs
  libparsec/crates/account/tests/unit/list_organizations.rs
  libparsec/src/account.rs
Due: fmt, clippy

Remove useless part in `impl_transparent_data_format_conversion` macro
  libparsec/crates/types/src/data_macros.rs
Due: fmt, clippy

Temporary stub GUI support for OpenBao-based `DeviceSaveStrategy` (will be reworked in a subsequent PR)
  client/src/components/devices/ChooseAuthentication.vue
  client/tests/e2e/specs/auth_with_sso.spec.ts.disabled
  client/tests/unit/specs/testParsecServers.spec.ts.disabled
Due: eslint, vue-tsc, prettier

Use (now supported) U16 in `ParsedParsecAddr` exposed in the bindings
  bindings/generator/api/addr.py
  libparsec/src/addr.rs
Due: fmt, clippy

Change server run parameters to add openbao config and allowed-client-agent/account-vault-strategy moved from per-org to global to server config
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/config.py
  server/tests/common/backend.py
Due: none

Correct `client/src/parsec/pki.ts` to use serverAddr
  client/src/parsec/pki.ts
Due: eslint, vue-tsc, prettier

Restore pydantic_core as core_schemas are not exposed through pydantic
  server/poetry.lock
  server/pyproject.toml
Due: toml-fmt

feat(binding): Add fn to rm pki local pending
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/client.py
  bindings/generator/api/device.py
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/src/pki.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

feat(rust-log): Add crate to config log
  Cargo.lock
  Cargo.toml
  libparsec/crates/platform_log/Cargo.toml
  libparsec/crates/platform_log/examples/index.html
  libparsec/crates/platform_log/examples/log.rs
  libparsec/crates/platform_log/src/lib.rs
Due: toml-fmt, fmt, clippy

[MS] Fixed server matching
  client/src/services/parsecServers.ts
Due: eslint, vue-tsc, prettier

[MS] Update PKI admin UI
  client/src/components/organizations/OrganizationPkiRequest.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/home/OrganizationListPage.vue
  client/src/views/invitations/InvitationsPage.vue
  client/src/views/invitations/PkiRequestList.vue
  client/src/views/users/JoinWithSmartcardModal.vue
Due: eslint, vue-tsc, prettier

ci: Limit e2e test to front code change
  .github/filters/ci.yml
Due: none

Fix expected format of PKI enrollment URLs in GUI
  client/src/common/validators.ts
  client/src/parsec/pki.ts
  client/tests/e2e/specs/home_pki_requests.spec.ts
Due: eslint, vue-tsc, prettier

Introduce `libparsec_types::OpenBaoAuthType`
  libparsec/crates/types/src/lib.rs
  libparsec/crates/types/src/openbao.rs
  libparsec/crates/types/tests/unit/openbao.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/enumerate.pyi
  server/src/enumerate.rs
  server/src/lib.rs
Due: fmt, clippy
