Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

[MS] Auto-select the certificate when finalizing a PKI request
  client/src/parsec/async_enrollment.ts
  client/src/parsec/types.ts
  client/src/views/home/HomePage.vue
Due: eslint, vue-tsc, prettier

[platform_device_loader] isolate recovery related operations
  libparsec/crates/platform_device_loader/src/device/mod.rs
  libparsec/crates/platform_device_loader/src/device/recovery.rs
  libparsec/crates/platform_device_loader/src/lib.rs
Due: fmt, clippy

[platform_device_loader] isolate save device related operations
  libparsec/crates/platform_device_loader/src/device/mod.rs
  libparsec/crates/platform_device_loader/src/device/save.rs
  libparsec/crates/platform_device_loader/src/lib.rs
Due: fmt, clippy

[platform_device_loader] isolate list device related operation
  libparsec/crates/platform_device_loader/src/device/list.rs
  libparsec/crates/platform_device_loader/src/device/mod.rs
  libparsec/crates/platform_device_loader/src/lib.rs
Due: fmt, clippy

[platform_device_loader] isolate update device related operation
  libparsec/crates/platform_device_loader/src/device/mod.rs
  libparsec/crates/platform_device_loader/src/device/update.rs
  libparsec/crates/platform_device_loader/src/lib.rs
Due: fmt, clippy

Fix `libparsec_platform_device_loader`'s testbed not loading PKI protected devices
  libparsec/crates/platform_device_loader/src/testbed.rs
Due: fmt, clippy

[MS] Only create the event distributor if needed
  client/src/views/home/HomePage.vue
Due: eslint, vue-tsc, prettier

[platform_device_loader] isolate load device related operations
  libparsec/crates/platform_device_loader/src/device/load.rs
  libparsec/crates/platform_device_loader/src/device/load_ciphertext_key.rs
  libparsec/crates/platform_device_loader/src/device/mod.rs
  libparsec/crates/platform_device_loader/src/device/update.rs
  libparsec/crates/platform_device_loader/src/lib.rs
Due: fmt, clippy

[platform_device_loader] isolate remove device related operations
  libparsec/crates/platform_device_loader/src/device/mod.rs
  libparsec/crates/platform_device_loader/src/device/remove.rs
  libparsec/crates/platform_device_loader/src/lib.rs
Due: fmt, clippy

ci: Fix typo now detected by cspell
  .cspell/custom-words.txt
  .cspell/names.txt
  .github/workflows/docker-server.yml
  .github/workflows/publish.yml
  cli/src/macros.rs
  client/electron/scripts/copy_bindings.js
  client/src/components/workspaces/WorkspaceCategoriesMenu.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/about/AboutView.vue
  client/src/views/menu/MainMenu.vue
  client/src/views/workspaces/WorkspacesPage.vue
  client/src/views/workspaces/types.ts
  client/tests/component/specs/testDeviceCard.spec.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
  docs/rfcs/old/0019-investigate-using-http-sse-instead-of-websocket.md
  libparsec/crates/client/src/workspace/transactions/outbound_sync.rs
  libparsec/crates/platform_mountpoint/src/unix/filesystem.rs
  libparsec/crates/platform_mountpoint/src/unix/history.rs
  libparsec/crates/platform_storage/src/native/sql/create-certificates-table.sql
  libparsec/crates/protocol/schema/authenticated_cmds/events_listen.json5
  libparsec/crates/testbed/src/template/events.rs
  misc/releaser.py
  server/parsec/components/postgresql/migrations/0015_drop_email_unicode_support.sql
  server/parsec/components/postgresql/test_queries.py
  server/tests/realm_export/test_export.py
Due: sqlfluff, sqlfluff-in-python, fmt, clippy, eslint, vue-tsc, prettier

[platform_device_loader] isolate pki related operations
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/pki.rs
Due: fmt, clippy

[platform_device_loader] isolate async_enrollment related operations
  libparsec/crates/platform_device_loader/src/async_enrollment.rs
  libparsec/crates/platform_device_loader/src/lib.rs
Due: fmt, clippy

refactor(pki): Make `get_certificate_der` async
  Cargo.lock
  libparsec/crates/client/src/client/pki_enrollment_accept.rs
  libparsec/crates/client/src/client/pki_enrollment_finalize.rs
  libparsec/crates/client/src/client/pki_enrollment_info.rs
  libparsec/crates/client/src/client/pki_enrollment_list.rs
  libparsec/crates/client/src/client/pki_enrollment_submit.rs
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/examples/decode_cert_subject.rs
  libparsec/crates/platform_pki/examples/get_certificate_der.rs
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki/examples/verify_certificate.rs
  libparsec/crates/platform_pki/examples/verify_message.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/platform_pki/tests/units/encrypt.rs
  libparsec/crates/platform_pki/tests/units/sign.rs
  libparsec/crates/platform_pki/tests/units/utils.rs
  libparsec/src/async_enrollment.rs
Due: toml-fmt, fmt, clippy

refactor(pki): Make `list_*_certificate` async
  libparsec/crates/platform_pki/examples/list_trusted_roots.rs
  libparsec/crates/platform_pki/examples/verify_certificate.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/platform_pki/tests/units/list.rs
Due: fmt, clippy

[MS] Update locales and InvitationsPage to show error message when failing to list invitations
  client/src/components/organizations/OrganizationJoinRequest.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/header/HeaderPage.vue
  client/src/views/invitations/InvitationsPage.vue
  client/src/views/menu/MainMenu.vue
Due: eslint, vue-tsc, prettier

Update SQL to ensure all datatypes are consistently uppercase
  server/parsec/components/postgresql/migrations/0001_initial.sql
  server/parsec/components/postgresql/migrations/0004_non_blocking_invitation.sql
  server/parsec/components/postgresql/migrations/0012_allowed_client_agent_and_account_vault_strategy.sql
  server/parsec/components/postgresql/migrations/0013_account.sql
  server/parsec/components/postgresql/migrations/0016_pki_enrollment_add_sign_algo.sql
  server/parsec/components/postgresql/migrations/0019_certificate_table.sql
  server/parsec/components/postgresql/migrations/0020_async_enrollment.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
Due: sqlfluff

Add cancel cmd to rfc 1023 async enrollment.
  docs/rfcs/1023-async-enrollment.md
Due: none

[MS] Fixed typo
  client/src/locales/en-US.json
Due: none

[platform_device_loader] rework archive device error.
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/device.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/platform_device_loader/src/device/archive.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] Fixed translations
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: none

[platform_device_loader] rework update device error.
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/device.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/platform_device_loader/src/device/update.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] Async enrollment test
  client/src/parsec/async_enrollment.ts
  client/src/parsec/types.ts
  client/src/parsec/workspace.ts
  client/src/views/home/HomePage.vue
  client/src/views/users/AsyncEnrollmentModal.vue
  client/src/views/users/BulkRoleAssignmentModal.vue
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/types.ts
  client/tests/e2e/specs/async_enrollment.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Rework CSP to make it simpler
  client/electron/src/cspRules.ts
  client/src/main.ts
Due: eslint, vue-tsc, prettier

Add `libparsec/crates/protocol/schema/anonymous_cmds/async_enrollment_cancel.json5`
  libparsec/crates/protocol/schema/anonymous_cmds/async_enrollment_cancel.json5
Due: none

Implement `async_enrollment_cancel` on server
  server/parsec/components/async_enrollment.py
  server/parsec/components/memory/async_enrollment.py
  server/parsec/components/postgresql/async_enrollment.py
  server/parsec/components/postgresql/async_enrollment_cancel.py
  server/tests/api_v5/anonymous/__init__.py
  server/tests/api_v5/anonymous/test_async_enrollment_cancel.py
  server/tests/api_v5/anonymous/test_async_enrollment_info.py
Due: sqlfluff-in-python

Replace `submitter_forget_async_enrollment` by `submitter_cancel_async_enrollment`
  bindings/generator/api/async_enrollment.py
  libparsec/crates/client/src/invite/async_enrollment/mod.rs
  libparsec/crates/client/src/invite/async_enrollment/submitter_cancel.rs
  libparsec/crates/client/src/invite/async_enrollment/submitter_forget.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/mod.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/submitter_cancel.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/submitter_forget.rs
  libparsec/crates/protocol/tests/anonymous_cmds/v5/async_enrollment_cancel.rs
  libparsec/src/async_enrollment.rs
Due: fmt, clippy

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
