Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

[MS] Updated code in electron following packages updates
  client/electron/assets/package.json
  client/electron/live-runner.cjs
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/scripts/before-pack.cjs
  client/electron/scripts/copy_bindings.cjs
  client/electron/snap/snapcraft.yaml
  client/electron/src/envVariables.ts
  client/electron/src/features.ts
  client/electron/src/index.ts
  client/electron/src/preload.ts
  client/electron/src/rt/electron-plugins.ts
  client/electron/src/rt/electron-rt.ts
  client/electron/src/setup.ts
  client/electron/src/updater.ts
  client/electron/src/utils.ts
  client/electron/src/winRegistry.ts
  client/electron/tsconfig.json
  misc/version_updater.py
Due: eslint, vue-tsc, prettier

[MS] Added a sequencer to avoid all event-based modals opening at once
  client/src/main.ts
  client/src/views/layouts/ConnectedLayout.vue
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/client_events.spec.ts
Due: eslint, vue-tsc, prettier

[MS] forces auth & totp according to server rules
  client/src/assets/images/login-mfa-required.svg
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/server.ts
  client/src/theme/components/_modals.scss
  client/src/views/layouts/ConnectedLayout.vue
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/profile/TotpRequiredModal.vue
  client/src/views/totp/ActivateTotpModal.vue
  client/src/views/users/UpdateAuthenticationModal.vue
  client/tests/e2e/specs/authentication.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Added semver types as dependency
  client/package-lock.json
  client/package.json
Due: none

[MS] Fixed fullscreen test for pdf viewer
  client/tests/e2e/specs/file_viewers_pdf.spec.ts
Due: eslint, vue-tsc, prettier

docs: Fix wrong section levels & add sections for major branches
  HISTORY.rst
Due: none

Add `SKIP_VITE_BUILD_FOR_NATIVE` environ variable to disable `client/scripts/vite_build_for_native.cjs` when running `npm run electron:open`
  client/scripts/vite_build_for_native.cjs
Due: eslint, prettier

Update `client/README.md`
  client/README.md
Due: none

Use `p_assert_eq` in `libparsec/crates/platform_pki/tests/units/testbed.rs`
  libparsec/crates/platform_pki/tests/units/testbed.rs
Due: fmt, clippy

Add support for CLR in `libparsec_platform_pki::verify_message()`
  libparsec/crates/platform_pki/examples/verify_message.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/pki_system.rs
  libparsec/crates/platform_pki/src/shared/verify.rs
  libparsec/crates/platform_pki/src/testbed.rs
  libparsec/crates/platform_pki/src/unix/pki_system.rs
  libparsec/crates/platform_pki/src/web/pki_system.rs
  libparsec/crates/platform_pki/src/windows/pki_certificate.rs
  libparsec/crates/platform_pki/src/windows/pki_system.rs
  libparsec/crates/platform_pki/tests/units/shared.rs
  libparsec/crates/platform_pki/tests/units/sign.rs
  libparsec/crates/platform_pki/tests/units/testbed.rs
  libparsec/crates/platform_pki/tests/units/utils.rs
  libparsec/src/async_enrollment.rs
  libparsec/src/pki.rs
Due: fmt, clippy

Add support for CRL in `misc/gen_test_pki.py` script
  misc/gen_test_pki.py
Due: none

Add CRL-related tests in `libparsec_platform_pki`
  libparsec/crates/platform_pki/tests/units/list.rs
  libparsec/crates/platform_pki/tests/units/shared.rs
  libparsec/crates/platform_pki/tests/units/utils.rs
Due: fmt, clippy

Skip generation of existing certificates in `misc/gen_test_pki.py`
  misc/gen_test_pki.py
Due: none

Fix PKI certificate store lookup on Windows
  libparsec/crates/platform_pki/src/windows/pki_system.rs
Due: fmt, clippy

Add CRL support in `libparsec/crates/platform_pki/examples/import_testpki_windows.ps1`
  libparsec/crates/platform_pki/examples/import_testpki_windows.ps1
Due: none

Update tests certificates in `libparsec/crates/platform_pki/test-pki` to add CRL
  .cspell/names.txt
  libparsec/crates/platform_pki/test-pki/CRL/black_mesa.crl
  libparsec/crates/platform_pki/test-pki/Cert/gordon.crt
  libparsec/crates/platform_pki/test-pki/Cert/gordon.csr
  libparsec/crates/platform_pki/test-pki/Cert/gordon.key
  libparsec/crates/platform_pki/test-pki/Cert/gordon.pfx
  libparsec/crates/platform_pki/test-pki/Cert/revoked_breen.crt
  libparsec/crates/platform_pki/test-pki/Cert/revoked_breen.csr
  libparsec/crates/platform_pki/test-pki/Cert/revoked_breen.key
  libparsec/crates/platform_pki/test-pki/Cert/revoked_breen.pfx
  libparsec/crates/platform_pki/test-pki/Intermediate/revoked_anomalous_materials_laboratories.crt
  libparsec/crates/platform_pki/test-pki/Intermediate/revoked_anomalous_materials_laboratories.csr
  libparsec/crates/platform_pki/test-pki/Intermediate/revoked_anomalous_materials_laboratories.key
  libparsec/crates/platform_pki/test-pki/Intermediate/revoked_anomalous_materials_laboratories.pfx
  libparsec/crates/platform_pki/test-pki/Intermediate/revoked_anomalous_materials_laboratories.srl
  libparsec/crates/platform_pki/test-pki/README.md
  libparsec/crates/platform_pki/test-pki/Root/black_mesa.srl
  libparsec/crates/platform_pki/tests/units/utils.rs
Due: fmt, clippy

Correct certificate fingerprint for Glodos & Aperture Science in `libparsec/crates/platform_pki/tests/units/utils.rs`
  libparsec/crates/platform_pki/tests/units/utils.rs
Due: fmt, clippy

Add CRL support in `libparsec/crates/platform_pki/examples/import_testpki_softhsm2.sh`
  libparsec/crates/platform_pki/examples/import_testpki_softhsm2.sh
Due: none

Improve loading of test PKI certificates on Linux
  .cspell/custom-words.txt
  libparsec/crates/platform_pki/README.md
  libparsec/crates/platform_pki/examples/create_testpki_softhsm2.sh
  libparsec/crates/platform_pki/examples/import_testpki_softhsm2.sh
  libparsec/crates/platform_pki/examples/import_testpki_windows.ps1
Due: none

Make excutable `libparsec/crates/platform_pki/examples/import_testpki_softhsm2.sh`
  libparsec/crates/platform_pki/examples/import_testpki_softhsm2.sh
Due: none

refactor(server): Extract SCWS options + support loading pkey content from option
  .cspell/custom-words.txt
  server/parsec/cli/run.py
  server/parsec/cli/scws.py
  server/tests/cli/common.py
  server/tests/cli/test_run.py
Due: none

[MS] Setup shamir recovery
  client/.env.development
  client/README.md
  client/src/components/profile/ShamirOthers.vue
  client/src/components/profile/ShamirSelf.vue
  client/src/components/profile/ShamirSelfDisplay.vue
  client/src/components/profile/ShamirSetup.vue
  client/src/parsec/index.ts
  client/src/parsec/shamir.ts
  client/src/parsec/types.ts
  client/src/parsec/user.ts
  client/src/services/environment.ts
  client/src/views/profile/OrganizationRecoveryPage.vue
  client/src/views/profile/ShamirRecoveryModal.vue
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/types.ts
Due: eslint, vue-tsc, prettier

[MS] Update parsec documentation theme
  docs/_static/parsec_theme.css
Due: none

[MS] Add MFA requirement information on organization information page
  client/src/assets/images/person-check.svg
  client/src/assets/images/person-freeze.svg
  client/src/assets/images/person-remove.svg
  client/src/assets/images/shield-cancel.svg
  client/src/components/organizations/OrganizationConfigurationInformation.vue
  client/src/components/organizations/OrganizationStorageInformation.vue
  client/src/components/organizations/OrganizationUserInformation.vue
  client/src/components/users/types.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/router/types.ts
  client/src/views/organizations/OrganizationInformationPage.vue
Due: eslint, vue-tsc, prettier

[MS] Update lost recovery UI
  client/src/components/devices/ChooseAuthentication.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_modals.scss
  client/src/views/devices/ChooseRecoveryMethodModal.vue
  client/src/views/devices/ImportRecoveryDevice.vue
  client/src/views/devices/ImportRecoveryDevicePage.vue
  client/src/views/devices/types.ts
  client/src/views/home/DeviceJoinOrganizationModal.vue
  client/src/views/home/HomePage.vue
  client/src/views/home/HomePageHeader.vue
  client/src/views/home/OrganizationListPage.vue
  client/tests/e2e/specs/device_greet.spec.ts
  client/tests/e2e/specs/home_page.spec.ts
  client/tests/e2e/specs/recovery_device.spec.ts
  client/tests/e2e/specs/sidebar.spec.ts
Due: eslint, vue-tsc, prettier

RFC 1027 Workspace chain of command
  docs/rfcs/1027-workspace-chain-of-command.md
Due: none

Update RFC 1028 (Workspace archiving) to handle `realm_self_promote_to_owner` command
  docs/rfcs/1028-workspace-archiving-in-parsec-v3.md
Due: none

[SCWS] Implement get_validation_path for PlatformPkiCertificate
  libparsec/crates/platform_pki/src/web/pki_certificate.rs
Due: fmt, clippy

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
