Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Add `libparsec::workspace_register_cryptpad_session`
  bindings/generator/api/workspace.py
  libparsec/src/workspace.rs
Due: fmt, clippy

Add `WorkspaceOps::register_cryptpad_session`
  libparsec/crates/client/src/certif/mod.rs
  libparsec/crates/client/src/workspace/mod.rs
  libparsec/crates/client/src/workspace/transactions/mod.rs
  libparsec/crates/client/src/workspace/transactions/register_cryptpad_session.rs
  libparsec/crates/client/tests/unit/workspace/cryptpad.rs
  libparsec/crates/client/tests/unit/workspace/mod.rs
Due: fmt, clippy

Add `origin` field in `FileManifest`&`LocalFileManifest`
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/testbed/src/template/crc_hash.rs
  libparsec/crates/testbed/src/template/events.rs
  libparsec/crates/types/schema/local_manifest/local_file_manifest.json5
  libparsec/crates/types/schema/manifest/file_manifest.json5
  libparsec/crates/types/src/local_manifest/file.rs
  libparsec/crates/types/src/manifest.rs
  libparsec/crates/types/tests/unit/local_file_manifest.rs
  libparsec/crates/types/tests/unit/manifest.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/manifest.pyi
  server/src/data/manifest.rs
  server/src/data/mod.rs
  server/tests/test_base.py
Due: fmt, clippy

Correct manifest merge to handle the new `origin` field in `FileManifest`&`LocalFileManifest`
  libparsec/crates/client/src/workspace/merge.rs
  libparsec/crates/client/src/workspace/transactions/inbound_sync.rs
  libparsec/crates/client/tests/unit/workspace/inbound_sync_file.rs
  libparsec/crates/client/tests/unit/workspace/merge_file.rs
  libparsec/crates/client/tests/unit/workspace_history_store_cache.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

chore(docs): Migrate from `poetry` to `uv`
  .github/dependabot.yml
  .github/workflows/ci-docs.yml
  .readthedocs.yml
  docs/Dockerfile
  docs/README.md
  docs/poetry.lock
  docs/pyproject.toml
  docs/uv.lock
  misc/version_updater.py
Due: toml-fmt

[MS] Refactoring of file actions
  client/playwright.config.ts
  client/src/plugins/libparsec/index.ts
  client/src/services/contextMenu/fileActions.ts
  client/src/services/contextMenu/fileContextMenu.ts
  client/src/services/contextMenu/index.ts
  client/src/views/files/FoldersPage.vue
  client/src/views/files/utils.ts
  client/tests/e2e/specs/document_context_menu.spec.ts
Due: eslint, vue-tsc, prettier

docs(rst): Add block on english only documentation
  docs/conf.py
  docs/hosting/deployment/server-deploy.rst
  docs/hosting/deployment/webapp/idopte-pki-web.rst
  docs/hosting/deployment/webapp/index.rst
Due: none

refactor(hosting): Use `cfssl` to generate TLS testing certificate
  docs/hosting/deployment/ca-config.json
  docs/hosting/deployment/ca-csr.json
  docs/hosting/deployment/parsec-csr.json
  docs/hosting/deployment/parsec-nginx.conf
  docs/hosting/deployment/proxy-csr.json
  docs/hosting/deployment/s3-csr.json
  docs/hosting/deployment/setup-tls.sh
Due: none

Bump testbed server to 3.9.3-a.0.dev.20648.a5d5731
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Add `libparsec::workspace_save_and_sync_file_with_cryptpad`
  bindings/generator/api/workspace.py
  libparsec/crates/client/src/workspace/transactions/save_and_sync_file_with_origin.rs
  libparsec/src/workspace.rs
Due: fmt, clippy

Improve documentation in `libparsec_client` about `NoRealmAccess` error type behind used when the client has read access (i.e. is missing write access)
  libparsec/crates/client/src/workspace/transactions/register_cryptpad_session.rs
  libparsec/crates/client/src/workspace/transactions/save_and_sync_file_with_origin.rs
Due: fmt, clippy

Add `WorkspaceOps::save_and_sync_file_with_origin`
  libparsec/crates/client/src/workspace/mod.rs
  libparsec/crates/client/src/workspace/transactions/mod.rs
  libparsec/crates/client/src/workspace/transactions/save_and_sync_file_with_origin.rs
  libparsec/crates/client/tests/unit/workspace/mod.rs
  libparsec/crates/client/tests/unit/workspace/save_and_sync_file_with_origin.rs
Due: fmt, clippy

Simplify return value for transaction `open_file_by_id`
  libparsec/crates/client/src/workspace/mod.rs
  libparsec/crates/client/src/workspace/transactions/open_file.rs
Due: fmt, clippy

A documentation about `not_allowed` error status in `libparsec/crates/protocol/schema/authenticated_cmds/cryptpad_register_session.json5`
  libparsec/crates/protocol/schema/authenticated_cmds/cryptpad_register_session.json5
Due: none

[MS] Adds context menu to workspace search results
  client/package.json
  client/src/components/files/explorer/FileSearchResultItem.vue
  client/src/components/files/explorer/FileSearchResults.vue
  client/src/services/contextMenu/fileContextMenu.ts
  client/src/services/contextMenu/index.ts
  client/src/services/contextMenu/types.ts
  client/src/views/files/FoldersPage.vue
  client/src/views/files/types.ts
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

[MS] Add rich text to archive and delete workspace modals
  client/package.json
  client/src/components/invitations/InviteModal.vue
  client/src/components/workspaces/utils.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/invitations/AsyncEnrollmentRequestList.vue
  client/tests/e2e/specs/client_events.spec.ts
  client/tests/e2e/specs/document_context_menu.spec.ts
  client/tests/e2e/specs/invitations_popover.spec.ts
  client/tests/e2e/specs/users_list.spec.ts
  client/tests/e2e/specs/workspace_trash.spec.ts
Due: eslint, vue-tsc, prettier

chore(server): Migrate from `poetry` to `uv`
  .github/CODEOWNERS
  .github/actions/setup-python-poetry/action.yml
  .github/dependabot.yml
  .github/filters/ci.yml
  .github/filters/codeql.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
  .github/workflows/codeql.yml
  .github/workflows/package-server.yml
  .github/workflows/releaser.yml
  .pre-commit-config.yaml
  bindings/generator/README.md
  cli/src/testenv_utils.rs
  docs/development/README.md
  libparsec/crates/testbed/src/scope.rs
  libparsec/crates/types/README.md
  make.py
  misc/list_important_dependencies.py
  misc/version_updater.py
  misc/versions.toml
  server/README.md
  server/build.py
  server/packaging/server/in-docker-build.sh
  server/packaging/testbed-server/build.sh
  server/packaging/testbed-server/in-docker-build.sh
  server/packaging/wheel/wheel_it.py
  server/poetry.lock
  server/pyproject.toml
  server/tests/cli/common.py
  server/uv.lock
Due: toml-fmt, fmt, clippy

fix(hosting): Correct certificat path for proxy
  docs/hosting/deployment/parsec-nginx.conf
Due: none

doc: Add section for cryptpad deployment
  docs/Makefile
  docs/hosting/deployment/editics/404-welcome-cryptpad.png
  docs/hosting/deployment/editics/index.rst
  docs/hosting/deployment/editics/parsec-cryptpad.env
  docs/hosting/deployment/editics/parsec-nginx.conf.cryptpad.patch
  docs/hosting/deployment/editics/parsec-server.docker.yaml.cryptpad.patch
  docs/index.rst
Due: none

chore(dependabot): Add missing `curve25519-dalek` to rust-crypto group
  .github/dependabot.yml
Due: none

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
