Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Split PkiRequestItem and InvitationItem components from PkiRequestList and InvitationList
  client/src/components/invitations/InvitationItem.vue
  client/src/components/invitations/PkiRequestItem.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/invitations/InvitationList.vue
  client/src/views/invitations/InvitationsPage.vue
  client/src/views/invitations/PkiRequestList.vue
  client/src/views/invitations/SelectProfileModal.vue
Due: eslint, vue-tsc, prettier

fix(ci-publish): Only publish on edited release
  .github/workflows/publish.yml
Due: none

fix(python): Defined a README that is valid to PyPI
  server/pypi-readme.md
  server/pyproject.toml
Due: toml-fmt

Update .github/workflows/publish.yml
  .github/workflows/publish.yml
Due: none

fix(ci-publish): Only publish on edited release (#11143)
  .github/workflows/publish.yml
Due: none

ci(pr-target-release): Fix using `server` instead of `server_url`
  .github/workflows/when-pr-targeting-releases-branch-is-closed.yml
Due: none

ci(pr-target-release): Fix using `server` instead of `server_url` (#11145)
  .github/workflows/when-pr-targeting-releases-branch-is-closed.yml
Due: none

fix(python): Defined a README that is valid to PyPI (#11144)
  server/pypi-readme.md
  server/pyproject.toml
Due: toml-fmt

backport: chore(rust): Update web dependencies
  Cargo.lock
  Cargo.toml
Due: toml-fmt

backport: Bump libsodium-rs to v0.2.0
  Cargo.lock
  Cargo.toml
  libparsec/crates/crypto/src/sodium/private.rs
Due: toml-fmt, fmt, clippy

backport: fixup! ci(rust): Run `cargo-deny` check with all features
  .github/workflows/ci-rust.yml
  deny.toml
Due: toml-fmt

backport: chore(rust): Update `fuser` to 0.16.0
  Cargo.lock
  Cargo.toml
  libparsec/crates/platform_mountpoint/src/unix/filesystem.rs
Due: toml-fmt, fmt, clippy

chore(rust): Update backtrace to `0.3.75`
  Cargo.lock
Due: none

Added responsive and action copy to clipboard for PKI
  client/src/components/invitations/InvitationItem.vue
  client/src/components/invitations/PkiRequestItem.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_list.scss
  client/src/theme/components/_modals.scss
  client/src/views/header/HeaderPage.vue
  client/src/views/invitations/InvitationList.vue
  client/src/views/invitations/InvitationSwitchModal.vue
  client/src/views/invitations/InvitationsPage.vue
  client/src/views/invitations/PkiRequestList.vue
  client/src/views/invitations/types.ts
  client/src/views/menu/MainMenu.vue
  client/src/views/menu/TabBarMenu.vue
  client/src/views/users/UsersPage.vue
  client/src/views/users/types.ts
Due: eslint, vue-tsc, prettier

Add startup check in `parsec run` to ensure the DB has applied all migrations
  newsfragments/8709.feature.rst
  server/parsec/cli/run.py
Due: none

Optimize SQL query for `organization_stats/organization_server_stats`
  server/parsec/components/postgresql/organization_stats.py
  server/tests/administration/test_stats.py
Due: none

[MS] Update organization information page for responsive
  client/src/components/organizations/OrganizationConfigurationInformation.vue
  client/src/components/organizations/OrganizationStorageInformation.vue
  client/src/components/organizations/OrganizationUserInformation.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/organizations/OrganizationInformationPage.vue
Due: eslint, vue-tsc, prettier

Update CI to use PostgreSQL 16
  .github/workflows/ci-python.yml
Due: none

Bump version 3.5.0-rc.1+dev -> 3.5.0
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.5.0 -> 3.5.1-a.0+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Backport rust dependencies changes (#11146)
  .github/workflows/ci-rust.yml
  Cargo.lock
  Cargo.toml
  deny.toml
  libparsec/crates/crypto/src/sodium/private.rs
  libparsec/crates/platform_mountpoint/src/unix/filesystem.rs
Due: toml-fmt, fmt, clippy

Bump PostgreSQL from v14 to v16
  .github/workflows/ci-python.yml
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  misc/versions.toml
Due: toml-fmt

[MS] Update authentication UI
  client/src/assets/images/Homepage/Profile/Card/keypad-gradient.svg
  client/src/assets/images/id-card-gradient.svg
  client/src/assets/images/keypad-gradient.svg
  client/src/assets/images/person-circle-gradient.svg
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/organizations/OrganizationCard.vue
  client/src/components/profile/AuthenticationCard.vue
  client/src/components/profile/types.ts
  client/src/components/sas-code/SasCodeChoice.vue
  client/src/components/sidebar/SidebarMenuList.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_modals.scss
  client/src/theme/global.scss
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/users/UpdateAuthenticationModal.vue
  client/tests/e2e/specs/device_greet.spec.ts
  client/tests/e2e/specs/my_profile_page.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Change save icon to a disk icon
  client/package-lock.json
  client/package.json
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/files/handler/FileHandler.vue
Due: eslint, vue-tsc, prettier

[WIP] Implement smartcard section form save/load_device.
  Cargo.lock
  Cargo.toml
  cli/src/commands/device/change_authentication.rs
  cli/src/commands/device/overwrite_server_url.rs
  cli/src/utils.rs
  libparsec/crates/platform_device_loader/Cargo.toml
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/types/Cargo.toml
  libparsec/crates/types/schema/local_device/device_file_smartcard.json5
  libparsec/crates/types/src/local_device_file.rs
Due: toml-fmt, fmt, clippy

[MS] Fix back button (responsive) for Parsec account
  client/src/views/account/AccountLoginPage.vue
  client/src/views/account/CreateAccountPage.vue
  client/src/views/account/RecoverAccountPage.vue
  client/src/views/home/AccountHomePage.vue
  client/src/views/home/HomePageButtons.vue
  client/tests/e2e/specs/account_create.spec.ts
  client/tests/e2e/specs/create_organization.spec.ts
Due: eslint, vue-tsc, prettier

Add smartcard test for save_load device test.
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
Due: fmt, clippy

Bump PostgreSQL to 16.10
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  misc/versions.toml
Due: toml-fmt

[MS] Hopefully fixes flaky tests
  client/tests/e2e/specs/file_viewers.spec.ts
  client/tests/e2e/specs/sidebar.spec.ts
  client/tests/e2e/specs/workspaces_actions.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Adds invitation page
  client/src/assets/images/certificate-icon.svg
  client/src/common/clipboard.ts
  client/src/components/header/InvitationsButton.vue
  client/src/components/invitations/InvitationItem.vue
  client/src/components/invitations/PkiRequestItem.vue
  client/src/components/organizations/OrganizationUserInformation.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/pki.ts
  client/src/router/types.ts
  client/src/theme/components/_list.scss
  client/src/theme/components/_modals.scss
  client/src/theme/global.scss
  client/src/views/header/HeaderPage.vue
  client/src/views/invitations/InvitationList.vue
  client/src/views/invitations/InvitationSwitchModal.vue
  client/src/views/invitations/InvitationsPage.vue
  client/src/views/invitations/PkiRequestList.vue
  client/src/views/invitations/SelectProfileModal.vue
  client/src/views/invitations/types.ts
  client/src/views/menu/MainMenu.vue
  client/src/views/menu/TabBarMenu.vue
  client/src/views/users/UsersPage.vue
  client/src/views/users/types.ts
  newsfragments/11131.feature.rst
Due: eslint, vue-tsc, prettier

feat(pki): Sign message using cert store
  Cargo.lock
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/examples/get_certificate_der.rs
  libparsec/crates/platform_pki/examples/list_certificate.rs
  libparsec/crates/platform_pki/examples/sign_message.rs
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
Due: toml-fmt, fmt, clippy

[MS] Fix Sortby not working in Firefox
  client/src/components/files/types.ts
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/download_file.spec.ts
  client/tests/e2e/specs/file_editor.spec.ts
  client/tests/e2e/specs/file_viewers.spec.ts
  client/tests/e2e/specs/options_tab_menu.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Fixed e2e tests related to invitations
  client/tests/e2e/helpers/assertions.ts
  client/tests/e2e/helpers/greet.ts
  client/tests/e2e/specs/sidebar.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
Due: eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
