Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

fixup! WIP Kloot step 0 server side
  server/parsec/asgi/editics.py
  server/parsec/components/editics/__init__.py
  server/parsec/components/editics/base.py
  server/parsec/components/editics/memory.py
  server/parsec/components/editics/transport.py
Due: none

WIP: add OnlyOffice captured requests logs
  notes/requests/1_create_session.md
  notes/requests/2_join_existing_session.md
  notes/requests/3_user_join_our_session.md
  notes/requests/4_move_cursor.md
  notes/requests/5_add_character.md
Due: none

Kloot server step 1 A
  server/parsec/components/editics.py
  server/tests/test_editics.py
Due: none

wip
  notes/scratch.md
Due: none

WIP: RFC 1030 collaborative editics
  docs/rfcs/1030-collaborative-editics.md
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/README.md
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/monitor.js
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/package-lock.json
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/package.json
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/run-demo.js
  docs/rfcs/1030-collaborative-editics/oo_example_session.md
Due: none

Kloot step 1 stabilize
  client/public/onlyoffice-editics-client.js
  client/public/onlyoffice-host.html
  client/src/services/onlyoffice.ts
  client/src/views/files/handler/editor/FileEditor.vue
  client/tests/unit/specs/testEditicsClient.spec.ts
Due: eslint, vue-tsc, prettier

KLOOT: fix onlyoffice-mock-server incorrectly using path to identify the document
  client/public/onlyoffice-mock-server.js
  client/src/views/files/handler/FileHandler.vue
  client/src/views/files/handler/editor/FileEditor.vue
  client/src/views/files/handler/viewer/utils.ts
Due: eslint, vue-tsc, prettier

WIP Kloot step 0 client side
  client/public/onlyoffice-host.html
  client/src/services/onlyoffice.ts
  client/src/views/files/handler/editor/FileEditor.vue
Due: eslint, vue-tsc, prettier

KLOOT: Add OnlyOffice to Parsec GUI
  client/.gitignore
  client/eslint.config.ts
  client/public/onlyoffice-host.html
  client/public/onlyoffice-templates/cell.bin
  client/public/onlyoffice-templates/slide.bin
  client/public/onlyoffice-templates/word.bin
  client/src/common/fileTypes.ts
  client/src/services/contextMenu/fileContextMenu.ts
  client/src/services/cryptpad.ts
  client/src/services/onlyoffice.ts
  client/src/services/pathOpener.ts
  client/src/views/files/FoldersPage.vue
  client/src/views/files/handler/FileHandler.vue
  client/src/views/files/handler/editor/FileEditor.vue
  client/vendors/onlyoffice/README.md
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

KLOOT: fix OnlyOffice locking and edits
  client/public/onlyoffice-host.html
  client/public/onlyoffice-mock-server.js
Due: eslint, prettier

remove old notes
  notes/communication_protocol.md
  notes/onlyoffice_protocol_types.md
  notes/parsec_protocol_schemas.md
  notes/requests/1_create_session.md
  notes/requests/2_join_existing_session.md
  notes/requests/3_user_join_our_session.md
  notes/requests/4_move_cursor.md
  notes/requests/5_add_character.md
  notes/save_strategy.md
  notes/scratch.md
Due: none

fixup! WIP Kloot step 0 server side
  server/parsec/asgi/editics.py
  server/parsec/components/editics.py
  server/parsec/components/editics/__init__.py
  server/parsec/components/editics/memory.py
  server/parsec/components/memory/editics.py
  server/parsec/components/postgresql/editics.py
  server/parsec/components/postgresql/factory.py
Due: sqlfluff-in-python

Update Editics protocol in RFC1030 to remove renames and try to be closer to OnlyOffice protocol
  docs/rfcs/1030-collaborative-editics.md
Due: none

WIP Kloot step 0 server side
  server/parsec/asgi/__init__.py
  server/parsec/asgi/editics.py
  server/parsec/backend.py
  server/parsec/components/editics/__init__.py
  server/parsec/components/editics/base.py
  server/parsec/components/editics/memory.py
  server/parsec/components/editics/transport.py
  server/parsec/components/memory/__init__.py
  server/parsec/components/memory/editics.py
  server/parsec/components/memory/factory.py
  server/parsec/components/postgresql/editics.py
  server/parsec/components/postgresql/factory.py
  server/tests/test_editics.py
Due: sqlfluff-in-python

wip tests
  client/editics/protocol.js
  server/tests/common/editics2.py
  server/tests/editics/scenarios/1-auth-edit-message-coop.md
  server/tests/editics/scenarios/__init__.py
  server/tests/editics/test_scenarios.py
Due: eslint, prettier

Kloot remove `client/public/onlyoffice-mock-server.js`
  client/editics/index.html
  client/public/onlyoffice-mock-server.js
  client/src/services/onlyoffice.ts
  client/src/views/files/handler/editor/FileEditor.vue
  client/tests/e2e/editics_two_tabs.mjs
Due: eslint, vue-tsc, prettier

Kloot fix oo-protocol-monitor with type/payload envolope
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/monitor.js
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/proxy.js
Due: none

WIP rewrite server
  server/parsec/asgi/editics.py
  server/parsec/asgi/rpc.py
  server/parsec/components/editics.py
  server/parsec/components/editics_old.py
  server/parsec/editics_protocol.py
  server/tests/common/__init__.py
  server/tests/common/editics.py
  server/tests/common/editics2.py
  server/tests/common/editics_old.py
  server/tests/editics/test_records.py
Due: none

Correct event types in RFC1030 (remove type/payload envelope)
  docs/rfcs/1030-collaborative-editics.md
Due: none

fixup! Implement `tests/editics/test_records.py`
  server/tests/editics/test_records.py
Due: none

Simplify locating chromium in oo-protocol-monitor
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/run-demo.js
Due: none

Kloot oo-protocol-monitor with ws proxy
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/README.md
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/monitor.js
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/package-lock.json
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/package.json
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/proxy.js
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/run-demo.js
Due: none

remove rfcs/1030-collaborative-editics/oo-protocol-monitor/prove-me-fucker.js
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/prove-me-fucker.js
Due: none

Kloot desesperatly try to fix stuff...
  client/public/onlyoffice-editics-client.js
  client/tests/unit/specs/testEditicsClient.spec.ts
  server/parsec/components/editics.py
  server/tests/test_editics.py
Due: eslint, vue-tsc, prettier

Kloot-but-not-totally implement server/client testing of OnlyOffice protocol
  server/parsec/components/editics.py
  server/tests/common/__init__.py
  server/tests/common/editics.py
  server/tests/common/editics2.py
  server/tests/editics/__init__.py
  server/tests/editics/test_auth.py
  server/tests/editics/test_auth2.py
Due: none

Kloot step 1 stabilize 2
  client/public/onlyoffice-editics-client.js
  client/tests/unit/specs/testEditicsClient.spec.ts
  server/parsec/components/editics.py
  server/tests/test_editics.py
Due: eslint, vue-tsc, prettier

Implement `tests/editics/test_records.py`
  server/tests/editics/records/0_auth.md
  server/tests/editics/records/__init__.py
  server/tests/editics/scenarios/1-auth-edit-message-coop.md
  server/tests/editics/test_records.py
  server/tests/editics/test_scenarios.py
Due: none

tests/editics/test_records.py is passing
  client/editics/protocol.js
  server/parsec/asgi/editics.py
  server/parsec/components/editics.py
  server/parsec/editics_protocol.py
  server/tests/common/editics.py
  server/tests/editics/records/0_auth.md
  server/tests/editics/test_records.py
Due: eslint, prettier

wip
  client/editics/index.html
  client/editics/main.js
  client/editics/protocol.js
  client/src/services/onlyoffice.ts
  server/parsec/asgi/editics.py
  server/parsec/components/editics.py
  server/tests/common/editics.py
  server/tests/editics/test_records.py
Due: eslint, vue-tsc, prettier

Add PyMiniRacer to test editics
  server/pyproject.toml
  server/uv.lock
Due: toml-fmt

Bump minimal fastapi version to 0.135.0 (which introduces SSE support)
  server/pyproject.toml
  server/uv.lock
Due: toml-fmt

fixup! Correct event types in RFC1030 (remove type/payload envelope)
  docs/rfcs/1030-collaborative-editics.md
Due: none

Kloot fix oo-protocol-monitor with pause feature
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/README.md
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/monitor.js
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/prove-me-fucker.js
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/proxy.js
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/run-demo.js
Due: none

wip
  server/parsec/asgi/editics.py
  server/parsec/components/editics.py
  server/tests/editics/test_auth.py
  server/tests/editics/test_records.py
  server/tests/test_editics.py
Due: none

fixup! Kloot step 2 client side
  server/tests/test_editics.py
Due: none

Kloot step 2 client side
  client/editics/debug_panel.js
  client/editics/index.html
  client/editics/main.js
  client/editics/protocol.js
  client/eslint.config.ts
  client/public/onlyoffice-editics-client.js
  client/public/onlyoffice-host.html
  client/public/onlyoffice-mock-server.js
  client/src/services/editics.ts
  client/src/services/onlyoffice.ts
  client/tests/e2e/editics_two_tabs.mjs
  client/tests/e2e/specs/editics_auth.spec.ts
  client/tests/unit/specs/testEditicsClient.spec.ts
  client/vendors/onlyoffice/README.md
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

wip
  client/editics/protocol.js
  server/parsec/components/editics.py
  server/parsec/components/editics_old2.py
  server/tests/common/editics.py
  server/tests/editics/test_records.py
Due: eslint, prettier

Adds RFC for multiple SSO handling by the GUI
  docs/rfcs/1030-generic-sso-provider-display.md
Due: none

Remove useless `client/vendor/xlsx-0.20.3.tgz`
  client/vendor/xlsx-0.20.3.tgz
Due: none

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
