Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

feat(server): Handle account deletion request
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/account_delete_confirm.pyi
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/tests/api_v5/anonymous_account/__init__.py
  server/tests/api_v5/authenticated_account/__init__.py
  server/tests/api_v5/authenticated_account/test_account_delete_confirm.py
  server/tests/common/client.py
  server/tests/common/rpc.py
Due: none

feat(protocol): Add `account_delete_confirm` authenticated cmd
  libparsec/crates/protocol/schema/authenticated_account_cmds/account_delete_confirm.json5
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/account_delete_confirm.rs
Due: fmt, clippy

ci(web): Use docker image to run playwright tests
  .github/workflows/ci-web.yml
  client/playwright.config.ts
Due: eslint, vue-tsc, prettier

Add fetch/list/register registration devices methods to `liparsec_account::Account`
  Cargo.lock
  libparsec/crates/account/Cargo.toml
  libparsec/crates/account/src/fetch_list_registration_devices.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/src/list_invitations.rs
  libparsec/crates/account/src/login.rs
  libparsec/crates/account/src/register_new_device.rs
  libparsec/crates/account/tests/unit/fetch_list_registration_devices.rs
  libparsec/crates/account/tests/unit/list_invitations.rs
  libparsec/crates/account/tests/unit/login.rs
  libparsec/crates/account/tests/unit/register_new_device.rs
Due: toml-fmt, fmt, clippy

Remove unused `RegisterNewDeviceError::InvalidCertificate` error variant
  libparsec/crates/client/src/client/recovery_device.rs
Due: fmt, clippy

Add `client` getter to `libparsec_client_connection` cmds types
  libparsec/crates/client_connection/src/anonymous_account_cmds.rs
  libparsec/crates/client_connection/src/anonymous_cmds.rs
  libparsec/crates/client_connection/src/authenticated_account_cmds.rs
  libparsec/crates/client_connection/src/authenticated_cmds/mod.rs
Due: fmt, clippy

Improve `libparsec_account` account creation methods & related tests
  libparsec/crates/account/src/account_create.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/tests/unit/account_create/check_code.rs
  libparsec/crates/account/tests/unit/account_create/create.rs
  libparsec/crates/account/tests/unit/account_create/mod.rs
  libparsec/crates/account/tests/unit/account_create/send_validation_email.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Update `libparsec` bindings code for account login/invitations/registration devices
  bindings/generator/api/account.py
  bindings/generator/api/common.py
  libparsec/src/account.rs
  libparsec/src/handle.rs
Due: fmt, clippy

Update `libparsec` bindings code for account create
  bindings/generator/api/account.py
  libparsec/src/account.rs
Due: fmt, clippy

Improve `libparsec_crypto::PasswordAlgorithm` handling of salt derived from email
  libparsec/crates/crypto/src/common/password.rs
  libparsec/crates/crypto/tests/password.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
Due: fmt, clippy

Improve fetch/list/register registration devices methods to `liparsec_account::Account`
  libparsec/crates/account/src/fetch_list_registration_devices.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/src/login.rs
  libparsec/crates/account/src/register_new_device.rs
  libparsec/crates/account/tests/unit/account_create/create.rs
  libparsec/crates/account/tests/unit/fetch_list_registration_devices.rs
  libparsec/crates/account/tests/unit/register_new_device.rs
Due: fmt, clippy

Remove unused `RegisterNewDeviceError::Stopped` error variant
  libparsec/crates/client/src/client/recovery_device.rs
Due: fmt, clippy

Fix electron bindings templates for `bytes_based` type
  bindings/generator/templates/binding_electron_meths.rs.j2
Due: none

Add `get_user_info` to libparsec_client
  libparsec/crates/client/src/certif/list.rs
  libparsec/crates/client/src/certif/mod.rs
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/tests/unit/certif/get_user_info.rs
  libparsec/crates/client/tests/unit/certif/mod.rs
  libparsec/src/client.rs
Due: fmt, clippy

Add `ClientGetUserInfo` bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/client.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Bump testbed server to 3.4.1-a.0.dev.20270.504d2e5
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Add `POST /testbed/account/new` to testbed server
  server/parsec/cli/testbed.py
Due: none

Rework server's `MockedEmailConfig` to support new `GET /testbed/mailbox/{email}` route
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/components/email.py
  server/parsec/config.py
  server/tests/common/backend.py
Due: none

Add `libparsec_testbed::test_check_mailbox` and related bindings
  Cargo.lock
  bindings/generator/api/testbed.py
  libparsec/crates/testbed/Cargo.toml
  libparsec/crates/testbed/src/env.rs
  libparsec/src/testbed.rs
Due: toml-fmt, fmt, clippy

Add bindings for `account_login_with_master_secret`
  bindings/generator/api/account.py
  bindings/generator/api/common.py
  libparsec/src/account.rs
Due: fmt, clippy

Add `libparsec_testbed::test_new_account` and related bindings
  bindings/generator/api/testbed.py
  libparsec/crates/testbed/src/env.rs
  libparsec/src/testbed.rs
Due: fmt, clippy

Move `AUTH_METHOD_ID_*` derivation seed constants to `libparsec_types` (since they are needed by both `libparsec_testbed&libparsec_account`
  libparsec/crates/account/src/lib.rs
  libparsec/crates/types/src/account.rs
Due: fmt, clippy

Add tests to `libparsec_account` actually interacting with the testbed server
  libparsec/crates/account/tests/unit/account_create/create.rs
  libparsec/crates/account/tests/unit/account_create/send_validation_email.rs
  libparsec/crates/account/tests/unit/login.rs
Due: fmt, clippy

[MS] Adds report bug modal and logs
  client/electron/src/communicationChannels.ts
  client/electron/src/index.ts
  client/electron/src/preload.ts
  client/electron/src/setup.ts
  client/src/components/files/FileInputList.vue
  client/src/components/files/index.ts
  client/src/components/misc/BugReportModal.vue
  client/src/components/misc/LogDisplay.vue
  client/src/components/misc/LogDisplayModal.vue
  client/src/components/misc/index.ts
  client/src/components/misc/utils.ts
  client/src/main.ts
  client/src/services/bms/api.ts
  client/src/services/webLogger.ts
  client/src/views/header/ProfileHeaderOrganization.vue
  client/src/views/header/ProfileHeaderOrganizationPopover.vue
  client/tests/e2e/helpers/bms.ts
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/bug_report.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Use bindings for getUserInfo
  client/src/parsec/types.ts
  client/src/parsec/user.ts
Due: eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
