Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

[MS] Fix revoked user selection and prevent user selection for members
  client/src/components/users/UserCard.vue
  client/src/components/users/UserListItem.vue
  client/src/views/users/UserGridDisplay.vue
  client/src/views/users/UserListDisplay.vue
  client/src/views/users/UsersPage.vue
  client/tests/component/specs/testUserCard.spec.ts
  client/tests/component/specs/testUserListItem.spec.ts
  client/tests/e2e/specs/users_list.spec.ts
Due: eslint, vue-tsc, prettier

[Bugfix] active_user_limit display number instead of NaN in electron.
  bindings/electron/src/meths.rs
  bindings/generator/templates/binding_electron_meths.rs.j2
  newsfragments/12873.bugfix.rst
Due: fmt, clippy

fix(electron): Correct log cluttering json export (#12910)
  client/electron/package.cjs
Due: eslint, prettier

ci(publish): Subs to `published` event (#12911)
  .github/workflows/publish.yml
Due: none

fix: add UTF-8 encoding to FileInput in update_tool_version function
  misc/version_updater.py
Due: none

feat(openbao): Add error log for upload/fetch op (#13016)
  Cargo.lock
  libparsec/crates/openbao/Cargo.toml
  libparsec/crates/openbao/src/opaque_key.rs
  libparsec/src/device.rs
Due: toml-fmt, fmt, clippy

Bump version 3.9.1-a.0+dev -> 3.9.3-a.0+dev
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom-branding.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/deployment/server-deploy.rst
  docs/hosting/install_cli.rst
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Display server version in organization info
  client/src/components/organizations/OrganizationConfigurationInformation.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/organizations/OrganizationInformationPage.vue
Due: eslint, vue-tsc, prettier

3.9.2 acknowledge fixes
  docs/cli/install-cli.rst
  docs/hosting/deployment/webapp/index.rst
  docs/hosting/deployment/webapp/webapp-compose-server.patch
  docs/locale/fr/LC_MESSAGES/hosting/administration/delete-workspace.po
  docs/locale/fr/LC_MESSAGES/hosting/administration/user-authentication.po
  docs/locale/fr/LC_MESSAGES/hosting/deployment/s3-deploy.po
Due: none

Expose server header for CORS middleware.
  server/parsec/asgi/__init__.py
Due: none

Fix docs
  docs/hosting/install-cli.rst
  docs/index.rst
Due: none

[MS] Display global upload progress
  client/src/common/transferRate.ts
  client/src/components/files/operations/FileOperationDownloadArchive.vue
  client/src/components/files/operations/UploadStatus.vue
  client/src/components/notifications/AllImportedElementsNotification.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/index.ts
  client/src/parsec/sync.ts
  client/src/parsec/types.ts
  client/src/plugins/libparsec/index.ts
  client/src/services/translation.ts
  client/src/theme/components/_menu.scss
  client/src/views/files/FileOperationMenu.vue
  client/src/views/files/FoldersPage.vue
  client/src/views/layouts/ConnectedLayout.vue
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/download_file.spec.ts
  client/tests/e2e/specs/file_copy.spec.ts
  client/tests/e2e/specs/file_import.spec.ts
  client/tests/e2e/specs/file_move.spec.ts
Due: eslint, vue-tsc, prettier

Bump version 3.9.1-a.0+dev -> 3.9.2-a.0+dev
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom-branding.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/deployment/server-deploy.rst
  docs/hosting/install_cli.rst
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Fix docs
  docs/cli/install-cli.rst
  docs/hosting/deployment/webapp/index.rst
  docs/hosting/deployment/webapp/webapp-compose-server.patch
  docs/locale/fr/LC_MESSAGES/hosting/administration/delete-workspace.po
  docs/locale/fr/LC_MESSAGES/hosting/administration/user-authentication.po
  docs/locale/fr/LC_MESSAGES/hosting/deployment/s3-deploy.po
Due: none

Bump version 3.9.1-a.0+dev -> 3.9.3-a.0+dev
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.cjs
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/cli/install-cli.rst
  docs/conf.py
  docs/hosting/custom-branding.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/deployment/server-deploy.rst
  docs/hosting/deployment/webapp/index.rst
  docs/hosting/deployment/webapp/webapp-compose-server.patch
  docs/hosting/install-cli.rst
  docs/index.rst
  docs/locale/fr/LC_MESSAGES/hosting/administration/delete-workspace.po
  docs/locale/fr/LC_MESSAGES/hosting/administration/user-authentication.po
  docs/locale/fr/LC_MESSAGES/hosting/deployment/s3-deploy.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

fix(electron): Update CSP rules to allow for custom cryptpad server
  client/electron/src/cspRules.ts
Due: eslint, vue-tsc, prettier

feat(electron): Allow to use custom CA with `SSL_CAFILE` env var
  client/electron/src/customCa.ts
  client/electron/src/index.ts
Due: eslint, vue-tsc, prettier

Expose server header for CORS middleware. (#13043)
  server/parsec/asgi/__init__.py
Due: none

[MS] Fix user card email copy
  client/src/components/users/UserCard.vue
Due: eslint, vue-tsc, prettier

chore(rust): Updato toolchain to 1.96.1
  .pre-commit-config.yaml
  client/electron/snap/snapcraft.yaml
  docs/development/README.md
  misc/setup-rust.sh
  misc/versions.toml
  rust-toolchain.toml
  server/packaging/server/in-docker-build.sh
  server/packaging/testbed-server/in-docker-build.sh
Due: toml-fmt

[MS] Display server version in organization info
  client/src/components/organizations/OrganizationConfigurationInformation.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/organizations/OrganizationInformationPage.vue
  client/tests/e2e/specs/organization_information.spec.ts
  newsfragments/5557.misc.rst
Due: eslint, vue-tsc, prettier

[MS] Fix UI workspace sharing modal
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_inputs.scss
  client/src/theme/components/_modals.scss
  client/src/views/workspaces/WorkspaceSharingModal.vue
  client/tests/e2e/specs/workspace_sharing.spec.ts
Due: eslint, vue-tsc, prettier

Add RUSTSEC-2026-0194 and RUSTSEC-2026-0195 advisories to deny.toml
  deny.toml
Due: toml-fmt

Update plist to 1.10.0 ; Update crossbeam-epoch to 0.9.20
  Cargo.lock
Due: none
