Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Implement anonymous server API `server_config` in server
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/server_config.pyi
  server/parsec/components/events.py
  server/tests/api_v5/anonymous_server/test_server_config.py
Due: none

Remove unused `RmpDecodeError` error in `libparsec/crates/platform_device_loader/src/web/error.rs`
  libparsec/crates/platform_device_loader/src/web/error.rs
Due: fmt, clippy

Change `AvailableDevice` to expose server URL as a `ParsecAddr`
  bindings/generator/api/device.py
  cli/src/commands/device/overwrite_server_url.rs
  cli/src/utils.rs
  cli/tests/integration/device/overwrite_server_url.rs
  cli/tests/integration/device_option.rs
  libparsec/crates/account/tests/unit/register_new_device.rs
  libparsec/crates/client/tests/unit/invite/claimer.rs
  libparsec/crates/client/tests/unit/invite/shamir.rs
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/strategy.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_device_loader/tests/units/mod.rs
  libparsec/crates/platform_device_loader/tests/units/save.rs
  libparsec/crates/platform_device_loader/tests/units/save_list.rs
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
  libparsec/crates/platform_device_loader/tests/units/strategy.rs
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
Due: fmt, clippy

Add `libparsec_openbao` crate
  Cargo.lock
  Cargo.toml
  libparsec/crates/openbao/Cargo.toml
  libparsec/crates/openbao/src/lib.rs
  libparsec/crates/openbao/tests/unit/mod.rs
Due: toml-fmt, fmt, clippy

Correct `client/src/parsec/pki.ts` to use serverAddr
  client/src/parsec/pki.ts
Due: eslint, vue-tsc, prettier

Check user agent header on server side all familly commands according to server config
  server/parsec/asgi/rpc.py
  server/parsec/client_context.py
Due: none

Temporary stub GUI support for OpenBao-based `DeviceSaveStrategy` (will be reworked in a subsequent PR)
  client/src/components/devices/ChooseAuthentication.vue
  client/tests/e2e/specs/auth_with_sso.spec.ts.disabled
  client/tests/unit/specs/testParsecServers.spec.ts.disabled
Due: eslint, vue-tsc, prettier

Minor correction in error message for AccountRegisterNewDeviceError/ImportRecoveryDeviceError
  libparsec/crates/account/src/register_new_device.rs
  libparsec/crates/client/src/client/recovery_device.rs
Due: fmt, clippy

[MS] Fixed server matching
  client/src/services/parsecServers.ts
Due: eslint, vue-tsc, prettier

Rename `libparsec_cient_connection::AnonymousAccountCmds` -> `AnonymousServerCmds`
  libparsec/crates/account/src/account_create.rs
  libparsec/crates/account/src/account_recover.rs
  libparsec/crates/account/src/auth_method_derived_keys.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/src/login.rs
  libparsec/crates/account/tests/unit/account_create/check_code.rs
  libparsec/crates/account/tests/unit/account_create/create.rs
  libparsec/crates/account/tests/unit/account_create/send_validation_email.rs
  libparsec/crates/account/tests/unit/account_recover/recover.rs
  libparsec/crates/account/tests/unit/account_recover/send_validation_email.rs
  libparsec/crates/account/tests/unit/create_auth_method.rs
  libparsec/crates/account/tests/unit/login.rs
  libparsec/crates/client_connection/src/anonymous_server_cmds.rs
  libparsec/crates/client_connection/src/authenticated_account_cmds.rs
  libparsec/crates/client_connection/src/lib.rs
  libparsec/crates/client_connection/tests/unit/anonymous_server.rs
  libparsec/crates/types/src/addr.rs
  libparsec/src/account.rs
Due: fmt, clippy

Rename `_ParsecAccount.server` -> `serverAddr` for consistency in `client/src/parsec/account.ts`
  client/src/parsec/account.ts
Due: eslint, vue-tsc, prettier

Improve `libparsec/crates/platform_device_loader/tests/units/load.rs`
  libparsec/crates/platform_device_loader/tests/units/load.rs
Due: fmt, clippy

Fix expected format of PKI enrollment URLs in GUI
  client/src/common/validators.ts
  client/src/parsec/pki.ts
  client/tests/e2e/specs/home_pki_requests.spec.ts
Due: eslint, vue-tsc, prettier

Introduce `libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5`
  libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/server_config.rs
Due: fmt, clippy

Fix `libparsec_account` to remove `allowed_client_agent/account_vault_strategy` from `list_organizations` and no longer check vault strategy during `create_registration_device`
  bindings/generator/api/account.py
  libparsec/crates/account/src/create_registration_device.rs
  libparsec/crates/account/src/list_organizations.rs
  libparsec/crates/account/tests/unit/create_registration_device.rs
  libparsec/crates/account/tests/unit/list_organizations.rs
  libparsec/src/account.rs
Due: fmt, clippy

Replace `Internal` by more precise `BadServerResponse` in `libparsec_account::AccountUploadOpaqueKeyInVaultError`
  libparsec/crates/account/src/upload_opaque_key_in_vault.rs
  libparsec/crates/account/tests/unit/upload_opaque_key_in_vault.rs
Due: fmt, clippy

Use (now supported) U16 in `ParsedParsecAddr` exposed in the bindings
  bindings/generator/api/addr.py
  libparsec/src/addr.rs
Due: fmt, clippy

Add mocked OpenBao API routes to the server testbed
  server/parsec/cli/testbed.py
Due: none

Typo in `libparsec/crates/platform_device_loader/src/web/internal.rs`
  libparsec/crates/platform_device_loader/src/web/internal.rs
Due: fmt, clippy

Configure Playwright e2e tests in CI to fast-fail on first error
  .github/workflows/ci-web.yml
Due: none

Rename `anonymous_account` protocol API family as `anonymous_server`
  libparsec/crates/protocol/schema/anonymous_server_cmds/account_create_proceed.json5
  libparsec/crates/protocol/schema/anonymous_server_cmds/account_create_send_validation_email.json5
  libparsec/crates/protocol/schema/anonymous_server_cmds/account_recover_proceed.json5
  libparsec/crates/protocol/schema/anonymous_server_cmds/account_recover_send_validation_email.json5
  libparsec/crates/protocol/schema/anonymous_server_cmds/auth_method_password_get_algorithm.json5
  libparsec/crates/protocol/schema/anonymous_server_cmds/ping.json5
  libparsec/crates/protocol/src/lib.rs
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/account_create_proceed.rs
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/account_create_send_validation_email.rs
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/account_recover_proceed.rs
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/account_recover_send_validation_email.rs
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/auth_method_password_get_algorithm.rs
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/ping.rs
  libparsec/crates/protocol/tests/serialization.rs
  libparsec/crates/types/src/protocol.rs
  server/src/protocol.rs
Due: fmt, clippy

Change server run parameters to add openbao config and allowed-client-agent/account-vault-strategy moved from per-org to global to server config
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/config.py
  server/tests/common/backend.py
Due: none

Fix GUI with `AvailableDevice.serverAddr` being a `ParsecAddr`
  client/src/common/device.ts
  client/src/common/organization.ts
  client/src/components/organizations/OrganizationCard.vue
  client/src/components/organizations/OrganizationSwitchPopover.vue
  client/src/parsec/account.ts
  client/src/parsec/login.ts
  client/src/parsec/pki.ts
  client/src/services/parsecServers.ts
  client/src/views/home/HomePage.vue
  client/src/views/menu/MainMenu.vue
  client/src/views/organizations/OrganizationInformationPage.vue
  client/src/views/organizations/creation/CreateOrganizationModal.vue
  client/tests/component/specs/testOrganizationCard.spec.ts
  client/tests/unit/specs/testParsecServers.spec.ts
Due: eslint, vue-tsc, prettier

Remove useless part in `impl_transparent_data_format_conversion` macro
  libparsec/crates/types/src/data_macros.rs
Due: fmt, clippy

Fix GUI with `ClientInfo.serverConfig` renamed to `serverOrganizationConfig`
  client/src/parsec/organization.ts
Due: eslint, vue-tsc, prettier

Add OpenBao support to `libparsec_platform_device_loader`
  libparsec/crates/account/src/fetch_opaque_key_from_vault.rs
  libparsec/crates/platform_device_loader/Cargo.toml
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/strategy.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/src/web/error.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_device_loader/tests/units/load.rs
  libparsec/crates/platform_device_loader/tests/units/save.rs
  libparsec/crates/platform_device_loader/tests/units/save_list.rs
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
  libparsec/crates/platform_device_loader/tests/units/utils.rs
Due: toml-fmt, fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Add OpenBao support to `libparsec` main crate and bindings
  bindings/generator/api/device.py
  cli/src/commands/device/change_authentication.rs
  cli/src/commands/device/overwrite_server_url.rs
  cli/src/utils.rs
  libparsec/Cargo.toml
  libparsec/src/client.rs
  libparsec/src/device.rs
Due: toml-fmt, fmt, clippy

Correct libparsec/libparsec_client/libparsec_account with new `RemoteOpaqueKeyFetchOffline` error and `PinBoxFutureResult` rename
  bindings/generator/api/account.py
  bindings/generator/api/client.py
  libparsec/crates/account/src/register_new_device.rs
  libparsec/crates/client/src/client/recovery_device.rs
  libparsec/crates/client/tests/unit/invite/bootstrap_organization.rs
  libparsec/src/account.rs
  libparsec/src/client.rs
  libparsec/src/device.rs
Due: fmt, clippy

Fix `ParsecAddr::new` building invalid object when explicitly providing the default port
  libparsec/crates/types/src/addr.rs
  libparsec/crates/types/tests/unit/addr.rs
Due: fmt, clippy

Expose `libparsec::get_server_config` in the bindings
  bindings/generator/api/config.py
  libparsec/src/config.rs
Due: fmt, clippy

Add support for U16 in `bindings/generator/generate.py`
  bindings/generator/api/common.py
  bindings/generator/generate.py
  bindings/generator/templates/binding_electron_index.d.ts.j2
  bindings/generator/templates/binding_electron_meths.rs.j2
  bindings/generator/templates/binding_web_meths.rs.j2
  bindings/generator/templates/client_plugin_definitions.ts.j2
  server/parsec/cli/testbed.py
Due: none

Remove client rejection based on user-agent header
  bindings/generator/api/config.py
  libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/server_config.rs
  libparsec/src/config.rs
  newsfragments/11628.feature.rst
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/server_config.pyi
  server/parsec/asgi/rpc.py
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/components/events.py
  server/parsec/config.py
  server/tests/api_v5/anonymous_server/test_server_config.py
  server/tests/common/backend.py
  server/tests/common/data.py
Due: fmt, clippy

Introduce `libparsec/crates/types/schema/local_device/device_file_openbao.json5` schema
  libparsec/crates/types/schema/local_device/device_file_openbao.json5
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
Due: fmt, clippy

Replace use of `ParsecAddr::new` on other addr types by Into conversion
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/types/src/addr.rs
  libparsec/crates/types/src/local_device.rs
  libparsec/crates/types/src/pki/mod.rs
Due: fmt, clippy

Rename server API route `/anonymous_account` -> `/anonymous_server`
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/protocol/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/account_create_proceed.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/account_create_send_validation_email.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/account_recover_proceed.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/account_recover_send_validation_email.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/auth_method_password_get_algorithm.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/ping.pyi
  server/parsec/api.py
  server/parsec/asgi/rpc.py
  server/parsec/client_context.py
  server/parsec/components/account.py
  server/parsec/components/ping.py
  server/tests/api_v5/__init__.py
  server/tests/api_v5/anonymous_account/test_ping.py
  server/tests/api_v5/anonymous_server/__init__.py
  server/tests/api_v5/anonymous_server/test_account_create_proceed.py
  server/tests/api_v5/anonymous_server/test_account_create_send_validation_email.py
  server/tests/api_v5/anonymous_server/test_account_recover_proceed.py
  server/tests/api_v5/anonymous_server/test_account_recover_send_validation_email.py
  server/tests/api_v5/anonymous_server/test_auth_method_password_get_algorithm.py
  server/tests/api_v5/anonymous_server/test_ping.py
  server/tests/common/account.py
  server/tests/common/client.py
  server/tests/common/data.py
  server/tests/common/postgresql.py
  server/tests/common/rpc.py
Due: none

Remove fields `allowed_client_agent/account_vault_strategy` from `events_listen`/`organization_self_list` API commands and administration REST API
  cli/tests/integration/organization/status.rs
  libparsec/crates/client/src/monitors/connection.rs
  libparsec/crates/client_connection/tests/unit/authenticated.rs
  libparsec/crates/protocol/schema/authenticated_account_cmds/organization_self_list.json5
  libparsec/crates/protocol/schema/authenticated_cmds/events_listen.json5
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/organization_self_list.rs
  libparsec/crates/protocol/tests/authenticated_cmds/v5/events_listen.rs
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/organization_self_list.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/events_listen.pyi
  server/parsec/asgi/administration.py
  server/parsec/components/account.py
  server/parsec/components/auth.py
  server/parsec/components/memory/account.py
  server/parsec/components/memory/auth.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/events.py
  server/parsec/components/memory/organization.py
  server/parsec/components/organization.py
  server/parsec/components/postgresql/account_organization_self_list.py
  server/parsec/components/postgresql/auth.py
  server/parsec/components/postgresql/events.py
  server/parsec/components/postgresql/migrations/0018_remove_per_organization_config.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/parsec/components/postgresql/organization.py
  server/parsec/components/postgresql/organization_create.py
  server/parsec/components/postgresql/organization_test_dump_organizations.py
  server/parsec/components/postgresql/organization_update.py
  server/parsec/components/postgresql/test_queries.py
  server/parsec/events.py
  server/parsec/types.py
  server/tests/administration/test_create_organization.py
  server/tests/administration/test_get_organization.py
  server/tests/administration/test_patch_organization.py
  server/tests/api_v5/authenticated/test_events_listen.py
  server/tests/api_v5/authenticated_account/test_organization_self_list.py
  server/tests/common/data.py
  server/tests/test_sse.py
  server/tests/test_types.py
Due: sqlfluff, fmt, clippy

Rename `libparsec_client::ServerConfig` -> `ServerOrganizationConfig`
  bindings/generator/api/client.py
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/config.rs
  libparsec/crates/client/src/monitors/server_config.rs
  libparsec/src/client.rs
  libparsec/src/config.rs
Due: fmt, clippy

Bump testbed server to 3.6.2-a.0.dev.20412.600fb06
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Add `build_parsec_addr` in bindings
  bindings/generator/api/addr.py
  libparsec/src/addr.rs
Due: fmt, clippy

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
