Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

[MS] Re-enable parsec account creation test
  client/src/views/account/CreateAccountPage.vue
  client/tests/e2e/helpers/data.ts
  client/tests/e2e/helpers/testbed.ts
  client/tests/e2e/specs/account_create.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Adds test for empty home page
  client/src/main.ts
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/specs/home_page.spec.ts
Due: eslint, vue-tsc, prettier

Fix `libparsec_platform_device_loader::load_device` testbed support for account vault
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/tests/units/load.rs
Due: fmt, clippy

Fix error handling in web bindings when calling a non-existing function or providing the wrong param types
  client/src/plugins/libparsec/trampoline-web.ts
  client/src/plugins/libparsec/web_shared_worker.ts
Due: eslint, vue-tsc, prettier

Remove legacy workspace history api.
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/__init__.py
  bindings/generator/api/workspace_history.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/src/workspace/history/fd_close.rs
  libparsec/crates/client/src/workspace/history/fd_read.rs
  libparsec/crates/client/src/workspace/history/fd_stat.rs
  libparsec/crates/client/src/workspace/history/get_workspace_manifest_v1_timestamp.rs
  libparsec/crates/client/src/workspace/history/mod.rs
  libparsec/crates/client/src/workspace/history/open_file.rs
  libparsec/crates/client/src/workspace/history/populate_cache.rs
  libparsec/crates/client/src/workspace/history/read_folder.rs
  libparsec/crates/client/src/workspace/history/resolve_path.rs
  libparsec/crates/client/src/workspace/history/stat_entry.rs
  libparsec/crates/client/src/workspace/mod.rs
  libparsec/crates/client/tests/unit/workspace/history/fd_close.rs
  libparsec/crates/client/tests/unit/workspace/history/fd_read.rs
  libparsec/crates/client/tests/unit/workspace/history/fd_stat.rs
  libparsec/crates/client/tests/unit/workspace/history/get_workspace_manifest_v1_timestamp.rs
  libparsec/crates/client/tests/unit/workspace/history/mod.rs
  libparsec/crates/client/tests/unit/workspace/history/open_file.rs
  libparsec/crates/client/tests/unit/workspace/history/open_file_by_id.rs
  libparsec/crates/client/tests/unit/workspace/history/stat_entry.rs
  libparsec/crates/client/tests/unit/workspace/history/stat_entry_by_id.rs
  libparsec/crates/client/tests/unit/workspace/history/stat_folder_children.rs
  libparsec/crates/client/tests/unit/workspace/history/stat_folder_children_by_id.rs
  libparsec/crates/client/tests/unit/workspace/mod.rs
  libparsec/src/lib.rs
  libparsec/src/workspace_history.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] Removed all mentions to workspace history API v1
  client/src/parsec/types.ts
  client/src/parsec/workspace.ts
  client/src/views/workspaces/WorkspaceHistoryPage.vue
Due: eslint, vue-tsc, prettier

Rename workspace_history2 to workspace_history.
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/__init__.py
  bindings/generator/api/workspace_history.py
  bindings/web/src/meths.rs
  client/src/parsec/history.ts
  client/src/parsec/types.ts
  client/src/plugins/libparsec/definitions.ts
  libparsec/src/lib.rs
  libparsec/src/workspace_history.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] Resync megashark lib
  client/package-lock.json
  client/package.json
Due: none

[MS] Update `ion-buttons` to `div` to harmonize & update `ion-label` to `ion-text` to prevent error
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/files/FileCopyItem.vue
  client/src/components/files/FileImportPopover.vue
  client/src/components/files/FileListItem.vue
  client/src/components/files/FileListItemProcessing.vue
  client/src/components/sas-code/SasCodeChoice.vue
  client/src/components/small-display/SmallDisplayCategoryFileContextMenu.vue
  client/src/components/small-display/SmallDisplayFileContextMenu.vue
  client/src/components/small-display/SmallDisplayUserContextMenu.vue
  client/src/components/users/UserSelectDropdown.vue
  client/src/components/workspaces/WorkspaceFilterPopover.vue
  client/src/theme/components/_popovers.scss
  client/src/views/devices/GreetDeviceModal.vue
  client/src/views/files/FileContextMenu.vue
  client/src/views/files/FolderGlobalContextMenu.vue
  client/src/views/header/ProfileHeaderHomepagePopover.vue
  client/src/views/header/ProfileHeaderOrganizationPopover.vue
  client/src/views/home/DeviceJoinOrganizationModal.vue
  client/src/views/home/HomePageHeader.vue
  client/src/views/home/UserJoinOrganizationModal.vue
  client/src/views/menu/TabBarMenuModal.vue
  client/src/views/organizations/creation/CreateOrganizationModal.vue
  client/src/views/organizations/creation/OrganizationAuthenticationPage.vue
  client/src/views/organizations/creation/OrganizationCreatedPage.vue
  client/src/views/organizations/creation/OrganizationNameAndServerPage.vue
  client/src/views/organizations/creation/OrganizationNamePage.vue
  client/src/views/organizations/creation/OrganizationSummaryPage.vue
  client/src/views/organizations/creation/OrganizationUserInformationPage.vue
  client/src/views/users/BulkRoleAssignmentModal.vue
  client/src/views/users/GreetUserModal.vue
  client/src/views/users/UpdateAuthenticationModal.vue
  client/src/views/users/UserContextMenu.vue
  client/src/views/workspaces/SmallDisplayWorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceContextMenu.vue
Due: eslint, vue-tsc, prettier

[MS] Fix visual bugs
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/files/FileListDisplay.vue
  client/src/components/header/HeaderBackButton.vue
  client/src/components/organizations/OrganizationCard.vue
  client/src/components/sidebar/SidebarMenuList.vue
  client/src/components/users/UserFilterPopover.vue
  client/src/components/users/UserListItem.vue
  client/src/components/workspaces/WorkspaceFilterPopover.vue
  client/src/theme/components/_list.scss
  client/src/theme/components/_modals.scss
  client/src/theme/components/_popovers.scss
  client/src/views/files/FolderGlobalContextMenu.vue
  client/src/views/home/AccountHomePage.vue
  client/src/views/home/HomePageHeader.vue
  client/src/views/home/HomePageSidebar.vue
  client/src/views/home/LoginPage.vue
  client/src/views/menu/MainMenu.vue
  client/src/views/organizations/creation/ServerTypeChoice.vue
  client/src/views/workspaces/WorkspaceSharingModal.vue
  client/tests/e2e/specs/device_greet.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Use 2 as the default handle in dev mode if Parsec Account enabled
  client/src/views/layouts/DevLayout.vue
Due: eslint, vue-tsc, prettier

[MS] Unskip org switch test
  client/tests/e2e/specs/organization_switch_popover.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Auto-register at login
  client/src/parsec/account.ts
  client/src/views/home/HomePage.vue
  client/tests/e2e/specs/account_create.spec.ts
  client/tests/e2e/specs/account_login.spec.ts
Due: eslint, vue-tsc, prettier

Add is_file_content_local api.
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/workspace.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/src/workspace/mod.rs
  libparsec/crates/client/src/workspace/transactions/open_file.rs
  libparsec/crates/client/tests/unit/workspace/open_file.rs
  libparsec/src/workspace.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] Adds account deletion
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/account.ts
  client/src/theme/components/_modals.scss
  client/src/views/account/AccountSettingsPage.vue
  client/src/views/account/CodeValidationModal.vue
  client/src/views/account/ManageAccountPage.vue
  client/tests/e2e/specs/account_manage.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Check if file is available before opening
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/file.ts
  client/src/parsec/types.ts
  client/src/services/fileOpener.ts
Due: eslint, vue-tsc, prettier

[MS] Update recent documents if deleted or renamed
  client/src/parsec/types.ts
  client/src/services/eventDistributor.ts
  client/src/services/recentDocuments.ts
  client/src/views/files/FoldersPage.vue
  client/src/views/layouts/ConnectedLayout.vue
Due: eslint, vue-tsc, prettier

[MS] Remember sort option on FoldersPage
  client/src/components/files/index.ts
  client/src/components/files/utils.ts
  client/src/views/files/FoldersPage.vue
  newsfragments/10693.misc.rst
Due: eslint, vue-tsc, prettier

[MS] Update locales
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: none

Update
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: none

[MS] Update no organization homepage
  client/package.json
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/environment.ts
  client/src/views/home/OrganizationListPage.vue
  docs/locale/fr/LC_MESSAGES/userguide/security.po
  docs/userguide/security.rst
  newsfragments/10718.misc.rst
Due: eslint, vue-tsc, prettier

[MS] Use the bindings to get the org creation date
  client/src/common/organization.ts
  client/src/components/organizations/OrganizationCard.vue
  client/src/parsec/organization.ts
  client/src/parsec/types.ts
  client/src/services/storageManager.ts
  client/src/views/home/HomePage.vue
  client/src/views/home/OrganizationListPage.vue
  client/src/views/menu/MainMenu.vue
  client/tests/e2e/helpers/externalWebsites.ts
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/index.ts
  client/tests/e2e/specs/about_modal.spec.ts
  client/tests/e2e/specs/create_organization_saas.spec.ts
  client/tests/e2e/specs/my_profile_page.spec.ts
  client/tests/e2e/specs/trial_organization.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Auto-register at login
  client/src/parsec/account.ts
  client/src/services/environment.ts
  client/src/views/home/HomePage.vue
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/specs/account_create.spec.ts
  client/tests/e2e/specs/account_login.spec.ts
Due: eslint, vue-tsc, prettier

ci(web): Rework run condition on `playwright-reports` job
  .github/workflows/ci-web.yml
Due: none

[MS] Disabled expandToScroll on sheet modals
  client/src/components/header/InvitationsButton.vue
  client/src/components/workspaces/utils.ts
  client/src/views/files/utils.ts
  client/src/views/header/HeaderPage.vue
  client/src/views/home/HomePage.vue
  client/src/views/menu/TabBarMenu.vue
  client/src/views/menu/TabBarOptions.vue
  client/src/views/users/utils.ts
Due: eslint, vue-tsc, prettier
