Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

[MS] Adds setFocus to multiple inputs
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/invitations/InviteModal.vue
  client/src/plugins/libparsec/index.ts
  client/src/views/organizations/creation/CreateOrganizationCustomServer.vue
  client/src/views/organizations/creation/OrganizationNameAndServerPage.vue
  client/src/views/organizations/creation/OrganizationUserInformationPage.vue
Due: eslint, vue-tsc, prettier

[MS] Adds upload progress
  client/src/components/files/explorer/FileCard.vue
  client/src/components/files/explorer/FileListItem.vue
  client/src/components/files/types.ts
  client/src/main.ts
  client/src/services/eventDistributor.ts
  client/src/views/files/FoldersPage.vue
Due: eslint, vue-tsc, prettier

[MS] Add a way in playwright to add additional users
  client/README.md
  client/src/views/layouts/DevLayout.vue
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/types.ts
  client/tests/e2e/specs/users_list.spec.ts
Due: eslint, vue-tsc, prettier

[DOC] Add configure organization section.
  docs/hosting/administration/create-organization.rst
  docs/hosting/deployment/server-deploy.rst
  docs/locale/fr/LC_MESSAGES/hosting/administration/create-organization.po
  docs/userguide/parsec-workspaces.rst
Due: none

[MS] Add style upload progress
  client/src/components/files/explorer/FileCard.vue
  client/src/components/files/explorer/FileListItem.vue
  client/src/theme/components/_list.scss
Due: eslint, vue-tsc, prettier

Apply suggestions from code review
  docs/hosting/deployment/idopte-pki-web.rst
Due: none

Add editix join session api and bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/client.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  client/src/views/files/handler/editor/FileEditor.vue
  libparsec/crates/client/src/certif/realm_keys_bundle.rs
  libparsec/crates/client/src/client/editics.rs
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/protocol/schema/authenticated_cmds/editics_join_session.json5
  libparsec/crates/protocol/tests/anonymous_cmds/v5/async_enrollment_submit.rs
  libparsec/crates/protocol/tests/authenticated_cmds/v5/async_enrollment_list.rs
  libparsec/crates/protocol/tests/authenticated_cmds/v5/editics_join_session.rs
  libparsec/src/client.rs
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/editics_join_session.pyi
  server/parsec/backend.py
  server/parsec/components/editics.py
  server/parsec/components/memory/__init__.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/editics.py
  server/parsec/components/memory/factory.py
  server/tests/common/rpc.py
Due: fmt, clippy, eslint, vue-tsc, prettier

Rename enum EncryptionUsage to fix typo
  libparsec/crates/client/src/certif/block_validate.rs
  libparsec/crates/client/src/certif/manifest_validate.rs
  libparsec/crates/client/src/certif/mod.rs
  libparsec/crates/client/src/certif/realm_decrypt_name.rs
  libparsec/crates/client/src/certif/realm_keys_bundle.rs
  libparsec/crates/client/src/certif/realm_rename.rs
  libparsec/crates/client/src/workspace/addr.rs
  libparsec/crates/client/src/workspace/transactions/outbound_sync.rs
  libparsec/crates/client/src/workspace_history/store/data_access_realm_export.rs
  libparsec/crates/client/tests/unit/certif/encrypt_for_realm.rs
Due: fmt, clippy

Treat missing device data dir as success when forgetting a device
  libparsec/crates/platform_storage/src/native/cleanup.rs
  libparsec/crates/platform_storage/tests/unit/native/cleanup.rs
  newsfragments/12807.bugfix.rst
Due: fmt, clippy

Add additional tests and docs for the ls command
  cli/src/commands/ls.rs
  cli/src/macros.rs
  cli/src/main.rs
  cli/tests/integration/ls.rs
  docs/cli/first-steps.rst
  docs/cli/workspace.rst
Due: fmt, clippy

[DOC] Add advisory MFA section to hosting guide.
  docs/hosting/administration/index.rst
  docs/hosting/administration/mfa-reset.rst
  docs/hosting/administration/user-authentication.rst
  docs/locale/fr/LC_MESSAGES/hosting/administration/mfa-reset.po
  docs/locale/fr/LC_MESSAGES/hosting/administration/user-authentication.po
  docs/rfcs/1029-advisory-device-protection.md
Due: none

backport: Added AllowOther mount option in MacOS
  libparsec/crates/platform_mountpoint/src/unix/mount.rs
  newsfragments/10086.bugfix.rst
Due: fmt, clippy

fix(electron): Correct log cluttering json export
  client/electron/package.cjs
Due: eslint, prettier

ci(publish): Subs to `published` event
  .github/workflows/publish.yml
Due: none

fix(electron): Correct log cluttering json export (#12910)
  client/electron/package.cjs
Due: eslint, prettier

ci(publish): Subs to `published` event (#12911)
  .github/workflows/publish.yml
Due: none

fix(python): Remove unused `pbr` deps
  server/poetry.lock
  server/pyproject.toml
Due: toml-fmt

[MS] Updated file import to handle large amount of files
  client/src/components/files/explorer/FileCard.vue
  client/src/components/files/explorer/FileDropZone.vue
  client/src/components/files/explorer/FileGridDisplay.vue
  client/src/components/files/explorer/FileInputs.vue
  client/src/components/files/explorer/FileListDisplay.vue
  client/src/components/files/explorer/FileListItem.vue
  client/src/components/files/operations/FileOperationBase.vue
  client/src/components/files/operations/FileOperationImport.vue
  client/src/components/files/utils.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/path.ts
  client/src/plugins/libparsec/index.ts
  client/src/services/fileOperation/events.ts
  client/src/services/fileOperation/manager.ts
  client/src/services/fileOperation/operationData.ts
  client/src/services/fileOperation/operations.ts
  client/src/views/files/FileOperationConflictsModal.vue
  client/src/views/files/FileOperationMenu.vue
  client/src/views/files/FoldersPage.vue
  client/src/views/files/utils.ts
  client/tests/unit/specs/testFile.spec.ts
Due: eslint, vue-tsc, prettier

backport: Adds last-event-id to allowed headers
  server/parsec/asgi/__init__.py
Due: none

[MS] Marked a flaky test as fixme
  client/tests/e2e/specs/document_context_menu.spec.ts
Due: eslint, vue-tsc, prettier

Correct OIDC redirection URL in `docs/hosting/openbao/index.rst`
  docs/hosting/openbao/index.rst
Due: none

Add `docs/hosting/deployment/s3-deploy.rst`
  docs/hosting/deployment/s3-deploy.rst
  docs/hosting/deployment/server-deploy.rst
  docs/index.rst
  docs/locale/fr/LC_MESSAGES/hosting/deployment/s3-deploy.po
Due: none

Improve `docs/hosting/openbao/index.rst`
  docs/hosting/openbao/index.rst
  docs/locale/fr/LC_MESSAGES/hosting/openbao/index.po
Due: none

[MS] Make sure URL given by server config have https:// protocol
  client/src/parsec/server.ts
  client/src/services/environment.ts
Due: eslint, vue-tsc, prettier

[MS] Fixed breadcrumbs navigation
  client/src/components/header/HeaderBreadcrumbs.vue
Due: eslint, vue-tsc, prettier
