Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

license_headers:
  name: license_headers
  entry: python ./misc/license_headers.py add
  language: python
  language_version: python3

eslint:
  name: eslint
  description: ''
  entry: eslint
  language: node
  args:
  - --config=oxidation/client/.eslintrc.js
  additional_dependencies:
  - eslint@8.10.0
  - eslint-plugin-cypress@2.12.1
  - eslint-plugin-vue@8.5.0
  - '@typescript-eslint/eslint-plugin@5.14.0'
  - '@typescript-eslint/parser@5.14.0'
  ...

Add sequester support in core sync
  parsec/core/backend_connection/authenticated.py
  parsec/core/backend_connection/cmds.py
  parsec/core/fs/remote_loader.py
  parsec/core/types/organizations.py
Due: license_headers

Remove unused fixtures from tests/core/fs/test_fs_sync.py::test_new_workspace
  tests/core/fs/test_fs_sync.py
Due: license_headers

Add sequester register service cli
  parsec/backend/cli/__init__.py
  parsec/backend/cli/sequester.py
  parsec/backend/cli/utils.py
Due: license_headers

Remove unused KeyFormat
  parsec/core/cli/bootstrap_organization.py
Due: license_headers

add method to get endpoint url for authenticated & anonymous
  oxidation/crates/parsec_api_types/src/addr.rs
Due: license_headers

add newsfragment
  newsfragments/2537.empty.rst
Due: none

add method to get endpoint url for authenticated & anonymous (#2535)
  newsfragments/2537.empty.rst
  oxidation/crates/parsec_api_types/src/addr.rs
Due: license_headers

Make the parsec snap script more isolated and more robust
  packaging/snap/bin/parsec
  packaging/snap/snap/snapcraft.yaml
Due: none

Update parsec-cli snap script
  packaging/snap/bin/parsec-cli
Due: none

[GUI] Snackbars are hidden on Windows when the window loses focus
  newsfragments/2530.bugfix.rst
  parsec/core/gui/snackbar_widget.py
Due: license_headers

Bump version v2.10.0-rc2+dev -> v2.10.0-rc3
  HISTORY.rst
  licenses/BSL-Scille.txt
  newsfragments/2530.bugfix.rst
  parsec/_version.py
Due: license_headers

Bump version v2.10.0-rc3 -> v2.10.0-rc3+dev
  licenses/BSL-Scille.txt
  parsec/_version.py
Due: license_headers

Overriding PATH in the snap scripts was a bit ambitious...
  packaging/snap/bin/parsec
  packaging/snap/bin/parsec-cli
Due: none

Bump version v2.10.0-rc3+dev -> v2.10.0-rc4
  HISTORY.rst
  licenses/BSL-Scille.txt
  parsec/_version.py
Due: license_headers

Bump version v2.10.0-rc4 -> v2.10.0-rc4+dev
  licenses/BSL-Scille.txt
  parsec/_version.py
Due: license_headers

Bump version v2.10.0-rc4+dev -> v2.10.0
  HISTORY.rst
  licenses/BSL-Scille.txt
  parsec/_version.py
Due: license_headers

Bump version v2.10.0 -> v2.10.0+dev
  licenses/BSL-Scille.txt
  parsec/_version.py
Due: license_headers

[GUI] Select the file name when renaming a file
  newsfragments/2531.feature.rst
  parsec/core/gui/custom_dialogs.py
  parsec/core/gui/files_widget.py
  tests/core/gui/test_input_dialogs.py
Due: license_headers

Fix snackbar
  parsec/core/gui/snackbar_widget.py
Due: license_headers

fix most typo in history
  HISTORY.rst
Due: none

[GUI] Fixed snackbar visibility when window is not in focus and how snackbars are handled
  parsec/core/gui/main_window.py
  parsec/core/gui/parsec_application.py
  parsec/core/gui/snackbar_widget.py
Due: license_headers

Remove useless misc/gui_widgets_debug.py
  misc/gui_widgets_debug.py
Due: license_headers

Remove importlib_resources dependency (backend of importlib.resources, no longer needed)
  parsec/_subprocess_dialog.py
  parsec/backend/http.py
  parsec/backend/postgresql/handler.py
  parsec/backend/templates/__init__.py
  parsec/core/logged_core.py
  parsec/core/mountpoint/fuse_runner.py
  parsec/core/win_registry.py
  tests/backend/migrations/test_migrations.py
  tests/schemas/test_compat.py
Due: license_headers

Use Poetry as project manager instead of setup.py \o/
  .azure-pipelines.yml
  .pre-commit-config.yaml
  misc/generate_pyqt.py
  misc/releaser.py
  packaging/macOS/freeze_program.py
  packaging/macOS/macos_pyinstaller.sh
  packaging/macOS/pyinstaller.spec
  packaging/snap/snap/snapcraft.yaml
  packaging/wheel/wheel_it.py
  parsec/core/gui/app.py
  parsec/core/gui/resources_rc.py
  poetry.lock
  pre-requirements.txt
  pyproject.toml
  setup.py
  tests/scripts/run_testenv.py
Due: license_headers

Fix mypy codesmells
  parsec/api/protocol/base.py
  parsec/backend/cli/run.py
  parsec/core/fs/workspacefs/file_operations.py
  parsec/core/gui/main_window.py
Due: license_headers

Update packaging/wheel/wheel_it.py
  packaging/wheel/wheel_it.py
Due: license_headers

Update parsec dependencies
  poetry.lock
  pyproject.toml
Due: none

Remove now useless requirement folder
  requirement/backend_requirement.txt
  requirement/core_requirement.txt
  requirement/install_requirement.txt
  requirement/test_requirement.txt
Due: none

Platform binding base
  oxidation/bindings/android/libparsec/rust/src/lib.rs
  oxidation/bindings/common/src/lib.rs
  oxidation/bindings/ffi/TODO
  oxidation/bindings/neon/src/lib.rs
  oxidation/client/src/plugins/libparsec/index.ts
  oxidation/client/src/router/index.ts
  oxidation/client/src/views/TestPage.vue
Due: license_headers, eslint

fix most typo in history (#2543)
  HISTORY.rst
Due: none

Missed pin version
  .github/workflows/quality-assurance.yml
Due: none

[GUI] Added an option to copy a user's email
  newsfragments/2534.feature.rst
  parsec/core/gui/users_widget.py
  tests/core/gui/users_widget/test_list.py
Due: license_headers

Improve typing in parsec.core.backend_connection.transport
  parsec/core/backend_connection/transport.py
Due: license_headers

order items
  .github/dependabot.yml
Due: none

make some update start the soonest and other the lastest
  .github/dependabot.yml
Due: none

limit the number of open PR
  .github/dependabot.yml
Due: none

add newsfragment
  newsfragments/2565.empty.rst
Due: none

correct directory for peotry
  .github/dependabot.yml
Due: none

migrate QA job to github action (#2523)
  .github/scripts/check_commit_signature.py
  .github/scripts/check_news_fragment.py
  .github/workflows/quality-assurance.yml
  newsfragments/2524.empty.rst
Due: license_headers

Add list services
  parsec/backend/cli/__init__.py
  parsec/backend/cli/sequester.py
Due: license_headers

Path conditions:
  license_headers: any of: \.py$, \.sql$, \.rs$, \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, but not: ^misc/bench.py$
  eslint: any of: ^oxidation/client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
