Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

license_headers:
  name: license_headers
  entry: python ./misc/license_headers.py add
  language: python
  language_version: python3

eslint:
  name: eslint
  description: ''
  entry: eslint
  language: node
  args:
  - --config=oxidation/client/.eslintrc.js
  additional_dependencies:
  - eslint@8.10.0
  - eslint-plugin-cypress@2.12.1
  - eslint-plugin-vue@8.5.0
  - '@typescript-eslint/eslint-plugin@5.14.0'
  - '@typescript-eslint/parser@5.14.0'
  ...

Update OrganizationCard.vue
  oxidation/client/src/components/OrganizationCard.vue
Due: license_headers, eslint

Adds an OrganizationCard component (#3882)
  oxidation/client/src/components/OrganizationCard.vue
Due: license_headers, eslint

Move `LegacyDeviceFile` tests in its own module
  oxidation/libparsec/crates/client_types/src/lib.rs
  oxidation/libparsec/crates/client_types/src/local_device_file.rs
  oxidation/libparsec/crates/client_types/src/test/mod.rs
  oxidation/libparsec/crates/client_types/src/test/test_local_device.rs
Due: license_headers

prepare login block
  oxidation/client/src/components/OrganizationCard.vue
  oxidation/client/src/components/OrganizationList.vue
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/theme/variables.css
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

Fix web vs native packaging for libparsec in client
  .github/workflows/ci.yml
  oxidation/client/.gitignore
  oxidation/client/package-lock.json
  oxidation/client/package.json
  oxidation/client/src/plugins/libparsec/index.ts
  oxidation/client/src/plugins/libparsec/trampoline-native.ts.in
  oxidation/client/src/plugins/libparsec/trampoline-web.ts.in
  oxidation/client/src/plugins/libparsec/trampoline.d.ts
  oxidation/client/vue.config.js
Due: license_headers, eslint

Fix lint errors in client
  oxidation/client/src/components/MobileItemList.vue
  oxidation/client/src/components/OrganizationCard.vue
  oxidation/client/src/components/WorkspaceShareModalUserItem.vue
  oxidation/client/src/views/OrganizationPage.vue
  oxidation/client/src/views/OrganizationPageUsers.vue
  oxidation/client/src/views/TestPage.vue
  oxidation/client/tests/unit/HeaderPage.spec.ts
Due: license_headers, eslint

Add client lint to CI
  .github/workflows/ci.yml
  oxidation/client/.eslintrc.js
  oxidation/client/package.json
  oxidation/client/vue.config.js
Due: license_headers, eslint

Bump @typescript-eslint/parser to 5.48.1 to avoid "typescript too recent" warning
  oxidation/client/package-lock.json
  oxidation/client/package.json
Due: none

[MS] Added login page with password input
  oxidation/client/src/components/OrganizationCard.vue
  oxidation/client/src/components/PasswordInput.vue
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

Bump rust
  .github/workflows/ci.yml
  .github/workflows/package-ci.yml
  docs/development/quickstart.rst
  misc/setup-rust.sh
  oxidation/libparsec/crates/types/src/invite.rs
  rust-toolchain.toml
  src/data/local_manifest.rs
Due: license_headers

Updated bindings generator to use camelCase for TypeScript
  oxidation/bindings/electron/src/index.d.ts
  oxidation/bindings/electron/src/meths.rs
  oxidation/bindings/generator/generate.py
  oxidation/bindings/generator/templates/binding_electron_index.d.ts.j2
  oxidation/bindings/generator/templates/binding_electron_meths.rs.j2
  oxidation/bindings/generator/templates/binding_web_meths.rs.j2
  oxidation/bindings/generator/templates/client_plugin_definitions.d.ts.j2
  oxidation/bindings/web/src/meths.rs
  oxidation/client/src/plugins/libparsec/definitions.d.ts
Due: license_headers, eslint

improve transitions
  oxidation/client/src/components/OrganizationCard.vue
  oxidation/client/src/components/PasswordInput.vue
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/theme/variables.css
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

improve assets
  oxidation/client/src/assets/images/Logo/Logo.svg
  oxidation/client/src/assets/images/Logo/Logo/IA/Logo.ai
  oxidation/client/src/assets/images/Logo/Logo/MP4/intro.mp4
  oxidation/client/src/assets/images/Logo/__MACOSX/Logo/._PNG
  oxidation/client/src/assets/images/Logo/__MACOSX/Logo/._SVG
  oxidation/client/src/assets/images/Logo/__MACOSX/Logo/IA/._Logo.ai
  oxidation/client/src/assets/images/Logo/__MACOSX/Logo/IA/._Logo.svg
  oxidation/client/src/assets/images/Logo/__MACOSX/Logo/PNG/._logo_gradient.png
  oxidation/client/src/assets/images/Logo/__MACOSX/Logo/PNG/._logo_icon_gradient.png
  oxidation/client/src/assets/images/Logo/__MACOSX/Logo/PNG/._logo_strapeline_white.png
  oxidation/client/src/assets/images/Logo/__MACOSX/Logo/SVG/._logo_2lines_blue.svg
  oxidation/client/src/assets/images/Logo/__MACOSX/Logo/SVG/._logo_2lines_white.svg
  oxidation/client/src/assets/images/Logo/__MACOSX/Logo/SVG/._logo_blue.svg
  oxidation/client/src/assets/images/Logo/__MACOSX/Logo/SVG/._logo_icon_blue.svg
  oxidation/client/src/assets/images/Logo/__MACOSX/Logo/SVG/._logo_strapeline_blue.svg
  oxidation/client/src/assets/images/Logo/logo_2lines_blue.png
  oxidation/client/src/assets/images/Logo/logo_2lines_blue.svg
  oxidation/client/src/assets/images/Logo/logo_2lines_gradient.png
  oxidation/client/src/assets/images/Logo/logo_2lines_white.png
  oxidation/client/src/assets/images/Logo/logo_2lines_white.svg
  oxidation/client/src/assets/images/Logo/logo_blue.png
  oxidation/client/src/assets/images/Logo/logo_blue.svg
  oxidation/client/src/assets/images/Logo/logo_gradient.png
  oxidation/client/src/assets/images/Logo/logo_gradient.svg
  oxidation/client/src/assets/images/Logo/logo_icon_blue.png
  oxidation/client/src/assets/images/Logo/logo_icon_blue.svg
  oxidation/client/src/assets/images/Logo/logo_icon_gradient.png
  oxidation/client/src/assets/images/Logo/logo_icon_gradient.svg
  oxidation/client/src/assets/images/Logo/logo_icon_white.png
  oxidation/client/src/assets/images/Logo/logo_icon_white.svg
  oxidation/client/src/assets/images/Logo/logo_strapeline_blue.png
  oxidation/client/src/assets/images/Logo/logo_strapeline_blue.svg
  oxidation/client/src/assets/images/Logo/logo_strapeline_white.png
  oxidation/client/src/assets/images/Logo/logo_strapeline_white.svg
  oxidation/client/src/assets/images/Logo/logo_white.png
  oxidation/client/src/assets/images/Logo/logo_white.svg
Due: none

configure cspell to ignore svg
  .cspell/cspell.config.yml
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

Update cspell.config.yml
  .cspell/cspell.config.yml
Due: none

Delete OrganizationList.vue
  oxidation/client/src/components/OrganizationList.vue
Due: license_headers, eslint

[GUI] Added dialogs for workspace remanence
  parsec/core/gui/forms/remanence_management_widget.ui
  parsec/core/gui/remanence_management_widget.py
  parsec/core/gui/workspace_button.py
  parsec/core/gui/workspaces_widget.py
Due: license_headers

Re-export `futures` crate + primitive sync
  oxidation/libparsec/crates/platform_async/src/lib.rs
Due: license_headers

[MS] Small style fixes, tests fixes, added some e2e tests
  oxidation/client/src/components/OrganizationCard.vue
  oxidation/client/src/components/PasswordInput.vue
  oxidation/client/src/views/OrganizationPage.vue
  oxidation/client/tests/e2e/specs/test.js
  oxidation/client/tests/unit/HeaderPage.spec.ts
  oxidation/client/tests/unit/HomePage.spec.ts
Due: license_headers, eslint

[MS] Fixed missing end of lines in svg files
  oxidation/client/src/assets/images/Logo/Logo.svg
  oxidation/client/src/assets/images/Logo/logo_2lines_blue.svg
  oxidation/client/src/assets/images/Logo/logo_2lines_white.svg
  oxidation/client/src/assets/images/Logo/logo_blue.svg
  oxidation/client/src/assets/images/Logo/logo_gradient.svg
  oxidation/client/src/assets/images/Logo/logo_icon_blue.svg
  oxidation/client/src/assets/images/Logo/logo_icon_gradient.svg
  oxidation/client/src/assets/images/Logo/logo_icon_white.svg
  oxidation/client/src/assets/images/Logo/logo_strapeline_blue.svg
  oxidation/client/src/assets/images/Logo/logo_strapeline_white.svg
  oxidation/client/src/assets/images/Logo/logo_white.svg
Due: none

[MS] Disable log in button in password is empty
  oxidation/client/src/components/PasswordInput.vue
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

Add newsfragment 3837
  newsfragments/3837.api.rst
Due: none

Remove deprecated comment about organization bootstrap
  parsec/core/invite/organization.py
Due: license_headers

Drop APIV2 on client side
  parsec/api/protocol/handshake.py
  parsec/backend/utils.py
  tests/backend/test_compatibility.py
Due: license_headers

drop client support api v2, update challange test
  newsfragments/3837.api.rst
  tests/backend/test_compatibility.py
Due: license_headers

Added password device save functions
  oxidation/libparsec/crates/client_types/src/local_device.rs
  oxidation/libparsec/crates/client_types/src/local_device_file.rs
  oxidation/libparsec/crates/client_types/tests/test_local_device_file.rs
  src/lib.rs
  src/local_device.rs
Due: license_headers

Use new binded save device functions in python
  parsec/_parsec.pyi
  parsec/_parsec_pyi/local_device.pyi
  parsec/core/cli/list_devices.py
  parsec/core/cli/utils.py
  parsec/core/gui/authentication_change_widget.py
  parsec/core/gui/claim_device_widget.py
  parsec/core/gui/claim_user_widget.py
  parsec/core/gui/create_org_widget.py
  parsec/core/gui/device_recovery_import_widget.py
  parsec/core/local_device.py
  parsec/test_utils/organization.py
  tests/core/gui/conftest.py
  tests/core/gui/test_enrollment.py
  tests/core/gui/test_expired_organization.py
  tests/core/gui/test_login.py
  tests/core/gui/test_main_window.py
  tests/core/gui/test_recovery.py
  tests/core/gui/test_workspace_sharing.py
  tests/core/test_local_device.py
  tests/test_cli.py
Due: license_headers

[MS] Format last login
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/views/HomePage.vue
  oxidation/client/tests/e2e/specs/home_page.js
Due: license_headers, eslint

[MS] Removed useless logs
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

fix: adapt to AvailableDevice camelCase
  oxidation/client/src/components/OrganizationCard.vue
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

Add newsFragment
  newsfragments/3843.empty.rst
Due: none

store lastLogin in ionic storage
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

Some corrections in .po files
  parsec/core/gui/tr/parsec_en.po
  parsec/core/gui/tr/parsec_fr.po
Due: none

Update README.md
  oxidation/client/README.md
Due: none

Update vue.config.js
  oxidation/client/vue.config.js
Due: license_headers, eslint

Update HomePage.vue
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

Remove useless platform_native/web crates, mock android bindings (not implemented for the moment)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Cargo.lock
  oxidation/bindings/android/libparsec/build.gradle
  oxidation/bindings/android/libparsec/rust/Cargo.toml
  oxidation/bindings/android/libparsec/rust/src/lib.rs
  oxidation/bindings/android/libparsec/src/main/java/com/scille/libparsec/Runtime.kt
  oxidation/bindings/common/Cargo.toml
  oxidation/bindings/common/src/lib.rs
  oxidation/libparsec/Cargo.toml
  oxidation/libparsec/crates/platform_native/Cargo.toml
  oxidation/libparsec/crates/platform_native/src/lib.rs
  oxidation/libparsec/crates/platform_native/src/transport.rs
  oxidation/libparsec/crates/platform_native/tests/mod.rs
  oxidation/libparsec/crates/platform_native/tests/test_transport.rs
  oxidation/libparsec/crates/platform_web/Cargo.toml
  oxidation/libparsec/crates/platform_web/src/lib.rs
  oxidation/libparsec/crates/platform_web/src/transport.rs
  oxidation/libparsec/src/lib.rs
Due: license_headers

Add login and logged_core getter as poc
  Cargo.lock
  oxidation/bindings/electron/src/index.d.ts
  oxidation/bindings/electron/src/meths.rs
  oxidation/bindings/generator/api.py
  oxidation/bindings/generator/generate.py
  oxidation/bindings/generator/templates/binding_electron_index.d.ts.j2
  oxidation/bindings/generator/templates/binding_electron_meths.rs.j2
  oxidation/bindings/generator/templates/binding_web_meths.rs.j2
  oxidation/bindings/generator/templates/client_plugin_definitions.d.ts.j2
  oxidation/bindings/web/src/meths.rs
  oxidation/client/src/plugins/libparsec/definitions.d.ts
  oxidation/client/src/views/TestPage.vue
  oxidation/libparsec/Cargo.toml
  oxidation/libparsec/crates/client_types/Cargo.toml
  oxidation/libparsec/crates/core/Cargo.toml
  oxidation/libparsec/crates/core/src/error.rs
  oxidation/libparsec/crates/core/src/lib.rs
  oxidation/libparsec/crates/core/src/logged_core.rs
  oxidation/libparsec/crates/platform_async/src/lib.rs
  oxidation/libparsec/src/lib.rs
Due: license_headers, eslint

Remove useless `platform_native/web` crates, mock `android bindings` (not implemented for the moment) (#3908)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Cargo.lock
  oxidation/bindings/android/libparsec/build.gradle
  oxidation/bindings/android/libparsec/rust/Cargo.toml
  oxidation/bindings/android/libparsec/rust/src/lib.rs
  oxidation/bindings/android/libparsec/src/main/java/com/scille/libparsec/Runtime.kt
  oxidation/bindings/common/Cargo.toml
  oxidation/bindings/common/src/lib.rs
  oxidation/libparsec/Cargo.toml
  oxidation/libparsec/crates/platform_native/Cargo.toml
  oxidation/libparsec/crates/platform_native/src/lib.rs
  oxidation/libparsec/crates/platform_native/src/transport.rs
  oxidation/libparsec/crates/platform_native/tests/mod.rs
  oxidation/libparsec/crates/platform_native/tests/test_transport.rs
  oxidation/libparsec/crates/platform_web/Cargo.toml
  oxidation/libparsec/crates/platform_web/src/lib.rs
  oxidation/libparsec/crates/platform_web/src/transport.rs
  oxidation/libparsec/src/lib.rs
Due: license_headers

Add IntBasedType to binding generator and improve typing in generated definition.d.ts
  oxidation/bindings/generator/api.py
  oxidation/bindings/generator/generate.py
  oxidation/bindings/generator/templates/client_plugin_definitions.d.ts.j2
  oxidation/client/src/plugins/libparsec/definitions.d.ts
Due: license_headers, eslint

Path conditions:
  license_headers: any of: \.py$, \.sql$, \.rs$, \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, but not: ^misc/bench.py$
  eslint: any of: ^oxidation/client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
