Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Correct libparsec/libparsec_client/libparsec_account with new `RemoteOpaqueKeyFetchOffline` error and `PinBoxFutureResult` rename
  bindings/generator/api/account.py
  bindings/generator/api/client.py
  libparsec/crates/account/src/register_new_device.rs
  libparsec/crates/client/src/client/recovery_device.rs
  libparsec/crates/client/tests/unit/invite/bootstrap_organization.rs
  libparsec/src/account.rs
  libparsec/src/client.rs
  libparsec/src/device.rs
Due: fmt, clippy

Remove fields `allowed_client_agent/account_vault_strategy` from `events_listen`/`organization_self_list` API commands and administration REST API
  cli/tests/integration/organization/status.rs
  libparsec/crates/client/src/monitors/connection.rs
  libparsec/crates/client_connection/tests/unit/authenticated.rs
  libparsec/crates/protocol/schema/authenticated_account_cmds/organization_self_list.json5
  libparsec/crates/protocol/schema/authenticated_cmds/events_listen.json5
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/organization_self_list.rs
  libparsec/crates/protocol/tests/authenticated_cmds/v5/events_listen.rs
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/organization_self_list.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/events_listen.pyi
  server/parsec/asgi/administration.py
  server/parsec/components/account.py
  server/parsec/components/auth.py
  server/parsec/components/memory/account.py
  server/parsec/components/memory/auth.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/events.py
  server/parsec/components/memory/organization.py
  server/parsec/components/organization.py
  server/parsec/components/postgresql/account_organization_self_list.py
  server/parsec/components/postgresql/auth.py
  server/parsec/components/postgresql/events.py
  server/parsec/components/postgresql/migrations/0018_remove_per_organization_config.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/parsec/components/postgresql/organization.py
  server/parsec/components/postgresql/organization_create.py
  server/parsec/components/postgresql/organization_test_dump_organizations.py
  server/parsec/components/postgresql/organization_update.py
  server/parsec/components/postgresql/test_queries.py
  server/parsec/events.py
  server/parsec/types.py
  server/tests/administration/test_create_organization.py
  server/tests/administration/test_get_organization.py
  server/tests/administration/test_patch_organization.py
  server/tests/api_v5/authenticated/test_events_listen.py
  server/tests/api_v5/authenticated_account/test_organization_self_list.py
  server/tests/common/data.py
  server/tests/test_sse.py
  server/tests/test_types.py
Due: sqlfluff, fmt, clippy

Implement anonymous server API `server_config` in server
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/server_config.pyi
  server/parsec/components/events.py
  server/tests/api_v5/anonymous_server/test_server_config.py
Due: none

Add OpenBao support to `libparsec` main crate and bindings
  bindings/generator/api/device.py
  cli/src/commands/device/change_authentication.rs
  cli/src/commands/device/overwrite_server_url.rs
  cli/src/utils.rs
  libparsec/Cargo.toml
  libparsec/src/client.rs
  libparsec/src/device.rs
Due: toml-fmt, fmt, clippy

Minor import correction in `bindings/generator/api/client.py`
  bindings/generator/api/client.py
Due: none

Replace `Internal` by more precise `BadServerResponse` in `libparsec_account::AccountUploadOpaqueKeyInVaultError`
  libparsec/crates/account/src/upload_opaque_key_in_vault.rs
  libparsec/crates/account/tests/unit/upload_opaque_key_in_vault.rs
Due: fmt, clippy

Add `libparsec_openbao` crate
  Cargo.lock
  Cargo.toml
  libparsec/crates/openbao/Cargo.toml
  libparsec/crates/openbao/src/lib.rs
  libparsec/crates/openbao/tests/unit/mod.rs
Due: toml-fmt, fmt, clippy

Introduce `libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5`
  libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/server_config.rs
Due: fmt, clippy

Minor correction in error message for AccountRegisterNewDeviceError/ImportRecoveryDeviceError
  libparsec/crates/account/src/register_new_device.rs
  libparsec/crates/client/src/client/recovery_device.rs
Due: fmt, clippy

Rename `libparsec_cient_connection::AnonymousAccountCmds` -> `AnonymousServerCmds`
  libparsec/crates/account/src/account_create.rs
  libparsec/crates/account/src/account_recover.rs
  libparsec/crates/account/src/auth_method_derived_keys.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/src/login.rs
  libparsec/crates/account/tests/unit/account_create/check_code.rs
  libparsec/crates/account/tests/unit/account_create/create.rs
  libparsec/crates/account/tests/unit/account_create/send_validation_email.rs
  libparsec/crates/account/tests/unit/account_recover/recover.rs
  libparsec/crates/account/tests/unit/account_recover/send_validation_email.rs
  libparsec/crates/account/tests/unit/create_auth_method.rs
  libparsec/crates/account/tests/unit/login.rs
  libparsec/crates/client_connection/src/anonymous_server_cmds.rs
  libparsec/crates/client_connection/src/authenticated_account_cmds.rs
  libparsec/crates/client_connection/src/lib.rs
  libparsec/crates/client_connection/tests/unit/anonymous_server.rs
  libparsec/crates/types/src/addr.rs
  libparsec/src/account.rs
Due: fmt, clippy

Fix `libparsec_account` to remove `allowed_client_agent/account_vault_strategy` from `list_organizations` and no longer check vault strategy during `create_registration_device`
  bindings/generator/api/account.py
  libparsec/crates/account/src/create_registration_device.rs
  libparsec/crates/account/src/list_organizations.rs
  libparsec/crates/account/tests/unit/create_registration_device.rs
  libparsec/crates/account/tests/unit/list_organizations.rs
  libparsec/src/account.rs
Due: fmt, clippy

Rename `anonymous_account` protocol API family as `anonymous_server`
  libparsec/crates/protocol/schema/anonymous_server_cmds/account_create_proceed.json5
  libparsec/crates/protocol/schema/anonymous_server_cmds/account_create_send_validation_email.json5
  libparsec/crates/protocol/schema/anonymous_server_cmds/account_recover_proceed.json5
  libparsec/crates/protocol/schema/anonymous_server_cmds/account_recover_send_validation_email.json5
  libparsec/crates/protocol/schema/anonymous_server_cmds/auth_method_password_get_algorithm.json5
  libparsec/crates/protocol/schema/anonymous_server_cmds/ping.json5
  libparsec/crates/protocol/src/lib.rs
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/account_create_proceed.rs
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/account_create_send_validation_email.rs
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/account_recover_proceed.rs
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/account_recover_send_validation_email.rs
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/auth_method_password_get_algorithm.rs
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/ping.rs
  libparsec/crates/protocol/tests/serialization.rs
  libparsec/crates/types/src/protocol.rs
  server/src/protocol.rs
Due: fmt, clippy

Rename server API route `/anonymous_account` -> `/anonymous_server`
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/protocol/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/account_create_proceed.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/account_create_send_validation_email.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/account_recover_proceed.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/account_recover_send_validation_email.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/auth_method_password_get_algorithm.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_server_cmds/v5/ping.pyi
  server/parsec/api.py
  server/parsec/asgi/rpc.py
  server/parsec/client_context.py
  server/parsec/components/account.py
  server/parsec/components/ping.py
  server/tests/api_v5/__init__.py
  server/tests/api_v5/anonymous_account/test_ping.py
  server/tests/api_v5/anonymous_server/__init__.py
  server/tests/api_v5/anonymous_server/test_account_create_proceed.py
  server/tests/api_v5/anonymous_server/test_account_create_send_validation_email.py
  server/tests/api_v5/anonymous_server/test_account_recover_proceed.py
  server/tests/api_v5/anonymous_server/test_account_recover_send_validation_email.py
  server/tests/api_v5/anonymous_server/test_auth_method_password_get_algorithm.py
  server/tests/api_v5/anonymous_server/test_ping.py
  server/tests/common/account.py
  server/tests/common/client.py
  server/tests/common/data.py
  server/tests/common/postgresql.py
  server/tests/common/rpc.py
Due: none

Add mocked OpenBao API routes to the server testbed
  server/parsec/cli/testbed.py
Due: none

Change server run parameters to add openbao config and allowed-client-agent/account-vault-strategy moved from per-org to global to server config
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/config.py
  server/tests/common/backend.py
Due: none

Rename `libparsec_client::ServerConfig` -> `ServerOrganizationConfig`
  bindings/generator/api/client.py
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/config.rs
  libparsec/crates/client/src/monitors/server_config.rs
  libparsec/src/client.rs
  libparsec/src/config.rs
Due: fmt, clippy

Expose `libparsec::get_server_config` in the bindings
  bindings/generator/api/config.py
  libparsec/src/config.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Check user agent header on server side all familly commands according to server config
  server/parsec/asgi/rpc.py
  server/parsec/client_context.py
Due: none

Bump testbed server to 3.5.3-a.0.dev.20405.89d0dcb
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Fix GUI with new `DeviceSaveStrategy::OpenBao` variant
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/profile/AuthenticationCard.vue
  client/src/parsec/login.ts
  client/src/parsec/types.ts
  client/src/views/organizations/creation/CreateOrganizationTrial.vue
Due: eslint, vue-tsc, prettier

Bump starlette and fastapi to include security bugfixes
  server/poetry.lock
  server/pyproject.toml
Due: toml-fmt

Remove pydantic-core dep as it is now included in pydantic
  server/poetry.lock
  server/pyproject.toml
Due: toml-fmt

Remove unused Babel dependency from server
  server/poetry.lock
  server/pyproject.toml
Due: toml-fmt

[MS] Prevent double click on file name click
  client/src/components/files/explorer/FileCard.vue
  client/src/components/files/explorer/FileListItem.vue
  newsfragments/11640.bugfix.rst
Due: eslint, vue-tsc, prettier

[MS] Offline Editing Notification
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/files/handler/FileHandler.vue
  client/src/views/files/handler/editor/FileEditor.vue
  client/src/views/files/handler/editor/types.ts
Due: eslint, vue-tsc, prettier

Add expected behavior field to bug report template
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

[PKI] Fix pki_enroll_accept to accept the payload as struct instead of bytes
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/client.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/src/client.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

fix(log): Missing feature `kv` for `env_logger`
  cli/Cargo.toml
  libparsec/Cargo.toml
Due: toml-fmt

[PKI] Add bindings for list_pki_local_pending.
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/src/device.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

feat(pki): Add `intermediate_der_x509_certificates` to `pki_submit` protocol
  libparsec/crates/client/src/client/pki_enrollment_submit.rs
  libparsec/crates/protocol/schema/anonymous_cmds/pki_enrollment_submit.json5
  libparsec/crates/protocol/tests/anonymous_cmds/v5/pki_enrollment_submit.rs
  server/parsec/_parsec_pyi/protocol/anonymous_cmds/v5/pki_enrollment_submit.pyi
  server/parsec/components/pki.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
  server/tests/common/rpc.py
Due: fmt, clippy

[PKI] Add bindings to get pki enrollement addr.
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/client.py
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/client/pki_get_addr.rs
  libparsec/src/client.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

feat(pki): Add intermediate certs to protocol `pki_accept`
  libparsec/crates/client/src/client/pki_enrollment_accept.rs
  libparsec/crates/protocol/schema/authenticated_cmds/pki_enrollment_accept.json5
  libparsec/crates/protocol/tests/authenticated_cmds/v5/pki_enrollment_accept.rs
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/pki_enrollment_accept.pyi
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/parsec/components/postgresql/pki.py
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
  server/tests/api_v5/authenticated/test_pki_enrollment_accept.py
  server/tests/common/rpc.py
Due: fmt, clippy

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
