Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

Path conditions:
  license_headers: any of: \.py$, \.sql$, \.rs$, \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, but not: ^misc/bench.py$
  eslint: any of: ^oxidation/client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)

Don't build `rust` lib on qa step when installing python
  .github/workflows/ci.yml
  build.py
Due: license_headers

Updated the function that choses the drive icon
  parsec/core/mountpoint/winfsp_runner.py
  parsec/core/win_registry.py
Due: license_headers

Move from some deprecated npm packages (#3771)
  oxidation/client/electron/package-lock.json
  oxidation/client/electron/package.json
Due: none

Fix plugin loading in client when building for non-web
  oxidation/client/src/plugins/libparsec/index.ts
Due: license_headers, eslint

Speedup liparsec_protocol compilation by factorizing UnknownStatus struct
  oxidation/libparsec/crates/serialization_format/src/protocol/intermediate/cmd.rs
  oxidation/libparsec/crates/serialization_format/src/protocol/intermediate/collection.rs
Due: license_headers

Rework CI
  .github/actions/paths-filter/filters.yml
  .github/actions/setup-rust/action.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Cargo.toml
  build.py
Due: license_headers

Dummy change on Python
  parsec/__init__.py
Due: license_headers

Updated CI packaging to build overlays dlls
  .github/workflows/package-ci.yml
Due: none

Removed overlay dll files copy to dist folder
  .github/workflows/package-ci.yml
Due: none

fix Q&A
  packaging/windows/freeze_program.py
  windows-icon-handler/check-icon-handler/check-icon-handler.rc
  windows-icon-handler/check-icon-handler/check-icon-handler.vcxproj
  windows-icon-handler/check-icon-handler/check-icon-handler.vcxproj.filters
  windows-icon-handler/refresh-icon-handler/refresh-icon-handler.vcxproj
  windows-icon-handler/refresh-icon-handler/refresh-icon-handler.vcxproj.filters
  windows-icon-handler/refresh-icon-handler/resource.h
Due: license_headers

Updated NSIS & freeze_program scripts to bundle overlays dlls
  packaging/windows/README.md
  packaging/windows/freeze_program.py
  packaging/windows/installer.nsi
Due: license_headers

Added missing pyi headers & add parsec headers to cpp files
  misc/license_headers.py
  parsec/_parsec_pyi/misc.pyi
  parsec/_parsec_pyi/protocol/error.pyi
Due: license_headers

Remove `$` in windows packaging README file
  packaging/windows/README.md
Due: none

Added icons
  windows-icon-handler/check-icon-handler/check.ico
  windows-icon-handler/refresh-icon-handler/refresh.ico
Due: none

fix line endings
  windows-icon-handler/check-icon-handler/check-icon-handler.vcxproj
  windows-icon-handler/check-icon-handler/check-icon-handler.vcxproj.filters
  windows-icon-handler/refresh-icon-handler/refresh-icon-handler.vcxproj
  windows-icon-handler/refresh-icon-handler/refresh-icon-handler.vcxproj.filters
  windows-icon-handler/windows-icon-handler.sln
Due: none

Added license header on rc files
  windows-icon-handler/check-icon-handler/check-icon-handler.rc
  windows-icon-handler/refresh-icon-handler/refresh-icon-handler.rc
Due: none

fix line endings
  windows-icon-handler/check-icon-handler/check-icon-handler.rc
  windows-icon-handler/check-icon-handler/checkiconhandler.idl
  windows-icon-handler/install_dll.bat
  windows-icon-handler/refresh-icon-handler/refreshiconhandler.idl
  windows-icon-handler/refresh-icon-handler/resource.h
Due: none

fixed cspell
  .cspell/cspell.config.yml
  windows-icon-handler/refresh-icon-handler/refresh-icon-handler.rc
Due: none

Add background on icons
  windows-icon-handler/check-icon-handler/check.ico
  windows-icon-handler/refresh-icon-handler/refresh.ico
Due: none

Added icon loading from dll resources
  windows-icon-handler/check-icon-handler/CheckIconHandler.cpp
  windows-icon-handler/check-icon-handler/check-icon-handler.rc
  windows-icon-handler/check-icon-handler/check-icon-handler.vcxproj
  windows-icon-handler/check-icon-handler/check-icon-handler.vcxproj.filters
  windows-icon-handler/check-icon-handler/check.ico
  windows-icon-handler/check-icon-handler/icon1.ico
  windows-icon-handler/check-icon-handler/resource.h
  windows-icon-handler/refresh-icon-handler/RefreshIconHandler.cpp
  windows-icon-handler/refresh-icon-handler/refresh-icon-handler.rc
  windows-icon-handler/refresh-icon-handler/refresh-icon-handler.vcxproj
  windows-icon-handler/refresh-icon-handler/refresh-icon-handler.vcxproj.filters
  windows-icon-handler/refresh-icon-handler/refresh.ico
  windows-icon-handler/refresh-icon-handler/resource.h
Due: none

Use cspell disable in gitignore
  .cspell/cspell.config.yml
  windows-icon-handler/.gitignore
  windows-icon-handler/refresh-icon-handler/refresh-icon-handler.rc
Due: none

fix lf
  windows-icon-handler/check-icon-handler/check-icon-handler.rc
  windows-icon-handler/check-icon-handler/check-icon-handler.vcxproj
  windows-icon-handler/check-icon-handler/check-icon-handler.vcxproj.filters
  windows-icon-handler/check-icon-handler/resource.h
  windows-icon-handler/refresh-icon-handler/refresh-icon-handler.vcxproj
  windows-icon-handler/refresh-icon-handler/refresh-icon-handler.vcxproj.filters
  windows-icon-handler/refresh-icon-handler/resource.h
Due: none

Added nlohmann json parsing
  windows-icon-handler/check-icon-handler/CheckIconHandler.cpp
  windows-icon-handler/check-icon-handler/check-icon-handler.vcxproj
  windows-icon-handler/external/include/json/json.hpp
  windows-icon-handler/refresh-icon-handler/RefreshIconHandler.cpp
  windows-icon-handler/refresh-icon-handler/refresh-icon-handler.vcxproj
Due: none

Removed `install_dll.bat` this file is not used
  windows-icon-handler/install_dll.bat
Due: none

Fixed wrong license header in cpp files
  misc/license_headers.py
  windows-icon-handler/check-icon-handler/CheckIconHandler.cpp
  windows-icon-handler/check-icon-handler/CheckIconHandler.h
  windows-icon-handler/check-icon-handler/check-icon-handler.cpp
  windows-icon-handler/check-icon-handler/dllmain.cpp
  windows-icon-handler/check-icon-handler/dllmain.h
  windows-icon-handler/check-icon-handler/framework.h
  windows-icon-handler/check-icon-handler/pch.cpp
  windows-icon-handler/check-icon-handler/pch.h
  windows-icon-handler/check-icon-handler/resource.h
  windows-icon-handler/check-icon-handler/targetver.h
  windows-icon-handler/refresh-icon-handler/RefreshIconHandler.cpp
  windows-icon-handler/refresh-icon-handler/RefreshIconHandler.h
  windows-icon-handler/refresh-icon-handler/dllmain.cpp
  windows-icon-handler/refresh-icon-handler/dllmain.h
  windows-icon-handler/refresh-icon-handler/framework.h
  windows-icon-handler/refresh-icon-handler/pch.cpp
  windows-icon-handler/refresh-icon-handler/pch.h
  windows-icon-handler/refresh-icon-handler/refresh-icon-handler.cpp
  windows-icon-handler/refresh-icon-handler/resource.h
  windows-icon-handler/refresh-icon-handler/targetver.h
Due: license_headers

Build the whole solution with msbuild
  .github/workflows/package-ci.yml
  packaging/windows/README.md
  packaging/windows/freeze_program.py
  windows-icon-handler/install_dll.bat
Due: license_headers

Added virtual entry infos files to winfsp mountpoints
  parsec/core/mountpoint/winfsp_operations.py
  tests/core/mountpoint/test_winfsp.py
Due: license_headers

Remove useless `npm run web:copy:release` command from package-ci.yml when building electron&android
  .github/workflows/package-ci.yml
  rust-toolchain.toml
Due: none

Remove useless dependency on serde_json in libparsec_types
  Cargo.lock
  oxidation/libparsec/crates/types/Cargo.toml
Due: none

Tweak Diesel features to speedup it compilation
  oxidation/libparsec/crates/core_fs/Cargo.toml
Due: none

Fixed test import
  tests/core/mountpoint/test_winfsp.py
Due: license_headers
