Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

refactor(pre-commit): Do not build parsec during check
  .pre-commit-config.yaml
Due: none

ci(docker): Show server log after tests
  .github/workflows/docker-server.yml
  .github/workflows/docker-testbed.yml
Due: none

chore(poetry): Update to `2.1.4`
  .github/workflows/ci-docs.yml
  .github/workflows/ci-python.yml
  .github/workflows/codeql.yml
  .github/workflows/package-server.yml
  docs/development/README.md
  misc/versions.toml
  server/packaging/server/in-docker-build.sh
  server/packaging/testbed-server/in-docker-build.sh
Due: toml-fmt

ci(poetry): Use `pipx` to install poetry
  .github/actions/setup-python-poetry/action.yml
Due: none

Fix sqlfluff linter errors in block_test_dump_blocks
  .pre-commit-config.yaml
  server/parsec/components/postgresql/block_test_dump_blocks.py
  server/parsec/components/postgresql/test_queries.py
  server/parsec/components/postgresql/utils.py
Due: none

chore(parsec): Update `pyo3` to `0.24`
  Cargo.lock
  Cargo.toml
  server/src/binding_utils.rs
Due: toml-fmt, fmt, clippy

refactor(crypto): Migrate to `libsodium-rs`
  .github/workflows/ci-rust.yml
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  libparsec/Cargo.toml
  libparsec/crates/crypto/Cargo.toml
  libparsec/crates/crypto/src/lib.rs
  libparsec/crates/crypto/src/sodium/hash.rs
  libparsec/crates/crypto/src/sodium/key_derivation.rs
  libparsec/crates/crypto/src/sodium/mod.rs
  libparsec/crates/crypto/src/sodium/password.rs
  libparsec/crates/crypto/src/sodium/private.rs
  libparsec/crates/crypto/src/sodium/secret.rs
  libparsec/crates/crypto/src/sodium/sequester.rs
  libparsec/crates/crypto/src/sodium/sign.rs
  libparsec/crates/crypto/src/sodium/utils.rs
  libparsec/crates/crypto/src/sodiumoxide/password.rs
  libparsec/crates/crypto/src/sodiumoxide/secret.rs
  libparsec/crates/crypto/src/sodiumoxide/utils.rs
  make.py
  server/Cargo.toml
Due: toml-fmt, fmt, clippy

Fix sqlfluff linter errors in invite component
  .pre-commit-config.yaml
  server/parsec/components/postgresql/invite.py
Due: none

Fix sqlfluff linter errors in organization component
  .pre-commit-config.yaml
  server/parsec/components/postgresql/organization.py
  server/parsec/components/postgresql/organization_bootstrap.py
  server/parsec/components/postgresql/organization_create.py
  server/parsec/components/postgresql/organization_stats.py
  server/parsec/components/postgresql/organization_test_dump_organizations.py
  server/parsec/components/postgresql/organization_test_dump_topics.py
Due: none

chore(parsec): Update `pyo3` to `0.25`
  Cargo.lock
  Cargo.toml
Due: toml-fmt

Fix sqlfluff linter errors in pki component
  .pre-commit-config.yaml
  server/parsec/components/postgresql/pki.py
Due: none

Fix sqlfluff linter errors in common queries
  .pre-commit-config.yaml
  server/parsec/components/postgresql/queries/q_auth_lock_common_only.py
  server/parsec/components/postgresql/queries/q_auth_no_lock.py
  server/parsec/components/postgresql/queries/q_lock_realm.py
  server/parsec/components/postgresql/queries/q_lock_shamir.py
Due: none

Fix sqlfluff linter errors in realm component
  .pre-commit-config.yaml
  server/parsec/components/postgresql/realm_create.py
  server/parsec/components/postgresql/realm_dump_realms_granted_roles.py
  server/parsec/components/postgresql/realm_export_do_base_info.py
  server/parsec/components/postgresql/realm_export_do_blocks_metadata_batch.py
  server/parsec/components/postgresql/realm_export_do_certificates.py
  server/parsec/components/postgresql/realm_export_do_vlobs_batch.py
  server/parsec/components/postgresql/realm_get_current_realms_for_user.py
  server/parsec/components/postgresql/realm_get_keys_bundle.py
  server/parsec/components/postgresql/realm_rename.py
  server/parsec/components/postgresql/realm_rotate_key.py
  server/parsec/components/postgresql/realm_share.py
  server/parsec/components/postgresql/realm_unshare.py
  server/parsec/components/postgresql/user_get_certificates.py
Due: none

Fix sqlfluff linter errors in shamir component
  .pre-commit-config.yaml
  server/parsec/components/postgresql/shamir_delete.py
  server/parsec/components/postgresql/shamir_setup.py
Due: none

[MS] Implements FileHandler, FileEditor page & routing
  client/playwright.config.ts
  client/src/components/files/index.ts
  client/src/router/checks.ts
  client/src/router/types.ts
  client/src/services/cryptpad.ts
  client/src/services/fileOpener.ts
  client/src/services/headerControl.ts
  client/src/views/files/handler/FileHandler.vue
  client/src/views/files/handler/editor/FileEditor.vue
  client/src/views/files/handler/index.ts
  client/src/views/files/handler/types.ts
  client/src/views/files/handler/viewer/FileViewer.vue
  client/src/views/files/handler/viewer/utils.ts
  client/src/views/header/HeaderPage.vue
  client/tests/e2e/helpers/assertions.ts
  client/tests/e2e/specs/file_viewers.spec.ts
  client/tests/e2e/specs/file_viewers_document.spec.ts
  client/tests/e2e/specs/file_viewers_image.spec.ts
  client/tests/e2e/specs/file_viewers_pdf.spec.ts
  client/tests/e2e/specs/file_viewers_spreadsheet.spec.ts
  client/tests/e2e/specs/options_tab_menu.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
  client/tests/unit/specs/testCryptpad.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Implements FileEditor page & routing
  client/src/views/editors/FileEditor.vue
Due: eslint, vue-tsc, prettier

refactor: reorganize file related components
  client/src/views/editors/FileEditor.vue
Due: eslint, vue-tsc, prettier

refactor: reorganize file related views
  client/src/views/editors/FileEditor.vue
  client/src/views/files/handler/FileHandler.vue
Due: eslint, vue-tsc, prettier

!fixup
  client/src/views/files/handler/FileHandler.vue
Due: eslint, vue-tsc, prettier

[MS] Reorganize file related components & views
  client/src/views/files/handler/FileHandler.vue
Due: eslint, vue-tsc, prettier

Update
  client/src/theme/global.scss
  client/src/views/files/handler/FileHandler.vue
  client/src/views/layouts/ConnectedLayout.vue
Due: eslint, vue-tsc, prettier

[MS] Implements FileHandler, FileEditor page & routing
  client/src/views/files/handler/FileHandler.vue
Due: eslint, vue-tsc, prettier

refactor: reorganize file related views
  client/src/views/editors/FileEditor.vue
Due: eslint, vue-tsc, prettier

[MS] Adds e2e tests for archive download
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/download_file.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Slightly extend the timeout of some e2e tests
  client/tests/e2e/specs/account_invitation.spec.ts
  client/tests/e2e/specs/download_file.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
  client/tests/e2e/specs/workspace_sharing.spec.ts
Due: eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
