Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

Add `AsyncEnrollmentSubmitPayload/AsyncEnrollmentAcceptPayload/AsyncEnrollmentLocalPending` schemas to libparsec_types
  libparsec/crates/types/schema/async_enrollment/async_enrollment_accept_payload.json5
  libparsec/crates/types/schema/async_enrollment/async_enrollment_local_pending.json5
  libparsec/crates/types/schema/async_enrollment/async_enrollment_submit_payload.json5
  libparsec/crates/types/src/async_enrollment.rs
  libparsec/crates/types/src/lib.rs
  libparsec/crates/types/tests/unit/async_enrollment.rs
Due: fmt, clippy

WIP add `libparsec_client::async_enrollment`
  Cargo.lock
  Cargo.toml
  libparsec/crates/client/src/async_enrollment/accept.rs
  libparsec/crates/client/src/async_enrollment/list.rs
  libparsec/crates/client/src/async_enrollment/mod.rs
  libparsec/crates/client/src/async_enrollment/reject.rs
  libparsec/crates/client/src/async_enrollment/submit.rs
  libparsec/crates/client/src/lib.rs
Due: toml-fmt, fmt, clippy

WIP add `libparsec_async_enrollment`
  Cargo.lock
  Cargo.toml
  libparsec/crates/async_enrollment/Cargo.toml
  libparsec/crates/async_enrollment/src/accept.rs
  libparsec/crates/async_enrollment/src/lib.rs
  libparsec/crates/async_enrollment/src/list.rs
  libparsec/crates/async_enrollment/src/reject.rs
  libparsec/crates/async_enrollment/src/submit.rs
Due: toml-fmt, fmt, clippy

Create `libparsec_types::AsyncEnrollmentID`
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/types/src/id.rs
  server/src/ids.rs
Due: fmt, clippy

Add protocol schemas for `async_enrollment_(info|submit|list|reject|accept)` commands
  libparsec/crates/protocol/schema/anonymous_cmds/async_enrollment_info.json5
  libparsec/crates/protocol/schema/anonymous_cmds/async_enrollment_submit.json5
  libparsec/crates/protocol/schema/authenticated_cmds/async_enrollment_accept.json5
  libparsec/crates/protocol/schema/authenticated_cmds/async_enrollment_list.json5
  libparsec/crates/protocol/schema/authenticated_cmds/async_enrollment_reject.json5
  libparsec/crates/protocol/schema/authenticated_cmds/events_listen.json5
  libparsec/crates/protocol/tests/anonymous_cmds/v5/async_enrollment_info.rs
  libparsec/crates/protocol/tests/anonymous_cmds/v5/async_enrollment_submit.rs
  libparsec/crates/protocol/tests/authenticated_cmds/v5/async_enrollment_accept.rs
  libparsec/crates/protocol/tests/authenticated_cmds/v5/async_enrollment_list.rs
  libparsec/crates/protocol/tests/authenticated_cmds/v5/async_enrollment_reject.rs
Due: fmt, clippy

refactor(pki): Add error to pki list
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/src/client/pki_enrollment_list.rs
  libparsec/crates/protocol/schema/authenticated_cmds/pki_enrollment_list.json5
  libparsec/crates/protocol/tests/authenticated_cmds/v5/pki_enrollment_list.rs
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/pki_enrollment_list.pyi
  server/parsec/components/pki.py
  server/tests/api_v5/authenticated/test_pki_enrollment_list.py
Due: fmt, clippy, eslint, vue-tsc, prettier

feat(editor): add timeout modal for file loading issues and enhance error handling
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/cryptpad.ts
  client/src/views/files/handler/editor/EditorIssueModal.vue
  client/src/views/files/handler/editor/FileEditor.vue
  client/src/views/files/handler/editor/types.ts
Due: eslint, vue-tsc, prettier

[MS] Update workspace context menu to hide/unhide "Mount" and "Unmount" based on workspace hidden state
  client/src/components/workspaces/utils.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/workspace.ts
  client/src/views/workspaces/SmallDisplayWorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspacesPage.vue
  client/src/views/workspaces/types.ts
Due: eslint, vue-tsc, prettier

[MS] Fix skipped account_login tests
  client/tests/e2e/specs/account_login.spec.ts
Due: eslint, vue-tsc, prettier

refactor(pki): Add error for invalid accepter cert in pki info
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/src/client/pki_enrollment_info.rs
  libparsec/crates/protocol/schema/anonymous_cmds/pki_enrollment_info.json5
  libparsec/crates/protocol/tests/anonymous_cmds/v5/pki_enrollment_info.rs
  server/parsec/_parsec_pyi/protocol/anonymous_cmds/v5/pki_enrollment_info.pyi
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
Due: fmt, clippy, eslint, vue-tsc, prettier

wip
  libparsec/crates/client/src/async_enrollment/info.rs
  libparsec/crates/client/src/async_enrollment/mod.rs
  libparsec/crates/client/tests/unit/async_enrollment/mod.rs
  server/parsec/backend.py
  server/parsec/components/async_enrollment.py
  server/parsec/components/memory/async_enrollment.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/factory.py
  server/parsec/events.py
  server/parsec/locks.py
  server/tests/api_v5/anonymous/__init__.py
  server/tests/api_v5/anonymous/test_async_enrollment_info.py
  server/tests/api_v5/anonymous/test_async_enrollment_submit.py
  server/tests/api_v5/authenticated/__init__.py
  server/tests/api_v5/authenticated/test_async_enrollment_accept.py
  server/tests/api_v5/authenticated/test_async_enrollment_list.py
  server/tests/api_v5/authenticated/test_async_enrollment_reject.py
  server/tests/common/rpc.py
Due: fmt, clippy

Revert "refactor(pki): Add error to pki list"
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/src/client/pki_enrollment_list.rs
  libparsec/crates/protocol/schema/authenticated_cmds/pki_enrollment_list.json5
  libparsec/crates/protocol/tests/authenticated_cmds/v5/pki_enrollment_list.rs
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/pki_enrollment_list.pyi
  server/parsec/components/pki.py
  server/tests/api_v5/authenticated/test_pki_enrollment_list.py
Due: fmt, clippy, eslint, vue-tsc, prettier

refactor(server): Remove `PkiEnrollmentListBadOutcome.INVALID_CERTIFICATE`
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/parsec/components/postgresql/pki.py
Due: sqlfluff-in-python

Add editix join session api and bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/client.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  client/src/views/files/handler/editor/FileEditor.vue
  libparsec/crates/client/src/certif/realm_keys_bundle.rs
  libparsec/crates/client/src/client/editics.rs
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/protocol/schema/authenticated_cmds/editics_join_session.json5
  libparsec/src/client.rs
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/editics_join_session.pyi
  server/parsec/backend.py
  server/parsec/components/editics.py
  server/parsec/components/memory/__init__.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/editics.py
  server/parsec/components/memory/factory.py
  server/tests/common/rpc.py
Due: fmt, clippy, eslint, vue-tsc, prettier

feat(server): Add fn to store/retrieve a trustchain
  server/parsec/components/postgresql/migrations/0019_certificate_table.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/parsec/components/postgresql/pki_trustchain.py
Due: sqlfluff, sqlfluff-in-python

[MS] Show electron maximize and fix tray on Linux
  client/electron/src/setup.ts
Due: eslint, vue-tsc, prettier

[MS] Fix invalid folder path error message
  client/src/assets/images/list-folder-error.svg
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/plugins/libparsec/index.ts
  client/src/views/files/FoldersPage.vue
  client/tests/e2e/helpers/libparsec.ts
  client/tests/e2e/specs/documents_list.spec.ts
  newsfragments/11823.bugfix.rst
Due: eslint, vue-tsc, prettier

[MS] Fix invalid folder path error message (#11826)
  client/src/assets/images/list-folder-error.svg
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/plugins/libparsec/index.ts
  client/src/views/files/FoldersPage.vue
  client/tests/e2e/helpers/libparsec.ts
  client/tests/e2e/specs/documents_list.spec.ts
  newsfragments/11823.bugfix.rst
Due: eslint, vue-tsc, prettier

Bump version 3.7.1-rc.2+dev -> 3.7.1-rc.2
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  newsfragments/11574.feature.rst
  newsfragments/11673.feature.rst
  newsfragments/11740.feature.rst
  newsfragments/11785.bugfix.rst
  newsfragments/11788.bugfix.rst
  newsfragments/11823.bugfix.rst
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.7.1-rc.2 -> 3.7.1-rc.3+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

test(server): Check `build_trustchain`
  server/parsec/components/pki.py
  server/tests/test_pki_trustchain.py
Due: none

refactor(server): Change when we build trustchain in `pki_submit`
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/parsec/components/postgresql/pki.py
  server/parsec/components/postgresql/pki_submit.py
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
  server/tests/api_v5/authenticated/test_pki_enrollment_accept.py
  server/tests/api_v5/authenticated/test_pki_enrollment_list.py
  server/tests/api_v5/authenticated/test_pki_enrollment_reject.py
Due: sqlfluff-in-python

wip
  bindings/generator/api/client.py
  libparsec/crates/protocol/tests/authenticated_cmds/v5/editics_join_session.rs
  libparsec/src/client.rs
Due: fmt, clippy

[MS] Better revoked user handling
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/layouts/ConnectedLayout.vue
  client/tests/e2e/specs/client_events.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Loading page: add a container child div to #app
  client/index.html
Due: prettier

chore: disable eslint warning on ignored files
  .pre-commit-config.yaml
Due: none

Add RFC 1024 PKI-based device storage
  docs/rfcs/1024-pki-device-storage.md
Due: none

feat(server): Save trustchain during `pki_submit` for PG implementation
  server/parsec/components/postgresql/pki_submit.py
  server/parsec/components/postgresql/pki_trustchain.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
Due: sqlfluff-in-python

RFC 1023 Async enrollment
  docs/rfcs/1023-async-enrollment.md
Due: none

Add `DeviceFilePKI` (planned to replace `DeviceFileSmartcard`)
  cli/src/commands/device/change_authentication.rs
  cli/src/commands/device/overwrite_server_url.rs
  cli/src/utils.rs
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/strategy.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_device_loader/tests/units/save_list.rs
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
  libparsec/crates/types/schema/local_device/device_file_pki.json5
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
Due: fmt, clippy

Add `AsyncEnrollmentSubmitPayload/AsyncEnrollmentAcceptPayload/AsyncEnrollmentLocalPending` schemas to libparsec_types
  libparsec/crates/types/schema/async_enrollment/async_enrollment_accept_payload.json5
  libparsec/crates/types/schema/async_enrollment/async_enrollment_local_pending.json5
  libparsec/crates/types/schema/async_enrollment/async_enrollment_local_pending_cleartext_content.json5
  libparsec/crates/types/schema/async_enrollment/async_enrollment_submit_payload.json5
  libparsec/crates/types/src/async_enrollment.rs
  libparsec/crates/types/src/lib.rs
  libparsec/crates/types/tests/unit/async_enrollment.rs
Due: fmt, clippy
