Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Add Python bindings for `async_enrollment_cancel`
  server/parsec/_parsec_pyi/protocol/anonymous_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_cmds/v5/async_enrollment_cancel.pyi
  server/tests/common/rpc.py
Due: none

Bump testbed server to 3.7.2-a.0.dev.20486.7a74fde
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Replace `submitter_forget_async_enrollment` by `submitter_cancel_async_enrollment`
  bindings/generator/api/async_enrollment.py
  libparsec/crates/client/src/invite/async_enrollment/mod.rs
  libparsec/crates/client/src/invite/async_enrollment/submitter_cancel.rs
  libparsec/crates/client/src/invite/async_enrollment/submitter_forget.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/mod.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/submitter_cancel.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/submitter_forget.rs
  libparsec/crates/protocol/tests/anonymous_cmds/v5/async_enrollment_cancel.rs
  libparsec/src/async_enrollment.rs
Due: fmt, clippy

Implement `async_enrollment_cancel` on server
  server/parsec/components/async_enrollment.py
  server/parsec/components/memory/async_enrollment.py
  server/parsec/components/postgresql/async_enrollment.py
  server/parsec/components/postgresql/async_enrollment_cancel.py
  server/tests/api_v5/anonymous/__init__.py
  server/tests/api_v5/anonymous/test_async_enrollment_cancel.py
  server/tests/api_v5/anonymous/test_async_enrollment_info.py
Due: sqlfluff-in-python

Add `libparsec/crates/protocol/schema/anonymous_cmds/async_enrollment_cancel.json5`
  libparsec/crates/protocol/schema/anonymous_cmds/async_enrollment_cancel.json5
Due: none

[MS] Mark options tab in small display tests as skipped
  client/tests/e2e/specs/options_tab_menu.spec.ts
Due: eslint, vue-tsc, prettier

[platform_device_loader] rework archive device error.
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/device.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/platform_device_loader/src/device/archive.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[platform_device_loader] rework update device error.
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/device.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/platform_device_loader/src/device/update.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

refactor(pki): Make `sign_message` async
  libparsec/crates/client/src/client/pki_enrollment_accept.rs
  libparsec/crates/client/src/client/pki_enrollment_submit.rs
  libparsec/crates/client/tests/unit/client/pki_enrollment_info.rs
  libparsec/crates/platform_pki/examples/sign_message.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/platform_pki/tests/units/sign.rs
  libparsec/crates/platform_pki/tests/units/utils.rs
  libparsec/src/async_enrollment.rs
Due: fmt, clippy

[MS] Responsive Header Redesign
  client/src/components/files/explorer/FolderSelectionModal.vue
  client/src/components/files/explorer/HistoryFileListItem.vue
  client/src/components/header/HeaderBackButton.vue
  client/src/components/header/HeaderBreadcrumbPopover.vue
  client/src/components/header/HeaderBreadcrumbs.vue
  client/src/components/header/InvitationsButton.vue
  client/src/components/header/SmallDisplaySelectionHeader.vue
  client/src/components/misc/RecommendationChecklistPopoverModal.vue
  client/src/components/misc/securityRecommendations.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/eventDistributor.ts
  client/src/theme/components/_modals.scss
  client/src/views/files/FileOperationMenu.vue
  client/src/views/files/FoldersPage.vue
  client/src/views/header/HeaderPage.vue
  client/src/views/users/UsersPage.vue
  client/src/views/workspaces/WorkspaceHistoryPage.vue
  client/src/views/workspaces/WorkspaceSharingModal.vue
  client/tests/component/specs/testHeaderBreadcrumbs.spec.ts
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/document_context_menu.spec.ts
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/file_copy.spec.ts
  client/tests/e2e/specs/file_import.spec.ts
  client/tests/e2e/specs/file_move.spec.ts
  client/tests/e2e/specs/file_viewers.spec.ts
  client/tests/e2e/specs/invitations_popover.spec.ts
  client/tests/e2e/specs/options_tab_menu.spec.ts
  client/tests/e2e/specs/sidebar.spec.ts
  client/tests/e2e/specs/users_list.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
Due: eslint, vue-tsc, prettier

refactor(pki): Make `encrypt_message` async
  libparsec/crates/client/src/client/pki_enrollment_submit.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_pki/examples/encrypt_message.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/platform_pki/tests/units/encrypt.rs
  libparsec/crates/platform_pki/tests/units/utils.rs
  libparsec/src/async_enrollment.rs
Due: fmt, clippy

chore(rust): Bump `rsa` to 0.10
  Cargo.lock
  Cargo.toml
  libparsec/crates/crypto/Cargo.toml
  libparsec/crates/crypto/src/rustcrypto/key_derivation.rs
  libparsec/crates/crypto/src/rustcrypto/private.rs
  libparsec/crates/crypto/src/rustcrypto/secret.rs
  libparsec/crates/crypto/src/rustcrypto/sequester.rs
  libparsec/crates/crypto/src/rustcrypto/sign.rs
  libparsec/crates/crypto/src/rustcrypto/utils.rs
Due: toml-fmt, fmt, clippy

refactor(pki): Make `decrypt_message` async
  libparsec/crates/client/src/client/pki_enrollment_finalize.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_pki/examples/decrypt_message.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/platform_pki/tests/units/encrypt.rs
  libparsec/src/async_enrollment.rs
Due: fmt, clippy

Add/update platform_device_loader related readmes.
  libparsec/README.md
  libparsec/crates/platform_device_loader/README.md
  libparsec/crates/platform_filesystem/README.md
Due: none

[MS] Async enrollment test
  client/src/parsec/async_enrollment.ts
  client/src/parsec/types.ts
  client/src/parsec/workspace.ts
  client/src/views/home/HomePage.vue
  client/src/views/users/AsyncEnrollmentModal.vue
  client/src/views/users/BulkRoleAssignmentModal.vue
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/types.ts
  client/tests/e2e/specs/async_enrollment.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Rework CSP to make it simpler
  client/electron/src/cspRules.ts
  client/src/main.ts
Due: eslint, vue-tsc, prettier

[MS] Create folder move/copy modal
  client/src/assets/images/folder-new.svg
  client/src/components/files/explorer/FolderSelectionModal.vue
  client/src/theme/components/_inputs.scss
  client/tests/e2e/specs/file_move.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Update user list selection
  client/src/components/files/explorer/FileCard.vue
  client/src/components/files/explorer/FileListItem.vue
  client/src/components/files/explorer/HistoryFileListItem.vue
  client/src/components/users/UserAvatarName.vue
  client/src/components/users/UserCard.vue
  client/src/components/users/UserListItem.vue
  client/src/theme/components/_inputs.scss
  client/src/theme/components/_list.scss
  client/src/views/users/UserGridDisplay.vue
  client/src/views/users/UserListDisplay.vue
  client/src/views/workspaces/WorkspaceHistoryPage.vue
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/file_viewers.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Fix show/hide workspace bugs
  client/src/components/workspaces/WorkspaceCategoriesMenu.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/menu/MainMenu.vue
  client/src/views/workspaces/WorkspaceHiddenModal.vue
  client/tests/e2e/specs/sidebar.spec.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
Due: eslint, vue-tsc, prettier

[platform_device_loader] rework SaveAsyncEnrollmentLocalPendingError
  libparsec/crates/client/src/invite/async_enrollment/submit.rs
  libparsec/crates/platform_device_loader/src/async_enrollment.rs
Due: fmt, clippy

[platform_device_loader] rework SaveDeviceError.
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/invite.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/account/src/register_new_device.rs
  libparsec/crates/client/src/client/recovery_device.rs
  libparsec/crates/client/src/invite/async_enrollment/submitter_finalize.rs
  libparsec/crates/platform_device_loader/src/device/save.rs
  libparsec/crates/platform_device_loader/src/device/update.rs
  libparsec/src/invite.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[platform_device_loader] rework UpdateDeviceError.
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/device.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/platform_device_loader/src/device/update.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[platform_device_loader] rework SavePkiLocalPendingError
  libparsec/crates/platform_device_loader/src/pki.rs
Due: fmt, clippy

UpdateStyle
  client/tests/e2e/specs/sidebar.spec.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
Due: eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
