Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

[MS] Better sas code issues handling
  client/src/components/sas-code/SasCodeChoice.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/devices/GreetDeviceModal.vue
  client/src/views/home/DeviceJoinOrganizationModal.vue
  client/src/views/home/UserJoinOrganizationModal.vue
  client/src/views/users/GreetUserModal.vue
  client/tests/e2e/specs/device_greet.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
Due: eslint, vue-tsc, prettier

fix: remove electron-window-state dep to fix window positionning issues
  client/electron/package-lock.json
  client/electron/package.json
  client/electron/src/setup.ts
Due: eslint, vue-tsc, prettier

[MS] Add missing style
  client/src/components/sas-code/SasCodeChoice.vue
Due: eslint, vue-tsc, prettier

feat(dev-load): Allow to save pki local pending request
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/web/error.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
  libparsec/crates/platform_device_loader/tests/units/mod.rs
  libparsec/crates/platform_device_loader/tests/units/pki/mod.rs
  libparsec/crates/platform_device_loader/tests/units/pki/save.rs
Due: fmt, clippy

feat(pki): Allow to verify a certificate against trusted roots
  .cspell/custom-words.txt
  Cargo.lock
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/examples/init_windows_credstore.ps1
  libparsec/crates/platform_pki/examples/list_trusted_roots.rs
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki/examples/verify_certificate.rs
  libparsec/crates/platform_pki/src/errors.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
  libparsec/crates/platform_pki/src/shared/signature_verification.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/types/src/time.rs
Due: toml-fmt, fmt, clippy

Bump version 3.6.0-rc.2+dev -> 3.6.0-rc.2
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.6.0-rc.2 -> 3.6.0-rc.3+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

feat(pki): Verify&Load submit request
  libparsec/crates/platform_pki/examples/verify_certificate.rs
  libparsec/crates/platform_pki/examples/verify_message.rs
  libparsec/crates/platform_pki/src/errors.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
Due: fmt, clippy

feat(pki): Load answer payload
  libparsec/crates/platform_pki/src/errors.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
Due: fmt, clippy

feat(client): Simplify pki submit params
  Cargo.lock
  libparsec/crates/client/Cargo.toml
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/client/pki_enrollment_submit.rs
Due: toml-fmt, fmt, clippy

chore: remove workaround forcing gtk3
  client/electron/src/index.ts
Due: eslint, vue-tsc, prettier

chore: improve logging from electron/src/setup.ts
  client/electron/src/setup.ts
Due: eslint, vue-tsc, prettier

chore: improve logging from electron/src/updater.ts
  client/electron/src/updater.ts
Due: eslint, vue-tsc, prettier

chore: add debug messages to the login process
  client/src/views/home/HomePage.vue
  client/src/views/layouts/LoadingLayout.vue
  client/src/views/workspaces/WorkspacesPage.vue
  libparsec/crates/platform_mountpoint/src/unix/mount.rs
  libparsec/src/client.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] Added default values for window width and height
  client/electron/src/setup.ts
Due: eslint, vue-tsc, prettier

[MS] Fix device sas code tests
  client/tests/e2e/specs/device_greet.spec.ts
Due: eslint, vue-tsc, prettier

feat(binding): Allow to submit pki request
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/device.py
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/src/pki.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

refactor: improve scoped logs
  client/electron/src/updater.ts
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

Improve login process logs to investigate Linux issues
  client/electron/src/index.ts
  client/electron/src/setup.ts
  client/electron/src/updater.ts
  client/src/views/home/HomePage.vue
  client/src/views/layouts/LoadingLayout.vue
  client/src/views/workspaces/WorkspacesPage.vue
  libparsec/crates/platform_mountpoint/src/unix/mount.rs
  libparsec/src/client.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

Bump version 3.6.0-rc.3+dev -> 3.6.0-rc.3
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.6.0-rc.3 -> 3.6.0-rc.4+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Locale fix
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/home/UserJoinOrganizationModal.vue
Due: eslint, vue-tsc, prettier

[MS] Re-add electron-window-state and add excep ions for linux on window width and heights
  client/electron/package-lock.json
  client/electron/package.json
  client/electron/src/setup.ts
Due: eslint, vue-tsc, prettier

[MS] Re-add electron-window-state and add exceptions for linux on window width and heights (#11566)
  client/electron/package-lock.json
  client/electron/package.json
  client/electron/src/setup.ts
Due: eslint, vue-tsc, prettier

Bump version 3.6.0-rc.4+dev -> 3.6.0-rc.4
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.6.0-rc.4 -> 3.6.0-rc.5+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Implement pki_enrollment_accept client part.
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/src/client/pki_enrollment_accept.rs
  libparsec/crates/client/src/invite/greeter.rs
  libparsec/crates/client/src/lib.rs
  libparsec/crates/client/src/utils.rs
  libparsec/src/client.rs
Due: fmt, clippy

Add js bindings for pki enrollment accept.
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/client.py
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/src/client.rs
Due: fmt, clippy, eslint, vue-tsc, prettier
