Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

[MS] Update no organization homepage
  client/package-lock.json
  client/package.json
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/environment.ts
  client/src/theme/components/_inputs.scss
  client/src/views/home/OrganizationListPage.vue
  client/tests/e2e/specs/home_page.spec.ts
  docs/locale/fr/LC_MESSAGES/userguide/security.po
  docs/userguide/security.rst
  newsfragments/10643.misc.rst
Due: eslint, vue-tsc, prettier

ci(q&a): Chech newsfragment now take GH token
  .github/scripts/check_newsfragments.py
  .github/workflows/ci.yml
Due: none

[MS] Check if file is available before opening
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/file.ts
  client/src/parsec/types.ts
  client/src/services/fileOpener.ts
Due: eslint, vue-tsc, prettier

[MS] Use the bindings to get the org creation date
  client/src/common/organization.ts
  client/src/components/organizations/OrganizationCard.vue
  client/src/parsec/organization.ts
  client/src/parsec/types.ts
  client/src/services/storageManager.ts
  client/src/views/home/HomePage.vue
  client/src/views/home/OrganizationListPage.vue
  client/src/views/menu/MainMenu.vue
  client/tests/e2e/helpers/externalWebsites.ts
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/index.ts
  client/tests/e2e/specs/about_modal.spec.ts
  client/tests/e2e/specs/create_organization_saas.spec.ts
  client/tests/e2e/specs/my_profile_page.spec.ts
  client/tests/e2e/specs/trial_organization.spec.ts
Due: eslint, vue-tsc, prettier

[MS] POC Cryptpad edition
  client/README.md
  client/electron/src/setup.ts
  client/package-lock.json
  client/package.json
  client/src/router/types.ts
  client/src/services/cryptpad.ts
  client/src/services/environment.ts
  client/src/services/fileOpener.ts
  client/src/services/headerControl.ts
  client/src/views/editors/FileEditor.vue
  client/src/views/header/HeaderPage.vue
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

Improve mocked email display on server
  server/parsec/components/email.py
Due: none

[MS] Update recent documents if deleted or renamed
  client/src/parsec/types.ts
  client/src/services/eventDistributor.ts
  client/src/services/recentDocuments.ts
  client/src/views/files/FoldersPage.vue
  client/src/views/layouts/ConnectedLayout.vue
Due: eslint, vue-tsc, prettier

[MS] Auto-register at login
  client/src/parsec/account.ts
  client/src/services/environment.ts
  client/src/views/home/HomePage.vue
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/specs/account_create.spec.ts
  client/tests/e2e/specs/account_login.spec.ts
Due: eslint, vue-tsc, prettier

Don't drop organization in PostgreSQL between tests
  server/parsec/cli/testbed.py
  server/tests/administration/test_create_organization.py
  server/tests/administration/test_patch_organization.py
  server/tests/administration/test_stats.py
  server/tests/api_v5/anonymous/test_organization_bootstrap.py
  server/tests/api_v5/anonymous_account/test_account_create_proceed.py
  server/tests/api_v5/authenticated/test_certificate_get.py
  server/tests/api_v5/authenticated_account/test_invite_self_list.py
  server/tests/common/__init__.py
  server/tests/common/backend.py
  server/tests/common/client.py
  server/tests/realm_export/test_export.py
Due: none

Remove uneeded extra queries during organization duplication for test purpose
  server/parsec/components/postgresql/organization.py
Due: none

Fix postgresql queries to drop&duplicate organizations in tests
  server/parsec/components/postgresql/test_queries.py
Due: none

feat(client-conn): Configure min TLS version allowed by client
  libparsec/crates/client_connection/src/lib.rs
Due: fmt, clippy

refactor(cli): Add server url in device list
  cli/src/utils.rs
  cli/tests/integration/device_option.rs
Due: fmt, clippy

Correct `GET /administration/organizations/{raw_organization_id}/users` to only return active users
  server/parsec/asgi/administration.py
  server/parsec/components/memory/user.py
  server/parsec/components/postgresql/user.py
  server/parsec/components/postgresql/user_list_active_users.py
  server/parsec/components/user.py
  server/tests/administration/test_list_users.py
Due: none

feat(server): Add hardened default TLS cipher suite
  .cspell/names.txt
  server/parsec/asgi/__init__.py
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
Due: none

docs(hosting): Add TLS recommendation & configuration
  .cspell/names.txt
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-nginx.conf
  docs/hosting/deployment/parsec.env
Due: none

Remove useless `server/parsec/components/postgresql/user.py::user_get_user_info_from_email`
  server/parsec/components/postgresql/user.py
  server/parsec/components/postgresql/user_get_user_info.py
Due: none

Add TODO in the codebase related to `server/parsec/components/postgresql/invite.py` not being consistent with the rest of the codebase
  server/parsec/components/postgresql/invite.py
  server/parsec/components/postgresql/organization.py
  server/parsec/components/postgresql/user.py
Due: none

Only do user frozen check during authentication
  server/parsec/components/memory/user.py
  server/parsec/components/postgresql/block_create.py
  server/parsec/components/postgresql/block_read.py
  server/parsec/components/postgresql/events.py
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/parsec/components/postgresql/queries/q_auth_lock_common_only.py
  server/parsec/components/postgresql/queries/q_auth_no_lock.py
  server/parsec/components/postgresql/user_test_dump_current_users.py
  server/parsec/components/postgresql/vlob_create.py
  server/parsec/components/postgresql/vlob_poll_changes.py
  server/parsec/components/postgresql/vlob_read_batch.py
  server/parsec/components/postgresql/vlob_read_versions.py
  server/parsec/components/postgresql/vlob_update.py
  server/parsec/components/user.py
  server/tests/api_v5/authenticated/test_user_create.py
Due: sqlfluff

Rename `parsec/components/postgresql/queries/q_auth_lock_realm.py` -> `q_lock_realm.py` since it never do authentication!
  server/parsec/components/postgresql/queries/__init__.py
  server/parsec/components/postgresql/queries/q_lock_realm.py
Due: none

[MS] Disabled expandToScroll on sheet modals
  client/src/components/header/InvitationsButton.vue
  client/src/components/workspaces/utils.ts
  client/src/views/files/utils.ts
  client/src/views/header/HeaderPage.vue
  client/src/views/home/HomePage.vue
  client/src/views/menu/TabBarMenu.vue
  client/src/views/menu/TabBarOptions.vue
  client/src/views/users/utils.ts
Due: eslint, vue-tsc, prettier

[MS] Adds account deletion
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/account.ts
  client/src/theme/components/_modals.scss
  client/src/views/account/AccountSettingsPage.vue
  client/src/views/account/CodeValidationModal.vue
  client/src/views/account/ManageAccountPage.vue
  client/tests/e2e/specs/account_manage.spec.ts
Due: eslint, vue-tsc, prettier

[MS] use plugin-basic-ssl for local development https support
  client/package-lock.json
  client/package.json
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

[MS] Add new service to control header visibility across components
  client/src/services/headerControl.ts
  client/src/views/header/HeaderPage.vue
  client/src/views/viewers/FileViewer.vue
  client/tests/e2e/helpers/assertions.ts
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/file_viewers.spec.ts
  client/tests/e2e/specs/file_viewers_document.spec.ts
  client/tests/e2e/specs/file_viewers_image.spec.ts
  client/tests/e2e/specs/file_viewers_pdf.spec.ts
  client/tests/e2e/specs/file_viewers_spreadsheet.spec.ts
  client/tests/e2e/specs/options_tab_menu.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
Due: eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
