Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_headers, eslint

Path conditions:
  license_headers: any of: \.py$, \.sql$, \.rs$, \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, but not: ^misc/bench.py$
  eslint: any of: ^oxidation/client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)

Move `LocalDatabase`, `ManifestStorage` & `UserStorage` to `old_storage`
  parsec/core/fs/storage/__init__.py
  tests/conftest.py
  tests/core/fs/conftest.py
  tests/core/fs/old_storage/local_database.py
  tests/core/fs/old_storage/manifest_storage.py
  tests/core/fs/old_storage/user_storage.py
  tests/core/fs/old_storage/version.py
  tests/core/fs/old_storage/workspace_storage.py
  tests/core/fs/test_bootstrap.py
  tests/core/fs/workspacefs/test_confinement.py
Due: license_headers

Improve test typing in `test_bootstrap`
  tests/core/fs/test_bootstrap.py
Due: license_headers

Hide spinner during pki enrollment
  parsec/core/gui/enrollment_widget.py
Due: license_headers

[GUI] Added missing newsfragment
  newsfragments/3846.bugfix.rst
Due: none

Fix typo
  oxidation/libparsec/crates/types/src/pki.rs
  parsec/_parsec_pyi/pki.pyi
  src/data/pki.rs
  tests/backend/invite/test_manage_invitations.py
Due: license_headers

Add core pki
  oxidation/libparsec/crates/serialization_format/src/utils.rs
  oxidation/libparsec/crates/types/schema/pki/local_pending_enrollment.json
  oxidation/libparsec/crates/types/schema/pki/x509_certificate.json
  oxidation/libparsec/crates/types/src/error.rs
  oxidation/libparsec/crates/types/src/pki.rs
  oxidation/libparsec/crates/types/tests/test_pki.rs
Due: license_headers

Add binding
  src/addrs.rs
  src/data/error.rs
  src/data/mod.rs
  src/data/pki.rs
Due: license_headers

Replace core pki
  parsec/core/pki/exceptions.py
  parsec/core/pki/plumbing.py
  parsec/core/pki/submitter.py
  parsec/core/types/pki.py
  tests/common/smartcard.py
  tests/schemas/core_data.json
Due: license_headers

Fix a bug on master
  oxidation/libparsec/crates/types/src/pki.rs
  oxidation/libparsec/crates/types/tests/test_pki.rs
  parsec/serde/fields.py
Due: license_headers

Reexport core.pki
  oxidation/libparsec/crates/types/src/error.rs
  parsec/core/pki/plumbing.py
  parsec/core/pki/submitter.py
  parsec/core/types/pki.py
  tests/common/smartcard.py
Due: license_headers

Add errors & evolve method for X509Certificate
  parsec/_parsec.pyi
  parsec/_parsec_pyi/__init__.pyi
  parsec/core/types/pki.py
  src/data/error.rs
  src/data/mod.rs
  src/data/pki.rs
Due: license_headers

Add pyi
  parsec/_parsec.pyi
  parsec/_parsec_pyi/__init__.pyi
  parsec/_parsec_pyi/pki.pyi
Due: none

fix: remove failing test since the menu will not remain
  oxidation/client/tests/unit/HeaderPage.spec.ts
Due: license_headers, eslint

fix: update cypress config to .ts
  oxidation/client/cypress.config.ts
  oxidation/client/cypress.json
Due: license_headers, eslint

fix: migrate to cypress 10+
  oxidation/client/cypress.config.ts
  oxidation/client/tests/e2e/plugins/index.js
Due: license_headers, eslint

Update custom-words.txt
  .cspell/custom-words.txt
Due: none

Fix typo & Add comment
  oxidation/libparsec/crates/types/src/pki.rs
  parsec/core/gui/tr/parsec_fr.po
Due: license_headers

cypress
  oxidation/client/cypress.config.ts
  oxidation/client/package-lock.json
  oxidation/client/package.json
Due: license_headers, eslint

Remove base data
  parsec/api/data/__init__.py
  parsec/api/data/base.py
  parsec/core/types/base.py
  tests/schemas/builder.py
Due: license_headers

Remove EnrollmentIDField
  parsec/api/protocol/__init__.py
  parsec/api/protocol/pki.py
Due: license_headers

Remove BackendPkiEnrollmentAddrField
  parsec/core/types/backend_address.py
Due: license_headers

Remove EntryIDField
  parsec/api/data/__init__.py
  parsec/api/data/entry.py
  parsec/core/types/__init__.py
Due: license_headers

Remove EntryNameField
  parsec/api/data/__init__.py
  parsec/api/data/base.py
  parsec/api/data/entry.py
  parsec/api/protocol/__init__.py
  parsec/api/protocol/pki.py
  parsec/core/cli/rsync.py
  parsec/core/fs/userfs/merging.py
  parsec/core/types/__init__.py
  parsec/core/types/backend_address.py
  parsec/test_utils/workspacefs.py
  tests/schemas/builder.py
Due: license_headers

Add newsFragment
  newsfragments/3850.empty.rst
  newsfragments/3851.empty.rst
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update .github/workflows/package-ci.yml
  .github/workflows/package-ci.yml
Due: none

fix vuejs testing tools (#2977)
  .cspell/custom-words.txt
  .github/workflows/ci.yml
  .github/workflows/package-ci.yml
  .gitignore
  newsfragments/2872.empty.rst
  oxidation/client/.env
  oxidation/client/cypress.config.ts
  oxidation/client/cypress.json
  oxidation/client/package-lock.json
  oxidation/client/package.json
  oxidation/client/src/views/HeaderPage.vue
  oxidation/client/src/views/HomePage.vue
  oxidation/client/src/views/MenuPage.vue
  oxidation/client/tests/e2e/plugins/index.js
  oxidation/client/tests/e2e/specs/test.js
  oxidation/client/tests/unit/HeaderPage.spec.ts
  oxidation/client/tests/unit/HomePage.spec.ts
  oxidation/client/tests/unit/example.spec.ts
Due: license_headers, eslint

storage: not using threads on read operations
  parsec/core/fs/storage/user_storage.py
  parsec/core/fs/storage/workspace_storage.py
Due: license_headers

first commit
  oxidation/client/src/assets/images/icon.png
  oxidation/client/src/assets/images/parsec.svg
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
  oxidation/client/src/router/index.ts
  oxidation/client/src/theme/variables.css
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

Add `DeviceFileType` binding
  src/enumerate.rs
  src/lib.rs
Due: license_headers

Added `DeviceFileType` pyi types
  parsec/_parsec.pyi
  parsec/_parsec_pyi/device.pyi
Due: none

feat: improve design
  oxidation/client/src/theme/variables.css
  oxidation/client/src/views/HomePage.vue
Due: license_headers, eslint

Adds an OrganizationCard component
  oxidation/client/src/components/OrganizationCard.vue
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
Due: license_headers, eslint

Add rust legacy device file schema
  oxidation/libparsec/crates/client_types/src/local_device_file.rs
Due: license_headers

Add serde methods
  oxidation/libparsec/crates/client_types/src/local_device_file.rs
Due: license_headers

Bump pre-commit to 2.21.0
  .github/actions/use-pre-commit/action.yml
Due: none

Removed last login from OrganizationCard
  oxidation/client/src/components/OrganizationCard.vue
  oxidation/client/src/locales/en-US.json
  oxidation/client/src/locales/fr-FR.json
Due: license_headers, eslint

Add serde tests for `LegacyDeviceFile`
  oxidation/generate_test_data/local_file_device.py
  oxidation/libparsec/crates/client_types/src/local_device_file.rs
Due: license_headers

Add documentation for `LegacyDeviceFile` enum
  oxidation/libparsec/crates/client_types/src/local_device_file.rs
Due: license_headers
