Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Fix CLI status_organization test to support `account_vault_strategy/allowed_client_agent` fields
  cli/tests/integration/organization/status.rs
Due: fmt, clippy

fixup! feat(types): Add `EmailAddress`
  bindings/electron/src/meths.rs
  bindings/generator/api/common.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] HeaderBreadcrumbs responsive & updates
  client/src/components/files/FolderSelectionModal.vue
  client/src/components/header/HeaderBreadcrumbPopover.vue
  client/src/components/header/HeaderBreadcrumbs.vue
  client/src/components/header/SmallDisplayHeaderTitle.vue
  client/src/views/header/HeaderPage.vue
  client/src/views/workspaces/WorkspaceHistoryPage.vue
Due: eslint, vue-tsc, prettier

addressed comments
  client/src/common/utils.ts
  client/src/components/files/FolderSelectionModal.vue
  client/src/components/header/HeaderBreadcrumbPopover.vue
  client/src/components/header/HeaderBreadcrumbs.vue
  client/src/views/header/HeaderPage.vue
  client/src/views/workspaces/WorkspaceHistoryPage.vue
  client/tests/component/specs/testHeaderBreadcrumbs.spec.ts
  client/tests/e2e/specs/documents_list.spec.ts
Due: eslint, vue-tsc, prettier

Update recovery files texts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/users/MyProfilePage.vue
  client/tests/e2e/specs/my_profile_page.spec.ts
  client/tests/e2e/specs/profile_popover.spec.ts
  client/tests/e2e/specs/recovery_device.spec.ts
  docs/locale/fr/LC_MESSAGES/userguide/manage_devices.po
  docs/userguide/manage_devices.rst
Due: eslint, vue-tsc, prettier

fixup! feat(types): Add `EmailAddress`
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/ids.pyi
  server/parsec/cli/utils.py
  server/parsec/components/postgresql/invite.py
  server/parsec/components/postgresql/user_freeze_user.py
  server/parsec/components/postgresql/user_get_user_info.py
  server/parsec/components/postgresql/user_list_users.py
  server/tests/api_v5/anonymous/test_organization_bootstrap.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
  server/tests/api_v5/authenticated/test_certificate_get.py
  server/tests/api_v5/authenticated/test_user_create.py
  server/tests/common/full_data.py
Due: none

Add `account_vault_strategy` to `{GET|PATCH} /administration/organizations/{raw_organization_id}` route
  server/parsec/asgi/administration.py
  server/parsec/components/memory/organization.py
  server/parsec/components/organization.py
  server/tests/administration/test_create_organization.py
  server/tests/administration/test_get_organization.py
  server/tests/administration/test_patch_organization.py
Due: none

Add `BackendConfig.organization_initial_account_vault_strategy` to server
  server/parsec/cli/run.py
  server/parsec/components/memory/auth.py
  server/parsec/components/memory/datamodel.py
  server/parsec/config.py
Due: none

Bump testbed server
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  misc/versions.toml
  server/packaging/testbed-server/README.md
Due: toml-fmt

Fix validation error type message for `allowed_client_agent` field in `PATCH /administration/organizations/{raw_organization_id}` route
  server/parsec/asgi/administration.py
Due: none

Add `account_vault_strategy` field to `events_listen` command schema
  libparsec/crates/protocol/schema/authenticated_cmds/events_listen.json5
  libparsec/crates/protocol/src/version.rs
  libparsec/crates/protocol/tests/authenticated_cmds/v5/events_listen.rs
Due: fmt, clippy

Postgresql support for per-organization account_vault_strategy config
  server/parsec/components/postgresql/auth.py
  server/parsec/components/postgresql/events.py
  server/parsec/components/postgresql/migrations/0012_allowed_client_agent_and_account_vault_strategy.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/parsec/components/postgresql/organization.py
  server/parsec/components/postgresql/organization_create.py
  server/parsec/components/postgresql/organization_test_dump_organizations.py
  server/parsec/components/postgresql/organization_update.py
  server/parsec/components/postgresql/test_queries.py
Due: sqlfluff

Add support for `account_vault_strategy` fieldin `events_listen` API command in `liparsec_client`
  libparsec/crates/client/src/monitors/connection.rs
  libparsec/crates/client_connection/tests/unit/authenticated.rs
Due: fmt, clippy

Use `click.Choice` for enums in `parsec run` CLI
  server/parsec/cli/run.py
Due: none

Re-generate python bindings for `events_listen`
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/events_listen.pyi
Due: none

Add support for `EventOrganizationConfig`'s `account_vault_strategy` in the server
  server/parsec/components/memory/events.py
  server/parsec/events.py
  server/tests/api_v5/authenticated/test_events_listen.py
  server/tests/test_sse.py
Due: none

fixup! feat(types): Add `EmailAddress`
  bindings/electron/src/meths.rs
  bindings/generator/api/common.py
  bindings/web/src/meths.rs
Due: fmt, clippy

fixup! feat(types): Add `EmailAddress`
  bindings/generator/api/common.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
Due: none

Add missing `algorithm` field in `VaultItemRecoveryAuthMethod::Password` to `vault_item_recovery_list` API command in RFC1014
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
Due: none

Fix naming "auto-enrollement device" -> "registration device" in RFC1014
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
Due: none

Correct RFC1014 to add `fingerprint_already_exists` error status to `vault_item_upload` command
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
Due: none

Correct format of API commands in RFC1014
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
Due: none

Correct RFC1014 to use `HashDigest` type for item fingerprints
  docs/rfcs/1014-account-vault-for-device-stored-on-server.md
Due: none

Add hash support for `HashDigest` in python bindings (so it can be used as key in dict)
  server/src/crypto.rs
Due: fmt, clippy

Add protocol schemas `vault_item_list/vault_item_recovery_list/vault_item_upload/vault_key_rotation`
  libparsec/crates/protocol/schema/authenticated_account_cmds/vault_item_list.json5
  libparsec/crates/protocol/schema/authenticated_account_cmds/vault_item_recovery_list.json5
  libparsec/crates/protocol/schema/authenticated_account_cmds/vault_item_upload.json5
  libparsec/crates/protocol/schema/authenticated_account_cmds/vault_key_rotation.json5
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/ping.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/vault_item_list.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/vault_item_recovery_list.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/vault_item_upload.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/vault_key_rotation.rs
Due: fmt, clippy

fixup! feat(types): Add `EmailAddress`
  server/src/lib.rs
Due: fmt, clippy

Add stub server tests for (to-be-implemented) `vault_item_list/vault_item_recovery_list/vault_item_upload/vault_key_rotation` sever API commands
  server/tests/api_v5/authenticated_account/__init__.py
  server/tests/api_v5/authenticated_account/test_vault_item_list.py
  server/tests/api_v5/authenticated_account/test_vault_item_recovery_list.py
  server/tests/api_v5/authenticated_account/test_vault_item_upload.py
  server/tests/api_v5/authenticated_account/test_vault_key_rotation.py
Due: none

fixup! feat(types): Add `EmailAddress`
  bindings/electron/src/meths.rs
  bindings/generator/templates/binding_electron_meths.rs.j2
  bindings/generator/templates/binding_web_meths.rs.j2
  bindings/web/src/meths.rs
Due: fmt, clippy

tests and fixes
  client/src/components/files/FolderSelectionModal.vue
  client/src/components/header/HeaderBreadcrumbPopover.vue
  client/src/components/header/HeaderBreadcrumbs.vue
  client/src/views/header/HeaderPage.vue
  client/src/views/menu/TabBarMenu.vue
  client/src/views/workspaces/WorkspaceHistoryPage.vue
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/documents_list.spec.ts
Due: eslint, vue-tsc, prettier

fixup! feat(types): Add `EmailAddress`
  bindings/generator/api/common.py
  cli/src/commands/organization/bootstrap.rs
  cli/src/testenv_utils.rs
  cli/src/utils.rs
  cli/tests/integration/device_option.rs
  libparsec/crates/client/tests/unit/workspace/file_transactions_stateful.rs
  libparsec/crates/platform_device_loader/tests/units/recovery.rs
  libparsec/crates/platform_device_loader/tests/units/save_list.rs
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
  libparsec/crates/platform_device_loader/tests/units/update_device_change_authentication.rs
  libparsec/crates/platform_device_loader/tests/units/update_device_overwrite_server_addr.rs
  libparsec/crates/protocol/tests/authenticated_cmds/v5/invite_list.rs
  libparsec/crates/protocol/tests/invited_cmds/v5/invite_info.rs
  libparsec/crates/testbed/src/template/events.rs
  libparsec/crates/types/src/fixtures.rs
  libparsec/crates/types/src/id.rs
  libparsec/crates/types/tests/unit/id.rs
Due: fmt, clippy

[MS] Updated tabbar to be generic
  client/src/services/eventDistributor.ts
  client/src/views/files/FileContextMenu.vue
  client/src/views/files/FoldersPage.vue
  client/src/views/files/types.ts
  client/src/views/header/HeaderPage.vue
  client/src/views/menu/MainMenu.vue
  client/src/views/menu/MenuPage.vue
  client/src/views/menu/MobileMenu.vue
  client/src/views/menu/TabBarMenu.vue
  client/src/views/organizations/OrganizationInformationPage.vue
  client/src/views/users/MyProfilePage.vue
  client/src/views/users/UsersPage.vue
  client/src/views/users/index.ts
  client/src/views/users/types.ts
  client/src/views/workspaces/WorkspacesPage.vue
  client/src/views/workspaces/index.ts
  client/src/views/workspaces/types.ts
Due: eslint, vue-tsc, prettier

fixup! feat(types): Add `EmailAddress`
  libparsec/crates/types/tests/unit/id.rs
  libparsec/crates/types/tests/unit/local_device.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
  server/src/ids.rs
Due: fmt, clippy

fixup! feat(types): Add `EmailAddress`
  server/src/ids.rs
Due: fmt, clippy

fixup! feat(types): Add `EmailAddress`
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_create_send_validation_email.json5
  libparsec/crates/protocol/schema/anonymous_cmds/pki_enrollment_submit.json5
  libparsec/crates/protocol/schema/authenticated_cmds/invite_list.json5
  libparsec/crates/protocol/schema/authenticated_cmds/invite_new_user.json5
  libparsec/crates/protocol/schema/invited_cmds/invite_info.json5
  server/parsec/_parsec_pyi/ids.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/account_create_send_validation_email.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_cmds/v5/pki_enrollment_submit.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/invite_list.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/invite_new_user.pyi
  server/parsec/_parsec_pyi/protocol/invited_cmds/v5/invite_info.pyi
Due: none

workspace history breadcrumb test
  client/tests/e2e/specs/workspace_history.spec.ts
Due: eslint, vue-tsc, prettier

fixup! feat(types): Add `EmailAddress`
  libparsec/crates/testbed/src/template/build.rs
  libparsec/crates/testbed/src/template/crc_hash.rs
  libparsec/crates/types/src/id.rs
Due: fmt, clippy

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
