Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

Replace `@ts-ignore` by `@ts-expect-error` in `client/src/plugins/libparsec/web_shared_worker.ts`
  client/src/plugins/libparsec/web_shared_worker.ts
Due: eslint, vue-tsc, prettier

Fix Javascript `fetch` of `libparsec_bg.wasm` when outside of web worker
  client/scripts/vite_plugin_wasm_pack.ts
Due: eslint, vue-tsc, prettier

Cleanup `.gitignore` & `.eslintignore` since `trampoline.ts` is no longer generated during build
  client/.eslintignore
  client/.gitignore
Due: none

Add fallback code to support web when shared worker is not available
  client/src/plugins/libparsec/trampoline-web.ts
Due: eslint, vue-tsc, prettier

Fix `libparsec_bg.wasm` path in release when loading outside of web worker
  client/.eslintignore
  client/scripts/vite_plugin_wasm_pack.ts
Due: eslint, vue-tsc, prettier

Add GUI e2e test for libparsec on web without SharedWorker support
  client/tests/e2e/helpers/testbed.ts
  client/tests/e2e/specs/libparsec_without_shared_worker.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Updated API, mockAPI and bms
  client/src/components/client-area/OrderInProgress.vue
  client/src/services/bms/api.ts
  client/src/services/bms/mockApi.ts
  client/src/services/bms/types.ts
  client/src/theme/components/_inputs.scss
  client/src/views/client-area/contracts/ContractsPage.vue
  client/src/views/client-area/orders/OrdersPage.vue
  client/tests/e2e/helpers/bms.ts
Due: eslint, vue-tsc, prettier

[MS] Updated page with custom request
  client/src/components/client-area/OrderInProgress.vue
  client/src/views/client-area/orders/OrdersPage.vue
Due: eslint, vue-tsc, prettier

[MS] Updated custom order requests and added e2e tests
  client/src/components/client-area/OrderInProgress.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/bms/api.ts
  client/src/views/client-area/ClientAreaPage.vue
  client/src/views/client-area/ClientAreaSidebar.vue
  client/src/views/client-area/orders/OrdersPage.vue
  client/tests/e2e/helpers/bms.ts
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/specs/client_area_custom_order_invoices.spec.ts
  client/tests/e2e/specs/client_area_custom_order_orders.spec.ts
  client/tests/e2e/specs/client_area_invoices_page.spec.ts
  client/tests/e2e/specs/create_organization_saas.spec.ts
Due: eslint, vue-tsc, prettier

[MS] HeaderBreadcrumbs responsive & updates
  client/src/components/header/HeaderBreadcrumbPopover.vue
  client/src/components/header/HeaderBreadcrumbs.vue
  client/src/components/header/SmallDisplayHeaderTitle.vue
  client/src/views/header/HeaderPage.vue
Due: eslint, vue-tsc, prettier

[WIP][Account] Send account email validation email.
  libparsec/crates/types/src/addr.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/addrs.pyi
  server/parsec/components/account.py
  server/parsec/components/email.py
  server/parsec/components/invite.py
  server/parsec/templates/account_email_validation.html
  server/parsec/templates/account_email_validation.txt
  server/src/addrs.rs
  server/src/lib.rs
Due: fmt, clippy

[MS] Add Tab bar menu on pages
  client/src/components/menu/TabBarMenu.vue
  client/src/theme/components/_modals.scss
  client/src/views/files/FoldersPage.vue
  client/src/views/menu/LargeDisplayMenu.vue
  client/src/views/menu/MenuPage.vue
  client/src/views/menu/TabMenuModal.vue
  client/src/views/menu/index.ts
  client/src/views/menu/types.ts
  client/src/views/organizations/OrganizationInformationPage.vue
  client/src/views/users/MyProfilePage.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

[MS] Added fab button menu mobile
  client/src/theme/components/_modals.scss
  client/src/views/menu/DesktopMenu.vue
  client/src/views/menu/TabMenuModal.vue
Due: eslint, vue-tsc, prettier

[MS] Update Menu
  client/src/components/menu/TabBarMenu.vue
  client/src/theme/components/_modals.scss
  client/src/theme/components/_popovers.scss
  client/src/views/files/FoldersPage.vue
  client/src/views/menu/AddMenuModal.vue
  client/src/views/menu/TabMenuModal.vue
  client/src/views/menu/index.ts
  client/src/views/users/MyProfilePage.vue
  client/src/views/users/UsersPage.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

[MS] Generic tab bar menu modal
  client/src/components/small-display/SmallDisplayCategoryUserContextMenu.vue
  client/src/components/small-display/SmallDisplayUserContextMenu.vue
  client/src/components/workspaces/utils.ts
  client/src/theme/components/_modals.scss
  client/src/theme/components/_popovers.scss
  client/src/views/files/FoldersPage.vue
  client/src/views/menu/AddMenuModal.vue
  client/src/views/menu/TabBarMenu.vue
  client/src/views/menu/TabBarMenuModal.vue
  client/src/views/menu/index.ts
  client/src/views/menu/types.ts
  client/src/views/organizations/OrganizationInformationPage.vue
  client/src/views/users/MyProfilePage.vue
  client/src/views/users/UserContextMenu.vue
  client/src/views/users/UsersPage.vue
  client/src/views/users/types.ts
  client/src/views/users/utils.ts
  client/src/views/workspaces/SmallDisplayWorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspacesPage.vue
  client/src/views/workspaces/types.ts
Due: eslint, vue-tsc, prettier

draft breadcrumb adaptative size
  client/src/components/header/HeaderBreadcrumbs.vue
  client/src/views/header/HeaderPage.vue
Due: eslint, vue-tsc, prettier

[MS] Updates with review
  client/src/components/workspaces/utils.ts
  client/src/views/menu/TabBarMenu.vue
  client/src/views/menu/TabBarMenuModal.vue
  client/src/views/organizations/OrganizationInformationPage.vue
  client/src/views/users/UsersPage.vue
  client/src/views/users/utils.ts
  client/src/views/workspaces/WorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

fix(cspell): Missing word `no-brainer`
  .cspell/custom-words.txt
Due: none

ci(ci-rust): Run CI on deny.toml change
  .github/filters/ci.yml
Due: none

chore(cargo-deny): Ignore `RUSTSEC-2025-0026`
  deny.toml
Due: toml-fmt

chore(cargo-deny): Remove advisory ignore for `RUSTSEC-2024-0363`
  deny.toml
Due: toml-fmt

Bump maturin in build-system deps
  server/pyproject.toml
Due: toml-fmt

Fix pyright error on click.ParamType.get_metavar override
  server/parsec/cli/utils.py
Due: none

[MS] Update workspace favorite icon position
  client/src/components/workspaces/WorkspaceCard.vue
Due: eslint, vue-tsc, prettier

[MS] Update lib
  client/package-lock.json
  client/package.json
Due: none

Fix electron build on Windows
  .github/workflows/package-desktop.yml
  bindings/electron/scripts/build.js
  client/electron/live-runner.js
  client/scripts/vite_build_for_native.cjs
Due: eslint, prettier

MacOS client installation doc update
  docs/locale/fr/LC_MESSAGES/userguide/installation.po
  docs/userguide/installation.rst
  docs/userguide/screens/macfuse_current_allow.en.png
  docs/userguide/screens/macfuse_current_allow.fr.png
  docs/userguide/screens/macfuse_current_allow.png
  docs/userguide/screens/macfuse_download.png
  docs/userguide/screens/macfuse_previous_allow_developer.png
  docs/userguide/screens/macfuse_previous_allow_extension.png
  docs/userguide/screens/macfuse_previous_system_extension.png
  docs/userguide/screens/macfuse_previous_system_preferences.png
Due: none

[MS] HeaderBreadcrumbs responsive & updates
  client/src/components/files/FolderSelectionModal.vue
  client/src/components/header/HeaderBreadcrumbPopover.vue
  client/src/components/header/HeaderBreadcrumbs.vue
  client/src/components/header/SmallDisplayHeaderTitle.vue
  client/src/views/header/HeaderPage.vue
  client/src/views/workspaces/WorkspaceHistoryPage.vue
Due: eslint, vue-tsc, prettier

ci(releaser): Fix missing if cond for dependent workflows
  .github/workflows/releaser.yml
Due: none

feat(releaser.py): Add `force-push` option
  misc/releaser.py
Due: none

Bump version 3.4.0-a.7+dev -> 3.4.0-a.14+dev
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  newsfragments/10017.feature.rst
  newsfragments/10041.bugfix.rst
  newsfragments/10061.feature.rst
  newsfragments/10143.feature.rst
  newsfragments/10165.feature.rst
  newsfragments/6174.doc.rst
  newsfragments/9505.feature.rst
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.4.0-a.14+dev -> 3.4.0-rc.0
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.4.0-rc.0 -> 3.4.0-rc.1+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

ci(rust): Use ubuntu-24 runner
  .github/workflows/ci-rust.yml
Due: none

chore(wasm): Update `wasm-pack` to `0.13.1`
  .github/workflows/ci-rust.yml
  .github/workflows/package-webapp.yml
  docs/development/README.md
  misc/versions.toml
Due: toml-fmt
