Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

refactor(postgresql): Add delete constraints for organization
  server/parsec/components/postgresql/migrations/0039_organization_delete_constraints.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/tests/postgres_wipe/test_organization_wipe.py
Due: sqlfluff

[MS] Fixed package-desktop build
  .github/workflows/package-desktop.yml
  client/.env.dev
Due: none

[MS] Fix org creation on Electron
  client/src/views/organizations/creation/CreateOrganizationModal.vue
Due: eslint, vue-tsc, prettier

feat(server): Add tasks to remove old organization
  server/parsec/asgi/__init__.py
  server/parsec/backend.py
  server/parsec/cli/options.py
  server/parsec/cli/tasks/__init__.py
  server/parsec/cli/tasks/wipe_organization.py
  server/parsec/components/blockstore.py
  server/parsec/components/memory/block.py
  server/parsec/components/memory/organization.py
  server/parsec/components/organization.py
  server/parsec/components/postgresql/block.py
  server/parsec/components/postgresql/organization.py
  server/parsec/components/postgresql/organization_wipe.py
  server/tests/administration/test_stats.py
  server/tests/cli/tasks/test_wipe_organization.py
  server/tests/conftest.py
Due: sqlfluff-in-python

fixup! feat(server): Add tasks to remove old organization
  server/parsec/cli/options.py
Due: none

fixup! feat(server): Add tasks to remove old organization
  server/parsec/cli/tasks/wipe_organization.py
Due: none

Update server/parsec/cli/tasks/wipe_organization.py
  server/parsec/cli/tasks/wipe_organization.py
Due: none

fixup! feat(server): Add tasks to remove old organization
  server/tests/cli/tasks/test_wipe_organization.py
Due: none

[MS] Fixed small error that could occur when cancelling a search
  client/src/views/files/FoldersPage.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

refactor(dependabot): Change update interval for cspell
  .github/dependabot.yml
Due: none

[MS] Update playwright version on CI
  .github/workflows/ci-web.yml
Due: none

RFC 1030: Collaborative editics
  docs/rfcs/1030-collaborative-editics.md
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/README.md
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/monitor.js
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/package-lock.json
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/package.json
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/proxy.js
  docs/rfcs/1030-collaborative-editics/oo-protocol-monitor/run-demo.js
  docs/rfcs/1030-collaborative-editics/oo_example_session.md
Due: none

Make explicit the fact `tsconfig.json` is only used for type checking
  client/electron/tsconfig.json
  client/tsconfig.json
Due: none

Fix eslint type checking for `client/vite.config.ts` and `client/scripts/vite_plugin_wasm_pack.ts`
  client/eslint.config.ts
  client/scripts/vite_plugin_wasm_pack.ts
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

Remove `PARSEC_APP_FORCE_CRYPTPAD_SERVER` env variable
  client/README.md
  client/src/services/environment.ts
Due: eslint, vue-tsc, prettier

Add onlyoffice-editor & onlyoffice-x2t dependencies to GUI
  client/knip.config.ts
  client/package-lock.json
  client/package.json
Due: eslint, vue-tsc, prettier

Update electron CSP to support OnlyOffice
  client/electron/src/cspRules.ts
Due: eslint, vue-tsc, prettier

Add client/editics (i.e. editics host iframe content)
  .cspell/custom-words.txt
  client/editics/README.md
  client/editics/offline.html
  client/editics/offline.ts
  client/editics/parent_host_api.ts
  client/editics/templates/cell.bin
  client/editics/templates/slide.bin
  client/editics/templates/word.bin
  client/eslint.config.ts
  client/knip.config.ts
  client/scripts/vite_plugin_editics.ts
  client/tsconfig.json
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

Fix missing jsonify error in `editics/offline.ts`
  client/editics/offline.ts
Due: eslint, vue-tsc, prettier

Remove deprecated `src/services/cryptpad.ts`
  client/src/services/cryptpad.ts
Due: eslint, vue-tsc, prettier

Add editics support in client/src (i.e. editics parent frame content)
  client/src/services/editics.ts
  client/src/views/files/handler/editor/FileEditor.vue
Due: eslint, vue-tsc, prettier

Convert GUI file type detection from cryptpad to editics
  client/src/common/fileTypes.ts
  client/src/services/pathOpener.ts
  client/src/views/files/handler/FileHandler.vue
Due: eslint, vue-tsc, prettier

Add ImageSelectionModal in Parsec GUI (for image insertion in editics)
  client/src/components/files/explorer/ImageSelectionModal.vue
  client/src/components/files/explorer/index.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_inputs.scss
  client/src/theme/components/_modals.scss
Due: eslint, vue-tsc, prettier

Add support for image display and image import in editics
  client/editics/offline.ts
  client/editics/parent_host_api.ts
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

Prune node_module/onlyoffice-editor in CI (avoid ~300mo cache)
  .github/scripts/prune_node_modules_onlyoffice.sh
  .github/workflows/ci-web.yml
Due: none

Add satisfies typing restriction to `client/editics/offline.ts`
  client/editics/offline.ts
Due: eslint, vue-tsc, prettier

Add cache busting support for editics and onlyoffice packages
  client/editics/README.md
  client/editics/offline.ts
  client/electron/src/cspRules.ts
  client/scripts/vite_plugin_editics.ts
Due: eslint, vue-tsc, prettier

[MS] Properly isolate frames and make it work on localhost
  client/.env.development
  client/editics/offline.ts
  client/scripts/vite_plugin_editics.ts
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

Disable editics tests in tests/e2e/specs/editics_enable.spec.ts, tests/e2e/specs/workspace_history.spec.ts and client/tests/e2e/specs/file_editor.spec.ts
  client/tests/e2e/specs/editics_enable.spec.ts
  client/tests/e2e/specs/file_editor.spec.ts
  client/tests/e2e/specs/workspace_history.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Served editics on Electron with correct isolation and CSP
  client/.gitignore
  client/.prettierignore
  client/electron/package.cjs
  client/electron/src/cspRules.ts
  client/electron/src/setup.ts
  client/eslint.config.ts
  client/scripts/copy_to_electron.cjs
  client/src/services/editics.ts
  misc/license_headers.py
Due: eslint, vue-tsc, prettier

Fix origin check for iframe message passing in client/src/services/editics.ts & client/editics/offline.ts
  client/editics/offline.ts
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

[MS] Small fixes for editics
  client/.gitignore
  client/editics/README.md
  client/scripts/copy_to_electron.cjs
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

Fix editics subdomain handling in dev mode when original domain is 127.0.0.1
  client/src/services/editics.ts
Due: eslint, vue-tsc, prettier

[MS] Fix CSP
  client/electron/src/cspRules.ts
  client/scripts/vite_plugin_editics.ts
Due: eslint, vue-tsc, prettier

Document PARSEC_APP_TESTBED_SERVER & TESTBED_SERVER environ variables in client/README.md
  client/README.md
Due: none

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
