Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Adds a link to open the app on the server's default page
  server/parsec/templates/index.html
Due: none

Add basic test for server CLI render_email command
  server/tests/cli/test_render_email.py
Due: none

refactor: server email templates
  server/parsec/cli/render_email.py
  server/parsec/components/async_enrollment.py
  server/parsec/components/memory/async_enrollment.py
  server/parsec/components/postgresql/async_enrollment.py
  server/parsec/templates/email/README.md
  server/parsec/templates/email/account_create.html.j2
  server/parsec/templates/email/account_create.txt.j2
  server/parsec/templates/email/account_delete.html.j2
  server/parsec/templates/email/account_delete.txt.j2
  server/parsec/templates/email/account_recover.html.j2
  server/parsec/templates/email/account_recover.txt.j2
  server/parsec/templates/email/async_enrollment_accepted.html.j2
  server/parsec/templates/email/async_enrollment_accepted.txt.j2
  server/parsec/templates/email/base.html.j2
  server/parsec/templates/email/base.txt.j2
  server/parsec/templates/email/footer.html.j2
  server/parsec/templates/email/invitation.html.j2
  server/parsec/templates/email/invitation.txt.j2
  server/parsec/templates/email/macros.html.j2
  server/parsec/templates/email/totp_reset.html.j2
  server/parsec/templates/email/totp_reset.txt.j2
Due: sqlfluff-in-python

[MS] Fix drop in an empty read only workspace and adds tests
  client/src/views/files/FoldersPage.vue
  client/tests/e2e/specs/documents_list.spec.ts
Due: eslint, vue-tsc, prettier

refactor(cli): Rework UI
  cli/src/commands/device/forget_local.rs
  cli/src/commands/device/list.rs
  cli/src/commands/device/mod.rs
  cli/src/commands/workspace/mod.rs
  cli/src/commands/workspace/sync.rs
  cli/src/lib.rs
  cli/src/main.rs
  cli/src/ui/compat.rs
  cli/src/ui/mod.rs
  cli/src/ui/spinners.rs
  cli/src/ui/style.rs
  cli/tests/integration/device/list.rs
  newsfragments/0000.feature.rst
Due: fmt, clippy

feat(parsec-cli): Generate it's own manpages by inspecting itself
  .cspell/names.txt
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/commands/man_page.rs
  cli/src/commands/mod.rs
  cli/src/lib.rs
  cli/src/main.rs
  cli/tests/integration/invitations/device.rs
  cli/tests/integration/invitations/shared_recovery.rs
  cli/tests/integration/invitations/user.rs
  cli/tests/integration/manpage.rs
  cli/tests/integration/mod.rs
  cli/tests/integration/organization/bootstrap.rs
Due: toml-fmt, fmt, clippy

chore(mountpoint): Update fuser to 0.17
  Cargo.lock
  Cargo.toml
  bindings/electron/src/meths.rs
  bindings/generator/api/workspace.py
  bindings/generator/templates/binding_web_meths.rs.j2
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  client/src/services/viewers.ts
  libparsec/crates/platform_mountpoint/build.rs
  libparsec/crates/platform_mountpoint/src/unix/filesystem.rs
  libparsec/crates/platform_mountpoint/src/unix/history.rs
  libparsec/crates/platform_mountpoint/src/unix/inode.rs
  libparsec/crates/platform_mountpoint/src/unix/mount.rs
  libparsec/crates/types/src/id.rs
Due: toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

feat(cli): Add command `sequester generate-service-certificate`
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/commands/mod.rs
  cli/src/commands/sequester/gen_service_cert.rs
  cli/src/commands/sequester/mod.rs
  cli/src/lib.rs
  cli/src/main.rs
  cli/src/utils.rs
  cli/tests/integration/device/export_recovery_device.rs
  cli/tests/integration/device/import_recovery_device.rs
  cli/tests/integration/invitations/cancel.rs
  cli/tests/integration/manpage.rs
  cli/tests/integration/mod.rs
  cli/tests/integration/mount_realm_export.rs
  cli/tests/integration/organization/bootstrap.rs
  cli/tests/integration/organization/create.rs
  cli/tests/integration/sequester/gen_svc_cert.rs
  cli/tests/integration/sequester/mod.rs
  cli/tests/integration/workspace/import.rs
  cli/tests/integration/workspace/mount.rs
Due: toml-fmt, fmt, clippy

[MS] Fix new file and adds new file error tests
  client/src/parsec/file.ts
  client/src/services/fileOperation/manager.ts
  client/src/views/files/FoldersPage.vue
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/file_new.spec.ts
Due: eslint, vue-tsc, prettier

test(sse): Raise exception with received event
  server/tests/test_sse.py
Due: none

feat(cli): Make CLI generate it's own completion script for shell
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/commands/auto_complete.rs
  cli/src/commands/mod.rs
  cli/src/commands/sequester/gen_service_cert.rs
  cli/src/lib.rs
  cli/src/main.rs
  cli/tests/integration/auto_complete.rs
  cli/tests/integration/mod.rs
Due: toml-fmt, fmt, clippy

refactor(cli): Migrate some commands to new UI (p1)
  cli/src/commands/ls.rs
  cli/src/commands/mount_realm_export.rs
  cli/src/commands/rm.rs
  cli/src/ui/mod.rs
  newsfragments/0000.feature.rst
Due: fmt, clippy

draft: [DOC] DAT Cryptpad
  docs/hosting/deployment/editics/index.rst
Due: none

Migrate to anyio v4
  .cspell/custom-words.txt
  .github/dependabot.yml
  server/parsec/asgi/rpc.py
  server/parsec/cli/options.py
  server/parsec/cli/testbed.py
  server/parsec/cli/utils.py
  server/parsec/components/events.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/events.py
  server/parsec/components/postgresql/events.py
  server/parsec/components/postgresql/handler.py
  server/pyproject.toml
  server/tests/common/client.py
  server/tests/test_exception_group.py
  server/uv.lock
Due: sqlfluff-in-python, toml-fmt

[MS] Removed useless MsContext type
  client/tests/e2e/helpers/externalWebsites.ts
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/types.ts
Due: eslint, vue-tsc, prettier

[MS] Test link in web
  client/tests/e2e/specs/web_redirect.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Test workspace list empty & error
  client/src/views/workspaces/WorkspacesPage.vue
  client/tests/e2e/specs/user_greet.spec.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
Due: eslint, vue-tsc, prettier

refactor(cli): Use new UI for `certificate` commands
  cli/src/commands/certificate/forget_all_certificates.rs
  cli/src/commands/certificate/poll.rs
  cli/src/commands/man_page.rs
  cli/src/ui/compat.rs
  cli/tests/integration/certificate/poll_and_forget.rs
  libparsec/crates/client/src/client/mod.rs
  newsfragments/0000.feature.rst
Due: fmt, clippy

Fix pyright issues
  server/parsec/cli/utils.py
  server/parsec/components/email.py
  server/parsec/components/postgresql/sequester_export.py
  server/parsec/components/s3_blockstore.py
  server/parsec/components/swift_blockstore.py
  server/tests/cli/common.py
Due: sqlfluff-in-python

refactor(cli): Use new UI for `device` sub-commands
  cli/src/commands/device/change_authentication.rs
  cli/src/commands/device/export_recovery_device.rs
  cli/src/commands/device/import_recovery_device.rs
  cli/src/commands/device/overwrite_server_url.rs
  cli/src/ui/mod.rs
  cli/src/ui/spinners.rs
  cli/tests/integration/device/import_recovery_device.rs
  newsfragments/0000.feature.rst
Due: fmt, clippy

chore(mountpoint): Update fuser to 0.18
  Cargo.lock
  Cargo.toml
  libparsec/crates/platform_mountpoint/Cargo.toml
Due: toml-fmt

[MS] Fixes some hotkeys and adds a few
  client/src/components/files/types.ts
  client/src/components/users/types.ts
  client/src/views/files/FoldersPage.vue
  client/src/views/home/OrganizationListPage.vue
  client/src/views/users/UsersPage.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
