Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

feat(nextest): Bump to `0.9.114`
  .github/workflows/ci-rust.yml
  misc/versions.toml
Due: toml-fmt

[MS] Adds a message when failing to open a popup for openbao login
  client/src/components/devices/ChooseAuthentication.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/openBao.ts
  client/src/views/home/LoginPage.vue
  client/src/views/users/UpdateAuthenticationModal.vue
Due: eslint, vue-tsc, prettier

[MS] Adds a message when failing to open a popup for openbao login (#11788)
  client/src/components/devices/ChooseAuthentication.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/openBao.ts
  client/src/views/home/LoginPage.vue
  client/src/views/users/UpdateAuthenticationModal.vue
Due: eslint, vue-tsc, prettier

[MS] Disable stripe for most e2e tests
  client/src/services/environment.ts
  client/src/services/webLogger.ts
  client/src/views/header/ProfileHeaderOrganizationPopover.vue
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/types.ts
  client/tests/e2e/specs/account_create_org.spec.ts
  client/tests/e2e/specs/client_area_login.spec.ts
  client/tests/e2e/specs/client_forgotten_password.spec.ts
  client/tests/e2e/specs/create_organization.spec.ts
  client/tests/e2e/specs/create_organization_saas.spec.ts
Due: eslint, vue-tsc, prettier

Fix RemoteOperationServer incorrectly using ParsecAccount variant for OpenBao
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
Due: fmt, clippy

[MS] Access file details from a viewer in web mode
  client/src/views/files/handler/FileHandler.vue
  client/tests/e2e/specs/file_viewers.spec.ts
Due: eslint, vue-tsc, prettier

feat(pki): Return parsed common name from cert
  libparsec/crates/platform_pki/src/x509/mod.rs
  server/parsec/_parsec_pyi/pki.pyi
  server/src/data/pki.rs
Due: fmt, clippy

[MS] Show electron maximize and fix tray on Linux
  client/electron/src/setup.ts
Due: eslint, vue-tsc, prettier

feat(pki): Return emails contained in cert
  libparsec/crates/platform_pki/src/x509/mod.rs
  server/parsec/_parsec_pyi/pki.pyi
  server/src/data/pki.rs
Due: fmt, clippy

Make FastAPI use the old 403 authentication error status codes
  server/parsec/asgi/administration.py
Due: none

[MS] Loading page: add a container child div to #app
  client/index.html
Due: prettier

feat(winfsp): Bump to 2025 version
  .github/workflows/ci-rust.yml
  .github/workflows/package-cli.yml
  .github/workflows/package-desktop.yml
  client/electron/assets/installer.nsh
  client/electron/scripts/before-pack.js
  misc/version_updater.py
  misc/versions.toml
  newsfragments/11803.feature.rst
Due: toml-fmt, eslint, prettier

feat(pki): Obtain human handle from cert info
  Cargo.lock
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/src/x509/mod.rs
  libparsec/crates/platform_pki/tests/units/x509.rs
  server/parsec/_parsec_pyi/pki.pyi
  server/src/data/pki.rs
Due: toml-fmt, fmt, clippy

Bump version 3.7.1-a.0+dev -> 3.7.1-rc.0
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.7.1-rc.0 -> 3.7.1-rc.1+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Workspace Item - Improve UI Design
  client/index.html
  client/src/components/workspaces/WorkspaceCard.vue
  client/src/components/workspaces/WorkspaceListItem.vue
  client/src/components/workspaces/WorkspaceRoleTag.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_action-bar.scss
  client/src/theme/components/_list.scss
  client/src/views/workspaces/WorkspacesPage.vue
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/workspaces_actions.spec.ts
  newsfragments/11574.feature.rst
Due: eslint, vue-tsc, prettier

ci(python): Generate test pki in `ci-python`
  .github/workflows/ci-python.yml
  misc/gen_test_pki.py
Due: none

Updated package-lock
  client/package-lock.json
Due: none

[MS] Updated index.html
  client/index.html
Due: prettier

[MS] Update workspace context menu to hide/unhide "Mount" and "Unmount" based on workspace hidden state
  client/src/components/workspaces/utils.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/workspace.ts
  client/src/views/workspaces/SmallDisplayWorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspacesPage.vue
  client/src/views/workspaces/types.ts
Due: eslint, vue-tsc, prettier

[MS] Show modal to confirm hiding workspace and unmount it
  client/src/components/workspaces/WorkspaceCard.vue
  client/src/components/workspaces/utils.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/storageManager.ts
  client/src/views/workspaces/WorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceHiddenModal.vue
  client/src/views/workspaces/WorkspacesPage.vue
  client/tests/component/specs/testWorkspaceCard.spec.ts
Due: eslint, vue-tsc, prettier

Prettier
  client/src/components/workspaces/WorkspaceCard.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/views/workspaces/WorkspaceHiddenModal.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

Bump version 3.7.1-rc.1+dev -> 3.7.1-rc.1
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.7.1-rc.1 -> 3.7.1-rc.2+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Changes made on 3.7.1 (missing news fragments)
  newsfragments/11673.feature.rst
  newsfragments/11785.bugfix.rst
  newsfragments/11788.bugfix.rst
Due: none

[MS] Changes made on 3.7.1 (missing news fragments) (#11818)
  newsfragments/11673.feature.rst
  newsfragments/11785.bugfix.rst
  newsfragments/11788.bugfix.rst
Due: none

feat(pytest): Add `test_pki` fixture
  server/tests/common/__init__.py
  server/tests/common/pki.py
Due: none

[MS] Show update modal automatically
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/main.ts
  client/src/services/updateManager.ts
  client/src/theme/components/_modals.scss
  client/src/views/about/UpdateAppModal.vue
  client/src/views/home/HomePageHeader.vue
  client/src/views/layouts/ConnectedLayout.vue
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/types.ts
  client/tests/e2e/helpers/utils.ts
  client/tests/e2e/specs/app_update.spec.ts
  newsfragments/11740.feature.rst
Due: eslint, vue-tsc, prettier

refactor(pytest): Rework User/Device certificate generation
  server/tests/api_v5/anonymous/test_organization_bootstrap.py
  server/tests/api_v5/authenticated/test_certificate_get.py
  server/tests/api_v5/authenticated/test_device_create.py
  server/tests/api_v5/authenticated/test_user_create.py
  server/tests/common/__init__.py
  server/tests/common/full_data.py
  server/tests/common/utils.py
Due: none
