Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

Add `libparsec_platform_pki::verify_message2()`
  libparsec/crates/platform_pki/src/errors.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
Due: fmt, clippy

Implement PKI support for async enrollment
  bindings/electron/src/meths.rs
  bindings/generator/api/async_enrollment.py
  libparsec/crates/client/src/invite/async_enrollment/accept.rs
  libparsec/crates/client/src/invite/async_enrollment/submit.rs
  libparsec/crates/client/src/invite/async_enrollment/submitter_finalize.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/accept.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/submit.rs
  libparsec/src/async_enrollment.rs
Due: fmt, clippy

Re-generate electron&web bindings
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
Due: fmt, clippy, eslint, vue-tsc, prettier

Correct `submitter_finalize_async_enrollment` to remove device key file path from parameters
  bindings/generator/api/async_enrollment.py
  libparsec/crates/client/src/invite/async_enrollment/submitter_finalize.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/full.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/submitter_finalize.rs
  libparsec/src/async_enrollment.rs
Due: fmt, clippy

Change `AvailablePendingAsyncEnrollment` to have a `addr: ParsecAsyncEnrollmentAddr` field
  bindings/generator/api/async_enrollment.py
  libparsec/crates/client/tests/unit/invite/async_enrollment/submitter_list_local.rs
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/tests/units/async_enrollment.rs
Due: fmt, clippy

Add `Client::get_async_enrollment_addr` and expose it as `client_get_async_enrollment_addr` in the bindings
  bindings/generator/api/async_enrollment.py
  libparsec/crates/client/src/client/mod.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/addr.rs
  libparsec/crates/client/tests/unit/invite/async_enrollment/mod.rs
  libparsec/src/async_enrollment.rs
Due: fmt, clippy

Improve factorization in `libparsec_platform_pki`
  libparsec/crates/platform_pki/examples/verify_certificate.rs
  libparsec/crates/platform_pki/src/errors.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
  libparsec/crates/platform_pki/tests/units/shared.rs
Due: fmt, clippy

Switch to core24 for Snap build
  client/electron/snap/snapcraft.yaml
Due: none

Rework `misc/gen_test_pki.py` to generate a `README.md` file containing certificates hashes
  misc/gen_test_pki.py
Due: none

Simplify libparsec_platform_pki by having `get_validation_path_for_cert` also return the leaf certificate
  libparsec/crates/client/src/client/pki_enrollment_accept.rs
  libparsec/crates/client/src/client/pki_enrollment_submit.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
  libparsec/crates/platform_pki/tests/units/sign.rs
  libparsec/src/async_enrollment.rs
Due: fmt, clippy

Add sign/encryt test for libparsec_platform_pki on Windows
  libparsec/crates/platform_pki/tests/units/encrypt.rs
  libparsec/crates/platform_pki/tests/units/list.rs
  libparsec/crates/platform_pki/tests/units/mod.rs
  libparsec/crates/platform_pki/tests/units/sign.rs
  libparsec/crates/platform_pki/tests/units/utils.rs
Due: fmt, clippy

Improve `libparsec/crates/platform_pki/examples/import_testpki_windows.ps1` output and default params
  libparsec/crates/platform_pki/examples/import_testpki_windows.ps1
Due: none

Move `libparsec_platform_pki::ShowCertificateSelectionDialogError` in errors for consistency
  libparsec/crates/platform_pki/src/errors.rs
  libparsec/crates/platform_pki/src/lib.rs
Due: fmt, clippy

Rework `libparsec/crates/platform_pki/tests/units/shared.rs` to use the new `certificates` fixture
  libparsec/crates/platform_pki/src/test_fixture.rs
  libparsec/crates/platform_pki/tests/units/shared.rs
Due: fmt, clippy

Add `libparsec/crates/platform_pki/test-pki/README.md` describing the generated certificates
  libparsec/crates/platform_pki/test-pki/README.md
Due: none

Add -NoCleanup option to `libparsec/crates/platform_pki/examples/import_testpki_windows.ps1` (needed for CI tests)
  libparsec/crates/platform_pki/examples/import_testpki_windows.ps1
Due: none

Fix clippy smell in `libparsec_platform_ipc`
  libparsec/crates/platform_ipc/src/windows/mod.rs
Due: fmt, clippy

Simplify `libparsec_platform_pki` by removing `DecryptedMessage/EncryptMessage/SignedMessageFromPki/CertificateDer` return structs
  libparsec/crates/client/src/client/pki_enrollment_accept.rs
  libparsec/crates/client/src/client/pki_enrollment_finalize.rs
  libparsec/crates/client/src/client/pki_enrollment_submit.rs
  libparsec/crates/client/tests/unit/client/pki_enrollment_info.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_pki/examples/decrypt_message.rs
  libparsec/crates/platform_pki/examples/encrypt_message.rs
  libparsec/crates/platform_pki/examples/get_certificate_der.rs
  libparsec/crates/platform_pki/examples/sign_message.rs
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki/src/errors.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/src/async_enrollment.rs
Due: fmt, clippy

Simplify `libparsec_platform_pki::ShowCertificateSelectionDialogError` implementation
  libparsec/crates/platform_pki/src/lib.rs
Due: fmt, clippy

Remove useless `libparsec/crates/platform_pki/examples/init_windows_credstore.ps1` (replaced by `import_testpki_windows.ps1`)
  libparsec/crates/platform_pki/examples/init_windows_credstore.ps1
Due: none

Disable tests on X509 certificate's `KeyUsage` field (not supported yet)
  libparsec/crates/platform_pki/tests/units/encrypt.rs
  libparsec/crates/platform_pki/tests/units/sign.rs
  libparsec/crates/platform_pki/tests/units/utils.rs
Due: fmt, clippy

Update CI to install test PKI certificates on Windows
  .github/workflows/ci-rust.yml
Due: none

Fix `windows_(signature|encrypt)_roundtrip.ps1` scripts for manual testing of `libparsec_platform_pk
  libparsec/crates/platform_pki/examples/decrypt_message.rs
  libparsec/crates/platform_pki/examples/encrypt_message.rs
  libparsec/crates/platform_pki/examples/sign_message.rs
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki/examples/windows_signature_roundtrip.ps1
Due: fmt, clippy
