Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

refactor(CI): Change rust filter
  .github/filters/ci.yml
Due: none

[MS] Som more tests fixes
  client/tests/e2e/specs/account_invitation.spec.ts
  client/tests/e2e/specs/invitations_popover.spec.ts
  client/tests/e2e/specs/organization_information.spec.ts
Due: eslint, vue-tsc, prettier

chore(rust): Update `getrandom` to 0.3
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  libparsec/crates/crypto/Cargo.toml
Due: toml-fmt

chore(rust): Update `serde_bytes` to `0.11.19`
  Cargo.lock
  Cargo.toml
  libparsec/crates/crypto/Cargo.toml
Due: toml-fmt

chore(rust): Update `async-broadcast` to `0.7.2`
  Cargo.lock
  Cargo.toml
Due: toml-fmt

chore(rust): Update transitive dependencies `darling` to `0.20.11`
  Cargo.lock
Due: none

feat(pki): Allow to encrypt a message using a cert store
  Cargo.lock
  libparsec/crates/platform_pki/Cargo.toml
  libparsec/crates/platform_pki/examples/encrypt_message.rs
  libparsec/crates/platform_pki/src/errors.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
Due: toml-fmt, fmt, clippy

feat(pki): Allow to decrypt message using cert store
  libparsec/crates/platform_pki/examples/decrypt_message.rs
  libparsec/crates/platform_pki/src/errors.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
Due: fmt, clippy

[MS] Adds invitation page
  client/src/assets/images/certificate-icon.svg
  client/src/common/clipboard.ts
  client/src/components/header/InvitationsButton.vue
  client/src/components/invitations/InvitationItem.vue
  client/src/components/invitations/PkiRequestItem.vue
  client/src/components/organizations/OrganizationUserInformation.vue
  client/src/components/sidebar/SidebarMenuList.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/pki.ts
  client/src/router/types.ts
  client/src/theme/components/_list.scss
  client/src/theme/components/_modals.scss
  client/src/theme/global.scss
  client/src/views/header/HeaderPage.vue
  client/src/views/invitations/InvitationList.vue
  client/src/views/invitations/InvitationSwitchModal.vue
  client/src/views/invitations/InvitationsPage.vue
  client/src/views/invitations/PkiRequestList.vue
  client/src/views/invitations/SelectProfileModal.vue
  client/src/views/invitations/types.ts
  client/src/views/menu/MainMenu.vue
  client/src/views/menu/TabBarMenu.vue
  client/src/views/users/UsersPage.vue
  client/src/views/users/types.ts
  client/tests/e2e/helpers/assertions.ts
  client/tests/e2e/helpers/greet.ts
  client/tests/e2e/specs/account_invitation.spec.ts
  client/tests/e2e/specs/invitations_popover.spec.ts
  client/tests/e2e/specs/organization_information.spec.ts
  client/tests/e2e/specs/sidebar.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
  newsfragments/11131.feature.rst
Due: eslint, vue-tsc, prettier

[MS] Update authentication UI
  client/src/assets/images/Homepage/Profile/Card/keypad-gradient.svg
  client/src/assets/images/id-card-gradient.svg
  client/src/assets/images/keypad-gradient.svg
  client/src/assets/images/person-circle-gradient.svg
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/organizations/OrganizationCard.vue
  client/src/components/profile/AuthenticationCard.vue
  client/src/components/profile/types.ts
  client/src/components/sas-code/SasCodeChoice.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/theme/components/_modals.scss
  client/src/theme/global.scss
  client/src/views/profile/AuthenticationPage.vue
  client/src/views/users/UpdateAuthenticationModal.vue
  client/tests/e2e/specs/device_greet.spec.ts
  client/tests/e2e/specs/my_profile_page.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Fixed auth tests
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/profile/AuthenticationCard.vue
  client/src/views/devices/ImportRecoveryDevicePage.vue
  client/tests/e2e/helpers/greet.ts
  client/tests/e2e/specs/create_organization_custom.spec.ts
  client/tests/e2e/specs/create_organization_saas.spec.ts
  client/tests/e2e/specs/create_organization_trial.spec.ts
  client/tests/e2e/specs/device_greet.spec.ts
  client/tests/e2e/specs/my_profile_page.spec.ts
  client/tests/e2e/specs/recovery_device.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Fix back button (responsive) for Parsec account
  client/src/views/account/AccountLoginPage.vue
  client/src/views/account/CreateAccountPage.vue
  client/src/views/account/RecoverAccountPage.vue
  client/src/views/home/AccountHomePage.vue
  client/src/views/home/HomePageButtons.vue
  client/tests/e2e/specs/account_create.spec.ts
  client/tests/e2e/specs/create_organization.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Adds invitations page tests
  client/src/views/invitations/InvitationsPage.vue
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/specs/invitations_page.spec.ts
  client/tests/e2e/specs/invitations_pki_page.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Display pki join request on homepage
  client/src/common/validators.ts
  client/src/components/organizations/OrganizationCard.vue
  client/src/components/organizations/OrganizationPkiRequest.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/login.ts
  client/src/parsec/pki.ts
  client/src/parsec/types.ts
  client/src/views/home/HomePage.vue
  client/src/views/home/OrganizationListPage.vue
Due: eslint, vue-tsc, prettier

ci(publish): Improve determining `RELEASE_TAG`
  .github/workflows/publish.yml
Due: none

[MS] Added tests for home pki requests
  client/src/parsec/pki.ts
  client/tests/e2e/specs/device_greet.spec.ts
  client/tests/e2e/specs/home_pki_requests.spec.ts
Due: eslint, vue-tsc, prettier

ci(publish): Improve determining `RELEASE_TAG` (#11187)
  .github/workflows/publish.yml
Due: none

[MS] Fix account server editing (#11034)
  client/src/components/account/AccountUserInformation.vue
  client/src/parsec/account.ts
  client/src/services/environment.ts
  client/src/views/account/AccountLoginPage.vue
  client/src/views/account/RecoverAccountPage.vue
Due: eslint, vue-tsc, prettier

ci(pr-tgt-release-brnch): Fix typo for close reason
  .github/workflows/when-pr-targeting-releases-branch-is-closed.yml
Due: none

ci(pr-target-release): Fix missing `repo` option
  .github/workflows/when-pr-targeting-releases-branch-is-closed.yml
Due: none

[MS] Fixed electron close (#11042)
  client/.env.alpha
  client/.env.release-candidate
  client/src/services/environment.ts
  client/src/views/layouts/ConnectedLayout.vue
  client/tests/e2e/specs/account_create.spec.ts
  client/tests/e2e/specs/account_login.spec.ts
  client/tests/e2e/specs/account_manage.spec.ts
  client/tests/e2e/specs/account_recover.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Remove unload event handler on logout (#11053)
  client/src/services/refreshWarning.ts
  client/src/views/layouts/ConnectedLayout.vue
Due: eslint, vue-tsc, prettier

[Backport 3.5] Fix RustCrypto's incorrect implementation of `blake2b_hash`
  libparsec/crates/crypto/tests/unit/password.rs
Due: fmt, clippy

[MS] Explicitly turn off editics and account in dotenv for prod and rc (#11138)
  client/.env.production
  client/.env.release-candidate
Due: none

fix(webapp): Check `content-type` start with `text/html`
  client/src/services/resourcesManager.ts
Due: eslint, vue-tsc, prettier

fix(server): Add `custom` folder from exclusion to redirect to `index.html`
  server/parsec/asgi/__init__.py
Due: none

fix(poetry): Relax version of `poetry-plugin-export`
  server/pyproject.toml
Due: toml-fmt

[MS] Enable stripe and customer account for alpha releases (#11058)
  client/.env.alpha
Due: none
