Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

Fix electron bindings templates for `bytes_based` type
  bindings/generator/templates/binding_electron_meths.rs.j2
Due: none

[MS] Upgrade to vite 6
  client/package-lock.json
  client/package.json
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

[MS] resync megashark-lib
  client/package-lock.json
  client/package.json
Due: none

[MS] Create Parsec Account using bindings
  client/src/components/account/AccountUserInformation.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/account.ts
  client/src/parsec/types.ts
  client/src/services/environment.ts
  client/src/views/account/AccountLoginPage.vue
  client/src/views/account/CreateAccountPage.vue
  client/src/views/home/HomePageHeader.vue
  client/tests/e2e/specs/account_create.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Added checklist of recommendations
  client/src/components/misc/RecommendationChecklistPopover.vue
  client/src/components/misc/index.ts
  client/src/components/misc/securityRecommendations.ts
  client/src/components/workspaces/utils.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/eventDistributor.ts
  client/src/theme/components/_popovers.scss
  client/src/theme/global.scss
  client/src/views/devices/DevicesPage.vue
  client/src/views/menu/MainMenu.vue
  client/src/views/profile/OrganizationRecoveryPage.vue
  client/src/views/workspaces/WorkspaceSharingModal.vue
  client/src/views/workspaces/WorkspacesPage.vue
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/specs/organization_information.spec.ts
  client/tests/e2e/specs/sidebar.spec.ts
  newsfragments/7142.feature.rst
Due: eslint, vue-tsc, prettier

Update client/src/locales/en-US.json
  client/src/locales/en-US.json
Due: none

docs(userguide): Remove number in titles of `join orga`
  docs/locale/fr/LC_MESSAGES/userguide/join_organization.po
  docs/userguide/join_organization.rst
Due: none

[MS] Added test for recommendaion checklist
  client/tests/e2e/specs/sidebar.spec.ts
Due: eslint, vue-tsc, prettier

docs(userguide): Reword `Start the invitation process`
  docs/locale/fr/LC_MESSAGES/userguide/join_organization.po
  docs/userguide/join_organization.rst
Due: none

docs(userguide): When adding a new device, the user should check the link
  docs/locale/fr/LC_MESSAGES/userguide/manage_devices.po
  docs/userguide/manage_devices.rst
Due: none

Document invite_complete call sites to avoid ambiguity.
  docs/rfcs/1011-non-blocking-invite-transport.md
  libparsec/crates/client/src/invite/claimer.rs
  libparsec/crates/client/src/invite/greeter.rs
Due: fmt, clippy

refactor(releaser): Rework push force setting in nightly mode
  misc/releaser.py
Due: none

[MS] Adds a way to retrieve account creation code in playwright
  client/.env.development
  client/src/parsec/account.ts
  client/src/services/environment.ts
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/testbed.ts
  client/tests/e2e/specs/account_create.spec.ts
  client/tests/e2e/specs/account_login.spec.ts
Due: eslint, vue-tsc, prettier

feat(server): Add hardened default TLS cipher suite
  .cspell/names.txt
  server/parsec/asgi/__init__.py
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/tests/cli/test_run.py
Due: none

[MS] Adds implementation for invitation/register device
  client/src/parsec/account.ts
  client/src/parsec/types.ts
Due: eslint, vue-tsc, prettier

Update RFC1013 to modify `account_create_proceed` with `AccountCreateStep` field
  docs/rfcs/1013-parsec-account.md
Due: none

Add missing param typing in `test_authenticated_invite_new_device_send_email_bad_outcome`
  server/tests/api_v5/authenticated/test_invite_new_device.py
Due: none

Update RFC1013 to correct `account_(recovery|delete)_send_validation_code` -> `...send_validation_email` to be consistent with `account_create_send_validation_email`
  docs/rfcs/1013-parsec-account.md
Due: none

`misc/test_expected_payload_cooker.py` now outputs long dict/list as multilines \o/
  misc/test_expected_payload_cooker.py
Due: none

Correct `account_delete_send_validation_code`&`account_delete_proceed` protocol schema according to RFC1013
  libparsec/crates/protocol/schema/authenticated_account_cmds/account_delete_confirm.json5
  libparsec/crates/protocol/schema/authenticated_account_cmds/account_delete_proceed.json5
  libparsec/crates/protocol/schema/authenticated_account_cmds/account_delete_send_validation_code.json5
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/account_delete_confirm.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/account_delete_proceed.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/account_delete_send_validation_code.rs
Due: fmt, clippy

Update `account_delete_send_validation_code`&`account_delete_proceed` style in RFC1013
  docs/rfcs/1013-parsec-account.md
Due: none

Keep import of API command in `libparsec/crates/account/src/account_create.rs` consistent with the rest of the codebase
  libparsec/crates/account/src/account_create.rs
Due: fmt, clippy

Always use `ValidationInfo.can_be_used()` in server memory implementation
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
Due: none

Update protocol schema to correct `account_(recovery|delete)_send_validation_code` -> `...send_validation_email`
  libparsec/crates/protocol/schema/authenticated_account_cmds/account_delete_send_validation_email.json5
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/account_delete_send_validation_email.rs
Due: fmt, clippy

Rename email account create/delete email templates for consistency
  server/parsec/components/account.py
  server/parsec/templates/email/account_create.html.j2
  server/parsec/templates/email/account_create.txt.j2
  server/parsec/templates/email/account_delete.html.j2
  server/parsec/templates/email/account_delete.txt.j2
Due: none

Update RFC1013 to rename error status `send_validation_code_required` -> `send_validation_email_required` for consistency with `xxx_send_validation_email` commands
  docs/rfcs/1013-parsec-account.md
Due: none

Implement `libparsec_account::Account::delete_*`
  libparsec/crates/account/src/account_delete.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/tests/unit/account_delete/delete.rs
  libparsec/crates/account/tests/unit/account_delete/mod.rs
  libparsec/crates/account/tests/unit/account_delete/send_validation_email.rs
Due: fmt, clippy

Correct protocol/server/client for rename in `account_(create|reset)_proceed` command `hmac`->`mac`
  bindings/generator/api/account.py
  libparsec/crates/account/src/account_create.rs
  libparsec/crates/account/src/lib.rs
  libparsec/crates/account/src/login.rs
  libparsec/crates/account/tests/unit/account_create/create.rs
  libparsec/crates/account/tests/unit/login.rs
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_create_proceed.json5
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_create_proceed.rs
  libparsec/src/account.rs
  server/parsec/cli/testbed.py
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/tests/api_v5/anonymous_account/test_account_create_proceed.py
  server/tests/common/account.py
Due: fmt, clippy

Full rework of server-side implementation of `account_(create|delete)_(proceed|send_validation_email)`
  server/parsec/cli/__init__.py
  server/parsec/cli/export_email.py
  server/parsec/cli/run.py
  server/parsec/cli/testbed.py
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/parsec/components/memory/datamodel.py
  server/parsec/config.py
  server/parsec/templates/email/account_deletion.html.j2
  server/parsec/templates/email/account_deletion.txt.j2
  server/parsec/templates/email/account_validation.html.j2
  server/parsec/templates/email/account_validation.txt.j2
  server/parsec/templates/email/macros.html.j2
  server/tests/api_v5/anonymous_account/test_account_create_proceed.py
  server/tests/api_v5/authenticated_account/__init__.py
  server/tests/api_v5/authenticated_account/test_account_delete_confirm.py
  server/tests/api_v5/authenticated_account/test_account_delete_proceed.py
  server/tests/api_v5/authenticated_account/test_account_delete_send_code.py
  server/tests/api_v5/authenticated_account/test_account_delete_send_validation_email.py
  server/tests/common/account.py
  server/tests/common/backend.py
Due: none

Remove no longer used `EmailValidationToken/ParsecAccountEmailValidationAddr/ParsecAccountActionAddr` types
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/types/src/addr.rs
  libparsec/crates/types/src/token.rs
  libparsec/crates/types/tests/unit/token.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/addrs.pyi
  server/parsec/_parsec_pyi/ids.pyi
  server/src/addrs.rs
  server/src/lib.rs
  server/src/token.rs
Due: fmt, clippy

Additional tests for `libarsec_account::Account::create_3_proceed`
  libparsec/crates/account/tests/unit/account_create/check_code.rs
  libparsec/crates/account/tests/unit/account_create/create.rs
Due: fmt, clippy

Update `account_create_proceed` protocol schema with new `send_validation_code_required` error status
  bindings/generator/api/account.py
  libparsec/crates/account/src/account_create.rs
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_create_proceed.json5
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_create_proceed.rs
Due: fmt, clippy
