Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

[MS] Tried to preload cryptpad to maybe gain a few seconds when opening a file
  client/src/main.ts
  client/src/services/cryptpad.ts
Due: eslint, vue-tsc, prettier

[MS] Editing `.csv` files as code files
  client/src/services/cryptpad.ts
  client/tests/unit/specs/testCryptpad.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Fix file opening on Electron
  client/src/services/fileOpener.ts
  client/src/views/files/FoldersPage.vue
Due: eslint, vue-tsc, prettier

[MS] Fixed electron close
  client/src/views/layouts/ConnectedLayout.vue
Due: eslint, vue-tsc, prettier

[MS] Match email before asking to create a registration device
  client/src/parsec/account.ts
Due: eslint, vue-tsc, prettier

Correct useless trailing shlash in anonymous account url used in `libparsec_account`
  libparsec/crates/client_connection/src/anonymous_account_cmds.rs
Due: fmt, clippy

[MS] Use location for parsec account default addr on web
  client/src/services/environment.ts
Due: eslint, vue-tsc, prettier

[MS] Set default account server for alpha
  client/.env.alpha
Due: none

[Backport release/3.5] Correct useless trailing shlash in anonymous account url used in `libparsec_account`
  libparsec/crates/client_connection/src/anonymous_account_cmds.rs
Due: fmt, clippy

[MS] Fixed account tests
  client/tests/e2e/specs/account_create.spec.ts
  client/tests/e2e/specs/account_login.spec.ts
  client/tests/e2e/specs/account_manage.spec.ts
  client/tests/e2e/specs/account_recover.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Match email before asking to create a registration device (#11043)
  client/src/parsec/account.ts
Due: eslint, vue-tsc, prettier

ci(pr-target-release): Fix missing `repo` option
  .github/workflows/when-pr-targeting-releases-branch-is-closed.yml
Due: none

[MS] Set default account for rc
  client/.env.release-candidate
Due: none

[MS] Fixed electron close (#11042)
  client/.env.alpha
  client/.env.release-candidate
  client/src/services/environment.ts
  client/src/views/layouts/ConnectedLayout.vue
  client/tests/e2e/specs/account_create.spec.ts
  client/tests/e2e/specs/account_login.spec.ts
  client/tests/e2e/specs/account_manage.spec.ts
  client/tests/e2e/specs/account_recover.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Fix file handler refresh
  client/src/views/files/handler/FileHandler.vue
Due: eslint, vue-tsc, prettier

backport: [MS] Fix settings list UI bug
  client/src/components/settings/SettingsList.vue
Due: eslint, vue-tsc, prettier

[MS] Adds sequester key upload when creating an org
  client/src/components/organizations/SequesterKeyInput.vue
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/organization.ts
  client/src/services/environment.ts
  client/src/theme/components/_modals.scss
  client/src/views/organizations/creation/CreateOrganizationCustomServer.vue
  client/src/views/organizations/creation/CreateOrganizationSaas.vue
  client/src/views/organizations/creation/OrganizationNameAndServerPage.vue
  client/src/views/organizations/creation/OrganizationNamePage.vue
  client/src/views/organizations/creation/OrganizationSummaryPage.vue
  client/tests/e2e/data/private_key.pem
  client/tests/e2e/data/public_key.pem
  client/tests/e2e/specs/create_organization.spec.ts
  client/tests/e2e/specs/create_organization_custom.spec.ts
  client/tests/e2e/specs/create_organization_saas.spec.ts
Due: eslint, vue-tsc, prettier

[Backport 3.5] Fix RustCrypto's incorrect implementation of `blake2b_hash`
  libparsec/crates/crypto/src/rustcrypto/utils.rs
  libparsec/crates/crypto/src/sodium/utils.rs
  libparsec/crates/crypto/tests/password.rs
Due: fmt, clippy

Move `libparsec_crypto`'s tests to `tests/unit` and make them compatible with wasm32
  Cargo.lock
  libparsec/crates/crypto/Cargo.toml
  libparsec/crates/crypto/src/lib.rs
  libparsec/crates/crypto/tests/unit/anti_leak.rs
  libparsec/crates/crypto/tests/unit/hash.rs
  libparsec/crates/crypto/tests/unit/key_derivation.rs
  libparsec/crates/crypto/tests/unit/mod.rs
  libparsec/crates/crypto/tests/unit/password.rs
  libparsec/crates/crypto/tests/unit/private.rs
  libparsec/crates/crypto/tests/unit/sas.rs
  libparsec/crates/crypto/tests/unit/secret.rs
  libparsec/crates/crypto/tests/unit/sequester.rs
  libparsec/crates/crypto/tests/unit/sign.rs
  libparsec/crates/crypto/tests/unit/utils.rs
Due: toml-fmt, fmt, clippy

[MS] Remove unload event handler on logout
  client/src/views/layouts/ConnectedLayout.vue
Due: eslint, vue-tsc, prettier

backport: [MS] Fix settings list UI bug (#11047)
  client/src/components/settings/SettingsList.vue
Due: eslint, vue-tsc, prettier

[MS] Viewers and Editors: • Add back button (when the header is hidden) • Add sidebar toggle (when the header is hidden) • Set fullscreen while opening file
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/file_viewers.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Remove unload event handler on logout
  client/src/services/refreshWarning.ts
  client/src/views/layouts/ConnectedLayout.vue
Due: eslint, vue-tsc, prettier

[MS] Remove unload event handler on logout (#11053)
  client/src/services/refreshWarning.ts
  client/src/views/layouts/ConnectedLayout.vue
Due: eslint, vue-tsc, prettier

backport: [MS] Responsive for viewer controls
  client/src/views/files/handler/FileHandler.vue
Due: eslint, vue-tsc, prettier

Fix RustCrypto's incorrect implementation of `blake2b_hash`
  libparsec/crates/crypto/src/rustcrypto/utils.rs
  libparsec/crates/crypto/src/sodium/utils.rs
  libparsec/crates/crypto/tests/unit/hash.rs
  libparsec/crates/crypto/tests/unit/password.rs
Due: fmt, clippy

[MS] Enable stripe and customer account for alpha releases
  client/.env.alpha
Due: none

[MS] Improve Electron CSP config
  client/capacitor.config.ts
  client/electron/capacitor.config.ts
  client/electron/src/setup.ts
Due: eslint, vue-tsc, prettier

[MS] Enable stripe and customer account for alpha releases (#11058)
  client/.env.alpha
Due: none

Bump version 3.5.0-a.8+dev -> 3.5.0-a.8
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.5.0-a.8 -> 3.5.0-a.9+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Fix import warnings about circular dependency
  client/src/router/index.ts
  client/src/views/menu/TabBarOptions.vue
Due: eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
