Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)

Rename LocalPendingEnrollment to PKILocalPendingEnrollment.
  docs/rfcs/1020-pki-support.md
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
  libparsec/crates/platform_device_loader/tests/units/pki/save.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
  libparsec/crates/types/schema/pki/local_pending_enrollment.json5
  libparsec/crates/types/src/pki/mod.rs
  libparsec/crates/types/tests/unit/pki.rs
Due: fmt, clippy

Rename EncryptionAlgorithm to PKIEncryptionAlgorithm.
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_device_loader/tests/units/pki/save.rs
  libparsec/crates/platform_pki/examples/decrypt_message.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/types/schema/pki/local_pending_enrollment.json5
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/src/pki/mod.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
  libparsec/crates/types/tests/unit/pki.rs
Due: fmt, clippy

[MS] Renaming WorkspaceTagRole to WorkspaceRoleTag
  client/src/components/notifications/MultipleUsersJoinPopover.vue
  client/src/components/workspaces/WorkspaceCard.vue
  client/src/components/workspaces/WorkspaceListItem.vue
  client/src/components/workspaces/WorkspaceRoleTag.vue
  client/src/components/workspaces/index.ts
  client/src/views/files/FoldersPage.vue
  client/src/views/users/UserDetailsModal.vue
  client/tests/component/specs/testWorkspaceTagRole.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Renaming TagProfile to UserProfileTag
  client/src/components/organizations/OrganizationUserInformation.vue
  client/src/components/profile/ProfileInfoCard.vue
  client/src/components/users/UserCard.vue
  client/src/components/users/UserListItem.vue
  client/src/components/users/UserProfileTag.vue
  client/src/components/users/index.ts
  client/src/components/workspaces/WorkspaceUserRole.vue
  client/src/views/header/ProfileHeaderOrganizationPopover.vue
  client/src/views/users/GreetUserModal.vue
  client/tests/component/specs/testTagProfile.spec.ts
  client/tests/component/specs/testUserCard.spec.ts
  client/tests/component/specs/testUserListItem.spec.ts
Due: eslint, vue-tsc, prettier

[MS] Fixed flaky tests related to fab button
  client/tests/e2e/specs/small_display_fab_menu.spec.ts
  client/tests/e2e/specs/users_list.spec.ts
Due: eslint, vue-tsc, prettier

fix(pki): Add sign algo to pki list result
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/tests/unit/client/pki_enrollment_list.rs
  libparsec/crates/protocol/schema/authenticated_cmds/pki_enrollment_list.json5
  libparsec/crates/protocol/tests/authenticated_cmds/v5/pki_enrollment_list.rs
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/pki_enrollment_list.pyi
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/parsec/components/postgresql/migrations/0016_pki_enrollment_submit_payload_signature_algorithm.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/parsec/components/postgresql/pki.py
  server/parsec/components/postgresql/pki_list.py
  server/parsec/components/postgresql/pki_submit.py
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
  server/tests/api_v5/authenticated/test_pki_enrollment_accept.py
  server/tests/api_v5/authenticated/test_pki_enrollment_list.py
  server/tests/api_v5/authenticated/test_pki_enrollment_reject.py
Due: sqlfluff, fmt, clippy, eslint, vue-tsc, prettier

Use PKIEncryptionAlgorithm in DeviceFileSmartCard.
  libparsec/crates/types/schema/local_device/device_file_smartcard.json5
  libparsec/crates/types/src/local_device_file.rs
Due: fmt, clippy

Increase timeout for playwright CI step.
  .github/workflows/ci-web.yml
Due: none

refactor(pki): Remove X509Certificate
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/types/schema/pki/x509_certificate.json5
  libparsec/crates/types/src/pki/mod.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/pki.pyi
  server/src/data/mod.rs
  server/src/data/pki.rs
Due: fmt, clippy

fix(pki): Missing sign algo in pki accept
  libparsec/crates/client/src/client/pki_enrollment_accept.rs
  libparsec/crates/protocol/schema/authenticated_cmds/pki_enrollment_accept.json5
  libparsec/crates/protocol/tests/authenticated_cmds/v5/pki_enrollment_accept.rs
  server/parsec/_parsec_pyi/protocol/authenticated_cmds/v5/pki_enrollment_accept.pyi
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/parsec/components/postgresql/migrations/0016_pki_enrollment_add_sign_algo.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/parsec/components/postgresql/pki.py
  server/parsec/components/postgresql/pki_accept.py
  server/parsec/components/postgresql/pki_info.py
  server/pyproject.toml
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
  server/tests/api_v5/anonymous/test_pki_enrollment_submit.py
  server/tests/api_v5/authenticated/test_pki_enrollment_accept.py
  server/tests/common/rpc.py
Due: sqlfluff, toml-fmt, fmt, clippy

fix(pki): Add sign algo to pki enrol info
  libparsec/crates/protocol/schema/anonymous_cmds/pki_enrollment_info.json5
  libparsec/crates/protocol/tests/anonymous_cmds/v5/pki_enrollment_info.rs
  server/parsec/_parsec_pyi/protocol/anonymous_cmds/v5/pki_enrollment_info.pyi
  server/parsec/components/memory/pki.py
  server/parsec/components/pki.py
  server/parsec/components/postgresql/pki_info.py
  server/tests/api_v5/anonymous/test_pki_enrollment_info.py
Due: fmt, clippy

Improve UI text for PKI root certificate dialog
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: none

refactor(pki): Remove `submitter_der_x509_certificate_sha1`
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/pki.py
  server/parsec/components/postgresql/migrations/0017_rm_pki_enrollment_submit_der_cert_sha1.sql
  server/parsec/components/postgresql/migrations/datamodel.sql
  server/parsec/components/postgresql/pki_submit.py
Due: sqlfluff

Minor import correction in `cli/src/commands/device/change_authentication.rs`
  bindings/generator/api/client.py
Due: none

Add RFC `docs/rfcs/1021-sso-openbao-device-storage.md`
  docs/rfcs/1021-sso-openbao-device-storage.md
Due: none

Add RFC1022 Server configuration API
  docs/rfcs/1022-server-config-api.md
Due: none

fix(pki): Verify pending requests
  bindings/electron/src/index.d.ts
  bindings/electron/src/meths.rs
  bindings/generator/api/client.py
  bindings/generator/api/pki.py
  bindings/web/src/meths.rs
  client/src/plugins/libparsec/definitions.ts
  libparsec/crates/client/src/client/pki_enrollment_list.rs
  libparsec/crates/client/tests/unit/client/pki_enrollment_list.rs
  libparsec/crates/platform_pki/examples/sign_message.rs
  libparsec/crates/platform_pki/examples/utils/mod.rs
  libparsec/crates/platform_pki/examples/verify_message.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
Due: fmt, clippy, eslint, vue-tsc, prettier

[MS] Stop using mocked pki join requests
  client/src/parsec/pki.ts
Due: eslint, vue-tsc, prettier

Bump version 3.6.1-a.0+dev -> 3.6.1-rc.0
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

Bump version 3.6.1-rc.0 -> 3.6.1-rc.1+dev
  Cargo.lock
  Cargo.toml
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

ci(web): Use large github runner
  .github/workflows/ci-web.yml
  client/playwright.config.ts
Due: eslint, vue-tsc, prettier

Introduce `libparsec/crates/types/schema/local_device/device_file_openbao.json5` schema
  libparsec/crates/types/schema/local_device/device_file_openbao.json5
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/tests/unit/local_device_file.rs
Due: fmt, clippy

Correct libparsec/libparsec_client/libparsec_account with new `RemoteOpaqueKeyFetchOffline` error and `PinBoxFutureResult` rename
  bindings/generator/api/account.py
  bindings/generator/api/client.py
  libparsec/crates/account/src/register_new_device.rs
  libparsec/crates/client/src/client/recovery_device.rs
  libparsec/crates/client/tests/unit/invite/bootstrap_organization.rs
  libparsec/src/account.rs
  libparsec/src/client.rs
  libparsec/src/device.rs
Due: fmt, clippy

Add OpenBao support to `libparsec_platform_device_loader`
  libparsec/crates/platform_device_loader/Cargo.toml
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/strategy.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/src/web/error.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
  libparsec/crates/platform_device_loader/tests/units/list.rs
  libparsec/crates/platform_device_loader/tests/units/load.rs
  libparsec/crates/platform_device_loader/tests/units/save.rs
  libparsec/crates/platform_device_loader/tests/units/save_list.rs
  libparsec/crates/platform_device_loader/tests/units/save_load.rs
  libparsec/crates/platform_device_loader/tests/units/utils.rs
Due: toml-fmt, fmt, clippy

Introduce `libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5`
  libparsec/crates/protocol/schema/anonymous_server_cmds/server_config.json5
  libparsec/crates/protocol/tests/anonymous_server_cmds/v5/server_config.rs
Due: fmt, clippy
