Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

Rework remote errors used with `Device(Save|Access)Strategy`
  bindings/generator/api/invite.py
  libparsec/crates/account/src/register_new_device.rs
  libparsec/crates/client/src/client/recovery_device.rs
  libparsec/crates/client/tests/unit/invite/bootstrap_organization.rs
  libparsec/crates/openbao/src/lib.rs
  libparsec/crates/platform_device_loader/src/lib.rs
  libparsec/crates/platform_device_loader/src/native/mod.rs
  libparsec/crates/platform_device_loader/src/strategy.rs
  libparsec/crates/platform_device_loader/src/testbed.rs
  libparsec/crates/platform_device_loader/src/web/error.rs
  libparsec/crates/platform_device_loader/src/web/internal.rs
  libparsec/crates/platform_device_loader/src/web/mod.rs
  libparsec/crates/platform_device_loader/tests/units/load.rs
  libparsec/crates/platform_device_loader/tests/units/save.rs
  libparsec/src/account.rs
  libparsec/src/client.rs
  libparsec/src/invite.rs
Due: fmt, clippy

Make `ParsecAddr` serialisable as a regular http(s) URL
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/types/schema/local_device/device_file_account_vault.json5
  libparsec/crates/types/schema/local_device/device_file_keyring.json5
  libparsec/crates/types/schema/local_device/device_file_openbao.json5
  libparsec/crates/types/schema/local_device/device_file_password.json5
  libparsec/crates/types/schema/local_device/device_file_recovery.json5
  libparsec/crates/types/schema/local_device/device_file_smartcard.json5
  libparsec/crates/types/schema/local_device/local_device.json5
  libparsec/crates/types/schema/pki/local_pending_enrollment.json5
  libparsec/crates/types/src/addr.rs
  libparsec/crates/types/src/local_device.rs
  libparsec/crates/types/src/local_device_file.rs
  libparsec/crates/types/src/pki/mod.rs
  libparsec/crates/types/tests/unit/addr.rs
Due: fmt, clippy

Minor import correction in `bindings/generator/api/client.py`
  bindings/generator/api/client.py
Due: none

[MS] Mark a few tests as essential
  client/package.json
  client/tests/e2e/specs/client_area_login.spec.ts
  client/tests/e2e/specs/create_organization_custom.spec.ts
  client/tests/e2e/specs/create_organization_saas.spec.ts
  client/tests/e2e/specs/documents_list.spec.ts
  client/tests/e2e/specs/file_import.spec.ts
  client/tests/e2e/specs/file_viewers_image.spec.ts
  client/tests/e2e/specs/home_page.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
  client/tests/e2e/specs/users_list.spec.ts
  client/tests/e2e/specs/workspace_sharing.spec.ts
  client/tests/e2e/specs/workspaces_list.spec.ts
Due: eslint, vue-tsc, prettier

Add missing default values to BackendConfig to fix CliBackendConfig
  newsfragments/11702.bugfix.rst
  server/parsec/cli/utils.py
  server/parsec/config.py
Due: none

Restore pydantic_core as core_schemas are not exposed through pydantic
  server/poetry.lock
  server/pyproject.toml
Due: toml-fmt

[MS] Show modal when toggling hidden workspace even if user chose to skip warning
  client/src/components/workspaces/WorkspaceCard.vue
  client/src/components/workspaces/utils.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/services/storageManager.ts
  client/src/views/workspaces/WorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceHiddenModal.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

ci: Limit e2e test to front code change
  .github/filters/ci.yml
Due: none

Update
  client/src/components/workspaces/WorkspaceCard.vue
  client/src/components/workspaces/utils.ts
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

[MS] Updated GUI to use openbao config from the server
  client/electron/src/index.ts
  client/electron/src/setup.ts
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/devices/SsoProviderCard.vue
  client/src/components/devices/index.ts
  client/src/components/devices/types.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/index.ts
  client/src/parsec/login.ts
  client/src/parsec/organization.ts
  client/src/parsec/server.ts
  client/src/parsec/types.ts
  client/src/services/openBao.ts
  client/src/views/home/DeviceJoinOrganizationModal.vue
  client/src/views/home/HomePage.vue
  client/src/views/home/LoginPage.vue
  client/src/views/home/SummaryStep.vue
  client/src/views/home/UserJoinOrganizationModal.vue
  client/src/views/organizations/creation/CreateOrganizationCustomServer.vue
  client/src/views/organizations/creation/CreateOrganizationSaas.vue
  client/src/views/organizations/creation/CreateOrganizationTrial.vue
  client/src/views/organizations/creation/OrganizationAuthenticationPage.vue
  client/src/views/organizations/creation/OrganizationSummaryPage.vue
  client/tests/e2e/helpers/fixtures.ts
  client/tests/e2e/helpers/greet.ts
  client/tests/e2e/helpers/index.ts
  client/tests/e2e/helpers/sso.ts
  client/tests/e2e/specs/auth_with_sso.spec.ts
  client/tests/e2e/specs/create_organization_custom.spec.ts
  client/tests/e2e/specs/create_organization_saas.spec.ts
  client/tests/e2e/specs/create_organization_trial.spec.ts
  client/tests/e2e/specs/device_greet.spec.ts
  client/tests/e2e/specs/user_greet.spec.ts
  client/tests/e2e/specs/users_list.spec.ts
Due: eslint, vue-tsc, prettier

Missing import
  client/src/components/workspaces/WorkspaceListItem.vue
Due: eslint, vue-tsc, prettier

Update
  client/src/components/workspaces/utils.ts
Due: eslint, vue-tsc, prettier

Update Stripe JS to version 8
  client/package-lock.json
  client/package.json
Due: none

refactor(pki): Rename `x509::Certificate` to `CertificateInformation`
  libparsec/crates/platform_pki/examples/decode_cert_subject.rs
  libparsec/crates/platform_pki/src/x509/mod.rs
  libparsec/crates/platform_pki/tests/units/x509.rs
Due: fmt, clippy

feat(binding-python): Expose X509Certificate to server
  Cargo.lock
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
  server/Cargo.toml
  server/parsec/_parsec_pyi/pki.pyi
  server/src/data/mod.rs
  server/src/data/pki.rs
Due: toml-fmt, fmt, clippy

Improve UI text for PKI root certificate dialog
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: none

Update
  newsfragments/6969.feature.rst
Due: none

[MS] Add newsfragment for show/hide workspace feature
  newsfragments/6969.feature.rst
Due: none

feat(mount): Add log when mount a workspace on windows
  libparsec/crates/platform_mountpoint/src/windows/mount.rs
Due: fmt, clippy

[MS] Initial loading of the page
  .cspell/cspell.config.yml
  client/index.html
Due: prettier

Add snapshot & rollback support in testbed server
  server/parsec/cli/testbed.py
Due: none

[MS] Update workspace context menu to hide/unhide "Mount" and "Unmount" based on workspace hidden state
  client/src/components/workspaces/utils.ts
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
  client/src/parsec/workspace.ts
  client/src/views/workspaces/SmallDisplayWorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspaceContextMenu.vue
  client/src/views/workspaces/WorkspacesPage.vue
  client/src/views/workspaces/types.ts
Due: eslint, vue-tsc, prettier

ci: Disable trigger when pushing to master
  .github/workflows/ci.yml
Due: none

[PKI] Use real intermediate certificates in validate_certificate.
  libparsec/crates/client/src/client/pki_enrollment_info.rs
  libparsec/crates/client/src/client/pki_enrollment_list.rs
  libparsec/crates/platform_pki/src/shared/mod.rs
Due: fmt, clippy

Bump version 3.6.2-a.0+dev -> 3.7.0-rc.0
  Cargo.lock
  Cargo.toml
  HISTORY.rst
  LICENSE
  bindings/electron/package-lock.json
  bindings/electron/package.json
  bindings/web/package-lock.json
  bindings/web/package.json
  cli/tests/integration/version.rs
  client/electron/assets/electron-publisher-custom.js
  client/electron/package-lock.json
  client/electron/package.js
  client/electron/package.json
  client/electron/snap/snapcraft.yaml
  client/package-lock.json
  client/package.json
  docs/conf.py
  docs/hosting/custom_branding.rst
  docs/hosting/deployment/index.rst
  docs/hosting/deployment/parsec-server.docker.yaml
  docs/hosting/install_cli.rst
  docs/locale/fr/LC_MESSAGES/hosting/install_cli.po
  libparsec/version
  misc/versions.toml
  newsfragments/11391.feature.rst
  newsfragments/11628.feature.rst
  newsfragments/11640.bugfix.rst
  newsfragments/11702.bugfix.rst
  server/parsec/_version.py
  server/pyproject.toml
Due: toml-fmt, fmt, clippy, eslint, prettier

[MS] Update workspace context menu to hide/unhide "Mount" and "Unmount" based on workspace hidden state
  client/src/components/workspaces/utils.ts
  client/tests/e2e/specs/workspaces_actions.spec.ts
Due: eslint, vue-tsc, prettier

Increase timeout for playwright CI step.
  .github/workflows/ci-web.yml
Due: none

ci(web): Rollback to use standard runner for e2e tests
  .github/workflows/ci-web.yml
Due: none

Path conditions:
  sqlfluff: any of: ^(server/parsec/components/postgresql/migrations/)|(libparsec/crates/platform_storage/src/native/) and \.py$, \.sql$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
