Repository Scille/parsec-cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlfluff, sqlfluff-in-python, toml-fmt, fmt, clippy, eslint, vue-tsc, prettier

sqlfluff:
  name: SQLFluff (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --fix
  require_serial: true
  language: system

sqlfluff-in-python:
  name: SQLFluff in Python server components (using `poetry`)
  entry: poetry --project ./server run ./misc/lint_sql.py --non-sql-file-print-fix
  require_serial: true
  language: system

toml-fmt:
  name: toml-fmt
  entry: taplo fmt
  language: system

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --workspace
  - --tests
  - --bins
  - --lib
  - --exclude=libparsec_bindings_android
  - --exclude=libparsec_bindings_web
  - --exclude=libparsec_bindings_electron
  - --
  - --deny=warnings
  - --deny=clippy::undocumented_unsafe_blocks
  ...

eslint:
  name: eslint (using `npx`)
  ...

vue-tsc:
  name: vue-tsc (using `npx`)
  ...

prettier:
  name: prettier (using `npx`)
  ...

parsec/editics_protocol.py
  server/parsec/editics_protocol.py
Due: none

tests/editics/test_records.py
  server/tests/editics/test_records.py
Due: none

wip 1
  client/editics/collaborative_protocol.js
  server/tests/editics/records/0_auth_alone.md
  server/tests/editics/records/1_auth_together.md
  server/tests/editics/records/2_move_cursor_together.md.old
  server/tests/editics/records/3_edit_alone.md.old
Due: eslint, prettier

WIP: server side onlyoffice integration
  server/parsec/asgi/__init__.py
  server/parsec/asgi/editics.py
  server/parsec/asgi/rpc.py
  server/parsec/backend.py
  server/parsec/components/editics.py
  server/parsec/components/editics_old.py
  server/parsec/components/editics_old2.py
  server/parsec/components/memory/__init__.py
  server/parsec/components/memory/editics.py
  server/parsec/components/memory/factory.py
  server/parsec/components/postgresql/editics.py
  server/parsec/components/postgresql/factory.py
  server/parsec/editics_protocol.py
  server/pyproject.toml
  server/tests/common/__init__.py
  server/tests/common/editics.py
  server/tests/common/editics_old.py
  server/tests/editics/__init__.py
  server/tests/editics/records/0_auth.md
  server/tests/editics/records/__init__.py
  server/tests/editics/test_records.py
  server/uv.lock
Due: sqlfluff-in-python, toml-fmt

EditicsComponent is memory-only
  server/parsec/backend.py
  server/parsec/components/editics.py
  server/parsec/components/memory/__init__.py
  server/parsec/components/memory/editics.py
  server/parsec/components/memory/factory.py
  server/parsec/components/postgresql/editics.py
  server/parsec/components/postgresql/factory.py
Due: sqlfluff-in-python

wip
  client/editics/collaborative_protocol.js
  server/parsec/asgi/editics.py
  server/parsec/components/auth.py
  server/parsec/components/editics.py
  server/parsec/components/memory/auth.py
  server/parsec/components/memory/editics.py
  server/parsec/components/memory/factory.py
  server/parsec/editics_protocol.py
  server/tests/common/editics.py
  server/tests/editics/test_records.py
Due: eslint, prettier

[MS] Clean unused code
  client/knip.config.ts
  client/package-lock.json
  client/package.json
  client/src/common/mocks.ts
  client/src/components/files/FileOpenFallbackChoice.vue
  client/src/components/organizations/ChooseServer.vue
  client/src/parsec/mock_generator.ts
  client/src/services/smallDisplayWarning.ts
  client/src/views/about/ChangesModal.vue
  client/src/views/home/SummaryStep.vue
  client/vite.config.ts
Due: eslint, vue-tsc, prettier

[MS] Fixed check_unused_translations for windows and removed unused translations
  client/scripts/check_unused_translations.py
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Due: none

[MS] Update users filter to not use mutating prop
  client/src/components/users/UserFilter.vue
  client/src/components/users/UserFilterPopover.vue
  client/src/views/users/UsersPage.vue
Due: eslint, vue-tsc, prettier

Add `misc/check_editics_protocol_consistency.py` to autogenerate editics protocol in `client/editics/collaborative_protocol.js`
  .pre-commit-config.yaml
  misc/check_editics_protocol_consistency.py
Due: none

update(theme): `AccountUserInformation` component
  client/src/components/account/AccountUserInformation.vue
Due: eslint, vue-tsc, prettier

update(theme): style files
  client/src/theme/components/_action-bar.scss
  client/src/theme/components/_file-operation.scss
  client/src/theme/components/_file-viewers.scss
  client/src/theme/components/_filters.scss
  client/src/theme/components/_grid.scss
  client/src/theme/components/_inputs.scss
  client/src/theme/components/_list.scss
  client/src/theme/components/_menu.scss
  client/src/theme/components/_modals.scss
  client/src/theme/components/_notifications.scss
  client/src/theme/components/_popovers.scss
  client/src/theme/components/_tags.scss
  client/src/theme/global-client.scss
  client/src/theme/global.scss
Due: none

feat(theme): enabled dark-mode
  client/package-lock.json
  client/src/components/settings/SettingsList.vue
  client/src/services/storageManager.ts
Due: eslint, vue-tsc, prettier

update(theme): device components
  client/src/components/devices/ChooseAuthentication.vue
  client/src/components/devices/ConnectSso.vue
  client/src/components/devices/DeviceCard.vue
  client/src/components/devices/SsoProviderCard.vue
  client/src/components/header/HeaderBreadcrumbs.vue
  client/src/components/organizations/OrganizationSwitchPopover.vue
Due: eslint, vue-tsc, prettier

update(theme): header components
  client/src/components/header/HeaderBackButton.vue
  client/src/components/header/HeaderBreadcrumbPopover.vue
  client/src/components/header/HeaderBreadcrumbs.vue
  client/src/components/header/HomePageSecondaryMenu.vue
  client/src/components/header/HomePageSecondaryMenuCollapse.vue
  client/src/components/header/InvitationsButton.vue
  client/src/components/header/SmallDisplayModalHeader.vue
  client/src/components/header/SmallDisplaySecurityRecommendations.vue
  client/src/components/header/SmallDisplaySelectionHeader.vue
  client/src/components/header/SmallDisplayStepModalHeader.vue
  client/src/theme/components/_menu.scss
  client/src/theme/global.scss
  client/src/views/header/HeaderPage.vue
Due: eslint, vue-tsc, prettier

update(theme): update tests
  client/tests/e2e/specs/account_create.spec.ts
  client/tests/e2e/specs/async_enrollment.spec.ts
  client/tests/e2e/specs/file_new.spec.ts
  client/tests/e2e/specs/workspace_trash.spec.ts
Due: eslint, vue-tsc, prettier

update(theme): invitation components
  client/src/components/invitations/AsyncEnrollmentRequestItem.vue
  client/src/components/invitations/InvitationItem.vue
  client/src/components/invitations/InviteModal.vue
  client/src/theme/components/_list.scss
Due: eslint, vue-tsc, prettier

update(theme): explorer folder components
  client/src/components/files/explorer/DocumentFilter.vue
  client/src/components/files/explorer/DocumentFilterPopover.vue
  client/src/components/files/explorer/FileCard.vue
  client/src/components/files/explorer/FileCardProcessing.vue
  client/src/components/files/explorer/FileDropZone.vue
  client/src/components/files/explorer/FileGridDisplay.vue
  client/src/components/files/explorer/FileImportPopover.vue
  client/src/components/files/explorer/FileInputList.vue
  client/src/components/files/explorer/FileListDisplay.vue
  client/src/components/files/explorer/FileListItem.vue
  client/src/components/files/explorer/FileListItemProcessing.vue
  client/src/components/files/explorer/FileSearchResultItem.vue
  client/src/components/files/explorer/FileSearchResults.vue
  client/src/components/files/explorer/FolderSelectionModal.vue
  client/src/components/files/explorer/HistoryFileListItem.vue
  client/src/components/files/explorer/NewFilePopover.vue
  client/src/theme/components/_filters.scss
  client/src/theme/components/_grid.scss
  client/src/theme/components/_list.scss
  client/src/theme/components/_popovers.scss
Due: eslint, vue-tsc, prettier

update(theme): filters components
  client/src/components/files/explorer/DocumentFilter.vue
  client/src/components/users/UserFilter.vue
  client/src/components/users/UserFilterPopover.vue
  client/src/components/workspaces/WorkspaceFilter.vue
  client/src/components/workspaces/WorkspaceFilterPopover.vue
Due: eslint, vue-tsc, prettier

update(theme): explorer file operation components + file operation menu
  client/src/components/files/operations/FileOperationBase.vue
  client/src/components/files/operations/FileOperationFileList.vue
  client/src/components/files/operations/FileOperationImport.vue
  client/src/components/users/InvitationsListPopover.vue
  client/src/theme/components/_file-operation.scss
  client/src/theme/global.scss
  client/src/views/files/FileOperationMenu.vue
Due: eslint, vue-tsc, prettier

update(theme): megashark-lib link
  client/package-lock.json
  client/package.json
Due: none

update(theme): invitations components
  client/src/components/invitations/AsyncEnrollmentRequestItem.vue
  client/src/components/invitations/InvitationItem.vue
  client/src/theme/components/_list.scss
Due: eslint, vue-tsc, prettier

update(theme): add theme switcher button on header
  client/src/views/header/HeaderPage.vue
Due: eslint, vue-tsc, prettier

update(theme): misc components
  client/src/components/misc/AdditionalEmailsPopover.vue
  client/src/components/misc/BugReportModal.vue
  client/src/components/misc/CertificateCard.vue
  client/src/components/misc/CertificateSelection.vue
  client/src/components/misc/DownloadParsec.vue
  client/src/components/misc/LogDisplay.vue
  client/src/components/misc/RecommendationChecklistPopoverModal.vue
  client/src/components/misc/TechnicalId.vue
  client/src/theme/global.scss
Due: eslint, vue-tsc, prettier

update(theme): header folder components
  client/src/components/header/HeaderBackButton.vue
  client/src/components/header/HomePageSecondaryMenu.vue
  client/src/components/header/SmallDisplaySecurityRecommendations.vue
  client/src/components/header/SmallDisplayStepModalHeader.vue
  client/src/theme/global.scss
  client/src/views/home/HomePage.vue
Due: eslint, vue-tsc, prettier

[MS] Fixed workspace filters to not use mutation props
  client/src/components/workspaces/WorkspaceFilter.vue
  client/src/components/workspaces/WorkspaceFilterPopover.vue
  client/src/views/workspaces/WorkspacesPage.vue
Due: eslint, vue-tsc, prettier

Correct participant ID in test records
  server/tests/editics/records/0_auth_alone.md
  server/tests/editics/records/1_auth_together.md
  server/tests/editics/records/README.md
  server/tests/editics/records/cook_record.py
Due: none

Test 0 & 1 (without cursor) fine
  client/editics/collaborative_protocol.js
  misc/check_editics_protocol_consistency.py
  server/parsec/components/editics.py
  server/parsec/editics_protocol.py
  server/tests/common/editics.py
  server/tests/editics/test_records.py
Due: eslint, prettier

Path conditions:
  sqlfluff: any of: (?x)^(
    libparsec/crates/platform_storage/src/native/.*|
    server/parsec/components/postgresql/migrations/.*|
    server/tests/migrations/.*
)$
 and \.sql$ and not (^misc/bench.py$)
  sqlfluff-in-python: any of: ^(server/parsec/components/postgresql/) and \.py$ and not (^misc/bench.py$)
  toml-fmt: any of: \.toml$, but not: ^misc/bench.py$
  fmt: any of: \.rs$, but not: ^misc/bench.py$
  clippy: any of: \.rs$, but not: ^misc/bench.py$
  eslint: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^misc/bench.py$)
  vue-tsc: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$ and not (^misc/bench.py$)
  prettier: any of: ^client/ and \.vue$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.(html|htm|xhtml)$ and not (^misc/bench.py$)
